<% if (@user_infos and @user_infos.mobile == 1 and  (@current_user_nationalid == nil or (@current_user_nationalid and @current_user_nationalid.status == "UnVerified"))) %>
  <fieldset id="active-id-step" class="step-box step-active-box" style="display: block; left: 0%;  right: 0%; opacity: 1;">                
<% else %>
  <fieldset id="active-id-step" class="step-box step-active-box" style="display: none; left: 0%; right: 0%; opacity: 0;">               
<% end %>
    <%= form_with(model: nationalid_verification, local: true,:html => {:id => 'natid_form', :multipart => true }) do |form| %>
      <h2><span>3</span><%= t('nationalid_verifications.confrim_identity')%></h2>
      <p class="margin-b-20"><%= t('nationalid_verifications.upload_valid_id') %></p>
      <div class="row margin-b-20">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mobile-margin-b-20">
          <div class="inputstyle inputstyle-span selectstyle">
            <span class="text-span"><%= t('nationalid_verifications.identity_type')%></span>
            <%= form.select(:document_type, options_for_select([[t('nationalid_verifications.personal_identity'),"NationalId_Card"],[t('nationalid_verifications.passport'),"Passport"],[t('nationalid_verifications.driving_license'),"Driving_License"]], :selected => form.object.document_type), {},:include_blank =>  'choose from list')%>
          </div>
          <span class="col-lg-5" id="doc_msg" style="color:red; display:none"><%= t('nationalid_verifications.choose_the_document')%></span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <label class="payers-fileinput button-3">
            <span data-default='Choose file'><%= t('nationalid_verifications.upload_image')%></span>
            <%= form.file_field :images, multiple: true, accept: 'image/png,image/jpeg, image/jpg' %>
          </label>
          <span class="steps-p" id="img_msg" style="color:red; display:none;"><%= t('nationalid_verifications.upload_document')%></span>
        </div>
      </div>
      <div class="row margin-b-20">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mobile-margin-b-20">
          <div class="inputstyle">
            <%= form.text_field :legal_name, placeholder: t('nationalid_verifications.name'), :autocomplete => "off" %>
          </div>
          <span id="name_msg" class="steps-p" style="color:red; display:none;"></span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="inputstyle">
            <%= form.text_field :national_id, placeholder: t('nationalid_verifications.identity_number'), :autocomplete => "off" %>
          </div>
          <span class="steps-p" id="natid_msg" style="color:red; display:none;"></span>
        </div>
      </div>
      <div class="row margin-b-20">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mobile-margin-b-20">
          <div class="inputstyle relative-box selectstyle inputstyle-span">
            <span class="text-span"><%= t('nationalid_verifications.creation_date') %></span>
            <%# form.date_select :issue_date,  {:placeholder => 'اليوم / الشهر / السنة'} %>
            <%# form.text_field :issue_date,  {:class => "date", :placeholder => 'اليوم    /   الشهر    /   السنة', :autocomplete => "off"} %>
            <%= form.text_field :issue_date,  {:class => "dateplaceholder", :placeholder =>  t('nationalid_verifications.date'), :autocomplete => "off"} %>
          </div>
          <span class="steps-p" id="issue_msg" style="color:red; display:none;"></span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="inputstyle relative-box selectstyle inputstyle-span">
            <span class="text-span"><%= t('nationalid_verifications.expiration_date') %></span>
            <%# form.date_select :expire_date,  {:placeholder => 'اليوم /الشهر / السنة'} %>
            <%# form.text_field :expire_date,  {:class => "date", :placeholder => 'اليوم    /   الشهر    /   السنة', :autocomplete => "off"} %>
            <%= form.text_field :expire_date,  {:class => "dateplaceholder", :placeholder => t('nationalid_verifications.date'), :autocomplete => "off"} %>
          </div>
          <span class="steps-p" id="expire_msg" style="color:red; display:none;"></span>
        </div>
      </div>
      <input id="verify_natid" type="button" class="button-1" value="<%= t('nationalid_verifications.activate')%>" />
    <% end %>
  </fieldset>

  


