
<%= form_with(model: quick_payment, local: true) do |form| %>
  <% if quick_payment.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% quick_payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :availability %>
    <%= form.select :availability,options_for_select([['For Public',1],['For Payers users only',2]]),  {:include_blank => 'Select availability status'},{:required => true} %>

  </div>

  <div class="field">
    <label><%= "Link Name" %></label>
    <%= form.text_field :slug , :required => true , id:"slug" , placeholder:"Page url name like ahmad_hasan" %>
  </div>
  <span id="fail" style="display:none; color: red; margin-left: 70px;">Invalid name must be unique and 4 letters at least</span>
  <span id="success" style="display:none; color: green; margin-left: 70px;">Available name</span>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title , :required => true %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description , :required => true %>
  </div>

  <div class="actions">
      <button type="submit" class="btn btn-fw primary" id="mysubmit" >Create quick payment page</button>
  </div>
<% end %>

<script src="/js/jquery-3.3.1.min.js"></script>
<script>
 


        $("#slug").keyup(function() {
            var linkname = $("#slug").val();
            var str_length = linkname.length;
            var x = document.getElementById("mysubmit");
            $.ajax({ type:'get',url:'/link_check',
            data:{slug:linkname},
            contentType: "application/json",
            dataType: "json",
            success: function(data){
              //console.log(data.check)
              if (data.check == "true" && str_length >= 4){
                  $('#success').show();
                  $('#fail').hide();
                  x.disabled = false;
              }else if (data.check == "false"  || str_length < 4){
                  $('#fail').show();
                  $('#success').hide();
                  x.disabled = true;
              }
            }
            });
        }); 
        
</script>
