<h1>Editing Quick Payment</h1>

<%= form_with(model: @quick_payment, local: true) do |form| %>
    <% if @quick_payment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@quick_payment.errors.count, "error") %> prohibited this quick payment from being saved:</h2>
  
        <ul>
        <% @quick_payment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :availability %>
      <%= form.select :availability,options_for_select([['For Public',1],['For Payers users only',2]],selected:@quick_payment.availability),  {:include_blank => 'Select availability status'},{:required => true} %>
  
    </div>
  
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title , :required => true %>
    </div>
  
    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description , :required => true %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  

  <%= link_to 'Back', user_path(current_user.id) %> | <%= link_to 'Show', @quick_payment %>
