<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Payers - Payment Facilator</title>
  <meta name="description" content="Admin, Dashboard, Bootstrap, Bootstrap 4, Angular, AngularJS" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- for ios 7 style, multi-resolution icon of 152x152 -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
  <link rel="apple-touch-icon" href="/assets/images/logo.png">
  <meta name="apple-mobile-web-app-title" content="Flatkit">
  <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" sizes="196x196" href="/assets/images/logo.png">
  
  <!-- style -->
  <link rel="stylesheet" href="/assets/animate.css/animate.min.css" type="text/css" />
  <link rel="stylesheet" href="/assets/glyphicons/glyphicons.css" type="text/css" />
  <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="/assets/material-design-icons/material-design-icons.css" type="text/css" />

  <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
  <!-- build:css ../assets/styles/app.min.css -->
  <link rel="stylesheet" href="/assets/styles/app.css" type="text/css" />
  <!-- endbuild -->
  <link rel="stylesheet" href="/assets/styles/font.css" type="text/css" />
</head>
<body>
  <div class="app" id="app">

  <div class="padding">
  <div class="container">
  <h2><%= @quick_payment.title %></h2>
  <div class="box">
      <div class="box-header">
          <h3>Charge New Card For Payers User</h3>
          </div>
          <div class="box-body">
          <p>
          <strong>This page belongs to User:</strong>
          <%= @page_owner.firstname + " " +  @page_owner.lastname %>
          </p>
  
          <p>
          <strong>This Page is Available:</strong>
          <% if @quick_payment.availability == 1 %>
          <%= "For Public" %></span>
          <% elsif @quick_payment.availability == 2 %>
          <%= "For Payers users only" %>
          <% end %>
          </p>
  
          <p>
          <strong>Owner User Description:</strong>
          <%= @quick_payment.description %>
          </p>
  
    
        <% if @quick_payment.active == 1 %>
  
            <%= form_for :fast_pay ,:url => fast_pay_path,:html => { :multipart => true , :id => "cahrge_form"} do |f| %>

                <%= f.hidden_field :id, value: "#{@quick_payment.id}" %>

                <div class="form-group row">
                    <label class="col-sm-2 form-control-label">Balance Value</label>
                    <div class="col-sm-10">
                        <%= f.text_field :value, placeholder: "Add balance here" , class: 'form-control' , :required => true %>
                    </div>
                </div>

                <div class="form-group row" id="op_type" style="display:none;" >
                  <label class="col-sm-2 form-control-label">Charge Type</label>
                  <div class="col-sm-10">
                  <%= f.select :charge_type,options_for_select([['From Your Wallet',1],['Use Payers Card',2]]),  {:include_blank => "Select charge type"}, {:class => 'form-control c-select' , :id => "chargetype" , :required => true } %>
                  </div>
                </div>

                <div class="form-group row" id="card_num" style="display:none;">
                    <label class="col-sm-2 form-control-label">ادخل رقم الكارت المكون من 16 رقم</label>
                    <div class="col-sm-10">
                    <input name="fast_pay[card_number]" placeholder="****-****-****-****" id="cardnum" class='form-control' required = false ></input>                      
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 form-control-label">Your Email</label>
                    <div class="col-sm-10">
                        <input name="fast_pay[sender_mail]" placeholder="Add your email here" id="email" class='form-control' required = true ></input>
                    </div>
                </div>

                <div class="form-group row" id="user_password" style="display:none;">
                    <label class="col-sm-2 form-control-label">Your Password</label>
                    <div class="col-sm-10">
                    <input type="password" name="fast_pay[sender_pass]" placeholder="Add your password here" id="userpass" class='form-control' required = false ></input>
                    </div>
                </div>
                <span id="fail" style="display:none; color: red; margin-left: 185px;">Sorry email or password is incorrect</span>
                <span id="success" style="display:none; color: green; margin-left: 185px;">Valid credentials</span>


                <div class="form-group row m-t-md" id="verify" style="display:none;">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-fw accent" id="verify_cred" >Verify Your Credentials</button>
                    </div>
                </div>

                <div class="form-group row m-t-md" id="mysubmit" style="display:none;">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-fw primary" id="submit" >Add Balance Now</button>
                    </div>
                </div>

            <% end %>
        <% else %>
        <div><span id="fail" style=" color: red; margin-left: 370px;font-size: large;">*عفوا هذه الصفحة غير متاحة حاليا بواسطة ادمن بايزر*</span>
        </div>
        <% end %>
      </div>
    </div>
      <% if not signed_in? %>
      <%= link_to 'Sign In', sign_in_path %>
      <% else %>
      <%= link_to 'Back', root_path %>
      <% end %>
  </div>
  </div>

<!-- ############ LAYOUT END-->

  </div>
<!-- build:js scripts/app.html.js -->
<!-- jQuery -->
  <script src="/libs/jquery/jquery/dist/jquery.js"></script>
<!-- Bootstrap -->
  <script src="/libs/jquery/tether/dist/js/tether.min.js"></script>
  <script src="/libs/jquery/bootstrap/dist/js/bootstrap.js"></script>
<!-- core -->
  <script src="/libs/jquery/underscore/underscore-min.js"></script>
  <script src="/libs/jquery/jQuery-Storage-API/jquery.storageapi.min.js"></script>
  <script src="/libs/jquery/PACE/pace.min.js"></script>

  <script src="scripts/config.lazyload.js"></script>

  <script src="/scripts/palette.js"></script>
  <script src="/scripts/ui-load.js"></script>
  <script src="/scripts/ui-jp.js"></script>
  <script src="/scripts/ui-include.js"></script>
  <script src="/scripts/ui-device.js"></script>
  <script src="/scripts/ui-form.js"></script>
  <script src="/scripts/ui-nav.js"></script>
  <script src="/scripts/ui-screenfull.js"></script>
  <script src="/scripts/ui-scroll-to.js"></script>
  <script src="/scripts/ui-toggle-class.js"></script>

  <script src="/scripts/app.js"></script>

  <!-- ajax -->
  <script src="/libs/jquery/jquery-pjax/jquery.pjax.js"></script>
  <script src="/scripts/ajax.js"></script>
<!-- endbuild -->

<script src="/js/jquery-3.3.1.min.js"></script>
<script>
 


        $(document).ready(function() {

                var availability = "<%= @quick_payment.availability %>"             
                var x = document.getElementById("userpass");
                var y = document.getElementById("cardnum");
                //console.log(availability)

                if (availability == 2){
                    $('#op_type').hide();
                    $('#verify').show();
                    $('#user_password').show();
                    $('#verify').show();

                    $("#chargetype").change(function() {
                        var chargetype = $( "#chargetype option:selected" ).val();
                        $('#fail').hide();
                        $('#success').hide();

                        if (chargetype == 1){
                            $('#card_num').hide();
                            $('#cardnum').val("");
                            $('#mysubmit').show();
                            $('#verify').hide();
                            y.required = false;

                        }else if (chargetype == 2){
                            $('#card_num').show();
                            $('#verify').hide();
                            $('#mysubmit').show();
                            y.required = true;
                            
                        };
                    });

                }else if(availability == 1){
                    $('#op_type').show();
                    $('#verify').hide();
                    $('#user_password').hide();
                    $('#verify').hide();

                    $("#chargetype").change(function() {
                        var chargetype = $( "#chargetype option:selected" ).val();
                        $('#fail').hide();
                        $('#success').hide();

                        if (chargetype == 1){
                            $('#card_num').hide();
                            $('#cardnum').val("");
                            $('#user_password').show();
                            $('#verify').show();
                            $('#mysubmit').hide();
                            x.required = true;
                            y.required = false;

                        }else if (chargetype == 2){
                            $('#card_num').show();
                            $('#user_password').hide();
                            $('#userpass').val("");
                            $('#verify').hide();
                            $('#mysubmit').show();
                            x.required = false;
                            y.required = true;
                            
                        }
                    });
                }
      


                //$("#submit").click(function() {
                   // $("#cahrge_form").
                //});  

  
        });

        $("#verify_cred").click(function() {
            var password = $("#userpass").val();
            var email = $("#email").val();
            $.ajax({ type:'get',url:'/trust_user',
            data:{email:email,password:password},
            contentType: "application/json",
            dataType: "json",
            success: function(data){
            //console.log(data.validate)
            if (data.validate == "true"){
                $('#success').show();
                $('#fail').hide();
                $('#verify').hide();
                $('#mysubmit').show();
                $('#op_type').show();
            }else if (data.validate == "false"){
                $('#fail').show();
                $('#success').hide();
                $('#verify').show();
                $('#mysubmit').hide();
            }

            }
            });
        }); 
        
</script>
</body>
</html>