<p>
  <strong>Availability:</strong>
  <% if @quick_payment.availability == 1 %>
  <%= "For Public" %></span>
  <% elsif @quick_payment.availability == 2 %>
  <%= "For Payers users only" %>
  <% end %>
</p>

<p>
  <strong>Page Link:</strong>
  <%= "#{request.protocol}#{request.host}:#{request.port}/fast_pay/#{@quick_payment.slug}"%>
</p>

<p>
  <strong>Title:</strong>
  <%= @quick_payment.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @quick_payment.description %>
</p>


<%= link_to 'Back', user_path(current_user.id) %> | <%= link_to 'Edit', edit_quick_payment_path(@quick_payment) %>