
<!-- Title Page -->
<div class="head-page title-page custom-container-2">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1><%= t('affilate_programs.account_Settings')%></h1>
        <p><%= t('affilate_programs.brief_summary_of_your_balance_urgent_matters_and_last_transaction')%></p>
      </div>
    </div>
  </div>
</div>
<!-- Title Page -->

<!-- Dashboard -->
<div class="custom-container-2">
  <div class="container">
    <div class="row">
      <%= render :partial => 'layouts/sidemenu' %>
      <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-xs-12">
            <div class="white-box user-setting-box user-affiliate-program relative-box margin-b-25">
              <h3><%= t('affilate_programs.status_of_your_commission_marketing_earnings')%></h3>
              <div class="user-affiliate-blocks">
                <div class="user-affiliate-block">
                  <h4><%= t('affilate_programs.profits_can_be_withdrawn')%></h4>
                  <p><%= t('affilate_programs.Added_to_your_balance')%></p>
                  <h5>$<%= @valid_commission %></h5>
                </div>
                <div class="user-affiliate-block">
                  <h4><%= t('affilate_programs.latest_profits_added')%></h4>
                  <% if @latest_commission != nil %>
                    <p><%= t('affilate_programs.of_1_registration')%> <%= @latest_commission.created_at.strftime(' %d/%m/%Y ') %></p>
                    <h5>$<%= @latest_commission.invitor_commission%></h5>
                  <% else %>
                    <p><%= t('affilate_programs.of_the_recording')%></p>
                    <h5>$<%= "0.0" %></h5>
                  <% end %>
                </div>
                <div class="user-affiliate-block">
                  <h4><%= t('affilate_programs.total_Profits')%></h4>
                  <p><%= t('affilate_programs.of_all_previous_and_current_conversions')%></p>
                  <h5>$<%= @total_commission %></h5>
                </div>
              </div>
              <div class="row transfer-affiliate">
                <div class="col-xs-12">
                  <button id="transfer_profits" class="button-3"><%= t('affilate_programs.send_profits')%></button>
                  <p><%= t('affilate_programs.after_transferring')%></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <div class="white-box-2 user-setting-box main-affiliate-box user-setting-p margin-b-25">
              <p class="margin-b-25"><%= t('affilate_programs.With_payers_Commission')%></p>
              <p class="margin-b-25"><%= t('affilate_programs.every_time')%></p>
              <p class="margin-b-20"><%= t('affilate_programs.use_one')%></p>
              <div class="affiliate-box">
                <h4><%= t('affilate_programs.your_Marketing')%></h4>
                <div class="inputstyle inputstyle-span inputarial">
                  <span class="text-span"><%= t('affilate_programs.code')%></span>
                  <input type="text" name="" placeholder="<%= @user.invitation_code %>" disabled>
                </div>
              </div>
              <div class="affiliate-box">
                <h4><%= t('affilate_programs.affilate_link')%></h4>
                <div class="inputstyle inputstyle-span inputarial">
                  <span class="text-span"><%= t('affilate_programs.affilate_link')%></span>
                  <input type="text" name="" placeholder="<%= 'https://payers-design-2019.herokuapp.com/affilate-program/invitation_link/' + @user.invitation_code %>" disabled>
                </div>
              </div>
              <%= form_for :invitiation, url: send_invitation_email_path do |form| %>
                <div class="affiliate-box">
                  <h4><%= t('affilate_programs.send_invitation')%></h4>
                  <div class="row">
                    <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
                      <div class="inputstyle inputstyle-span inputarial">
                        <span class="text-span"><%= t('affilate_programs.email')%></span>
                        <%= form.text_field :email, :placeholder => "myfriend@gmail.com" %>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 send-affiliate text-left">
                      <button type="submit" class="button-3"><%= t('affilate_programs.send')%></button>
                    </div>
                  </div>
                </div>
              <% end %>
              <div class="affiliate-box social-affiliate-box">
                <h4><%= t('affilate_programs.share_link')%></h4>
                <!-- <a target="_blank" href="<%= 'https://instagram.com/share?url=https://payers-design-2019.herokuapp.com/affilate-program/fb_referral/' + @user.invitation_code %>" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a> -->
                <% @current_login = Login.where(:user_id => current_user.id, :device_id => cookies[:device_id]).first %>
                <% if @current_login.user_agent !~ /\b(Android|iPhone|iPad|Windows Phone|Opera Mobi|Kindle|BackBerry|PlayBook)\b/i %>
                  <a href="https://web.whatsapp.com/send?text=<%= 'https://payers-design-2019.herokuapp.com/affilate-program/fb_referral/' + @user.invitation_code %>"  onclick="window.open(this.href, 'whatsapp-share-dialog','left=20,top=20,width=400,height=400,toolbar=1,resizable=0'); return false;" data-action="share/whatsapp/share"><i class="fa fa-whatsapp" style="color:#4FCE5D" aria-hidden="true"></i></a>
                <% else %>
                  <a href="whatsapp://send?text=<%= 'https://payers-design-2019.herokuapp.com/affilate-program/fb_referral/' + @user.invitation_code %>" onclick="window.open(this.href, 'whatsapp-share-dialog','left=20,top=20,width=400,height=400,toolbar=1,resizable=0'); return false;"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                <% end %>
                <a  href="<%= 'https://www.facebook.com/share.php?u=https://payers-design-2019.herokuapp.com/affilate-program/fb_referral/' + @user.invitation_code %>" title="Facebook" onclick="window.open(this.href, 'facebook-share-dialog','left=20,top=20,width=400,height=400,toolbar=1,resizable=0'); return false;"><i class="fa fa-facebook-official" aria-hidden="true" ></i></a>
                <a href="<%= 'http://twitter.com/home?status=https://payers-design-2019.herokuapp.com/affilate-program/tw_referral/' + @user.invitation_code %>" title="Twitter" onclick="window.open(this.href, 'twitter-share-dialog','left=20,top=20,width=400,height=400,toolbar=1,resizable=0'); return false;"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <div class="white-box-2 user-setting-box user-setting-p margin-b-25">
              <h3><%= t('affilate_programs.send')%></h3>
              <p class="margin-b-30"><%= t('affilate_programs.all_earnings')%></p>
              <button onclick="location.href = '/affilate_records';" class="button-3"><%= t('affilate_programs.affilate_profits')%></button>
            </div>
            <div class="white-box-2 user-setting-box user-setting-p margin-b-25">
              <h3><%= t('affilate_programs.rules_and')%></h3>
              <p><%= t('affilate_programs.the_commission')%></p>
            </div>
            <div class="white-box-2 user-setting-box user-setting-p margin-b-25">
              <h3><%= t('affilate_programs.act_your')%></h3>
              <p><%= t('affilate_programs.you_can_dispose')%></p>
            </div>
            <div class="white-box-2 user-setting-box user-setting-p margin-b-25">
              <h3><%= t('affilate_programs.twisted_advertising')%></h3>
              <p><%= t('affilate_programs.Please_note')%></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Dashboard -->
<script src="/assets/js/jquery.min.js"></script>
<script>
$(document).ready(function()
    {
      $('#transfer_profits').click(function()
        {
          $("#transfer_profits").attr("disabled", "disabled");
          var balance = '<%= @valid_commission %>';
          console.log(balance);
          if (balance > 0){
            $.ajax({
              type:'get',url:'/transfer_commission',data:{balance:balance},contentType: "application/json",dataType: "json",success: function(data){
                if (data.result == "done"){
                  setTimeout(function(){
                    location.reload();
                      }, 500);
                }
              }
            });
          }
        });
    });


</script>
