<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title><%= t('affilate_programs.affiliate_record')%></title>

     <%= render :partial => 'layouts/head' %>  

  </head>
  <body class="white-page">

    <!-- Header -->
    <header class="main-header white-header white-logo custom-container-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- Logo -->
            <a href="/affiliate_program" class="back-to-link"><span class="hidden-xs"><%= t('affilate_programs.back_to_affiliate_program')%></span></a>
            <!-- Logo -->
            <div class="left-header">
              <%= render :partial => 'layouts/usermenu' %>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header -->

    <!-- Title Page -->
    <div class="head-page title-page custom-container-2">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1><%= t('affilate_programs.list_affiliate')%></h1>
            <p><%= t('affilate_programs.every_time_commission') + " " + @commission_setting.value.to_s + " " + t('affilate_programs.to_your_account') %>.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Title Page -->

    <!-- Affilate Records -->
    <div class="custom-container-2 all-height">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="table-payers affilate-records-table">
              <div class="tabel-head">
                <div class="table-head-col">
                  <%= t('affilate_programs.profit_source')%>
                </div>
                <div class="table-head-col hidden-xs">
                  <%= t('affilate_programs.Account')%>
                </div>
                <div class="table-head-col hidden-xs">
                  <%= t('affilate_programs.Time')%>
                </div>
                <div class="table-head-col hidden-xs">
                  <%= t('affilate_programs.Status')%>
                </div>
                <div class="table-head-col">
                  <%= t('affilate_programs.Bonus')%>
                </div>
              </div>
              <div class="tabel-body">
                <% @total_commission.each do |total_commission| %>
               
                  <div class="table-row">
                    <div class="table-col">
                      <% if total_commission.profit_source == "fb_referral" %>
                        <i class="fa fa-facebook-square" aria-hidden="true"></i><%= t('affilate_programs.referral_link')%><span class="arial-text">Facebook</span>
                      <% elsif total_commission.profit_source == "tw_referral"%>
                        <i class="fa fa-twitter" aria-hidden="true"></i> <%= t('affilate_programs.referral_link')%><span class="arial-text">Twitter</span>
                      <% elsif total_commission.profit_source == "email_invite"%>
                        <i class="fa fa-envelope-o fab-o" aria-hidden="true"></i> <%= t('affilate_programs.' + total_commission.profit_source)%></span>
                      <% elsif total_commission.profit_source == "commission_code" or total_commission.profit_source == "invitation_link"%>
                        <img src="assets/img/code.svg" alt="code"><%= t('affilate_programs.' + total_commission.profit_source)%></span>
                      <% elsif total_commission.profit_source == "insta_referral" %>
                        <i class="fa fa-instagram" aria-hidden="true"></i><%= t('affilate_programs.referral_link')%><span class="arial-text">Instagram</span>                     
                      <% end %>
                    </div>
                    <div class="table-col hidden-xs">
                      <span class="arial-text"><%= total_commission.user.email%></span>
                    </div>
                    <div class="table-col hidden-xs">
                      <span class="arial-text"><%= total_commission.created_at.strftime(' %d/%m/%Y ')%></span> | <span class="arial-text"><%= total_commission.created_at.strftime(' %l:%M ')%></span> <%= t('affilate_programs.' + total_commission.created_at.strftime('%P')) %>
                    </div>
                    <div class="table-col hidden-xs">
                      <span class="valid-state"></span> <% if total_commission.invitor_commission_status == true %><%= t('affilate_programs.valid')%> <% else %><%= t('affilate_programs.not_valid')%><% end %>
                    </div>
                    <div class="table-col">
                      <span class="color-text-table"><%= total_commission.invitor_commission%>$</span>
                    </div>
                  </div>
                <% end %>                        
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Affilate Records -->

    


    <!-- Jquery Files -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.flagstrap.min.js"></script>
    <script src="/assets/js/steps.js"></script>
    <script src='/assets/js/jquery-ui.min.js'></script>
    <script src='/assets/js/bootstrap-datepicker.min.js'></script>
    <script src='/assets/js/bootstrap-datepicker.ar.js'></script>
    <script src="/assets/js/main.js"></script>

  </body>
</html>
