<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @errors_log.user_id %>
</p>

<p>
  <strong>User type:</strong>
  <%= @errors_log.user_type %>
</p>

<p>
  <strong>Code:</strong>
  <%= @errors_log.code %>
</p>

<p>
  <strong>Message:</strong>
  <%= @errors_log.message %>
</p>

<%= link_to 'Edit', edit_errors_log_path(@errors_log) %> |
<%= link_to 'Back', errors_logs_path %>
