<% if (@user_infos and @user_infos.mobile == 1 and  @current_user_nationalid and  @current_user_nationalid.status != "UnVerified" and (@current_user_selfie == nil or (@current_user_selfie and @current_user_selfie.status == "UnVerified") ) ) %>
  <fieldset id="active-photo-step" class="step-box step-active-box" style="display: block; left: 0%;  right: 0%; opacity: 1;">                
<% else %>
  <fieldset id="active-photo-step" class="step-box step-active-box" style="display: none; left: 0%; right: 0%; opacity: 0; ">               
<% end %>
    <%= form_with(model: selfie_verification, local: true,:html => {:id => 'selfie_form', :multipart => true }) do |form| %>
      <h2><span>4</span><%= t('selfie_verifications.selfie_with_identity')%></h2>
      <p class="margin-b-20"><%= t('selfie_verifications.upload_selfie_with_id')%></p>
      <%= form.hidden_field :user_id, :value => current_user.id %>
      <div class="row margin-t-30 margin-b-40">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <label class="payers-fileinput button-3">
            <span data-default='Choose file'><%= t('selfie_verifications.upload_image')%></span>
            <%= form.file_field :avatar, :required => true, accept: 'image/png,image/jpeg, image/jpg' %>
          </label>
          <span class="steps-p" id="selfie_msg" style="color:red; display:none;"><%= t('selfie_verifications.upload_document')%></span>
        </div>
      </div>
      <input id="verify_selfie" type="button" name="next" class="button-1" value="<%= t('selfie_verifications.send_selfie')%>" />
    <% end %>
  </fieldset>


