<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="ar" dir="rtl">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="<%= Rails.application.secrets.app_host %>/assets/mails/style.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="<%= Rails.application.secrets.app_host %>/assets/css/foundation-emails.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="<%= Rails.application.secrets.app_host %>/assets/mails/css/fonts.css" media="screen"/>
  </head>

  <body class="bg-dark">
    <table class="body" data-made-with-foundation>
      <tr>
        <td class="float-center" align="center" valign="top">
          <center>
            <table class="container email-header">
              <tr>
                <td>
                  <table class="row">
                    <tr>
                      <th class="small-12 large-7 first columns">
                        <img src="http://localhost:3000/assets/mails/img/logo-2.svg" alt="Payers">
                        <h2>أهلا بك فى بايرز: كود التحقق لعملية الدخول إلى حسابك</h2>
                      </th>
                      <th class="small-12 large-5 last columns v-bottom head-date text-left">
                        <span>إعدادات حسابك . <span class="en-text">2</span> فبراير <span class="en-text">2019</span> . <span class="en-text">10:53</span> صباحاً</span>
                      </th>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <table class="container email-body email-body-3 email-body-5">
              <tr>
                <th>
                  <div class="secure-box">
                  <% @username = User.where(email: params[:email]).pluck(:firstname).first %>
                    <h3>  أهلا بك, <%= @username %> </h3>
                    <p>لقد لاحظنا ان هناك عملية دخول الى حسابك فى بايرز , ان كنت متأكد من هذه العملية فأنه يمكنك استخدام هذا الكود لعملية الدخول : <b style="color:red;"> <%= params[:token] %></b></p>
                    <p>هذا الكود صالح فقط لمدة 5 دقائق تستطيع بعدها طلب كود اخر</p>
                    <p>إذا لم تكن قد أجريت هذه التغييرات أو كنت تعتقد أن شخصًا غير مصرح له قد دخل إلى حســابك، يجــب عليــك تغيير كلمة المرور لحسابك في أقرب وقت ممكن من صفحة حساب معـرف الخاص بك على بايرز</p>
                    <div class="note-box">
                      <p>فريق عمل بايرز</p>
                    </div>
                  </div>
                </th>
              </tr>
            </table>
            <table class="container email-footer">
              <tr>
                <td>
                  <table class="row">
                    <tr>
                      <th class="small-12 large-8 first columns">
                        <p>شركة <span>Payers Ltd.‎</span> هي شركه مرخصة من الهيئة العامة للاستثمار والمناطق الحرة المصريه تعمل بموجب تصريح البنك المركزي المصري. شركة <span>Payers Pte. Ltd.‎</span> هي المالكة للقيمة المخزنة وهي لا تتطلب اعتماداً من سلطة النقد السنغافورية.</p>
                        <p class="dire-l margin-t-10"><span>© 2019 Payers, Inc.</span></p>
                      </th>
                      <th class="small-12 large-4 last columns text-left">
                        <a href="<%= Rails.application.secrets.app_host %>/tickets" class="call-support">
                          <h4>تواجه مشكلة ؟</h4>
                          <p>تواصل مع فريق الدعم الفني</p>
                        </a>
                      </th>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>

