
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Payers , <%= params[:email] %></h1>
    <p>
      You have successfully signed in from different ip address: ,
       ip: <%= params[:ip] %>.<br>
    </p>
    
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
                        