
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to payers.net, <%= params[:email] %></h1>
    <h3> <%= params[:invited_by] + " has sent you a registration invitation with a number " + params[:invitation_code] %></h3>
    <p>
    <a href="https://payers-design-2019.herokuapp.com/affilate-program/email_invite/<%= params[:invitation_code] %>"  target="_blank"><%= "register now" %></a>
    </p>
    
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
