<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="ar" dir="rtl">

<head style="outline: none;">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" style="outline: none;">
  <meta name="viewport" content="width=device-width" style="outline: none;">
  <title style="outline: none;">Title</title>
</head>
<body class="bg-dark bg-dark-2" style="-moz-box-sizing: border-box; -ms-text-size-adjust: 100%; -webkit-box-sizing: border-box; -webkit-text-size-adjust: 100%; Margin: 0; background: transparent; background-color: #0f2460; box-sizing: border-box; color: #0f2460; font-family: 'Geeza Pro'; font-size: 13px; font-weight: normal; line-height: 1.3; margin: 55px 0; min-width: 100%; outline: none; padding: 0; text-align: right; width: 100% !important;">
<% @txt = params[:text].split("/") %>
<% @details = UsersWalletsTransfer.where(id: @txt[0].to_i).first %>

<table class="body" data-made-with-foundation="" style="Margin: 0; background: transparent; border-collapse: collapse; border-spacing: 0; color: #0f2460; font-family: 'Geeza Pro'; font-size: 13px; font-weight: normal; height: 100%; line-height: 1.3; margin: 0; outline: none; padding: 0; text-align: right; vertical-align: top; width: 100%;">
    <tbody>
      <tr style="outline: none; padding: 0; text-align: left; vertical-align: top;">
        <td class="float-center" align="center" valign="top" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0 auto; border-collapse: collapse !important; color: #0f2460; float: none; font-family: 'Geeza Pro'; font-size: 13px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0 auto; outline: none;padding: 0; text-align: center; vertical-align: top; word-wrap: break-word;">
          <center style="min-width: 580px; outline: none; width: 100%;">
            <table class="container email-header" style="Margin: 0 auto; background: transparent; border-collapse: initial; border-left: 1px solid #3f4f7c; border-radius: 15px 15px 0 0; border-right: 1px solid #3f4f7c; border-spacing: 0; border-top: 1px solid #3f4f7c; margin: 0 auto; outline: none; padding: 0; text-align: inherit; vertical-align: top; width: 600px;">
              <tbody>
                <tr style="outline: none; padding: 0; text-align: left; vertical-align: top;">
                  <td style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #0f2460; font-family: 'Geeza Pro'; font-size: 13px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; outline: none;padding: 0 25px 30px 25px; text-align: right; vertical-align: top; word-wrap: break-word;">
                    <table class="row" style="background: transparent; border-collapse: collapse; border-spacing: 0; display: table; outline: none; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
                      <tbody>
                        <tr style="outline: none; padding: 0; text-align: left; vertical-align: top;">
                          <th class="small-12 large-7 first columns" style="Margin: 0 auto; color: #0f2460; font-family: 'Geeza Pro'; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0 auto; outline: none; padding: 0; padding-bottom: 16px; padding-left: 16px; padding-right: 8px; text-align: right; width: 322.33333px;">
                            <img src="https://payers-design-2019.herokuapp.com/other/logo-1.png" alt="Payers" style="-ms-interpolation-mode: bicubic; clear: both; display: block; max-width: 100%; outline: none; padding-top: 30px; text-decoration: none; width: auto;">
                            <h2 style="Margin: 0; Margin-bottom: 10px; color: #fff; font-family: 'Geeza Pro'; font-size: 17px; font-weight: normal; line-height: 1.3; margin: 0; margin-bottom: 0; margin-top: 20px; outline: none; padding: 0; text-align: right; word-wrap: normal;">
                            <%= "معاملة إرسال جديدة" %>
                            </h2>
                          </th>
                          <th class="small-12 large-5 last columns v-bottom head-date text-left" style="Margin: 0 auto; color: #97a0ba; font-family: 'Geeza Pro'; font-size: 9px; font-weight: normal; line-height: 1.3; margin: 0 auto; outline: none; padding: 0; padding-bottom: 16px; padding-left: 8px; padding-right: 16px; text-align: left; vertical-align: bottom; width: 225.66667px;">
                            <span style="outline: none;">إعدادات حسابك . <span class="en-text" style="font-family: tahoma; outline: none;"><%= l(Time.now, format: "%d ")%></span> <%= l(Time.now, format: "%B ")%> <span class="en-text" style="font-family: tahoma; outline: none;"><%= l(Time.now, format: "%Y")%></span> . <span class="en-text"
                            style="font-family: tahoma; outline: none;"><%= l(Time.now, format: "%I:%M")%></span> <%= l(Time.now, format: "%p")%></span>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="container email-body email-body-4" style="Margin: 0 auto; background: #fff !important; border-collapse: collapse; border-radius: 10px; border-spacing: 0; box-shadow: 0 4px 17px rgba(101,115,153,0.3); margin: 0 auto; outline: none; padding: 0; text-align: inherit; vertical-align: top; width: 660px !important;">
              <tbody>
                <tr style="outline: none; padding: 0; text-align: left; vertical-align: top;">
                  <th style="Margin: 0; color: #0f2460; font-family: 'Geeza Pro'; font-size: 13px; font-weight: normal; line-height: 1.3; margin: 0; outline: none; padding: 30px 55px 45px 55px; text-align: right;">
                    <% @source = "https://payers-design-2019.herokuapp.com/other/transaction1.png" %>
                    <% @transaction = "https://payers-design-2019.herokuapp.com/other/transfer-transaction.png" %>
                    <% @op_details = "#{Rails.application.secrets.app_host}" + "/" + "users_wallets_transfers" + "/" +  "#{@details.id}" %>

                    <div class="transaction-box margin-b-25" style="background: url('<%= @transaction %>') left no-repeat; margin-bottom: 25px !important; outline: none;">
                      <h3 style="Margin: 0; Margin-bottom: 10px; color: #0f2460; font-family: Arial; font-size: 30px; font-weight: 700; line-height: 1.3; margin: 0 0 20px 0; margin-bottom: 10px; outline: none; padding: 0; text-align: right; word-wrap: normal;">$<%= number_with_delimiter(@details.amount.round(2), :delimiter => ',') %></h3>
                      <h4 style="Margin: 0; Margin-bottom: 10px; color: #0f2460; font-family: Arial; font-size: 14px; font-weight: normal; line-height: 1.3; margin: 0; margin-bottom: 15px; outline: none; padding: 0; text-align: right; text-transform: uppercase; word-wrap: normal;"><img src="<%= @source %>" style="-ms-interpolation-mode: bicubic; clear: both; display: block; float: right; margin-left: 10px; max-width: 100%; outline: none; text-decoration: none; width: auto;">
                        <% if @details.user_to_id == @txt[1].to_i
                              @trans_type = "استقبال"
                            else
                              @trans_type = "ارسال"
                            end %>

                        <%= @trans_type %> -  <% if @details.transfer_type == "Product" %>
                        <%= "مقابل سلعة" %>
                        <% elsif @details.transfer_type == "Quick Payment" %>
                        <%= "عبر صفحة الدفع السريع" %>
                        <% else %>
                        <%= "مقابل خدمة" %>
                        <% end %>
                      </h4>
                      <h5 style="Margin: 0; Margin-bottom: 10px; color: #0f2460; font-family: 'Geeza Pro'; font-size: 17px; font-weight: normal; line-height: 1.3; margin: 0; margin-bottom: 8px; outline: none; padding: 0; text-align: right; word-wrap: normal;">
                        <img src="https://payers-design-2019.herokuapp.com/other/bank.png" style="-ms-interpolation-mode: bicubic; clear: both; display: block; float: right; margin-left: 10px; max-width: 100%; outline: none; text-decoration: none; width: auto;">
                        <div class="bank-name" style="outline: none;">
                            <span style="color: #0f2460; display: block; font-family: tahoma; font-size: 14px; outline: none;"><%= @details.operation_id %></span>
                        </div>
                      </h5>
                      <span class="being-executed" style="background-color: #0fa3b1; border-radius: 3px; color: #ffffff; display: inline-block; font-family: tahoma; font-size: 12px; height: 30px; line-height: 30px; margin-bottom: 40px; outline: none; padding: 0 10px;">
                        <% if @details.approve == 0 %>
                        <%= "جاري تنفيذها" %>
                        <% elsif @details.approve == 1 %>
                        <%= "معاملة ناجحة" %>
                        <% else %>
                        <%= "معاملة مسترده" %>
                        <% end %>
                      </span>
                    </div>
                    <% @content = Notification.where(user_id: @txt[1].to_i ,controller: "users_wallets_transfers",opid: @txt[0].to_i).last %>
                    <% @aaa = @content.description.split('/')
                    if @aaa[5]
                      @description = t("mails.#{@aaa[0]}") + "#{@aaa[1]}" + t("mails.#{@aaa[2]}") + "#{@aaa[3]}" + t("mails.#{@aaa[4]}") + t("mails.#{@aaa[5]}")
                    else
                      @description = t("mails.#{@aaa[0]}") + "#{@aaa[1]}" + t("mails.#{@aaa[2]}") + "#{@aaa[3]}" + t("mails.#{@aaa[4]}")
                    end
                     %>
                    <p class="margin-b-30" style="Margin: 0; Margin-bottom: 10px; color: #0f2460; font-family: 'Geeza Pro'; font-size: 13px; font-weight: normal; line-height: 1.3; margin: 0; margin-bottom: 30px !important; outline: none; padding: 0; text-align: right;"><%= @description %></p>
                    <a href="<%= @op_details %>" class="button-1" style="Margin: 0; background-color: #f5810d; border: 1px solid #f1780b; border-radius: 5px; box-shadow: 0 1px 2px rgba(0,0,0,0.21), inset 0 1px 1px 1px #ff9021; color: #ffffff; display: inline-block; font-family: 'ITC Handel Gothic Arabic Medium'; font-size: 14px; font-weight: normal; height: 50px; line-height: 50px; margin: 0; outline: none; padding: 0 15px; text-align: center; text-decoration: none;">تفاصيل المعاملة</a>
                    <div class="action-box" style="margin-top: 25px; outline: none;">
                      <ul style="list-style: none; margin: 0; outline: none; overflow: hidden; padding: 0;">
                        <li style="display: inline-block; line-height: 25px; margin-left: 50px; outline: none;">
                          <a href="#" style="Margin: 0; color: #0f2460; font-family: 'Geeza Pro'; font-weight: normal; line-height: 1.3; margin: 0; outline: none; padding: 0; text-align: right; text-decoration: none;"><img src="https://payers-design-2019.herokuapp.com/other/icon.png" style="-ms-interpolation-mode: bicubic; border: none; clear: both; display: block; float: right; margin-left: 10px; max-width: 100%; outline: none; text-decoration: none; width: auto;"> الفاتورة
                            الإلكترونية</a>
                        </li>
                        <li style="display: inline-block; line-height: 25px; margin-left: 0px; outline: none;">
                          <a href="<%= Rails.application.secrets.app_host %>/tickets" style="Margin: 0; color: #0f2460; font-family: 'Geeza Pro'; font-weight: normal; line-height: 1.3; margin: 0; outline: none; padding: 0; text-align: right; text-decoration: none;"><img src="https://payers-design-2019.herokuapp.com/other/icon-3.png" style="-ms-interpolation-mode: bicubic; border: none; clear: both; display: block; float: right; margin-left: 10px; max-width: 100%; outline: none; text-decoration: none; width: auto;"> تقدم بشكوى</a>
                        </li>
                      </ul>
                    </div>
                  </th>
                </tr>
              </tbody>
            </table>
            <table class="container email-footer" style="Margin: 0 auto; background: transparent; border-bottom: 1px solid #3f4f7c; border-collapse: initial; border-left: 1px solid #3f4f7c; border-radius: 0 0 15px 15px; border-right: 1px solid #3f4f7c; border-spacing: 0; margin: 0 auto; outline: none; padding: 0; text-align: inherit; vertical-align: top; width: 600px;">
              <tbody>
                <tr style="outline: none; padding: 0; text-align: left; vertical-align: top;">
                  <td style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #0f2460; font-family: 'Geeza Pro'; font-size: 13px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; outline: none;padding: 35px 25px; text-align: right; vertical-align: top; word-wrap: break-word;">
                    <table class="row" style="background: transparent; border-collapse: collapse; border-spacing: 0; display: table; outline: none; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
                      <tbody>
                        <tr style="outline: none; padding: 0; text-align: left; vertical-align: top;">
                          <th class="small-12 large-8 first columns" style="Margin: 0 auto; color: #0f2460; font-family: 'Geeza Pro'; font-size: 13px; font-weight: normal; line-height: 1.3; margin: 0 auto; outline: none; padding: 0; padding-bottom: 16px; padding-left: 16px; padding-right: 8px; text-align: right; width: 370.66667px;">
                            <p style="Margin: 0; Margin-bottom: 10px; color: #97a0ba; font-family: 'Geeza Pro'; font-size: 9px; font-weight: normal; line-height: 13.5px; margin: 0; margin-bottom: 10px; outline: none; padding: 0; text-align: right;">شركة <span style="font-family: tahoma; outline: none;">Payers Ltd.‎</span> هي شركه مرخصة من الهيئة العامة للاستثمار والمناطق الحرة المصريه تعمل بموجب تصريح البنك المركزي المصري. شركة <span style="font-family: tahoma; outline: none;">Payers Pte. Ltd.‎</span>                              هي المالكة للقيمة المخزنة وهي لا تتطلب اعتماداً من سلطة النقد السنغافورية.</p>
                            <p class="dire-l margin-t-10" style="Margin: 0; Margin-bottom: 10px; color: #97a0ba; direction: ltr; font-family: 'Geeza Pro'; font-size: 9px; font-weight: normal; line-height: 13.5px; margin: 0; margin-bottom: 10px; margin-top: 10px !important; outline: none; padding: 0; text-align: right;"><span style="font-family: tahoma; outline: none;">© 2019 Payers, Inc.</span></p>
                          </th>
                          <th class="small-12 large-4 last columns text-left" style="Margin: 0 auto; color: #0f2460; font-family: 'Geeza Pro'; font-size: 13px; font-weight: normal; line-height: 1.3; margin: 0 auto; outline: none; padding: 0; padding-bottom: 16px; padding-left: 8px; padding-right: 16px; text-align: left; width: 177.33333px;">
                            <a href="https://payers-design-2019.herokuapp.com/tickets" class="call-support" style="Margin: 0; background: url('https://payers-design-2019.herokuapp.com/other/support2.png') right no-repeat; color: #0f2460; display: inline-block; font-family: 'Geeza Pro'; font-weight: normal; line-height: 1.3; margin: 0; min-height: 39px; outline: none; padding: 0; padding-right: 50px; text-align: right; text-decoration: none;">
                              <h4 style="Margin: 0; Margin-bottom: 10px; color: #fff; font-family: 'Geeza Pro'; font-size: 13px; font-weight: normal; line-height: 13.5px; margin: 5px 0 3px 0; margin-bottom: 10px; outline: none; padding: 0; text-align: right; word-wrap: normal;">تواجه مشكلة ؟</h4>
                              <p style="Margin: 0; Margin-bottom: 10px; color: #97a0ba; font-family: 'Geeza Pro'; font-size: 9px; font-weight: normal; line-height: 13.5px; margin: 0; margin-bottom: 10px; outline: none; padding: 0; text-align: right;">تواصل مع فريق الدعم الفني</p>
                            </a>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </center>
        </td>
      </tr>
    </tbody>
  </table>

</body>

</html>