<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to payers.net, <%= params[:email] %></h1>
    <p>
      Your Token is: <%= params[:token] %> <br>
    </p>
    <p>
    <a href="https://payers-design-2019.herokuapp.com/unlockaccount?token=<%= params[:token]%>&id=<%= params[:id]%>"  target="_blank"><%= "click here to unlock your account" %></a>
    </p>
    
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
