
<% if (@user_infos and @user_infos.mobile == 1 and  @current_user_nationalid and @current_user_nationalid.status != "UnVerified" and @current_user_selfie and @current_user_selfie.status != "UnVerified" and (@current_user_address == nil or (@current_user_address and @current_user_address.status == "UnVerified"))) %>
  <fieldset id="active-address-step" class="step-box step-active-box" style="display: block; left: 0%;  right: 0%; opacity: 1;">                
<% else %>
  <fieldset id="active-address-step" class="step-box step-active-box" style="display: none; left: 0%; right: 0%; opacity: 0; ">               
<% end %>
    <%= form_with(model: address_verification, local: true,:html => {:id => 'address_form', :multipart => true }) do |form| %>
      <h2><span>5</span><%= t('address_verifications.residency_address_prove')%></h2>
      <p class="margin-b-20"><%= t('address_verifications.enter_your_address_details')%></p>
      <div class="row margin-b-20">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mobile-margin-b-20">
          <div class="inputstyle inputstyle-span selectstyle">
            <span class="text-span"><%= t('address_verifications.type_of_proof_of_housing')%></span>
            <%= form.select(:document_type, options_for_select([[t('address_verifications.rent_contract'),"RentContract"],[t('address_verifications.electricity_bill'),"ElectricityBill"]], :selected => form.object.document_type), { :required => true},:include_blank =>  'choose from list')%>
          </div>
          <span class="steps-p" id="add_doc_msg" style="color:red; display:none"><%= t('nationalid_verifications.choose_the_document')%></span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <label class="payers-fileinput button-3">
            <span data-default='Choose file'><%= t('nationalid_verifications.upload_image')%></span>
            <%= form.file_field :attachment, :required => true, accept: 'image/png,image/jpeg, image/jpg' %>
          </label>
          <span class="steps-p" id="add_img_msg" style="color:red; display:none;"><%= t('nationalid_verifications.upload_image')%></span>
        </div>
      </div>
      <div class="row margin-b-20">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mobile-margin-b-20">
          <div class="inputstyle">
            <%= form.text_field :name, placeholder: t('address_verifications.name_on_bill'), :required => true ,:autocomplete => "off" %>
          </div>
          <span id="add_name_msg" class="steps-p" style="color:red; display:none;"></span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="inputstyle relative-box selectstyle inputstyle-span">
            <span class="text-span"><%= t('nationalid_verifications.creation_date') %></span>
              <%= form.text_field :issue_date,  {:class => "dateplaceholder", :placeholder => t('nationalid_verifications.date'), :autocomplete => "off"} %>
              <%# form.text_field :issue_date, class: "date", placeholder: 'اليوم    /   الشهر    /   السنة' ,:autocomplete => "off", :required => true %>
          </div>
          <span class="steps-p" id="add_issue_msg" style="color:red; display:none;"></span>
        </div>
      </div>
      <div class="row margin-b-20">
        <div class="col-xs-12 mobile-margin-b-20">
          <div class="inputstyle">
            <%= form.text_field :address, placeholder: t('address_verifications.address'), :required => true ,:autocomplete => "off" %>
          </div>
          <span class="steps-p" id="address_msg" style="color:red; display:none;"></span>
        </div>
      </div>
      <input id="verify_address" type="button" name="send-ad" class="button-1" value="<%= t('address_verifications.send_proof_of_housing')%>" />
    <% end %>
  </fieldset>
