<%= form_with(model: users_bank, local: true) do |form| %>
  <% if users_bank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(users_bank.errors.count, "error") %> prohibited this users_bank from being saved:</h2>

      <ul>
      <% users_bank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label><%=t("bank type")%></label>
      <select required class="select-line"  id="bank_type">
        <option value=""><%= t("Please choose whether the bank is already registered or new") %></option>    
        <option value="new_bank"><%= "new_bank" %></option>
        <option value="from_list"><%= "from_list" %></option>
      </select>
  </div>

  <div id="previous_bank" style="display:none;">
    <div class="field">
      <%= form.label :bank_id %>
      <%= form.select(:bank_id,  options_for_select(Bank.all.collect {|p| [ "#{p.bank_name}- #{p.branch_name}", p.id ] }, :selected => form.object.bank_id ) ,{:include_blank => '-- Select bank --'} ) %>
    </div>
  </div>

  <div id="bank_data" style="display:none;">

    <div class="field">
      <%= form.label :bank_name %>
      <%= form.text_field :bank_name, :required => true %>
    </div>

    <div class="field">
      <%= form.label :branch_name %>
      <%= form.text_field :branch_name ,:required => true %>
    </div>

    <div class="field">
      <%= form.label :bank_code %>
      <%= form.text_field :bank_code, :required => true %>
    </div>

    <div class="field">
      <%= form.label :country_id %>
      <%= form.select(:country_id,  options_for_select(Country.all.collect {|p| [ p.Full_Name, p.id ] } ) , { :include_blank => '-- Select country --' }, :required => true ) %>
    </div>

    <div class="field">
      <%= form.label :is_iban_bank %>
      <%= form.select(:is_iban_bank,  options_for_select([["iban","iban"],["swift","swift"]]) ) %>
    </div>
  </div>

  <div class="field">
    <%= form.label :account_name %>
    <%= form.text_field :account_name, :required => true %>
  </div>

  <div class="field">
    <%= form.label :account_number %>
    <%= form.text_field :account_number, :required => true %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active,{:selected => (form.object.active)},1,0 %>
  </div>

  <div class="field">
    <%= form.label :is_iban %>
    <%= form.select(:is_iban,  options_for_select([["iban","iban"],["swift","swift"]]) ) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script language="JavaScript" type="text/javascript" src="/libs/js/jquery-3.2.1.min.js"></script>
<script>
  $(document).ready(function() {    
    $("#bank_type").change(function(){
      var option = $(this).find('option:selected').val();
         if ( option == "new_bank")
          {
            $("#users_bank_bank_id").prop('required',false);
            $("#previous_bank").hide();
            $("#bank_data").show();
            $("#users_bank_bank_id").val('');
            clearalldata();  
            enableinputs()    
         }
         else
          {
            $("#users_bank_bank_id").prop('required',true);
            $("#previous_bank").show();
            $("#bank_data").show(); 
            clearalldata();
            disableinputs()

          }
    });

    $("#users_bank_bank_id").change(function(){
      clearalldata();
      var id = $(this).find('option:selected').val();
      $.ajax({
              type:'get',
              url:'/bank_details',
              data:{id:id },
              contentType: "application/json",dataType: "json",
              cache:false,
              success: function(data)
              {   
                $('#users_bank_bank_name').val(data.bank.bank_name);
                $('#users_bank_branch_name').val(data.bank.branch_name);
                $('#users_bank_bank_code').val(data.bank.bank_code);
                $('#users_bank_country_id').val(data.bank.country_id);
                $('#users_bank_is_iban_bank').val(data.bank.is_iban);
                console.log(data.bank.id);                      
                if (data.response != ''){
                
                }                        
              }                        
            });
      
    });

    function clearalldata(){

     $("#users_bank_bank_name").val('');  
     $("#users_bank_branch_name").val('');  
     $("#users_bank_bank_code").val('');  
     $("#users_bank_country_id").val(''); 
     $("#users_bank_is_iban_bank").val('');  
     $("#users_bank_is_iban").val('');  
     $("#users_bank_account_name").val('');  
     $("#users_bank_account_number").val('');      
  }

  function disableinputs(){
    $("#users_bank_bank_name").prop('disabled',true);
    $("#users_bank_branch_name").prop('disabled',true); 
    $("#users_bank_bank_code").prop('disabled',true);
    $("#users_bank_country_id").prop('disabled',true);
    $("#users_bank_is_iban_bank").prop('disabled',true);
  }

  function enableinputs(){
    $("#users_bank_bank_name").prop('disabled',false);
    $("#users_bank_branch_name").prop('disabled',false); 
    $("#users_bank_bank_code").prop('disabled',false);
    $("#users_bank_country_id").prop('disabled',false);
    $("#users_bank_is_iban_bank").prop('disabled',false);
  }

  })
</script>