<%= form_with(model: @users_bank, local: true) do |form| %>
  <% if @users_bank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@users_bank.errors.count, "error") %> prohibited this users_bank from being saved:</h2>

      <ul>
      <% @users_bank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= form.label :bank_name %>
      <%= form.text_field :bank_name,:value => @users_bank.bank.bank_name, :disabled => true %>
    </div>

    <div class="field">
      <%= form.label :branch_name %>
      <%= form.text_field :branch_name,:value => @users_bank.bank.branch_name ,:disabled => true %>
    </div>

    <div class="field">
      <%= form.label :bank_code %>
      <%= form.text_field :bank_code,:value => @users_bank.bank.bank_code, :disabled => true %>
    </div>

    <div class="field">
      <%= form.label :country_id %>
      <%= form.text_field :country_id,:value => @users_bank.bank.country.Full_Name, :disabled => true %>
    </div>

  <div class="field">
    <%= form.label :account_name %>
    <%= form.text_field :account_name, :required => true %>
  </div>

  <div class="field">
    <%= form.label :account_number %>
    <%= form.text_field :account_number, :required => true %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active,{:selected => (form.object.active)},1,0 %>
  </div>

  <div class="field">
    <label><%=t("bank type")%></label>
    <%= form.select(:is_iban,  options_for_select([["iban","iban"],["swift","swift"]], :selected => form.object.is_iban ) ,{} ) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Show', @users_bank %> |
<%= link_to 'Back', users_banks_path %>
