<!-- Title Page -->
<div class="head-page title-page custom-container-2">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1><%= t('users_banks.account_Settings')%></h1>
        <p><%= t('users_banks.brief_summary')%></p>
      </div>
    </div>
  </div>
</div>
<!-- Title Page -->

  <!-- Dashboard -->
  <div class="custom-container-2">
    <div class="container">
      <div class="row">
        <%= render :partial => 'layouts/sidemenu' %>
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-b-30">
              <div class="add-box add-box-h-2">
                <a href="javascript:void(0)" data-toggle="modal" data-target="#addbank">
                  +
                  <h4><%= t('users_banks.add_a_new_account')%></h4>
                </a>
              </div>
            </div>
            <% @users_banks.all.each do|users_bank| %>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-b-30">
                <div class="usersetting-box-2">
                  <% if users_bank.bank.verified == true %>
                    <div class="usersetting-box-2-head bg-color-1">
                  <% else %>
                    <div class="usersetting-box-2-head bg-color-2">
                  <% end %>
                  <img src="assets/img/ahli-bank.svg" alt="البنك الراجحي السعودي">
                  <!-- <%# if users_bank.bank.logo.attached? %>
                  <%# image_tag users_bank.bank.logo  %>
                  <%# end %>   -->
                  <h2><%= users_bank.bank.bank_name %></h2>
                  </div>
                  <div class="usersetting-box-2-details">
                    <span><%= t('users_banks.account_Number')%></span>
                    <h3><%= users_bank.account_number %></h3>
                    <div class="usersetting-box-2-blocks">
                      <div class="usersetting-box-2-block">
                        <span><%= t('users_banks.branch_Name')%></span>
                        <h4><%= users_bank.branch_name %></h4>
                      </div>
                      <div class="usersetting-box-2-block">
                        <span><%= t('users_banks.branch_Number')%></span>
                        <h4 class="branch-number"><%= users_bank.swift_code %></h4>
                      </div>
                    </div>
                    <div class="usersetting-box-2-action">
                      <a href="javascript:void(0)" data-toggle="modal" data-target="#editbank<%= users_bank.id %>"><%= t('users_banks.edit')%></a>
                      <a href="/users_banks/<%= users_bank.id %>" data-method="delete" data-confirm="Are you sure?" class="remove-usersetting-box-2"><i class="fa fa-trash-o" aria-hidden="true"></i> <%= t('users_banks.delete')%></a>
                      <% if users_bank.is_default == true %>
                        <a href="#" class="usersetting-box-2-default"><%= t('users_banks.default')%></a>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>

<!-- Edit Bank -->
<div class="modal fade popup-box" id="editbank<%= users_bank.id %>" tabindex="-1" role="dialog" aria-labelledby="addbankLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= t('users_banks.edit_bank_account')%></h4>
        <span data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
      </div>
      <div class="modal-body">
        <%= form_for users_bank, local: true do |form| %>

          <div  class="row margin-b-25">
            <div class="col-xs-12">
              <div class="inputstyle">
                <%= form.text_field :bank_id, :placeholder => t('users_banks.bank_name'), :value => users_bank.bank.bank_name , :autocomplete => "off" , :disabled => true, id: "bank_id_#{users_bank.id}" %>
              </div>
            </div>
          </div>
          <div class="row margin-b-25">
            <div class="col-xs-12">
              <div class="inputstyle inputstyle-span selectstyle">
                <span class="text-span">اسم الحساب</span>
                <input type="text" name="" placeholder="<%= current_user.firstname + ' ' + current_user.lastname %>" disabled>                    
              </div>
            </div>
          </div>
          <div class="row margin-b-25">
            <div class="col-xs-12">
              <div class="inputstyle">
                <%= form.text_field :account_number, :required => true, :placeholder => t('users_banks.account_Number'), :autocomplete => "off" , id: "account_number_#{users_bank.id}" %>
              </div>
            </div>
          </div>
          <div class="row margin-b-25">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-b-25-m">
              <div class="inputstyle">
                <%= form.text_field :branch_name ,:required => true, :placeholder => t('users_banks.branch_Name'), :autocomplete => "off" , id: "branch_name_#{users_bank.id}" %>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="inputstyle">
                <%= form.text_field :swift_code, :placeholder => t('users_banks.swift_code'), :autocomplete => "off" , id: "swift_code_#{users_bank.id}" %>
              </div>
            </div>
          </div>
          <label class="checkbox-label margin-b-30">
            <%= form.check_box :is_default , id: "is_default_#{users_bank.id}" %><%= t('users_banks.make_it_the_default_bank_account_for_my_transactions')%>
            <span class="checkmarkbox"></span>
          </label>
          <div class="row">
            <div class="col-xs-6">
              <button type="submit" class="button-1"><%= t('users_banks.edit_bank_account')%></button>
            </div>
            <div class="col-xs-6 text-left">
              <a href="/users_banks/<%= users_bank.id %>" data-method="delete" data-confirm="Are you sure?" class="remove-usersetting-box-2"><i class="fa fa-trash-o" aria-hidden="true"></i> <%= t('users_banks.delete')%></a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Edit Bank -->





            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Dashboard -->

<!-- Add Bank -->
<div class="modal fade popup-box" id="addbank" tabindex="-1" role="dialog" aria-labelledby="addbankLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= t('users_banks.add_New_Bank_Account')%></h4>
        <span data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
      </div>
      <div class="modal-body">
        <%= form_for @users_bank, :html => {:id => 'add_new_bank'}, local: true do |form| %>
          <div class="row margin-b-25">
            <div class="col-xs-12">
              <div class="inputstyle inputstyle-span selectstyle">
                <span class="text-span"><%= t('users_banks.bank')%></span>
                <span id="req_bank"></span>
                <%= form.select(:bank_id,  options_for_select(Bank.where(country_id: current_user.country_id).all.includes(:country).collect {|p| [ "#{p.bank_name}- #{p.country.Full_Name}", p.id ] } + ['create a new bank'] ) ,{ :selected => form.object.bank_id, :include_blank => '-- Select bank --'}, 'data-error' => '#req_bank'  )%>                
              </div>
            </div>
          </div>
          <div id="new_bank" style="display:none;" class="row margin-b-25">
            <div class="col-xs-12">
              <div class="inputstyle">
                <span id="req_bank_name"></span>
                <%= form.text_field :bank_name, :placeholder => t('users_banks.bank_name'), :autocomplete => "off", 'data-error' => '#req_bank_name' %> 
              </div>
            </div>
          </div>
          <div class="row margin-b-25">
            <div class="col-xs-12">
              <div class="inputstyle inputstyle-span selectstyle">
                <span class="text-span">اسم الحساب</span>
                <input type="text" name="" placeholder="<%= current_user.firstname + ' ' + current_user.lastname %>" disabled>                    
              </div>
            </div>
          </div>
          <div class="row margin-b-25">
            <div class="col-xs-12">
              <div class="inputstyle">
                <span id="req_num"></span>
                <%= form.text_field :account_number, :required => true, :placeholder => t('users_banks.account_Number'), :autocomplete => "off", 'data-error' => '#req_num' %>
              </div>
            </div>
          </div>
          <div class="row margin-b-25">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-b-25-m">
              <div class="inputstyle">
                <span id="req_branch"></span>
                <%= form.text_field :branch_name ,:required => true, :placeholder => t('users_banks.branch_Name') , :autocomplete => "off" , 'data-error' => '#req_branch'%>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="inputstyle">
               <%= form.text_field :swift_code, :placeholder => t('users_banks.swift_code'), :autocomplete => "off" %>
              </div>
            </div>
          </div>
          <label class="checkbox-label margin-b-30">
            <%= form.check_box :is_default %><%= t('users_banks.make_it_the_default_bank_account_for_my_transactions')%>
            <span class="checkmarkbox"></span>
          </label>
          <div class="row">
            <div class="col-xs-6">
              <button id="add_acc" type="submit" class="button-1"><%= t('users_banks.add_a_new_account')%></button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Add Bank -->




<script src="/assets/js/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $("#users_bank_bank_id").prop('required',true); 
    $("#users_bank_bank_id").change(function(){
      var option = $(this).find('option:selected').val();
        if ( option == "create a new bank")
          {
            $("#new_bank").show();
            $("#users_bank_bank_name").prop('required',true);
         }
        else
          {
            $("#new_bank").hide();
            $("#users_bank_bank_name").prop('required',false); 
          }
    });

    $('#add_acc').click(function()
      { 
        var form = $( "#add_new_bank" );             
        form.validate({
          rules: {
            accept_terms: {
              required: true
            }
          },
          //ignore: [],
          messages: {
          'users_bank[bank_id]': { required: "  البنك ( لا يمكن تركه فارغاً )"  },
          'users_bank[account_number]': { required: " رقم الحساب ( لا يمكن تركه فارغاً )"  },
          'users_bank[branch_name]': { required: " اسم الفرع ( لا يمكن تركه فارغاً )"  },
          'users_bank[bank_name]': { required: " اسم البنك ( لا يمكن تركه فارغاً )"  },
                },            
          errorPlacement: function(error, element) {
            var placement = $(element).data('error');
            if (placement) {
              $(placement).append(error)
              $(element).closest('div[class="inputstyle"]').addClass("inputstyle-span inputimportant");
              $(element).closest('div[class="inputstyle inputstyle-span selectstyle"]').addClass("inputimportant");
            }    
            else {
              error.insertAfter(element);
            }
          }            
        });
      });

  })
</script>
