<p id="notice"><%= notice %></p>

<p>
  <strong>Bank:</strong>
  <%= @users_bank.bank.bank_name %>
</p>

<p>
  <strong>Branch Name:</strong>
  <%= @users_bank.bank.branch_name %>
</p>

<p>
  <strong>Bank Code:</strong>
  <%= @users_bank.bank.bank_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @users_bank.bank.country.Full_Name %>
</p>

<p>
  <strong>is_iban:</strong>
  <%= @users_bank.bank.is_iban %>
</p>

<p>
  <strong>Bank Status:</strong>
  <%= @users_bank.bank.verified %>
</p>

<p>
  <strong>User:</strong>
  <%= @users_bank.user.firstname + " " +  @users_bank.user.lastname %>
</p>

<p>
  <strong>Account name:</strong>
  <%= @users_bank.account_name %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @users_bank.account_number %>
</p>

<p>
  <strong>User Bank Status:</strong>
  <%= @users_bank.active %>
</p>

<p>
  <strong>Bank Type:</strong>
  <%= @users_bank.is_iban %>
</p>

<%= link_to 'Edit', edit_users_bank_path(@users_bank) %> |
<%= link_to 'Back', users_banks_path %>
