<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @audit_log.user_id %>
</p>

<p>
  <strong>User name:</strong>
  <%= @audit_log.user_name %>
</p>

<p>
  <strong>Trace:</strong>
  <%= @audit_log.trace_id %>
</p>

<p>
  <strong>Action type:</strong>
  <%= @audit_log.action_type %>
</p>

<p>
  <strong>Action meta:</strong>
  <%= @audit_log.action_meta %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @audit_log.ip %>
</p>

<%= link_to 'Edit', edit_audit_log_path(@audit_log) %> |
<%= link_to 'Back', audit_logs_path %>
