<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Title -->
    <title>404</title>

    <!-- Bootstrap -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" >

    <!-- Bootstrap rtl -->
    <link href="/assets/css/bootstrap.min.rtl.css" rel="stylesheet" >

    <!-- Animate -->
    <link rel="stylesheet" href="/assets/css/animate.css" >

    <!-- Fonts -->
    <link rel="stylesheet" href="/assets/css/fonts.css" >
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

    <!-- Flags -->
    <link href="/assets/css/flags.css" rel="stylesheet">

    <!-- Style -->
    <link rel="stylesheet" href="/assets/style.css" >

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

    <div id="container-style-3" class="all-height">
      <div class="container">
        <!-- Simple Head -->
        <div class="row">
          <div class="col-xs-12">
            <div class="center-simple-head">
              <a href="index.html"><h1 class="logo" title="Payers - بايرز"></h1></a>
            </div>
            <div class="simple-head text-left back-text">
              <a href="/dashboard"><i class="fa fa-arrow-left" aria-hidden="true"></i> <span>العودة للصفحة الرئيسية</span></a>
            </div>
          </div>
        </div>
      </div>

      <div class="error-404 relative-box">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="error-text text-center">
                <h2>الصفحة غير موجودة !</h2>
                <h3>بحثنا في محفظتك لم نجد الصفحة التي تبحث عنها !</h3>
                <h4>جاهزون في مركز الدعم الفني لمساعدتك</h4>
                <img src="/assets/img/error-icon.svg" alt="الصفحة غير موجودة !">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    



    <!-- Jquery Files -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.flagstrap.min.js"></script>
    <script src="/assets/js/steps.js"></script>
    <script src='/assets/js/jquery-ui.min.js'></script>
    <script src='/assets/js/bootstrap-datepicker.min.js'></script>
    <script src='/assets/js/bootstrap-datepicker.ar.js'></script>
    <script src="/assets/js/main.js"></script>
  
  </body>
</html>