<p id="notice"><%= notice %></p>

<h1>Logins</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Ip address</th>
      <th>User agent</th>
      <th>Device</th>
      <th>Details</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logins.each do |login| %>
      <tr>
        <td><%= login.user.firstname + " " + login.user.lastname %></td>
        <td><%= login.ip_address %></td>
        <td><%= login.user_agent %></td>
        <td><%= login.device_id %></td>
        <td><%= login.operation_type %></td>
        <td><%= link_to 'Show', login %></td>
        <td><%= link_to 'Edit', edit_login_path(login) %></td>
        <td><%= link_to 'Destroy', login, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Login', new_login_path %>
