<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @login.user %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @login.ip_address %>
</p>

<p>
  <strong>User agent:</strong>
  <%= @login.user_agent %>
</p>

<p>
  <strong>Device:</strong>
  <%= @login.device_id %>
</p>


<%= link_to 'Back', logins_path %>
