<%= form_with(model: users_wallets_transfer, local: true) do |form| %>
  <% if users_wallets_transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(users_wallets_transfer.errors.count, "error") %> prohibited this users_wallets_transfer from being saved:</h2>

      <ul>
      <% users_wallets_transfer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :user_to_id %>
    <%= form.number_field :user_to_id %>
  </div>

  <div class="field">
    <%= form.label :transfer_method %>
    <%= form.number_field :transfer_method %>
  </div>

  <div class="field">
    <%= form.label :transfer_type %>
    <%= form.number_field :transfer_type %>
  </div>

  <div class="field">
    <%= form.label :hold_period %>
    <%= form.number_field :hold_period %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :ratio %>
    <%= form.text_field :ratio %>
  </div>

  <div class="field">
    <%= form.label :approve %>
    <%= form.number_field :approve %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_field :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
