<h1>Editing Users Wallets Transfer</h1>

<%= render 'form', users_wallets_transfer: @users_wallets_transfer %>

<%= link_to 'Show', @users_wallets_transfer %> |
<%= link_to 'Back', users_wallets_transfers_path %>
