<p id="notice"><%= notice %></p>

<h1>Users Wallets Transfers</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>User to</th>
      <th>Operation_id</th>
      <th>Transfer method</th>
      <th>Transfer type</th>
      <th>Hold period</th>
      <th>Amount</th>
      <th>Ratio</th>
      <th>Status</th>
      <th>Address</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users_wallets_transfers.each do |users_wallets_transfer| %>
      <tr>
        <td><%= users_wallets_transfer.user_id %></td>
        <td><%= users_wallets_transfer.user_to_id %></td>
        <td><%= users_wallets_transfer.operation_id %></td>
        <% if users_wallets_transfer.transfer_method == "FromWallet" %>
        <td><%= "الخصم من رصيدى" %></td>
        <% else %>
        <td><%= "الدفع عن طريق البطاقات الائتمانية" %></td>
        <% end %>
        <% if users_wallets_transfer.transfer_type == 'Product' %>
        <td><%= "سلعة" %></td>
        <% elsif users_wallets_transfer.transfer_type == 'Quick Payment' %>
        <td><%= "عبر صفحة الدفع السريع" %></td>
        <% else %>
        <td><%= "خدمة" %></td>
        <% end %>
        <td><%= users_wallets_transfer.hold_period %></td>
        <td><%= users_wallets_transfer.amount %></td>
        <td><%= users_wallets_transfer.ratio %></td>
        <% if users_wallets_transfer.approve == 0 %>
        <td><%= "Pending" %></td>
        <% elsif users_wallets_transfer.approve == 1 %>
        <td><%= "Done" %></td>
        <% elsif users_wallets_transfer.approve == 2 %>
        <td><%= "Refund" %></td>
        <% end %>
        <% if users_wallets_transfer.address_id.to_i != 0 || users_wallets_transfer.address_id.to_i != nil || users_wallets_transfer.address_id.to_i != "" %>
        <td><%= Address.where(id: users_wallets_transfer.address_id).pluck(:address).first %></td>
        <% else %>
        <td><%= "-" %></td>
        <% end %>
        <td><%= users_wallets_transfer.note %></td>
        <td><%= link_to 'Show', users_wallets_transfer %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<button><%= link_to 'Transfer Balance', transfer_balance_path %></button>