<!-- Title Page -->
<div class="head-page head-page-3 title-page custom-container-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6">
        <h1>تفاصيل معاملة مالية</h1>
        <p>معاملة ايداع رقم <%= @users_wallets_transfer.operation_id %></p>
      </div>
      <div class="col-xs-6 hidden-lg hidden-md hidden-sm text-left">
        <a href="javascript:void(0)" data-toggle="modal" data-target="#transaction-details-popup"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- Title Page -->

<!-- Transaction Details -->
<div class="custom-container-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="transaction-details-box relative-box bg-color-5 margin-b-30">      
          <% if @users_wallets_transfer.approve == 0 %>
          <span class="bg-color-1 transaction-status-sp"><%= "جاري تنفيذها" %></span>
          <% elsif @users_wallets_transfer.approve == 1 %>
          <span class="bg-color-3 transaction-status-sp"><%= "معاملة ناجحة" %></span>
          <% elsif @users_wallets_transfer.approve == 2 %>
          <span class="bg-color-6 transaction-status-sp"><%= "معاملة مسترده" %></span>
          <% end %>
          <div class="transaction-info">
            <div class="transaction-text-list">
              <div class="transaction-text">
                <h3>رقم المعاملة</h3>
                <p><span><%= @users_wallets_transfer.operation_id %></span></p>
              </div>
              <div class="transaction-text">
                <h3>مبلغ المعاملة</h3>
                <p><span>$<%= @users_wallets_transfer.amount %></span></p>
              </div>
              <div class="transaction-text">
                <h3>تاريخ تاكيد المعاملة</h3>
                <p><span><%= @time.strftime("%d") %></span> <%= @month %> <span><%= @time.strftime("%Y") %></span> - <span><%= @time.strftime("%I:%M") %></span> <%= @mor %></p>
              </div>
            </div>
          </div>
          <div class="transaction-type bg-color-4 text-center">
            <h4>نوع المعاملة</h4>
            <h4><%= @trans_type %> -  <% if @users_wallets_transfer.transfer_type == "Product" %>
            <%= "مقابل سلعة" %>
            <% elsif @users_wallets_transfer.transfer_type == 'Quick Payment' %>
            <td><%= "عبر صفحة الدفع السريع" %></td>
            <% else %>
            <%= "مقابل خدمة" %>
            <% end %></h4>
            <img src="/assets/img/send-for-commodity.svg" alt="ارسال - مقابل سلعة">
          </div>
          <div class="transaction-status">
            <div class="transaction-text-list">
              <div class="transaction-text transaction-user-info">
                <img src="/assets/img/profile-picture-2.svg" alt="profile-picture">
                <div class="username-email-transaction">
                  <h3><%= @user_data.firstname + " " + @user_data.lastname %></h3>
                  <p><span><%= truncate(@user_data.email, :length => 26) %></span></p>
                </div>
              </div>
              <div class="transaction-text">
                <h3>حالة الخدمة من قبل التاجر</h3>
                <p class="processing-status"><span>
                <% if @users_wallets_transfer.service_status == "Pending" %>
                <%= "قيد الانتظار" %>
                <% elsif @users_wallets_transfer.service_status == "In processing" %>
                <td><%= "جارى العمل عليها" %></td>
                <% else %>
                <%= "مكتملة" %>
                <% end %>
                </span></p>
              </div>
            
              <% if @users_wallets_transfer.transfer_type == "Product" %>
              <div class="transaction-text">
                <h3>عنوان الشحن</h3>
                <% if @sender_address %>
                <p class="custom-transaction-text"><img src="/assets/img/map-icon.svg" alt="map-icon"><%= @sender_address%></p>
                <% end %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="transaction-details-note white-box margin-b-30">
          <% if @users_wallets_transfer.approve == 0 %>
          <p>فترة تعليق المبلغ <span><span><%= @users_wallets_transfer.hold_period%> يوم</span></span> يتبقى منها <span><span><%= @time.day - Time.now.getutc.day %> يوم</span></span> حيث تنتهي بتاريخ <span><%= @time.strftime("%d") %></span> <%= @month %> <span><%= @time.strftime("%Y - %I:%M")%></span> <%= @mor%></p>
          <% else %>
          <p>تم تأكيد هذه المعاملة</p>
          <% end %>
        </div>
        <div class="transaction-details-steps white-box margin-b-30">
          <h3>الاجراءات التي تمت على المعاملة</h3>
          <ul>
          <% @operation_notification.each do |notification| %>
            <li>
            <% @aaa = notification.description.split('/')
            if @aaa[5]
              @description = t("mails.#{@aaa[0]}") + "#{@aaa[1]}" + t("mails.#{@aaa[2]}") + "#{@aaa[3]}" + t("mails.#{@aaa[4]}") + t("mails.#{@aaa[5]}")
            else
              @description = t("mails.#{@aaa[0]}") + "#{@aaa[1]}" + t("mails.#{@aaa[2]}") + "#{@aaa[3]}" + t("mails.#{@aaa[4]}")
            end
             %>
              <h4><%= @description%></h4>
              <span><%= l(notification.created_at, format: "%d ") %> <%= l(notification.created_at, format: "%B ") %> <%= l(notification.created_at, format: "%Y ") %></span>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="sidebar-box transaction-action padding-40-25 hidden-xs">
          <ul>
            <% if @users_wallets_transfer.approve != 2 && @users_wallets_transfer.user_to_id == current_user.id.to_i %>
            <li><span><img src="/assets/img/delete-icon.svg"></span> <a href="/refund_transfer?id=<%= @users_wallets_transfer.id %>">الغاء المعاملــة</a></li>
            <% end %>
            <% if @users_wallets_transfer.approve == 0 && @users_wallets_transfer.user_id == current_user.id.to_i %>
            <li><span><img src="/assets/img/complete.svg"></span> <a href="/confirm_transfer?id=<%= @users_wallets_transfer.id %>">تأكيد المعاملــة</a></li>
            <% end %>
            <li><span><img src="/assets/img/report-icon.svg"></span> <a href="/tickets">تقدم بشكوى</a></li>
            <li><span><img src="/assets/img/bill-icon.svg"></span> <a href="#">فاتورة المعاملة</a></li>
            <li>
              <label class="checkbox-label"> ارسل لي تنبيهات علي البريــــد و SMS لأي تحديثــات تخــص هذه المعاملة في المستقبل.
                <input type="checkbox">
                <span class="checkmarkbox"></span>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Transaction Details -->

