<%= form_with(model: ticket_department, local: true) do |form| %>
  <% if ticket_department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket_department.errors.count, "error") %> prohibited this ticket_department from being saved:</h2>

      <ul>
      <% ticket_department.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
