*{
	outline: none;
}
html, body, table, table.container, table.body{
	background:transparent;
}
body, table.body, h1, h2, h3, h4, h5, h6, p, td, th, a{
    font-family: 'Geeza Pro';
    font-weight: normal;
    text-align: right;
	color: #0f2460;
}
body{
    font-family: 'Geeza Pro';
    font-weight: normal;
}

a{
	color: #0f2460;
}
a:hover, a:focus{
	color: #7e8bab;
}

/*Placeholder*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #657399;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #657399;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #657399;
}
:-moz-placeholder { /* Firefox 18- */
  color: #657399;
}

/*E Text*/
.en-text{
	font-family: tahoma;
}

/*Direction*/
.dire-l{
	direction: ltr;
}
.text-left{
	text-align: left;
}
.display-b{
	display: block !important;
}
.v-bottom{
	vertical-align: bottom;
}

/*Margins*/
.margin-t-10{
	margin-top: 10px !important;
}
.margin-t-20{
	margin-top: 20px !important;
}
.margin-b-20{
	margin-bottom: 20px !important;
}
.margin-b-25{
	margin-bottom: 25px !important;
}
.margin-b-30{
	margin-bottom: 30px !important;
}

/*Paddings*/
.padding-r-30{
	padding-right: 30px;
}

/*Inputs*/
.input-text input[type="text"], .input-text input[type="text"]:disabled{
	height: 20px;
	color: #657399;
	font-family: Arial;
	font-size: 14px;
	border:0;
	width: 100%;
	background-color: transparent;
}

/*Buttons*/
.button-1{
	height: 50px;
	line-height: 50px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21), inset 0 1px 1px 1px #ff9021;
	border-radius: 5px;
	border: 1px solid #f1780b;
	background-color: #f5810d;
	color: #ffffff;
	font-family: "ITC Handel Gothic Arabic Medium";
	font-size: 14px;
	display: inline-block;
	text-align: center;
	padding: 0 15px;
}
.button-1:hover{
	color: #fff;
	border: 1px solid #f5ae17;
	background-color: #f5ae17;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21), inset 0 1px 1px 1px #f5ae17;
}
.button-2{
	height: 50px;
	line-height: 50px;
	box-shadow: 0 1px 2px rgba(15, 36, 96, 0.4);
	border-radius: 5px;
	background-color: #ffffff;
	color: #0f2460;
	font-family: "ITC Handel Gothic Arabic Medium";
	font-size: 14px;
	display: inline-block;
	text-align: center;
	padding: 0 15px;
}
.button-2:hover{
	color: #0f2460;
	box-shadow: 0 1px 2px #ddd;
}

/*Emails Css*/
table.container{
    width: 600px;
}

/*BG Colors*/
.bg-light{
	background-color: #f0f2f6;
	margin: 55px 0;
}
.bg-dark{
	background-color: #50608c;
	margin: 55px 0;
}
.bg-dark-2{
	background-color: #0f2460;
}

/*Header*/
.email-header{
	border-radius: 15px 15px 0 0;
	border-top: 1px solid #e8ebf2;
	border-right: 1px solid #e8ebf2;
	border-left: 1px solid #e8ebf2;
	border-collapse:initial;
}
.email-header img{
	padding-top: 30px;
}
.email-header-1{
	background: url('/assets/mails/img/line.svg') bottom no-repeat !important;
}
.email-header > tbody > tr > td{
	padding: 0 25px 30px 25px;
}
.email-header h2{
	color: #0f2460;
	font-family: "Geeza Pro";
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 0;
}
.email-header-2{
	background: url('/assets/mails/img/profit.svg') 18px bottom no-repeat !important;
}
.email-header-3{
	background: url('/assets/mails/img/affilate.svg') 30px 30px no-repeat !important;
}
.head-date{
	color: #97a0ba;
	font-family: "Geeza Pro";
	font-size: 9px;
}
.head-date-2{
	color: #0f2460;
	font-family: "Geeza Pro";
	font-size: 9px;
}

/*Body*/
.email-body{
	background: #fff !important;
	width: 660px !important;
	box-shadow: 0 4px 17px rgba(101, 115, 153, 0.3);
	border-radius: 10px;
}
.email-body > tbody > tr > th{
	padding: 30px 55px 45px 55px;
}
.email-body-2 th{
	color: #0f2460;
	font-family: "Geeza Pro";
	font-size: 16px;
	line-height: 25px;
}
.email-body-2 th h3{
	margin-bottom: 40px;
}
.email-body-2 th p{
	margin-bottom: 30px;
}
.email-body-3 h3{
	font-family: "Geeza Pro";
	font-size: 16px;
	font-weight: 700;
	line-height: 25px;
}
.email-body-3 p{
	font-family: "Geeza Pro";
	font-size: 16px;
	line-height: 25px;
}
.email-body-5{
	background: #fff url('/assets/mails/img/secure.svg') left center no-repeat !important;
}
.secure-box{
	padding-left: 217px;
}
.secure-box b{
	display: block;
}

/*Welcome*/
.active-box{
	border-radius: 5px;
	background: #f0f2f6 url('/assets/mails/img/active.svg') 25px center no-repeat;
	padding: 15px 15px 15px 55px;
	color: #0f2460;
    font-family: 'ITC Handel Gothic Arabic';
	font-size: 14px;
	font-weight: 500;
}
.active-box p{
	display: inline-block;
	margin-right: 15px;
}
.secure-link{
	margin: 25px 0;
	overflow: hidden;
}
.secure-link img{
	float: right;
	margin-left: 15px;
}

/*Profit Box*/
.profit-box{
	width: 262px;
	margin: auto;
	border-radius: 10px;
	border: 1px solid #f0f2f6;
	padding: 30px 40px;
}
.profit-box ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.profit-box ul li{
	display: block;
	color: #0f2460;
	font-family: "Geeza Pro";
	font-size: 14px;
	line-height: normal;
	margin-bottom: 15px;
}
.profit-box ul li img{
	max-width: 21px;
	float: right;
	margin-left: 10px;
}
.valid-profit{
	width: 11px;
	height: 11px;
	background-color: #0fa3b1;
	display: inline-block;
	border-radius: 50px;
}
.not-valid-profit{
	width: 11px;
	height: 11px;
	background-color: #e23317;
	display: inline-block;
	border-radius: 50px;
}
.profit-money{
	color: #0fa3b1;
	font-family: "Geeza Pro";
	font-size: 13px;
	font-weight: 700;
}

/*Info Box*/
.info-box{
	border-radius: 5px;
	background-color: #f0f2f6;
	padding: 25px;
}
.info-box h4{
	font-family: "Geeza Pro";
	font-size: 16px;
	line-height: 25px;
}
.info-text-box{
	border-radius: 5px;
	border: 1px solid #e8ebf2;
	background-color: #ffffff;
	padding: 15px;
}
.info-text-box h5{
	font-family: "Geeza Pro";
	font-size: 16px;
	line-height: 25px;
	margin: 0;
}
.info-text-box h6{
	color: #657399;
	font-family: Arial;
	font-size: 14px;
	margin: 0;
}
.send-invitation a{
	margin: 12px 0;
}
.note-box{
	margin-top: 30px;
}
.note-box p{
	margin: 0;
	line-height: normal;
}
.note-box p a{
	color: #1553e8;
}
.note-box p a:hover{
	color: #7e8bab;
}

/*Transaction Box*/
.transaction-box{
	background: url('/assets/mails/img/new-transaction.svg') left no-repeat;
}
.transaction-box h3{
	color: #0f2460;
	font-family: Arial;
	font-size: 30px;
	font-weight: 700;
	margin: 0 0 20px 0;
}
.transaction-box h4{
	color: #0f2460;
	font-family: Arial;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.transaction-box h4 img{
	float: right;
	margin-left: 10px;
}
.transaction-box h5{
	margin-bottom: 8px;
}
.transaction-box h5 img{
	float: right;
	margin-left: 10px;
}
.transaction-box .bank-name span{
	display: block;
}
.transaction-box .bank-name span:first-child{
	color: #0f2460;
	font-family: tahoma;
	font-size: 14px;
}
.transaction-box .bank-name span:last-child{
	color: #657399;
	font-family: tahoma;
	font-size: 10px;
}
.being-executed{
	height: 30px;
	line-height: 30px;
	border-radius: 3px;
	background-color: #0fa3b1;
	color: #ffffff;
	font-family: tahoma;
	font-size: 12px;
	display: inline-block;
	padding: 0 10px;
	margin-bottom: 40px;
}
.action-box{
	margin-top: 25px;
}
.action-box ul{
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.action-box ul li{
	display: inline-block;
	margin-left: 50px;
	line-height: 25px;
}
.action-box ul li:last-child{
	margin-left: 0px;
}
.action-box ul li img{
	float: right;
	margin-left: 10px;
}

/*Footer*/
.email-footer{
	border-radius: 0 0 15px 15px;
	border-bottom: 1px solid #e8ebf2;
	border-right: 1px solid #e8ebf2;
	border-left: 1px solid #e8ebf2;
	border-collapse:initial;
}
.email-footer > tbody > tr > td{
	padding: 35px 25px;
}
.email-footer p{
	color: #97a0ba;
	font-family: "Geeza Pro";
	font-size: 9px;
	line-height: 13.5px;
	margin: 0;
}
.email-footer p span{
	font-family: tahoma;
}
.call-support{
	background: url('/assets/mails/img/call-support.svg') right no-repeat;
	padding-right: 50px;
	display: inline-block;
	min-height: 39px;
}
.call-support h4{
	margin: 5px 0 3px 0;
	color: #0f2460;
	font-family: "Geeza Pro";
	font-size: 15px;
	line-height: 13.5px;
}
.call-support p{
	color: #97a0ba;
	font-family: "Geeza Pro";
	font-size: 9px;
	line-height: 13.5px;
}

/*Same Box*/
.same-box{
	min-height: 114px;
}

/*Social Links*/
.social-links a{
	display: inline-block;
	margin-left: 35px;
}
.social-links a:last-child{
	margin-left: 0;
}
.social-links img{
	max-width: 21px;
}

/*Dark Style*/
.bg-dark .email-header{
    border-top: 1px solid #3f4f7c;
    border-right: 1px solid #3f4f7c;
    border-left: 1px solid #3f4f7c;
}
.bg-dark .email-header h2{
	color: #fff;
}
.bg-dark .email-footer{
    border-bottom: 1px solid #3f4f7c;
    border-right: 1px solid #3f4f7c;
    border-left: 1px solid #3f4f7c;
}
.bg-dark .call-support h4{
	color: #fff;
}


@media only screen and (max-width: 680px){

	/*Paddings*/
	.padding-b{
		padding-bottom: 0 !important;
	}

	table.body .container{
		width: 95% !important;
	}
	td.small-12, th.small-12 {
	    display: inline-block !important;
	    width: 100% !important;
	}

	.email-body > tbody > tr > th{
		padding: 15px;
	}

	.email-footer p, .email-footer .text-left{
		text-align: center !important;
	}

	.profit-box{
		width: auto;
	}

	.email-header-2{
		background-size: 55px !important;
	}

	.send-invitation a{
		margin: 0;
	}

	.transaction-box{
		background-size: 80px;
	}
	.action-box ul li{
		display: block;
		margin-bottom: 10px;
	}
	.action-box ul li:last-child{
		margin-bottom: 0px;
	}

	.email-body-5{
		background-size: 100px !important;
	}
	.secure-box{
		padding-left: 100px;
	}
	.head-date.text-left, .head-date-2.text-left{
		text-align: right;
	}

	.active-box p{
		display: block;
		margin: 10px 0px 0 0;
	}

}


@media (max-width: 480px){

	.email-body-5{
		background-size: 70px !important;
		background-position: left bottom !important;
	}
	.secure-box{
		padding-left: 0px;
	}

}