<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tag %>
    <%= javascript_include_tag 'application' %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title><%= t('user_infos.activate_my_account')%></title>

    <%= render :partial => 'layouts/head' %>

  </head>
  <body>
  <% @trans_limit = number_with_delimiter(current_user.users_group.maximum_monthly_recieve, :delimiter => ',').to_s.split(",") %>

    <% if @user_infos and @user_infos.status == "Verified"  %>
      <div id="container-style" class="all-height padding-b-100 custom-container">
        <!-- Deposite Steps -->
        <div class="container">
          <!-- Header -->
          <div class="row">
            <div class="col-lg-12">
              <div class="simple-head-3 relative-box">
                <a href="/dashboard"><h1 class="logo-2"></h1></a>
              </div>
            </div>
          </div>
          <!-- Header -->
          <!-- Successfully Activated -->
          <div class="successfully-activated">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 text-center">
                  <h1><%= t('user_infos.your_account_activated')%></h1>
                  <h2><%= t('user_infos.you_enjoy_full_benefits')%></h2>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 text-center success-box text-center">
                  <div class="white-box">
                    <div class="success-icon">
                      <img src="assets/img/success-icon-1.svg" alt="success-icon">
                    </div>
                    <p><%= t('user_infos.withdraw_to_your_accounts')%></p>
                  </div>
                  <div class="white-box center-success-box">
                    <div class="success-icon">
                      <img src="assets/img/success-icon-2.svg" alt="success-icon">
                    </div>
                    <p><%= t('user_infos.transfer_to_other_accounts')%></p>
                  </div>
                  <div class="white-box">
                    <div class="success-icon">
                      <span>$<%= @trans_limit[0] + "," + @trans_limit[1]%></span>
                    </div>
                    <p><%= t('user_infos.monthly_transactions_up_to') + " " + @trans_limit[0].to_s + " " + t('user_infos.dollar')  %> </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 text-center">
                  <a href="/dashboard" class="button-5"><%= t('user_infos.account_dashboard')%></a>
                </div>
              </div>
            </div>
          </div>
          <!-- Successfully Activated -->
        </div>
      </div>

    <% else %>
      <div id="container-style" class="all-height padding-b-100">
        <!-- Deposite Steps -->
        <div class="container">
          <!-- Header -->
          <div class="row">
            <div class="col-lg-12">
              <div class="simple-head-3 relative-box">
                <a href="/dashboard"><h1 class="logo-2"></h1></a>
                <div class="center-simple-head">
                  <h2><%= t('user_infos.activate_account')%></h2>
                  <p><%= t('user_infos.after_completeing') + " " + @trans_limit[0] + "," + @trans_limit[1] + "$" %></p>
                </div>
                <!-- <button id="save_now" class="button-5">إحفظ بياناتي & سأتابع لاحقاً</button> -->
                <!-- <button id="save_natid1" class="button-5" style="display: none">إحفظ بياناتي & سأتابع لاحقاً</button> -->
                <% if (@user_infos and @user_infos.mobile == 1 and  (@current_user_nationalid == nil or (@current_user_nationalid and @current_user_nationalid.status == "UnVerified"))) %>
                  <button id="save_natid" class="button-5"><%= t('user_infos.save_my_data')%></button>
                <%# elsif (@user_infos and @user_infos.mobile == 1 and  @current_user_nationalid and  @current_user_nationalid.status != "UnVerified" and (@current_user_selfie == nil or (@current_user_selfie and @current_user_selfie.status == "UnVerified") ) ) %>
                  <!--<button id="save_selfie" class="button-5">إحفظ بياناتي & سأتابع لاحقاً</button> -->
                <% elsif (@user_infos and @user_infos.mobile == 1 and  @current_user_nationalid and @current_user_nationalid.status != "UnVerified" and @current_user_selfie and @current_user_selfie.status != "UnVerified" and (@current_user_address == nil or (@current_user_address and @current_user_address.status == "UnVerified"))) %>
                  <button id="save_address" class="button-5"><%= t('user_infos.save_my_data')%></button>
                <% end %>
              </div>
            </div>
          </div>
          <!-- Header -->
          <% flash.each do |key, value| -%>
            <div class="class="custom-container-2"">
              <div id="flash_<%= key %>"><%=h value %></div>
            </div>
          <% end %>

          <!-- Active Account Steps -->
          <div class="row active-account-steps">
            <div class="col-md-8 col-md-offset-2">
              <ul id="progressbar">
                <li class="donestep"><%= t('user_infos.confirm_your_email')%></li>
                <% if @user_infos and @user_infos.mobile == 1 %>
                  <li class="donestep"><%= t('user_infos.confirm_your_mobile_number')%></li>
                <% else %>
                  <li class="active"><%= t('user_infos.confirm_your_mobile_number')%></li>
                <% end %>
                <% if @current_user_nationalid and @current_user_nationalid.status != "UnVerified" %>
                  <li class="donestep"><%= t('user_infos.confrim_your_Identity')%></li>
                <% elsif (@user_infos and @user_infos.mobile == 1) or (@current_user_nationalid and @current_user_nationalid.status == "UnVerified") %>
                  <li class="active"><%= t('user_infos.confrim_your_Identity')%></li>
                <% else %>
                  <li><%= t('user_infos.confrim_your_Identity')%></li>
                <% end %>
                <% if @current_user_selfie and @current_user_selfie.status != "UnVerified"  %>
                  <li class="donestep"><%= t('user_infos.take_A_Selfie')%></li>
                <% elsif @current_user_nationalid and  @current_user_nationalid.status != "UnVerified"%>
                  <li class="active"><%= t('user_infos.take_A_Selfie')%></li>
                <% else %>
                  <li><%= t('user_infos.take_A_Selfie')%></li>
                <% end %>
                <% if  @current_user_address and @current_user_address.status != "UnVerified"  %>
                  <li class="donestep"><%= t('user_infos.residency_address')%></li>
                <% elsif  @current_user_selfie and  @current_user_selfie.status != "UnVerified" %>
                  <li class="active"><%= t('user_infos.residency_address')%></li>
                <% else %>
                  <li><%= t('user_infos.residency_address')%></li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div id="steps-container">
                <!-- fieldsets -->
                <fieldset style="display: none;">

                </fieldset>
              <% if (!@user_infos or (@user_infos and @user_infos.mobile == 0)) %>
                <fieldset id="active-mobile-step" class="step-box step-active-box" style="display: block; left: 0%;  right: 0%; opacity: 1;">
              <% else %>
                <fieldset id="active-mobile-step" class="step-box step-active-box" style="display: none; left: 0%; right: 0%; opacity: 0; transform: scale(0.8); position: absolute;">
              <% end %>
                  <h2><span>2</span><%= t('user_infos.confirm_your_mobile_number')%></h2>
                  <p class="margin-b-20"><%= t('user_infos.we_will_send')%></p>
                  <div class="inputstyle inputstyle-span-mobile relative-box margin-b-25">
                    <input type="text" name="" id="phone" placeholder="993344555" value="<%= current_user.telephone%>" autocomplete="off" >
                    <div id="select-c" data-input-name="country2" data-selected-country="<%= current_user.country.short_code%>"></div>
                    <span id="verified_tel" style="display: none;"></span>
                  </div>
                  <div id="enter_code" class="inputstyle inputstyle-span-mobile relative-box margin-b-25" style="display: none;" >
                    <input type="text" id="v_code" name="" placeholder="<%= t('user_infos.enter_verification_code')%>" autocomplete="off">
                  </div>
                  <input type="button" name="next" id="send_code" class="button-1" value="<%= t('user_infos.send_code')%>" />
                  <input type="button" name="next" id="verify_code" class="button-1" value="<%= t('user_infos.check_code')%>" style="display: none;" />
                  <!-- <input type="button" name="next" id="confirm_identity" disabled class="button-1 next" value="اذهب  لتأكيد الهوية" style="display: none;" /> -->
                  <a id="code_status"  style="color:red; display: none;"></a>
                  <a id="timer"  style="display: none;"></a>
                  <span class="steps-p" id="repeated_phone" style="color:red; display:none;"> </span>
                  <a href="#" id="resend_code" class="resend-code" style="display: none;" ><%= t('user_infos.resend')%></a>
                  <a href="#"  id="send_voice" class="call-me-active margin-t-20" ><%= t('user_infos.call_me')%></a>
                </fieldset>
                <%= render :partial => 'nationalid_verifications/form', :locals => {:user_infos => @user_infos, :nationalid_verification => @nationalid_verification, :current_user_nationalid => @current_user_nationalid} %>
                <%= render :partial => 'selfie_verifications/form', :locals => {:user_infos => @user_infos, :selfie_verification => @selfie_verification, :current_user_selfie => @current_user_selfie} %>
                <%= render :partial => 'address_verifications/form', :locals => {:user_infos => @user_infos, :address_verification => @address_verification, :current_user_address => @current_user_address} %>



              </div>
            </div>
          </div>
          <!-- Active Account Steps -->
          <div class="row margin-t-35 display-710">
            <div class="col-xs-12 text-center">
              <button class="button-5 width-100"><%= t('user_infos.save_my_data')%></button>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <%= render :partial => 'layouts/script' %>


    <!-- change string to date -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>



    <script>
      $(document).ready(function()
        {
          $('#phone').keyup(function()
            {
              var phone = $("#phone").val();
              $.ajax({
                type:'get',
                url:'/check_phone',
                data:{phone:phone},
                contentType: "application/json",
                dataType: "json",
                  success: function(data){
                    if(data.message != "True"){
                      $("#send_code").attr("disabled", "disabled");
                      $('#repeated_phone').text(data.message);
                      $("#repeated_phone").show();
                      }
                    else
                    {
                      $("#send_code").removeAttr("disabled");
                      $("#repeated_phone").hide();
                    }
                  }
                });
            });
            $('#send_code').click(function()
            {
              var phone = $("#phone").val();
              if (phone != null && phone != "") {
                $.ajax({ type:'get',url:'/send2fasms',data:{phone:phone},contentType: "application/json",dataType: "json", success: function(data)
                {
                  $('#timer').show();
                  $('#verify_code').show();
                  $('#enter_code').show();
                  $('#send_code').hide();
                  $('#verified_tel').text(data.tel);
                  $('#phone').val(data.tel);
                  var timer = 10;
                  var interval = setInterval(function() {
                  timer--;
                  $('#timer').text("<%= t('user_infos.resend_after')%>" + ' ' + timer );
                  if (timer === 0) {
                    clearInterval(interval);
                    $('#resend_code').show();
                    $('#timer').hide()}
                    }, 1000);
                }});
              }
            });

            $('#send_voice').click(function()
            {
              var phone = $("#phone").val();
              if (phone != "")
                {
                  $.ajax({ type:'get',url:'/send2favoice',data:{phone:phone},contentType: "application/json",dataType: "json", success: function(data)
                    {
                      console.log(data);
                    var timer = 10;
                    var interval = setInterval(function() {
                    timer--;
                    $('#enter_code').show();
                    $('#verify_code').show();
                    $('#send_code').hide();
                    $('#verified_tel').text(data.tel);
                     $('#phone').val(data.tel);
                    $('#timer').text("<%= t('user_infos.resend_after')%>" + ' '+ timer );
                    $('#timer').show();
                    if (timer === 0) {
                      clearInterval(interval);
                      $('#resend_code').show();
                      $('#timer').hide()}
                      }, 1000);
                    }});
                }

            });

            $('#resend_code').click(function()
            {
              var phone = $("#verified_tel").text();
              console.log(phone);
              $.ajax({ type:'get',url:'/resendsms',data:{phone:phone},contentType: "application/json",dataType: "json", success: function(data)
              {

                var timer = 10;
                var interval = setInterval(function() {
                timer--;
                $('#timer').show()
                $('#verify_code').show();
                $('#enter_code').show();
                $('#send_code').hide();
                $('#verified_tel').text(data.tel);
                $('#phone').val(data.tel);
                $('#timer').text("<%= t('user_infos.resend_after')%>" + ' '+ timer );
                if (timer === 0) {
                  clearInterval(interval);
                  $('#resend_code').show();
                  $('#timer').hide()}
                  }, 1000);
                  }});

            });
            $('#verify_code').click(function()
            {
              var code = $("#v_code").val();
              var tel = $("#verified_tel").text();
              $.ajax({ type:'get',url:'/verifysms_code',
                data:{code:code,tel:tel},
                contentType: "application/json",
                dataType: "json",
                success: function(data){
                  if (data.message == "true"){
                    setTimeout(function(){// wait for 5 secs(2)
                    location.reload(); // then reload the page.(3)
                      }, 500);
                    //$('#code_status').hide();
                    //$("#confirm_identity").click();
                    //$('#verify_code').hide();
                    //$('#enter_code').hide();
                    //$('#resend_code').hide();
                    //$('#timer').hide();
                    //$('#save_natid1').show();
                  }
                  else {
                    $('#code_status').text('<%= t('user_infos.wrong_code') %>');
                    $('#code_status').show();

                  }
                }
              });
            });

          
            $(window).keydown(function(event){
              if(event.keyCode == 13) {
                event.preventDefault();
                return false;
              }
            });

            $('#nationalid_verification_legal_name').keyup(function(){
              var leg_name = $("#nationalid_verification_legal_name").val().length
              if (leg_name > 100) {
                $("#name_msg").text("<%= t('address_verifications.must_not_exceed_100_characters')%>");
                $("#name_msg").show();
                $("#verify_natid").attr("disabled", "disabled");
                $("#save_natid").attr("disabled", "disabled");
              }
              else{
                $("#name_msg").hide();
                $("#verify_natid").removeAttr("disabled");
                $("#save_natid").removeAttr("disabled");
              }
            });

            $('#verify_natid').click(function()
            {

              var doc_type = $("#nationalid_verification_document_type").val();
              var img = $("#nationalid_verification_images").val();
              var leg_name = $("#nationalid_verification_legal_name").val();
              var nat_id = $("#nationalid_verification_national_id").val();
              var issue_date = $("#nationalid_verification_issue_date").val();
              var expire_date = $("#nationalid_verification_expire_date").val();
              if (doc_type != undefined && doc_type != '' ){
                $("#doc_msg").hide();
              }
              else{
                $("#doc_msg").show();
              }
              if ((img != undefined && img != '' ) || (JSON.parse('<%= @nationalid_verification.images.attached? %>'))){
                $("#img_msg").hide();
              }
              else{
                $("#img_msg").show();
              }
              if (leg_name != undefined && leg_name != '' ){
                $("#name_msg").hide();
              }
              else{
                $("#name_msg").text("<%= t('nationalid_verifications.enter_name')%>");
                $("#name_msg").show();
              }
              if (nat_id != undefined && nat_id != '' ){
                $("#natid_msg").hide();
              }
              else{
                $("#natid_msg").text("<%= t('nationalid_verifications.enter_id')%>");
                $("#natid_msg").show();
              }
              if (issue_date != undefined && issue_date != '' ){
                $("#issue_msg").hide();
              }
              else{
                $("#issue_msg").text("<%= t('nationalid_verifications.enter_issue_date')%>");
                $("#issue_msg").show();
              }
              if (expire_date != undefined && expire_date != '' ){
                $("#expire_msg").hide();
              }
              else{
                $("#expire_msg").text("<%= t('nationalid_verifications.enter_expire_date')%>");
                $("#expire_msg").show();
              }
              if (doc_type != undefined && doc_type != ''  && ((img != undefined && img != '') || (JSON.parse('<%= @nationalid_verification.images.attached? == true %>') )) && leg_name != undefined && leg_name != '' && nat_id != undefined && nat_id != '' && issue_date != undefined && issue_date != '' && expire_date != undefined && expire_date != ''){
                $('#natid_form').submit();
              }
            });

            $('#save_natid').click(function()
            {
              $('#natid_form').submit();
            });

            //$('#save_natid1').click(function()
            //{
              //$('#natid_form').submit();
           // });

            $('#verify_selfie').click(function()
            {
              var img = $("#selfie_verification_avatar").val();
              if ((img != undefined && img != '') || (JSON.parse('<%= @selfie_verification.avatar.attached? == true %>') )){
                $("#selfie_msg").hide();
              }
              else{
                $("#selfie_msg").show();
              }
              if ((img != undefined && img != '') || (JSON.parse('<%= @selfie_verification.avatar.attached? == true %>') )) {
                $('#selfie_form').submit();
              }
            });

            //$('#save_selfie').click(function()
            //{
              //$('#selfie_form').submit();
            //});

            $('#verify_address').click(function()
            {
              var doc_type = $("#address_verification_document_type").val();
              var img = $("#address_verification_attachment").val();
              var name = $("#address_verification_name").val();
              var address = $("#address_verification_address").val();
              var issue_date = $("#address_verification_issue_date").val();
              if (doc_type != undefined && doc_type != '' ){
                $("#add_doc_msg").hide();
              }
              else{
                $("#add_doc_msg").show();
              }
              if ((img != undefined && img != '') || (JSON.parse('<%= @address_verification.attachment.attached? == true %>') )){
                $("#add_img_msg").hide();
              }
              else{
                $("#add_img_msg").show();
              }
              if (name != undefined && name != '' ){
                $("#add_name_msg").hide();
              }
              else{
                $("#add_name_msg").text("<%= t('nationalid_verifications.enter_name')%>");
                $("#add_name_msg").show();
              }
              if (address != undefined && address != '' ){
                $("#address_msg").hide();
              }
              else{
                $("#address_msg").text("<%= t('address_verifications.enter_address')%>");
                $("#address_msg").show();
              }
              if (issue_date != undefined && issue_date != '' ){
                $("#add_issue_msg").hide();
              }
              else{
                $("#add_issue_msg").text("<%= t('nationalid_verifications.enter_issue_date')%>");
                $("#add_issue_msg").show();
              }
              if (doc_type != undefined && doc_type != ''  && ((img != undefined && img != '') || (JSON.parse('<%= @address_verification.attachment.attached? == true %>') )) && name != undefined && name != '' && address != undefined && address != '' && issue_date != undefined && issue_date != ''){
                $('#address_form').submit();
              }
            });

            $('#save_address').click(function()
            {
              $('#address_form').submit();
            });

    $("#nationalid_verification_issue_date").change(function(evt) {
      var date = new Date($("#nationalid_verification_issue_date").val());
      $("#nationalid_verification_issue_date").attr("type", "text");
      $("#nationalid_verification_issue_date").val(date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear());
      if (date > new Date()){

        $("#issue_msg").text("<%= t('nationalid_verifications.must_be_before_this_day')%>");
        $("#issue_msg").show();
        $("#verify_natid").attr("disabled", "disabled");
        $("#save_natid").attr("disabled", "disabled");
      }
      else{
        $("#issue_msg").hide();
        $("#verify_natid").removeAttr("disabled");
        $("#save_natid").removeAttr("disabled");
      }
    });

    $("#nationalid_verification_issue_date").focus(function(evt) {
      $("#nationalid_verification_issue_date").attr("type", "date");
      setTimeout('$("#nationalid_verification_issue_date").click();', 500);
    });

    $("#nationalid_verification_issue_date").attr("type", "text");

    $("#nationalid_verification_expire_date").change(function(evt) {
      var date = new Date($("#nationalid_verification_expire_date").val());
      $("#nationalid_verification_expire_date").attr("type", "text");
      $("#nationalid_verification_expire_date").val(date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear());
      var nextmonth = new Date().getTime() + (30 * 24 * 60 * 60 * 1000)
      if (date <= nextmonth){

        $("#expire_msg").text("<%= t('nationalid_verifications.must_be_valid_for_one_month')%>");
        $("#expire_msg").show();
        $("#verify_natid").attr("disabled", "disabled");
        $("#save_natid").attr("disabled", "disabled");
      }
      else{
        $("#expire_msg").hide();
        $("#verify_natid").removeAttr("disabled");
        $("#save_natid").removeAttr("disabled");
      }
    });
    $("#nationalid_verification_expire_date").focus(function(evt) {
      $("#nationalid_verification_expire_date").attr("type", "date");
      setTimeout('$("#nationalid_verification_expire_date").click();', 500);
    });

    $("#nationalid_verification_expire_date").attr("type", "text");

    $("#address_verification_issue_date").change(function(evt) {
      console.log("hiiiiii");
      var date = new Date($("#address_verification_issue_date").val());
      $("#address_verification_issue_date").attr("type", "text");
      $("#address_verification_issue_date").val(date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear());
      if (date > new Date()){

        $("#add_issue_msg").text("<%= t('nationalid_verifications.must_be_before_this_day')%>");
        $("#add_issue_msg").show();
        $("#verify_address").attr("disabled", "disabled");
        $("#save_address").attr("disabled", "disabled");
      }
      else{
        $("#add_issue_msg").hide();
        $("#verify_address").removeAttr("disabled");
        $("#save_address").removeAttr("disabled");
      }
    });

    $("#address_verification_issue_date").focus(function(evt) {
      $("#address_verification_issue_date").attr("type", "date");
      setTimeout('$("#address_verification_issue_date").click();', 500);
    });

    $("#address_verification_issue_date").attr("type", "text");

    $("#nationalid_verification_national_id").keyup(function(){
      var doctype = $("#nationalid_verification_document_type").val();
      var natid = $("#nationalid_verification_national_id").val();
      if (natid.length > 100 ){
        $("#natid_msg").text("<%= t('address_verifications.must_not_exceed_100_characters')%>");
        $("#natid_msg").show();
        $("#verify_natid").attr("disabled", "disabled");
        $("#save_natid").attr("disabled", "disabled");
      }
      else{
        $("#natid_msg").hide();
        $("#verify_natid").removeAttr("disabled");
        $("#save_natid").removeAttr("disabled");
      }


    });

    $("#nationalid_verification_document_type").change(function(){
      $("#nationalid_verification_national_id").val("");
      $("#natid_msg").hide();
    });

    $("#address_verification_address").keyup(function(){
     var address = $("#address_verification_address").val();
    if (address.length > 100 ){

        $("#address_msg").text("<%= t('address_verifications.must_not_exceed_100_characters')%>");
        $("#address_msg").show();
        $("#verify_address").attr("disabled", "disabled");
        $("#save_address").attr("disabled", "disabled");

      }
      else{
        $("#address_msg").hide();
        $("#verify_address").removeAttr("disabled");
        $("#save_address").removeAttr("disabled");
      }
    });

    $("#address_verification_name").keyup(function(){
      var name = $("#address_verification_name").val();
      if (name.length > 100){
        $("#add_name_msg").text("<%= t('address_verifications.must_not_exceed_100_characters')%>");
        $("#add_name_msg").show();
        $("#verify_address").attr("disabled", "disabled");
        $("#save_address").attr("disabled", "disabled");
      }
      else{
        $("#add_name_msg").hide();
        $("#verify_address").removeAttr("disabled");
        $("#save_address").removeAttr("disabled");
      }
    });


          });
    </script>


  <style>
  .inputstyle input[type="date"], {
  width: 100%;
  border: 0;
  color: #657399;
  font-family: "ITC Handel Gothic Arabic";
  font-size: 14px;
  height: 46px;
  border: none
  }
  input[type="date"]{
  border:none
  }
  </style>



  </body>
</html>
