<%= form_with(model: bank, local: true) do |form| %>
  <% if bank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bank.errors.count, "error") %> prohibited this bank from being saved:</h2>

      <ul>
      <% bank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bank_name %>
    <%= form.text_field :bank_name %>
  </div>

  <div class="field">
    <%= form.label :branch_name %>
    <%= form.text_field :branch_name %>
  </div>

  <div class="field">
    <%= form.label :bank_code %>
    <%= form.text_field :bank_code %>
  </div>

  <div class="field">
    <%= form.label :country_id %>
    <%= form.select(:country_id,  options_for_select(Country.all.collect {|p| [ p.Full_Name, p.id ] }, :selected => form.object.country_id ) ,{} ) %>
  </div>

  <div class="field">
    <%= form.label :is_iban %>
    <%= form.select(:is_iban,  options_for_select([["iban","iban"],["swift","swift"]]) ) %>
  </div>

  <div class="field">
    <%= form.label :verified %>
    <%= form.check_box :verified,{:selected => (form.object.verified)},1,0 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
