<p id="notice"><%= notice %></p>

<h1>Banks</h1>

<table>
  <thead>
    <tr>
      <th>Bank name</th>
      <th>Branch name</th>
      <th>Bank code</th>
      <th>Country</th>
      <th>Is iban</th>
      <th>Verified</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @banks.each do |bank| %>
      <tr>
        <td><%= bank.bank_name %></td>
        <td><%= bank.branch_name %></td>
        <td><%= bank.bank_code %></td>
        <td><%= bank.country.Full_Name %></td>
        <td><%= bank.is_iban %></td>
        <td><%= bank.verified %></td>
        <td><%= link_to 'Show', bank %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

