<p id="notice"><%= notice %></p>

<p>
  <strong>Bank name:</strong>
  <%= @bank.bank_name %>
</p>

<p>
  <strong>Branch name:</strong>
  <%= @bank.branch_name %>
</p>

<p>
  <strong>Bank code:</strong>
  <%= @bank.bank_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @bank.country.Full_Name %>
</p>

<p>
  <strong>Bank Type:</strong>
  <%= @bank.is_iban %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @bank.verified %>
</p>

<%= link_to 'Back', banks_path %>
