@font-face {
    font-family: 'ITC Handel Gothic Arabic';
    src: url('../fonts/ITCHandelGothicArabic-Md.woff2') format('woff2'),
        url('../fonts/ITCHandelGothicArabic-Md.woff') format('woff'),
        url('../fonts/ITCHandelGothicArabic-Md.svg#ITCHandelGothicArabic-Md') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geeza Pro';
    src: url('../fonts/GeezaPro.woff2') format('woff2'),
        url('../fonts/GeezaPro.woff') format('woff'),
        url('../fonts/GeezaPro.svg#GeezaPro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geeza Pro';
    src: url('../fonts/GeezaPro-Bold.woff2') format('woff2'),
        url('../fonts/GeezaPro-Bold.woff') format('woff'),
        url('../fonts/GeezaPro-Bold.svg#GeezaPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana.woff2') format('woff2'),
        url('../fonts/Verdana.woff') format('woff'),
        url('../fonts/Verdana.svg#Verdana') format('svg');
    font-weight: normal;
    font-style: normal;
}
