<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Title -->
    <title>أرشيف التنبيهات</title>

    <!-- Bootstrap -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" >

    <!-- Bootstrap rtl -->
    <link href="/assets/css/bootstrap.min.rtl.css" rel="stylesheet" >

    <!-- Animate -->
    <link rel="stylesheet" href="/assets/css/animate.css" >

    <!-- Fonts -->
    <link rel="stylesheet" href="/assets/css/fonts.css" >
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

    <!-- Flags -->
    <link href="/assets/css/flags.css" rel="stylesheet">

    <!-- Style -->
    <link rel="stylesheet" href="/assets/style.css" >

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body class="white-page">

    <!-- Header -->
    <header class="main-header white-header white-logo custom-container-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- Back -->
            <a href="/dashboard" class="back-to-link"><span class="hidden-xs">العودة لإعدادات الحساب</span></a>
            <!-- Back -->
            <div class="left-header">
              <!-- User Menu -->
              <div class="user-menu">
                <div class="dropdown">
                  <button class="user-menu-dropdown dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <img src="/assets/img/profile-picture-2.svg" alt="فيصل جاسم">
                    <div class="username">
                    <% @verification = UserInfo.where(user_id: current_user.id.to_i).first %>
                    <h4 style="width: 80px;overflow: hidden;text-overflow: ellipsis;"><%= current_user.firstname + current_user.lastname %></h4>
                    <% if @verification && @verification.status.to_i == 1%>
                    <span>مفعل</span>
                    <% else %>
                    <span>غير مفعل</span>
                    <% end %>
                    </div>
                    <span class="user-arrow"></span>
                  </button>
                  <div class="user-overlay"></div>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <div class="active-account-menu">
                      <button href="javascript:void(0)" data-toggle="modal" data-target="#activeacc" class="button-3">فعل حسابك</button>
                    </div>
                    <ul class="account-menu">
                    <li><a href="/users/<%= current_user.id%>" >إعدادات حسابي</a></li>
                    <li><a href="#">برنامج التسويق بالعمولة</a></li>
                    <li><a href="/tickets" >الدعم الفني والمساعدة</a></li>
                    <li><a href="javascript:void(0)" data-toggle="modal" data-target="#payersnews" ><span>جديد</span> ما الجديد في بايرز ؟</a></li>
                    <li class= "logout-link"><%= link_to "تسجيل الخروج", sign_out_path, method: :delete %></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- User Menu -->
              <!-- User Menu -->
              <div class="user-menu user-menu-mobile">
                <div class="dropdown">
                  <button class="user-menu-dropdown" type="button">
                    <img src="/assets/img/profile-picture.svg" alt="فيصل جاسم">
                    <div class="username">
                      <span class="list-mobile-icon"></span>
                      <span class="notification-number-mobile">4</span>
                    </div>
                  </button>
                </div>
              </div>
              <!-- User Menu -->
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header -->

    <!-- Title Page -->
    <div class="head-page head-page-2 title-page custom-container-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h1>أرشيف تنبيهات البريد</h1>
            <p>هذا الارشيف يشمل كل الايميلات ورسائل ال SMS التي وصلتك من بايرز منذ أنشأت حسابك </p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left margin-t-15-m filter-table">
            <span>عرض تنبيهات </span>
            <div class="inputstyle selectstyle">
              <select>
                <option value="1">يوليو</option>
                <option value="2">مايو</option>
              </select>
            </div>
            <div class="inputstyle selectstyle">
              <select>
                <option value="1">2018</option>
                <option value="2">2019</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Title Page -->

    <!-- Notification Archive -->
    <div class="custom-container-2">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="table-payers">
              <div class="tabel-head">
                <div class="table-head-col flex-20">
                نوع التنبيه
                </div>
                <div class="table-head-col hidden-xs flex-40">
                  موضوع التنبيه
                </div>
                <div class="table-head-col hidden-xs flex-30">
                  وقت وتاري ارسال التنبية
                </div>
              </div>
              <div class="tabel-body">
              <% @user_notifications.each do |notification| %>
                <div class="table-row">
                  <div class="table-col flex-20">
                  <% if notification.notification_type == 3 %>
                  <% @type = " رسالة بريد إلكترونى و SMS"
                   @logo = "fa fa-comments-o" %>
                  <% elsif notification.notification_type == 2 %>
                  <% @type = "رسالة هاتف نصية SMS" 
                  @logo = "fa fa-comment-o" %>
                  <% elsif notification.notification_type == 1 %>
                  <% @type = "رسالة بريد إلكترونى Mail" 
                  @logo = "fa fa-envelope-o"%>
                  <% else %>
                  <% "Non" %>
                  <% end %>
                    <a href="javascript:void(0)" data-toggle="modal" data-target=".noteshow<%= notification.id %>"><i class="<%=@logo%>" aria-hidden="true"></i><%= @type %></a>
                  </div>
                  <div class="table-col hidden-xs flex-40">
                      <%= notification.title %>
                  </div>
                  <div class="table-col hidden-xs flex-30">
                    <span class="arial-text"><%= l(notification.created_at, format: "%d ")%></span> <%= l(notification.created_at, format: "%B ")%> <span class="arial-text"><%= l(notification.created_at, format: "%Y ")%></span> | <span class="arial-text"><%= l(notification.created_at, format: "%I:%M ") %></span> <%= l(notification.created_at, format: "%p") %>
                  </div>
                </div>

                <!-- Notification Show -->
                <div class="modal fade popup-box noteshow<%= notification.id %>" id="notification-archive" tabindex="-1" role="dialog" aria-labelledby="notification-archiveLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <a href="#" class="notification-arrow-l"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                      <div class="modal-header">
                        <h4 class="modal-title"><i class="<%=@logo%>" aria-hidden="true"></i> <%= @type %> <br><span><%= l(notification.created_at, format: "%d %B %Y | %I:%M %p")%></span></h4>
                        <span data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                      </div>
                      <div class="modal-body content-paragraph">
                        <p><%= notification.description %></p>
                      </div>
                      <a href="#" class="notification-arrow-r"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                  </div>
                </div>
                <!-- Notification Show  -->

              <% end %>
              </div>
              <% if @user_notifications.count > 5 %>
              <div class="apple_pagination">
                <%= will_paginate @user_notifications, :container => false %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Notification Archive -->

    <!-- Mobile User Menu -->
    <div class="mobile-user-menu">
      <div class="mobile-user-menu-account">
        <div class="head-mobile-user-menu">
          <div class="mobile-notification-button">
            <div class="notification-button">
              <a href="#"><span>4 <span class="notification-alert"></span></span></a>
            </div>
          </div>
          <div class="username-mobile">
            <img src="/assets/img/profile-picture-2.svg" alt="فيصل جاسم">
            <h4 style="width: 80px;overflow: hidden;text-overflow: ellipsis;"><%= current_user.firstname + current_user.lastname %></h4>
            <% if @verification && @verification.status.to_i == 1%>
            <h5>مفعل</h5>
            <% else %>
            <h5>غير مفعل</h5>
            <% end %>
          </div>
          <div class="close-mobile-user-menu">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
          </div>
        </div>
        <div class="body-mobile-user-menu">
          <ul class="mobile-menu">
            <li><a href="/dashboard">الرئيسية</a></li>
            <li><a href="/money_ops">سجل المعاملات</a></li>
            <li><a href="#">Payers Automation™</a></li>
          </ul>
          <div class="mobile-active-user">
            <button class="button-3">فعل حسابك</button>
          </div>
          <ul class="account-menu">
            <li><a href="/users/<%= current_user.id%>" >إعدادات حسابي</a></li>
            <li><a href="#">برنامج التسويق بالعمولة</a></li>
            <li><a href="/tickets" >الدعم الفني والمساعدة</a></li>
            <li><a href="javascript:void(0)" data-toggle="modal" data-target="#payersnews" ><span>جديد</span> ما الجديد في بايرز ؟</a></li>
            <li class= "logout-link"><%= link_to "تسجيل الخروج", sign_out_path, method: :delete %></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Mobile User Menu -->


    
    <!-- Active Account -->
    <div class="modal fade popup-box" id="activeacc" tabindex="-1" role="dialog" aria-labelledby="activeaccLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content relative-box">
          <div class="active-account-text">
            <h3>برجاء تفعيل ايميلك الآن</h3>
            <p>يتوجب عليك الضغط علي رابط تفعيل الحساب في الرسالة التي ارسلنا علي بريدك</p>
            <button class="button-3"> أعد ارسال رسالة التفعيل</button>
            <a href="#">جاهزون في مركز الدعم الفني لمساعدتك</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Active Account -->

    <!-- Active Session -->
    <div class="modal fade popup-box" id="accsession" tabindex="-1" role="dialog" aria-labelledby="aaccsessionLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">الجلسات النشطة</h4>
            <span data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
          </div>
          <div class="modal-body">
            <p>هنا تجد ما إذا كنت مسجلاً الدخول إلى بايرز من جهاز، متصفح أو موقع آخر غير الجهاز الذي تشاهد من عليه هذه الرسالة.</p>
            <ul class="user-session">
              <li class="current-device">
                <span><img src="/assets/img/this-device.svg" alt="pc"></span>
                <div class="user-session-info">
                  <h4>حاسوب ماك</h4>
                  <div class="device-ip-info">
                    <span class="this-device">هذا الجهاز</span>
                    <span class="device-ip"><span>IP:</span> 85.154.150.79</span>
                  </div>
                </div>
              </li>
              <li>
                <span><img src="/assets/img/mobile.svg" alt="mobile"></span>
                <div class="user-session-info">
                  <h4>هاتف ذكي - آيفون</h4>
                  <div class="device-ip-info">
                    <span>آخر تواجد منذ 10 ساعات</span>
                    <span class="device-ip"><span>IP:</span> 85.154.150.79</span>
                    <a href="#">تسجيل الخروج</a>
                  </div>
                </div>
              </li>
              <li>
                <span><img src="/assets/img/tablet.svg" alt="tablet"></span>
                <div class="user-session-info">
                  <h4>لوح ذكي - Samsung Galaxy Tab</h4>
                  <div class="device-ip-info">
                    <span>آخر تواجد منذ 10 ساعات</span>
                    <span class="device-ip"><span>IP:</span> 85.154.150.79</span>
                    <a href="#">تسجيل الخروج</a>
                  </div>
                </div>
              </li>
            </ul>
            <a class="button-3" href="#">تسجيل الخروج من كل الجلسات النشطة</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Active Session -->


    <!-- News Payers -->
    <% @user_announcement = UserAnnouncement.where(active: 1).all
    @user_announcements = @user_announcement.where("user_group_id = ? OR user_id = ? OR availability = ?", current_user.users_group_id,current_user.id,1).all.order('created_at DESC')
    %>
    <div class="modal fade popup-box" id="payersnews" tabindex="-1" role="dialog" aria-labelledby="payersnewsLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">ما الجديد في بايرز ؟</h4>
            <span data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
          </div>
          <div class="modal-body">
            <ul class="payers-news">
              <% if @user_announcements == nil || @user_announcements == [] %> 
                <li>         
                <div style="text-align: center;">
                <p><%= "عفوا لا توجد اخبار جديد حاليا" %></p>
                </div>
                </li>
              <% else %>
                <% @user_announcements.each do |user_announcement| %>
                <li>
                  <span><span>جديد</span><%= l(user_announcement.created_at, format: " %d %B %Y")%></span>
                  <a href="#"><%= user_announcement.title %></a>
                  <p><%= user_announcement.description %></p>
                </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- News Payers -->
    

    <!-- Jquery Files -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.flagstrap.min.js"></script>
    <script  src="/assets/js/steps.js"></script>
    <script src='/assets/js/jquery-ui.min.js'></script>
    <script src='/assets/js/bootstrap-datepicker.min.js'></script>
    <script src='/assets/js/bootstrap-datepicker.ar.js'></script>
    <script src="/assets/js/main.js"></script>
  
  </body>
</html>
