<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Title -->
    <title>لوحة التحكم</title>

    <!-- Bootstrap -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" >

    <!-- Bootstrap rtl -->
    <link href="/assets/css/bootstrap.min.rtl.css" rel="stylesheet" >

    <!-- Animate -->
    <link rel="stylesheet" href="/assets/css/animate.css" >

    <!-- Fonts -->
    <link rel="stylesheet" href="/assets/css/fonts.css" >
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

    <!-- Flags -->
    <link href="/assets/css/flags.css" rel="stylesheet">

    <!-- Style -->
    <link rel="stylesheet" href="/assets/style.css" >
  </head>
  <body>
    <!-- Active Account -->
    <div class="modal fade popup-box in" id="activeacc" tabindex="-1" role="dialog" aria-labelledby="activeaccLabel" style="display: block; padding-left: 15px;">
      <div class="modal-dialog" role="document">
        <div class="modal-content relative-box">
          <div class="active-account-text">
            <h3>برجاء تفعيل ايميلك الآن</h3>
            <p>يتوجب عليك الضغط علي رابط تفعيل الحساب في الرسالة التي ارسلنا علي بريدك</p>
            <button id="resend_verification_mail" class="button-3"> أعد ارسال رسالة التفعيل</button>
            <button id="timer" class="button-3" style="display: none;"> </button>
            <a href="/tickets">جاهزون في مركز الدعم الفني لمساعدتك</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Active Account -->    

    <%= render :partial => 'layouts/script' %>

  </body>
</html>
<script>
  $(document).ready(function()
    { 
      $('#resend_verification_mail').click(function()
        { 
          $.ajax({
            type:'get',
            url:'/resend_confirmation_mail',
            data:{},
            contentType: "application/json",              
            dataType: "json",
              success: function(data){
                var timer = 10;
                var interval = setInterval(function() {
                timer--;
                $('#timer').text('<%= "رابط إعادة الإرسال بعد " %>'+ ' '+ timer );
                $('#resend_verification_mail').hide();
                $('#timer').show();
                if (timer === 0) {
                clearInterval(interval);
                $('#resend_verification_mail').show();
                $('#timer').hide()}
                }, 1000);                
              }
            });
      });
    });
</script>

       