<!-- Dashboard -->
    <div class="custom-container-2">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="head-page title-page custom-container-2">
              <h1><%= t('users.homepage')%></h1>
              <p><%= t('users.brief_summary_of_your_balance_urgent_matters_and_last_transaction')%></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <!-- White Box -->
            <div class="white-box dashboard-box balance-status relative-box margin-b-20">
              <h3><%= t('users.balance_Status')%></h3>
              <div class="balance-status-boxs">
                <div class="status-box">
                  <h4><%= t('users.total')%></h4>
                  <div class="status-box-count">
                    <h5><%= @total_balance[0] %><span>.<%= @total_balance[1] %></span> $</h5>
                    <span><span><%= number_with_delimiter(@total_sar.round(2), :delimiter => ',')%></span> = <%= @currency_name%></span>
                  </div>
                </div>
                <div class="status-box">
                  <h4><%= t('users.withdrawal')%></h4>
                  <div class="status-box-count">
                    <h5><%= @amount[0].to_s %><span>.<%= @amount[1].to_s %></span> $</h5>
                    <span><span><%= number_with_delimiter(@amount_sar.round(2), :delimiter => ',')%></span> = <%= @currency_name%></span>
                  </div>
                </div>
                <div class="status-box">
                  <h4><%= t('users.suspended')%></h4>
                  <div class="status-box-count">
                    <h5><%= @fozen_balance[0].to_s %><span>.<%= @fozen_balance[1].to_s %></span> $</h5>
                    <span><span><%= number_with_delimiter(@fozen_sar.round(2), :delimiter => ',')%></span> = <%= @currency_name%></span>
                  </div>
                </div>
              </div>
            </div>
            <!-- White Box -->
            <!-- White Box -->
            <div class="white-box monthly-box dashboard-box margin-b-20" style="margin-top: -4px;">
              <h3><%= t('users.monthly_Limit_for_Transactions')%></h3>
              <br>
              <div class="monthly-limit">
                <div class="monthly-bar">
                  <% if current_user.total_monthly_recieve == 0 %>
                  <% @aa = "6%" %>
                  <% elsif current_user.total_monthly_recieve == current_user.users_group.maximum_monthly_recieve %>
                  <% @aa = "100%" %>
                  <% else %>
                  <% @aa = "40%" %>
                  <% end %>
                  <div class="monthly-load-bar relative-box" style="width: <%= @aa %>;"><span class="limit-text-arrow"><span><%= current_user.total_monthly_recieve %> $</span></span></div>
                </div>
                <div class="limit-text text-left">
                $ <%= current_user.users_group.maximum_monthly_recieve %>
                </div>
              </div>
              <div class="active-account-box table-box">
                <div class="row">
                  <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
                    <p><%= t('users.we_need_to_check_your_phone_number_ID_card_and_address')%>  "<%= @max_receive %>" $ <%= t('users.per_month')%></p>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12 text-left">
                    <a href="/activate_account" class="button-3"><%= t('users.activate')%></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- White Box -->
            <!-- White Box -->
            <div class="payers-automation-box mobile-margin-b-20">
              <div class="inside-payers-automation-box relative-box">
                <h4>Payers Automation</h4>
                <h5><%= t('users.autopilot_for_your_financial_transfers')%></h5>
                <p><%= t('users.transfers_and_withdrawals_arrive_in_a_timely_manner_and_to_the_right_person_Automatically_done_without_intervention')%></p>
              </div>
            </div>
            <!-- White Box -->
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <!-- White Box -->
            <div class="white-box dashboard-box transactions-box margin-b-20">
              <h3><%= t('users.take_quick_action_in_these_transactions')%></h3>
              <ul>
              <% if @verification && @verification.status == "Verified" %>
                <% @lim = 5 %>
              <% else %>
                <li class="table-box">
                <a href="/activate_account" class="red-alert"><%= t('users.you_have_exhausted_the maximum_limit_on_your_inactive_account')%></a>
                <a href="/activate_account" class="button-3"><%= t('users.activate')%></a>
                <% @lim = 4 %>
                </li>
              <% end %>
              <li class="table-box">
              <a href="#" class="red-alert"><%= t('users.edit_password_and_2_step_verification')%></a>
              <a href="/secure_my_account" class="button-3"><%= t('users.secure')%></a>
              </li>
              <% @notifications.limit(@lim).each do |notification| %>
                <li class="table-box">
                  <% if notification.controller && notification.opid
                    @control = notification.controller
                    @opid = notification.opid
                  else
                    @control = "notifications"
                    @opid = notification.id
                  end
                  %>
                  <% if notification.controller == "users_wallets_transfers"
                      @aaa = notification.description.split('/')
                      if @aaa[5]
                        @description = t("mails.#{@aaa[0]}") + "#{@aaa[1]}" + t("mails.#{@aaa[2]}") + "#{@aaa[3]}" + t("mails.#{@aaa[4]}") + t("mails.#{@aaa[5]}")
                      else
                        @description = t("mails.#{@aaa[0]}") + "#{@aaa[1]}" + t("mails.#{@aaa[2]}") + "#{@aaa[3]}" + t("mails.#{@aaa[4]}")
                      end
                    elsif notification.controller == "money_ops" || notification.controller == "withdraws"
                      @aaa = notification.description.split('/')
                      @description = t("mails.#{@aaa[0]}") + "#{@aaa[1]}" + t("mails.#{@aaa[2]}") + t("mails.#{@aaa[3]}") + t("mails.#{@aaa[4]}") + t("mails.#{@aaa[5]}")
                    else
                      @description = notification.description
                    end
                  %>
                  <a href="/<%=@control%>/<%= @opid %>" ><%= @description %></a>
                  <a href="/<%=@control%>/<%= @opid %>" class="button-3"><%= t('users.details')%></a>
                </li>
              <% end %>

              </ul>
            </div>
            <!-- White Box -->
          </div>
        </div>

        <!-- Quick Links -->
        <div class="quick-links custom-container-2">
          <div class="row">
            <div class="col-xs-12">
              <h3><%= t('users.quick_access_to_settings')%></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="quick-link-1">
                <a href="/users/<%= current_user.id%>">
                  <%= t('users.personal_data')%>
                  <p><%= t('users.edit_Name_and_Other_Informations')%></p>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="quick-link-2">
                <a href="/dashboard">
                  <%= t('users.credit_Cards')%>
                  <p><%= t('users.add_and_edit_credit_cards')%></p>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="quick-link-3">
                <a href="/users_banks">
                  <%= t('users.bank_Accounts')%>
                  <p><%= t('users.add_and_modify_bank_accounts')%></p>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="quick-link-4">
                <a href="/user_addresses">
                  <%= t('users.shipping_Address')%>
                  <p><%= t('users.for_shipping_transactions')%></p>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="quick-link-5">
                <a href="/user_notifications_setting">
                  <%= t('users.manage_mail_and_SMS_alerts')%>
                  <p><%= t('users.control_alerts_and_notifications')%></p>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="quick-link-6">
                <a href="/secure_my_account">
                  <%= t('users.secure_my_account')%>
                  <p><%= t('users.edit_password_and_2_step_verification')%></p>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="quick-link-7">
                <a href="/affiliate_program">
                  <%= t('users.affilate_Program')%>
                  <p><%= t('users.join_the_Affilate_program')%></p>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="quick-link-8">
                <a href="/tickets">
                  <%= t('users.support')%>
                  <p><%= t('users.follow_the_status_of_your_queries')%></p>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- Quick Links -->
      </div>
    </div>
    <!-- Dashboard -->
