<style>
  #qrcode {
    width:50px;
    height:180px;
    margin-top:10px;
    margin-left: 10px;
  }
</style>



<%= render 'form' %>

<script language="JavaScript" type="text/javascript" src="/libs/js/jquery-3.2.1.min.js"></script>
<script language="JavaScript" type="text/javascript" src="/libs/js/qrcode.min.js"></script>
<script>
$(document).ready(function() {
  var qrcode = new QRCode("qrcode");
  var initial = $('input[name="user[active_otp]"]:checked').val();
  //alert(initial);
  var current_token = '';
  var token = '';
  var type = '';

  $("#user_active_otp_1, #user_active_otp_2").change(function () {
    $("#edit_setting").prop('disabled', true);
    $("#otp_code_details").hide();
    qrcode.clear();
    var selected_value = this.value ;
    
    if  ($("#user_active_otp_" + selected_value).val() != initial) 
      {
        if (this.value == 1) {
           type = "mail";
        }
        else if (this.value == 2) {
           type = "google";
        }
       $.ajax({
               type:'get',url:'/send_confirmation_mail',data:{id:initial},contentType: "application/json",dataType: "json",cache:false,success: function(data)
                {
                  $("#verify_current_form").show();
                  $("#verifiy_current_code").prop('required',true);
                  if (data)
                    {                                  
                      if (initial == 1)
                        {
                           current_token = data.result;                           
                        }                      
                    }  
                }
             }); 
      }
    else
    {
      $("#verify_form").hide();
      $("#verifiy_code").prop('required',false);
      $("#qrcode").hide();
      $("#verify_current_form").hide();
      $("#verifiy_current_code").prop('required',false);
      $("#edit_setting").prop('disabled', false);
      if ($("#user_active_otp_" + selected_value).val() == 1)
          {
              type = "nochangemail";
            }
    }
});


   $("#verifiy_current_code").change(function() 
      {
        $("#wrong_otp_code1").hide();
        $("#correct_otp_code1").hide();
        var user_code = $("#verifiy_current_code").val();
       
        if (initial == 1)
          {
            if (user_code == current_token)
              {
                $("#edit_setting").prop('disabled', true);
                $("#verify_current_form").hide();
                $("#wrong_otp_code1").hide();
                $("#correct_otp_code1").show();
                $.ajax({
               type:'get',url:'/generate_qr_code',data:{id:type},contentType: "application/json",dataType: "json",cache:false,success: function(data)
                {
                  if (data)
                    {                      
                      
                      if (type == "google")
                        {

                            var qr = data.result.data;
                            var otp_secret_key = data.otp_secret_key;
                            $("#verify_form").show();
                            $("#verifiy_code").prop('required',true);
                            $("#qrcode").show();
                            $("#otp_code_details").show();                            
                            $("#otp_secret_key").val(otp_secret_key);
                                                      
                            qrcode.makeCode(qr);
                        }
                }
                      
                }
             });  
              }
            else
              {
                $("#edit_setting").prop('disabled', true);
                $("#verify_current_form").val('');
                $("#wrong_otp_code1").show();
                $("#correct_otp_code1").hide();
              }

          }
        else if (initial == 2)
          {
            $.ajax({type:'get',url:'/confirm_google_code',data:{code:user_code},contentType: "application/json",dataType: "json",cache:false,success: function(data)
              {
                if (data)
                  {
                    if (data.result == true)
                      {
                        
                        $("#edit_setting").prop('disabled', true);
                        $("#verify_current_form").hide();
                        $("#wrong_otp_code1").hide();
                        $("#correct_otp_code1").show();
                        $("#verify_form").show();
                        $("#verifiy_code").prop('required',true);
                        $.ajax({
               type:'get',url:'/generate_qr_code',data:{id:type},contentType: "application/json",dataType: "json",cache:false,success: function(data)
                {
                  if (data)
                    {                      
                      if (type == "mail")
                        {
                           token = data.result;
                           $("#verify_form").show();
                           //$("#verifiy_code").show();
                           $("#verifiy_code").prop('required',true);
                           $("#qrcode").hide();
                        }
                }
                      
                }
             });
                      }
                    else if (data.result == false)
                      {         
                        $("#edit_setting").prop('disabled', true);                     
                        $("#verify_current_form").val('');
                        $("#wrong_otp_code1").show();
                        $("#correct_otp_code1").hide();
                      }
                  } 
              } 
            }); 
          }
      });

    $("#verifiy_code").change(function() 
      {
        $("#wrong_otp_code").hide();
        $("#correct_otp_code").hide();
        var user_code = $("#verifiy_code").val();
       // var confirm_type = $("#user_active_otp").val();
        var confirm_type = $('input[name="user[active_otp]"]:checked').val();
        console.log(confirm_type);
        if (confirm_type == 1)
          {
            if (user_code == token)
              {
                $("#edit_setting").prop('disabled', false);
                $("#verify_form").hide();
                $("#wrong_otp_code").hide();
                $("#correct_otp_code").show();
                //alert("correct code");
              }
            else
              {
                $("#edit_setting").prop('disabled', true);
                $("#verifiy_code").val('');
                $("#wrong_otp_code").show();
                $("#correct_otp_code").hide();
                //alert("wrong code");
              }

          }
        else if (confirm_type == 2)
          {
            $.ajax({type:'get',url:'/confirm_google_code',data:{code:user_code},contentType: "application/json",dataType: "json",cache:false,success: function(data)
              {
                if (data)
                  {
                    if (data.result == true)
                      {
                        $("#edit_setting").prop('disabled', false);
                        //alert("correct code");
                        $("#qrcode").hide();
                        $("#otp_code_details").hide(); 
                        $("#verify_form").hide();
                        $("#wrong_otp_code").hide();
                        $("#correct_otp_code").show();
                      }
                    else if (data.result == false)
                      {         
                        $("#edit_setting").prop('disabled', true);                     
                        $("#verifiy_code").val('');
                        //alert("wrong code");
                        $("#otp_code_details").show(); 
                        $("#qrcode").show();
                        $("#wrong_otp_code").show();
                        $("#correct_otp_code").hide();
                      }
                  } 
              } 
            }); 
          }
      });

      $("#user_secret_code").change(function()
        {
          var secret_code = $("#user_secret_code").val();
          if (secret_code.length < 6 || secret_code.length > 10)
            {
              $("#user_secret_code").val('');
              alert("secret code must be greater than 6 and smaller than 10");
            }
        });

        $("#user_telephone").change(function()
        {
          var entered_number = $("#user_telephone").val();
          var match = entered_number.startsWith('<%= @user.country.Phone_code%>');
          if (match === true)
            {
              $("#wrong_code").hide();
            }
          else
            {
              $("#user_telephone").val('');
              $("#wrong_code").show();
            }
        });
     

});
</script>