<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tag %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>التحقق الثنائى</title>

    <!-- Bootstrap -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" >

    <!-- Bootstrap rtl -->
    <link href="/assets/css/bootstrap.min.rtl.css" rel="stylesheet" >

    <!-- Animate -->
    <link rel="stylesheet" href="/assets/css/animate.css" >

    <!-- Fonts -->
    <link rel="stylesheet" href="/assets/css/fonts.css" >
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

    <!-- Flags -->
    <link href="/assets/css/flags.css" rel="stylesheet">

    <!-- Style -->
    <link rel="stylesheet" href="/assets/style.css" >

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

    <!-- Container Style -->
    <div id="container-style-2" >
      <div class="container">

        <!-- Simple Head -->
        <div class="row">
          <div class="col-lg-12">
            <div class="simple-head text-left back-text">
              <a href="/homepage"><i class="fa fa-arrow-left" aria-hidden="true"></i><span><%= t('users.back_to_Homepage')%></span></a>
            </div>
          </div>
          <% flash.each do |key, value| -%>
            <div class="col-sm-3">
              <div class="box-color accent pos-rlt">
                <span class="arrow bottom b-accent"></span>
                <div class="box-body">
                  <div id="flash_<%= key %>"><%=h value %></div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <!-- Simple Head -->

        <!-- Login Form -->
        <div class="row">
          <div class="col-lg-12">
            <div class="payers-black-style-inside">
              <div class="forms-block forms-block-height outside-forms login-form">
                <%= form_for :confirm, :html => {:id => 'confirm_signin'} , :url => two_factor_path do |form| %>
                  <div class="text-center">
                    <img src="/assets/img/forms-logo.svg" alt="Payers">
                  </div>
                  <h1 class="text-center forms-title reset-title"><%= t('users.double_verification')%></h1>
                  <div class="row margin-b-25">
                    <div class="col-lg-12">
                      <div class="inputstyle inputstyle-span inputarial text-l">
                        <span class="text-span"><%= t('users.doublee_verification')%></span>
                        <input placeholder="<%= t('users.doublee_verification') %>" autocomplete="off" required="required" data-error="#v_code" type="text" name="confirm[code]" id="confirm_code">
                      </div>
                    </div>
                  </div>
                  <div class="row margin-t-30">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-5">
                      <button id='submit' class="pbtn button-1"><%= t('users.confirm')%></button>
                    </div>
                    <% if current_user.active_otp == 1 %>
                      <div id="resendcode" style="display: none;" >
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-7 form-register-link">
                          <a href="/resend_two_factor"><%= t('users.re_transmitter')%></a>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-7 form-register-link">
                        <a id="timer"></a>
                      </div>
                    <% end %>
                  </div>
                  <div class="row margin-t-70">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 remember-link">
                      <a href=""></a>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 login-link-error text-left">
                      <a href="#"><%= t('users.you_re')%></a>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Login Form -->

      <!-- Footer -->
      <footer class="main-footer custom-container">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-5">
              <img class="footer-logo" src="assets/img/footer-logo.svg" alt="Payers">
              <div class="footer-text">
                <p class="hidden-xs"><%= t('users.payers_Ltd_is_a_licensed_company_of_the_Egyptian_General_Authority_for_Investment')%></p>
                <ul class="footer-payment hidden-sm hidden-xs">
                  <li><img src="assets/img/americanexpress.svg" alt="americanexpress"></li>
                  <li><img src="assets/img/mastercard.svg" alt="mastercard"></li>
                  <li><img src="assets/img/paypal.svg" alt="paypal"></li>
                  <li><img src="assets/img/visa-1.svg" alt="visa"></li>
                  <li><img src="assets/img/ico.svg" alt="ico"></li>
                  <li><img src="assets/img/pci.svg" alt="PCI"></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-7 hidden-lg hidden-md hidden-sm mobile-language">
              <div class="language hidden-lg hidden-md">
                <a href="#" class="active-language"><%= t('users.arabic')%></a>
                <a href="#">English</a>
              </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 footer-links text-left hidden-xs">
              <a href="#" class="link-1"><%= t('users.privacy_policy')%></a>
              <div class="language">
                <a href="#" class="active-language">اللغة العربية</a>
                <a href="#">English</a>
              </div>
            </div>
          </div>
          <div class="row hidden-lg hidden-md">
            <div class="col-xs-12">
              <p class="hidden-lg hidden-md hidden-sm"><%= t('users.payers_Ltd_is_a_licensed_company_of_the_Egyptian_General_Authority_for_Investment')%></p>
            </div>
          </div>
          <div class="row hidden-lg hidden-md">
            <div class="col-xs-12">
              <ul class="footer-payment">
                <li><img src="assets/img/americanexpress.svg" alt="americanexpress"></li>
                <li><img src="assets/img/mastercard.svg" alt="mastercard"></li>
                <li><img src="assets/img/paypal.svg" alt="paypal"></li>
                <li><img src="assets/img/visa-1.svg" alt="visa"></li>
                <li><img src="assets/img/ico.svg" alt="ico"></li>
                <li><img src="assets/img/pci.svg" alt="PCI"></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer -->
    </div>
    <!-- Container Style -->

    <%= render :partial => 'layouts/script' %>


    <script>
      var timer = 120;
      var interval = setInterval(function() {
      timer--;
      $('#timer').text('<%= "رابط إعادة الإرسال سيظهر بعد " %>'+ ' '+ timer );
      if (timer === 0) {
        clearInterval(interval);
        $('#resendcode').show();
        $('#timer').hide()}
        }, 1000);
      $(document).ready(function()
        {
          $('#submit').click(function()
            {
              var form = $( "#confirm_signin" );
              form.validate({
                rules: {
                  accept_terms: {
                    required: true
                  }
                },
                //ignore: [],
                messages: {
                'confirm[code]': { required: "يرجى إدخال كود التحقق الثنائى"  },
                      },
                errorPlacement: function(error, element) {
                  var placement = $(element).data('error');
                  if (placement) {
                    $(placement).append(error)
                    $(element).closest('div[class="inputstyle inputstyle-span inputarial text-l"]').addClass("inputimportant");
                  }
                  else {
                    error.insertAfter(element);
                  }
                }
              });
            });
            $(window).keydown(function(event){
              if(event.keyCode == 13) {
                event.preventDefault();
                return false;
              }
            });
          });
    </script>

  </body>
</html>
