<!DOCTYPE html>
<html>
	<head>
		<%= csrf_meta_tag %>
		<%= javascript_include_tag 'application' %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>الرئيسية</title>

    <!-- Bootstrap -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" >

    <!-- Bootstrap rtl -->
    <link href="/assets/css/bootstrap.min.rtl.css" rel="stylesheet" >

    <!-- Animate -->
    <link rel="stylesheet" href="/assets/css/animate.css" >

    <!-- Fonts -->
    <link rel="stylesheet" href="/assets/css/fonts.css" >
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

    <!-- Flags -->
    <link href="/assets/css/flags.css" rel="stylesheet">

    <!-- Style -->
    <link rel="stylesheet" href="/assets/style.css" >

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

	</head>
  <body>

    <!-- Container -->
    <div id="container-style-3" class="intro-header">
      <!-- Header -->
      <header class="main-header custom-container-2">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <!-- Logo -->
              <a href="/dashboard"><h1 class="logo" title="Payers - بايرز"></h1></a>
              <!-- Logo -->
              <div class="left-header">
                <!-- Main Menu -->
                <div class="main-menu">
                  <ul>
                    <li><a href="/dashboard"><%= t('users.homee')%></a></li>
                    <li><a href="#"><%= t('users.personal_account')%></a></li>
                    <li><a href="#"><%= t('users.merchant_account')%></a></li>
                    <li><a href="#"><%= t('users.transfer')%></a></li>
                    <li><a href="#"><%= t('users.contact_us')%></a></li>
                  </ul>
                </div>
                <!-- Main Menu -->
                <!-- New Action Button -->
                <div class="new-action-button">
                  <a href="#" class="button-2"><%= t('users.start_New_Transaction')%></a>
                </div>
                <!-- New Action Button -->
								<!-- Login Link -->
								<% if current_user %>
								<div class="login-link">
								  <%= link_to  t('users.log_out'), sign_out_path, method: :delete, class: "logout-link" %>
								</div>
								<% else %>
                <div class="login-link">
                  <a href="/sign_in"><%= t('users.log_out')%></a>
								</div>
								<% end %>
                <!-- Login Link -->
                <!-- Home Mobile Menu -->
                <div class="home-mobile-menu">
                  <a href="javascript:void(0)"><i class="fa fa-bars" aria-hidden="true"></i></a>
                </div>
                <!-- Home Mobile Menu -->
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- Header -->

      <!-- Intro -->
      <div class="intro text-center">
        <div class="intro-box relative-box">
          <div class="intro-text">
            <h2><%= t('users.the_most_efficient')%></h2>
            <p><%= t('users.through_Payers')%></p>
            <a href="#"><%= t('users.read_More')%></a>
          </div>
        </div>
      </div>
      <!-- Intro -->

      <!-- Features -->
      <div class="features custom-container-2">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center feature-1 custom-feature wow fadeInUp" data-wow-delay="100ms">
              <img src="/assets/img/feature-1.svg" alt="تلقى مدفوعاتك بضغطة زر">
              <h3><%= t('users.receive_your')%></h3>
              <p><%= t('users.with_one_account')%></p>
              <a href="#"><%= t('users.read_More')%></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center feature-2 mobile-custom-feature wow fadeInUp" data-wow-delay="200ms">
              <img src="/assets/img/feature-2.svg" alt="تلقى مدفوعاتك بضغطة زر">
              <h3><%= t('users.pay_off_you')%></h3>
              <p><%= t('users.all_you')%></p>
              <a href="#"><%= t('users.read_More')%></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center feature-3 custom-feature wow fadeInUp" data-wow-delay="300ms">
              <img src="/assets/img/feature-3.svg" alt="تلقى مدفوعاتك بضغطة زر">
              <h3><%= t('users.different_payment')%></h3>
              <p><%= t('users.over_30_different_payment')%></p>
              <a href="#"><%= t('users.read_More')%></a>
            </div>
          </div>
          <div class="row custom-feature">
            <div class="col-md-8 col-md-offset-2">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center feature-4 wow fadeInUp" data-wow-delay="400ms">
                  <img src="/assets/img/feature-4.svg" alt="feature 4">
                  <h3 class="text-1"><%= t('users.secure_payment')%></h3>
                  <p><%= t('users.payers_offers')%></p>
                  <a href="#"><%= t('users.read_More')%></a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center feature-5 mobile-custom-feature wow fadeInUp" data-wow-delay="500ms">
                  <img src="/assets/img/feature-5.svg" alt="feature 5">
                  <h3 class="text-1"><%= t('users.the_support')%></h3>
                  <p><%= t('users.have_a_problem')%></p>
                  <a href="#"><%= t('users.read_More')%></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Features -->

      <!-- Steps -->
      <div class="steps custom-container-2 wow fadeInUp">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 intro-head wow fadeInUp">
              <h3><%= t('users.simple')%></h3>
              <p><%= t('users.you_can')%></p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center wow fadeInUp" data-wow-delay="100ms">
              <div class="steps-img">
                <img src="/assets/img/step-1.svg" alt="الإشتراك فى الموقع">
              </div>
              <h4><%= t('users.subscribe')%></h4>
              <p><%= t('users.open_a_free')%></p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center wow fadeInUp" data-wow-delay="100ms">
              <div class="steps-img">
                <img src="/assets/img/step-2.svg" alt="الإشتراك فى الموقع">
              </div>
              <h4><%= t('users.fill_your_balance')%></h4>
              <p><%= t('users.through_multiple')%></p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center wow fadeInUp" data-wow-delay="100ms">
              <div class="steps-img">
                <img src="/assets/img/step-3.svg" alt="أضف مستفيد">
              </div>
              <h4><%= t('users.add_beneficiary')%></h4>
              <p><%= t('users.add_beneficiaryy')%></p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center wow fadeInUp" data-wow-delay="100ms">
              <div class="steps-img">
                <img src="/assets/img/step-4.svg" alt="ادفع اموالك الان">
              </div>
              <h4><%= t('users.pay_your')%></h4>
              <p><%= t('users.pay_with_one_click')%></p>
            </div>
          </div>
        </div>
      </div>
      <!-- Steps -->

      <!-- Payment Ways -->
      <div class="payment-ways wow fadeInUp">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 intro-head">
              <h3><%= t('users.thats')%></h3>
              <p><%= t('users.we_have_provided')%></p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="payment-ways-text wow fadeInUp" data-wow-delay="100ms">
                <div class="payment-img"><img src="/assets/img/payment-1.svg" alt="payment"></div>
                <h4><%= t('users.paymentPay')%></h4>
              </div>
              <div class="payment-ways-text wow fadeInUp" data-wow-delay="100ms">
                <div class="payment-img"><img src="/assets/img/payment-2.svg" alt="payment"></div>
                <h4><%= t('users.paymentPay')%></h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="payment-ways-text custom-payment-ways-text wow fadeInUp" data-wow-delay="100ms">
                <div class="payment-img"><img src="/assets/img/payment-3.svg" alt="payment"></div>
                <h4><%= t('users.payment')%></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Payment Ways -->

      <!-- Home Links -->
      <div class="home-links">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wow fadeInUp" data-wow-delay="100ms">
              <h3><%= t('users.payment')%></h3>
              <ul>
                <li><a href="#"><%= t('users.shipping_Cards')%></a></li>
                <li><a href="#"><%= t('users.payment_Methods')%></a></li>
                <li><a href="#"><%= t('users.transfer_Methods')%></a></li>
                <li><a href="#"><%= t('users.administrative_Expenses')%></a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wow fadeInUp" data-wow-delay="100ms">
              <h3><%= t('users.register_Traders')%></h3>
              <ul>
                <li><a href="#"><%= t('users.registerr')%></a></li>
                <li><a href="#"><%= t('users.register_Features')%></a></li>
                <li><a href="#"><%= t('users.specials_Deals')%></a></li>
                <li><a href="#"><%= t('users.developers')%></a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wow fadeInUp" data-wow-delay="100ms">
              <h3><%= t('users.support_and_assistance')%></h3>
              <ul>
                <li><a href="#"><%= t('users.general_FAQ')%></a></li>
                <li><a href="#"><%= t('users.fAQ')%></a></li>
                <li><a href="/tickets"><%= t('users.requests')%></a></li>
                <li><a href="#"><%= t('users.contact_Us')%></a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 social-links wow fadeInUp" data-wow-delay="100ms">
              <h3><%= t('users.follow_Us')%></h3>
              <ul>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Home Links -->

      <!-- Footer -->
    <footer class="seconde-footer home-main-footer custom-container-2">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 footer-span">
            <span class="currency-converter"><i class="icon-1">$</i><span><span class="hidden-sm hidden-xs"><%= t('users.exchange')%></span><span class="arial-text">1</span><span class="hidden-sm hidden-xs"><%= t('users.USD')%></span><span class="hidden-lg hidden-md">$</span> = </span><span><span class="arial-text">3.75</span><%= t('users.SAR')%></span></span>
            <span class="user-ip"><i class="icon-1">ip</i><span class="hidden-sm hidden-xs"><%= t('users.iP_Address')%></span> 123.456.78.9</span>
            <div class="links-language">
              <div class="footer-links-list">
                <a href="#" class="link-1"><%= t('users.privacy_policy')%></a>
                <a href="login-record.html" class="link-1"><%= t('users.latest_Account_Login_Records')%></a>
                <a href="javascript:void(0)" data-toggle="modal" data-target="#accsession" class="link-1"><%= t('users.homee')%></a>
              </div>
              <div class="language hidden-sm hidden-xs">
                <a href="#" class="active-language"><%= t('users.arabic')%></a>
                <a href="#">English</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <img src="/assets/img/footer-logo.svg" class="footer-logo"  title="Payers - بايرز">
            <p><%= t('users.payers_Ltd_is_a_licensed_company_of_the_Egyptian_General_Authority_for_Investment')%></p>
            <div class="language hidden-lg hidden-md">
              <a href="#" class="active-language"><%= t('users.arabic')%></a>
              <a href="#">English</a>
            </div>
            <ul class="footer-payment hidden-sm hidden-xs">
              <li><img src="/assets/img/americanexpress.svg" alt="americanexpress"></li>
              <li><img src="/assets/img/mastercard.svg" alt="mastercard"></li>
              <li><img src="/assets/img/paypal.svg" alt="paypal"></li>
              <li><img src="/assets/img/visa-1.svg" alt="visa"></li>
              <li><img src="/assets/img/ico.svg" alt="ico"></li>
              <li><img src="/assets/img/pci.svg" alt="PCI"></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p class="about-mobile"><%= t('users.payers_Ltd_is_a_licensed_company_of_the_Egyptian_General_Authority_for_Investment')%></p>
            <ul class="footer-payment hidden-lg hidden-md">
              <li><img src="/assets/img/americanexpress.svg" alt="americanexpress"></li>
              <li><img src="/assets/img/mastercard.svg" alt="mastercard"></li>
              <li><img src="/assets/img/paypal.svg" alt="paypal"></li>
              <li><img src="/assets/img/visa-1.svg" alt="visa"></li>
              <li><img src="/assets/img/ico.svg" alt="ico"></li>
              <li><img src="/assets/img/pci.svg" alt="PCI"></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer -->

    </div>
    <!-- Container -->

    <!-- Mobile User Menu Not Login -->
    <div class="mobile-user-menu-2">
      <div class="body-mobile-user-menu relative-box">
        <div class="close-mobile-user-menu-2">
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </div>
        <h3><i class="fa fa-bars" aria-hidden="true"></i><%= t('users.menu')%></h3>
        <ul class="mobile-menu">
          <li><a href="/dashboard"><%= t('users.homee')%></a></li>
          <li><a href="#"><%= t('users.personal_account')%></a></li>
          <li><a href="#"><%= t('users.merchant_account')%></a></li>
          <li><a href="#"><%= t('users.transfer')%></a></li>
          <li><a href="/sign_in"><%= t('users.sign_in')%></a></li>
          <li><a href="#"><%= t('users.contact_us')%></a></li>
        </ul>
      </div>
    </div>
    <!-- Mobile User Menu Not Login -->

    <!-- Mobile User Menu -->
    <div class="mobile-user-menu">
      <div class="mobile-user-menu-account">
        <div class="head-mobile-user-menu">
          <div class="mobile-notification-button">
            <div class="notification-button">
              <a href="#"><span>4 <span class="notification-alert"></span></span></a>
            </div>
          </div>
          <div class="username-mobile">
            <img src="/assets/img/mobile-picture.svg" alt="فيصل جاسم">
            <h4>فيصل جاسم</h4>
            <h5>غير مفعل</h5>
          </div>
          <div class="close-mobile-user-menu">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
          </div>
        </div>
        <div class="body-mobile-user-menu">
          <ul class="mobile-menu">
            <li><a href="/dashboard"><%= t('users.homee')%></a></li>
            <li><a href="transaction-record-hold.html"><%= t('users.transaction_history')%></a></li>
            <li><a href="new-automation-transaction.html">Payers Automation™</a></li>
          </ul>
          <div class="mobile-active-user">
            <button class="button-3"><%= t('users.activate')%></button>
          </div>
          <ul class="account-menu">
            <li><a href="#"><%= t('users.account_setting')%></a></li>
            <li><a href="#"><%= t('users.commission_Marketing_Program')%></a></li>
            <li><a href="#"><%= t('users.help_center')%></a></li>
            <li><a href="javascript:void(0)" data-toggle="modal" data-target="#payersnews" ><span>جديد</span> <%= t('users.payers_news')%></a></li>
						<li><%= button_to t('users.log_out'), sign_out_path, method: :delete, class: "logout-link" %></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Mobile User Menu -->

    <!-- Notification List -->
    <div class="notification-overlay notification-overlay-2">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <button class="close-notification-toggled"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>

      <div class="notification-list">
        <h4><%= t('users.notifications')%>
          <div class="notification-button">
            <a href="#"><span>4 <span class="notification-alert"></span></span></a>
          </div>
        </h4>
        <div class="notification-content">
          <ul class="nav-style">
            <li class="active"><a data-toggle="tab" href="#notification-account"><%= t('users.your_account')%></a></li>
            <li><a data-toggle="tab" href="#notification-payers"><%= t('users.payers_admin')%> <span>2</span></a></li>
          </ul>
          <div class="tab-content">
            <div id="notification-account" class="tab-pane fade in active">
              <a href="#" class="delete-notification"><%= t('users.delete_all_notifications')%></a>
              <ul>
                <li>
                  <a href="#"><%= t('users.you_have_exhausted')%></a>
                  <span><%= t('users.august')%></span>
                </li>
                <li>
                  <a href="#"><%= t('users.the_case_of')%></a>
                  <span><%= t('users.august')%></span>
                </li>
              </ul>
              <div class="archive-notification-button">
                <a href="#" class="button-3"><%= t('users.archive')%></a>
                <a href="#"><%= t('users.manage_mail_and_SMS_alerts')%></a>
              </div>
            </div>
            <div id="notification-payers" class="tab-pane fade">
              <a href="#" class="delete-notification"><%= t('users.delete_all_notifications')%></a>
              <ul>
                <li>
                  <a href="#"><%= t('users.you_have_exhausted')%></a>
                  <span><%= t('users.august')%></span>
                </li>
              </ul>
              <div class="archive-notification-button">
                <a href="#" class="button-3"><%= t('users.august')%></a>
                <a href="#"><%= t('users.archive')%></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Notification List -->

    <!-- Add Credit -->
    <div class="modal fade popup-box" id="addcredit" tabindex="-1" role="dialog" aria-labelledby="addcreditLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"><%= t('users.new_credit_card')%></h4>
            <span data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
          </div>
          <div class="modal-body">
            <form>
              <div class="row margin-b-25">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-b-25-m">
                  <div class="inputstyle inputstyle-span inputarial input-card-number">
                    <span class="text-span"><%= t('users.card_number')%><span><%= t('users.digits_s')%></span></span>
                    <input type="text" name="" placeholder="••••     ••••     ••••     8501">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="inputstyle inputstyle-span input-card-date">
                    <span class="text-span"><%= t('users.expired_date')%></span>
                    <input type="text" name="" placeholder= t('users.month')>
                    <span class="slach-text">/</span>
                    <input type="text" name="" placeholder= t('users.year')>
                  </div>
                </div>
              </div>
              <div class="row margin-b-25">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-b-25-m">
                  <div class="inputstyle">
                    <input type="text" name="" placeholder= t('users.name_on_the_card')>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="inputstyle inputstyle-span inputarial">
                    <span class="text-span"><%= t('users.password')%><span><%= t('users.degitss')%></span></span>
                    <input type="password" name="" placeholder="•••">
                  </div>
                </div>
              </div>
              <label class="checkbox-label margin-b-30">
                <input type="checkbox"><%= t('users.make_it')%>
                <span class="checkmarkbox"></span>
              </label>
              <div class="row">
                <div class="col-xs-6">
                  <button class="button-1"><%= t('users.add_card')%></button>
                </div>
                <div class="col-xs-6 text-left">
                  <a href="#" class="remove-usersetting-box-2"><i class="fa fa-trash-o" aria-hidden="true"></i><%= t('users.delete')%></a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Credit -->

    <!-- Active Account -->
    <div class="modal fade popup-box" id="activeacc" tabindex="-1" role="dialog" aria-labelledby="activeaccLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content relative-box">
          <div class="active-account-text">
            <h3><%= t('users.please_activate_your_email_now')%></h3>
            <p><%= t('users.you_must_click_on_the_activation_link_in_the_message_that_we_sent_to_your_mail')%></p>
            <button class="button-3"><%= t('users.resend_activation_message')%></button>
            <a href="#"><%= t('users.are_available_at_the_Technical_Support_Center_to_help_you')%></a>
          </div>
        </div>
      </div>
    </div>
    <!-- Active Account -->

    <!-- Active Session -->
    <div class="modal fade popup-box" id="accsession" tabindex="-1" role="dialog" aria-labelledby="aaccsessionLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"><%= t('users.active_sessions')%></h4>
            <span data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
          </div>
          <div class="modal-body">
            <p><%= t('users.here')%></p>
            <ul class="user-session">
              <li class="current-device">
                <span><img src="/assets/img/this-device.svg" alt="pc"></span>
                <div class="user-session-info">
                  <h4><%= t('users.iMac_Computer')%></h4>
                  <div class="device-ip-info">
                    <span class="this-device"><%= t('users.this_Device')%></span>
                    <span class="device-ip"><span>IP:</span> 85.154.150.79</span>
                  </div>
                </div>
              </li>
              <li>
                <span><img src="/assets/img/mobile.svg" alt="mobile"></span>
                <div class="user-session-info">
                  <h4><%= t('users.smartphone')%></h4>
                  <div class="device-ip-info">
                    <span><%= t('users.last_active')%></span>
                    <span class="device-ip"><span>IP:</span> 85.154.150.79</span>
                    <a href="#"><%= t('users.log_out')%></a>
                  </div>
                </div>
              </li>
              <li>
                <span><img src="/assets/img/tablet.svg" alt="tablet"></span>
                <div class="user-session-info">
                  <h4><%= t('users.smart_Panell')%></h4>
                  <div class="device-ip-info">
                    <span><%= t('users.last_active')%></span>
                    <span class="device-ip"><span>IP:</span> 85.154.150.79</span>
                    <a href="#"><%= t('users.log_out')%></a>
                  </div>
                </div>
              </li>
            </ul>
            <a class="button-3" href="#"><%= t('users.sign_out')%></a>
          </div>
        </div>
      </div>
    </div>
    <!-- Active Session -->

    <!-- News Payers -->
    <div class="modal fade popup-box" id="payersnews" tabindex="-1" role="dialog" aria-labelledby="payersnewsLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"><%= t('users.payers_news')%></h4>
            <span data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
          </div>
          <div class="modal-body">
            <ul class="payers-news">
              <li>
                <span><span><%= t('users.new')%></span><%= t('users.september')%></span>
                <a href="#"><%= t('users.access_all')%></a>
                <p><%= t('users.adding_the')%></p>
              </li>
              <li>
                <span><span><%= t('users.new')%></span><%= t('users.september')%></span>
                <a href="#"><%= t('users.add_list')%></a>
                <p><%= t('users.adding_the')%></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- News Payers -->



    <!-- Jquery Files -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.flagstrap.min.js"></script>
    <script  src="/assets/js/steps.js"></script>
    <script  src="/assets/js/wow.min.js"></script>
    <script src='/assets/js/jquery-ui.min.js'></script>
    <script src='/assets/js/bootstrap-datepicker.min.js'></script>
    <script src='/assets/js/bootstrap-datepicker.ar.js'></script>
    <script src="/assets/js/main.js"></script>

    <!-- For Index Only -->
    <script type="text/javascript">
      $(function(){
        // Wow
        new WOW().init();
      });
    </script>

  </body>
</html>
