<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tag %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>التسجيل</title>

    <!-- Bootstrap -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" >

    <!-- Bootstrap rtl -->
    <link href="/assets/css/bootstrap.min.rtl.css" rel="stylesheet" >

    <!-- Animate -->
    <link rel="stylesheet" href="/assets/css/animate.css" >

    <!-- Fonts -->
    <link rel="stylesheet" href="/assets/css/fonts.css" >
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

    <!-- Flags -->
    <link href="/assets/css/flags.css" rel="stylesheet">

    <!-- Style -->
    <link rel="stylesheet" href="/assets/style.css" >

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

    <!-- Container Style -->
    <div id="container-style-2" >
      <div class="container">

        <!-- Simple Head -->
        <div class="row">
          <div class="col-lg-12">
            <div class="simple-head text-left back-text">
              <a href="index.html"><i class="fa fa-arrow-left" aria-hidden="true"></i> <span><%= t('users.back_to_Homepage')%></span></a>
            </div>
          </div>
        </div>
        <!-- Simple Head -->

        <!-- Login Form -->
        <div class="row">
          <div class="col-lg-12">
            <div class="payers-black-style-inside">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="forms-block outside-forms forms-block-width login-form margin-b-25-m">
                  <%= form_for @user do |form| %>
                    <% if @user.errors.any? %>
                      <div id="error_explanation">
                        <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
                          <ul>
                            <% @user.errors.full_messages.each do |message| %>
                              <li><%= message %></li>
                            <% end %>
                          </ul>
                      </div>
                    <% end %>
                    <div class="text-center">
                      <img src="assets/img/forms-logo.svg" alt="Payers">
                    </div>
                    <h1 class="text-center forms-title"><%= t('users.register_New_Account')%></h1>
                    <div class="row margin-b-25">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-b-25-m">
                        <div class="inputstyle">
                          <span id="fname"></span>
                          <%= form.text_field :firstname , placeholder: t('users.first_Name') ,:autocomplete => "off" , :required => true, 'data-error' => '#fname' %>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="inputstyle">
                          <span id="lname"></span>
                          <%= form.text_field :lastname , placeholder: t('users.last_Name') ,:autocomplete => "off" , :required => true, 'data-error' => '#lname' %>
                        </div>
                      </div>
                    </div>
                    <div class="row margin-b-25">
                      <div class="col-xs-12">
                        <div class="inputstyle inputstyle-span selectstyle">
                          <span class="text-span"><%= t('users.residancy_Counntry')%></span>
                          <%= form.select :country_id, options_for_select( Country.all.collect {|p| [ p.Full_Name, p.id ] } ), {} %>
                        </div>
                      </div>
                    </div>
                    <div class="row margin-b-25">
                      <div class="col-lg-12">
                        <div class="inputstyle inputstyle-span inputarial text-l">
                          <span class="text-span"><%= t('users.email')%></span>
                            <div class="row">
                              <span id="v_email" class="col-lg-4"></span>
                                <div class="col-lg-8">
                                  <%= form.text_field :email , placeholder: 'AhmedGomaa@gmail.com', :required => true, 'data-error' => '#v_email' %>
                                </div>
                            </div>
                        </div>
                        <span class="steps-p" id="repeated_mail" style="color:red; display:none;"><%= t('users.mail_already')%></span>
                        <span class="steps-p" id="notacceped" style="color:red; display:none"><%= t('users.unacceptable')%></span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="inputstyle inputstyle-span inputarial view-password">
                          <span class="view-password-sp">
                            <label class="checkbox-label"><%= t('users.show_Password')%>
                              <input type="checkbox" onclick="myFunction()">
                              <span class="checkmarkbox"></span>
                            </label>
                          </span>
                          <span class="text-span"><%= t('users.current_Password')%></span>
                            <div class="row">
                              <div class="col-lg-6">
                                <%= form.password_field :password , placeholder: '•••••••••••••••••••••••••' , :required => true, 'data-error' => '#v_pass'  %>
                              </div>
                              <span id="v_pass" class="steps-p"></span>
                            </div>
                        </div>
                      </div>
                    </div>
                    <span  class="steps-p" id="unacceptedpass" style="color:red ;  display:none;"><%= t('users.password_must_contain_uppercase_and_lowercase_letters_and_numbers_not_less_than_8_characters')%> </span>
                    <div class="row margin-t-30 margin-b-40 radius-checkbox">
                      <div class="col-xs-12">
                        <label class="checkbox-label"><%= t('users.i_agree_to')%>
                          <input type="checkbox" name="accept_terms" , data-error='#v_check' required>
                          <span class="checkmarkbox"></span>
                        </label>
                        <span id="v_check"></span>
                      </div>
                    </div>
                    <div class="row margin-t-30">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-5">
                        <button id='submit' type="submit" class="pbtn button-1"><%= t('users.register_New_Account')%></button>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-7 form-register-link">
                        <a href="/sign_in"><%= t('users.do_you')%></a>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="outside-forms text-center">
                  <img src="assets/img/register-img.svg" alt="التسجيل">
                  <div class="register-text">
                  <h3><%= t('users.now_you_can')%></h3>
                    <p><%= t('users.with_more_than')%></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Login Form -->

      <!-- Footer -->
      <footer class="main-footer custom-container">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-5">
              <img class="footer-logo" src="assets/img/footer-logo.svg" alt="Payers">
              <div class="footer-text">
                <p class="hidden-xs"><%= t('users.payers_Ltd_is_a_licensed_company_of_the_Egyptian_General_Authority_for_Investment')%></p>
                <ul class="footer-payment hidden-sm hidden-xs">
                  <li><img src="/assets/img/americanexpress.svg" alt="americanexpress"></li>
                  <li><img src="/assets/img/mastercard.svg" alt="mastercard"></li>
                  <li><img src="/assets/img/paypal.svg" alt="paypal"></li>
                  <li><img src="/assets/img/visa-1.svg" alt="visa"></li>
                  <li><img src="/assets/img/ico.svg" alt="ico"></li>
                  <li><img src="/assets/img/pci.svg" alt="PCI"></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-7 hidden-lg hidden-md hidden-sm mobile-language">
              <div class="language hidden-lg hidden-md">
                <a href="#" class="active-language">اللغة العربية</a>
                <a href="#">English</a>
              </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 footer-links text-left hidden-xs">
              <a href="#" class="link-1">سياسة الخصوصية</a>
              <div class="language">
                <a href="#" class="active-language">اللغة العربية</a>
                <a href="#">English</a>
              </div>
            </div>
          </div>
          <div class="row hidden-lg hidden-md">
            <div class="col-xs-12">
              <p class="hidden-lg hidden-md hidden-sm"><%= t('users.payers_Ltd_is_a_licensed_company_of_the_Egyptian_General_Authority_for_Investment')%><</p>
            </div>
          </div>
          <div class="row hidden-lg hidden-md">
            <div class="col-xs-12">
              <ul class="footer-payment">
                <li><img src="assets/img/americanexpress.svg" alt="americanexpress"></li>
                <li><img src="assets/img/mastercard.svg" alt="mastercard"></li>
                <li><img src="assets/img/paypal.svg" alt="paypal"></li>
                <li><img src="assets/img/visa-1.svg" alt="visa"></li>
                <li><img src="assets/img/ico.svg" alt="ico"></li>
                <li><img src="assets/img/pci.svg" alt="PCI"></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer -->
    </div>
    <!-- Container Style -->

    <%= render :partial => 'layouts/script' %>

    <script>
      function myFunction()
        {
          var x = document.getElementById("user_password");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
      };
      $(document).ready(function()
        {
          $('#submit').click(function()
            {
              var form = $( "#new_user" );
              form.validate({
                rules: {
                  accept_terms: {
                    required: true
                  }
                },
                //ignore: [],
                messages: {
                'user[firstname]': { required: "الإسم الأول ( لا يمكن تركه فارغاً )"  },
                'user[lastname]': { required: "الإسم الأخير ( لا يمكن تركه فارغاً )"  },
                'user[email]': { required: "يرجى إدخال البريد الإلكترونى"  },
                'user[password]': { required: "يرجى إدخال كلمة المرور"  },
                'accept_terms': { required: "يرجى الموافقة على الشروط"  },
                      },
                errorPlacement: function(error, element) {
                  var placement = $(element).data('error');
                  if (placement) {
                    $(placement).append(error)
                    $(element).closest('div[class="inputstyle"]').addClass("inputstyle-span inputimportant");
                    $(element).closest('div[class="inputstyle inputstyle-span inputarial text-l"]').addClass("inputimportant");
                    $(element).closest('div[class="inputstyle inputstyle-span inputarial view-password"]').addClass("inputimportant");
                    $(element).closest('div[class="col-xs-12"]').addClass("inputimportant");

                  }
                  else {
                    error.insertAfter(element);
                  }
                }
              });
            });
            $('#user_password').keyup(function()
		          {
                var pass1 = $("#user_password").val();
				        if ( pass1.match(/^(((?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])))(?=.{8,})/) )
					        {
                    $('#unacceptedpass').hide();
                    $("#submit").removeAttr("disabled");
					        }
				        else
					        {
                    $('#unacceptedpass').show();
					          $('#submit').attr('disabled',true);
                  }
            });
            $('#user_email').keyup(function(){
              $("#repeated_mail").hide();
              $("#notacceped").hide();
              var email = $('#user_email').val();
              if(email != 0)
              {
                var filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
                if (filter.test(email)) {
                  $("#notacceped").hide();
                  $.ajax({
                  type:'get',
                  url:'/check_mail',
                  data:{email:email},
                  contentType: "application/json",
                  dataType: "json",
                    success: function(data){
                      if(data.bool == "True"){
                        $("#submit").attr("disabled", "disabled");
                        $("#repeated_mail").show();
                        }
                      else if(data.bool == "False")
                      {
                        $("#submit").removeAttr("disabled");
                        $("#repeated_mail").hide();
                      }
                    }
                  });
                }
                else {
                  $("#notacceped").show();
                  $("#submit").attr("disabled", "disabled");
                }
              }
            });
            $(window).keydown(function(event){
              if(event.keyCode == 13) {
                event.preventDefault();
                return false;
              }
            });
          });
    </script>
  </body>
</html>
