

<!-- Title Page -->
<div class="head-page title-page custom-container-2">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1><%= t('users.account_setting')%></h1>
        <p><%= t('users.brief_summary_of_your_balance_urgent_matters_and_last_transaction')%></p>
      </div>
    </div>
  </div>
</div>
<!-- Title Page -->


<!-- Dashboard -->
<div class="custom-container-2">
  <div class="container">
    <div class="row">
       <%= render :partial => 'layouts/sidemenu' %>
      <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 relative-box">
        <div class="change-password-box">
          <div class="change-password">
            <p class="margin-b-25"><%= t('users.to_be_able')%></p>
            <%= form_for :auhthenticate_user, :html => {:id => 'auhthenticate_user'} , :url => pass_to_security_settings_path do |form| %>
              <div class="row margin-b-20">
                <div class="col-xs-12">
                  <div class="inputstyle inputstyle-span inputarial view-password">
                    <span class="view-password-sp">
                      <label class="checkbox-label"><%= t('users.show_Password')%>
                        <input type="checkbox" onclick="myFunction()">
                        <span class="checkmarkbox"></span>
                      </label>
                    </span>
                    <span class="text-span"><%= t('users.current_Password')%></span>
                    <%= form.password_field :password, :placeholder => "•••••••••••••••••••••••••" , :required => true, :autocomplete => "off" %>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button id="submit" class="button-1"><%= t('users.show_my_Secure_Settings')%></button>
              </div>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="white-box-2 margin-b-25">
              <form>
                <div class="row margin-b-25">
                  <div class="col-xs-12">
                    <div class="inputstyle inputstyle-span inputarial view-password">
                      <span class="view-password-sp">
                        <label class="checkbox-label"><%= t('users.show_Password')%>
                          <input type="checkbox">
                          <span class="checkmarkbox"></span>
                        </label>
                      </span>
                      <span class="text-span"><%= t('users.current_Password')%></span>
                      <input type="password" name=" " placeholder="•••••••••••••••••••••••••">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <button class="button-1"><%= t('users.save_new_password')%></button>
                  </div>
                </div>
              </form>
            </div>
            <div class="user-setting-box secure-user user-setting-p white-box-2 margin-b-30">
              <h3><%= t('users.protect_your_account_2_step_verification')%></h3>
              <p class="margin-b-20"><%= t('users.2_Step_Verification_adds_an_extra_layer_of_security_to_your_Payers_account_Each_time_you_sign_in_you_ll_need_a_password_and_pass_through_one_of_the_following_steps')%></p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="white-box-2 user-setting-p secure-password user-setting-box margin-b-25">
              <h3><%= t('users.secret_Sentence')%></h3>
              <p><%= t('users.when_we_send_you_a_message_on_your_email_you_will_have_the_secret_sentence_you_choose_so_that_100_%_is_sure_that_the_message_sent_is_from_payers_and_not_from_any_deceptive')%></p>
              <form>
                <div class="row margin-b-25">
                  <div class="col-xs-12">
                    <div class="inputstyle inputstyle-span inputarial view-password">
                      <span class="view-password-sp">
                        <label class="checkbox-label"><%= t('users.show_Password')%>
                          <input type="checkbox">
                          <span class="checkmarkbox"></span>
                        </label>
                      </span>
                      <span class="text-span"><%= t('users.current_Password')%></span>
                      <input type="password" name=" " placeholder="•••••••••••••••••••••••••">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <button class="button-3"><%= t('users.save_new_password')%></button>
                  </div>
                </div>
              </form>
            </div>
            <div class="white-box-2 user-setting-session user-setting-p user-setting-box margin-b-25">
                  <h3><%= t('users.latest_Activity_on_Accountd')%></h3>
                  <p><%= t('users.here_you_ll_find_out_whether_you_re_signed_in_to_payers_from_a_evice_browser_or_other_location')%></p>
                  <ul class="user-session">
                  <% @logins = Login.where(:user_id => current_user.id).all.order('created_at desc') %>
                    <% @logins.all.each do |login| %>
                      <li>
                        <% if login.user_agent !~ /\b(Android|iPhone|iPad|Windows Phone|Opera Mobi|Kindle|BackBerry|PlayBook)\b/i %>
                          <img src="/assets/img/pc.svg" alt="pc">
                          <div class="user-session-info">
                            <h4><%= t('users.iMac_Computer')%></h4>
                        <% elsif login.user_agent =~ /\b(Android|iPhone|Windows Phone|Opera Mobi|Kindle|BackBerry|PlayBook)\b/i %>
                          <img src="/assets/img/mobile.svg" alt="mobile">
                          <div class="user-session-info">
                            <h4><%= t('users.phonee')%></h4>
                        <% else %>
                          <img src="/assets/img/tablet.svg" alt="tablet">
                          <div class="user-session-info">
                            <h4><%= t('users.smart_panel')%> </h4>
                        <% end %>
                          <div class="device-ip-info">
                          <% if login.device_id == cookies[:device_id] %>
                            <span class="this-device"><%= t('users.this_Device')%></span>
                            <span class="device-ip"><span>IP:</span><%= login.ip_address %></span>
                          <% else %>
                            <span><%= t('users.last_seen')%><%= time_ago_in_words(login.created_at) %></span>
                            <span class="device-ip"><span>IP:</span><%= login.ip_address %></span>
                          <% end %>
                          </div>
                        </div>
                      </li><br>
                    <% end %>
                  </ul>
                  <p class="trust-message"><%= t('users.your_account_does_not_appear_to_be_open_concurrently_from_anywhere_else')%></p>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Dashboard -->
 <script>
    function myFunction()
    {
        var x = document.getElementById("auhthenticate_user_password");
        if (x.type === "password") {
        x.type = "text";
        } else {
        x.type = "password";
        }
    };
</script>
