<!-- Title Page -->
<div class="head-page title-page custom-container-2">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1><%= t('users.account_setting')%></h1>
        <p><%= t('users.brief_summary_of_your_balance,_urgent_matters_and_last_transaction')%></p>
      </div>
    </div>
  </div>
</div>
<!-- Title Page -->


    <!-- Dashboard -->
    <div class="custom-container-2">
      <div class="container">
        <div class="row">
         <%= render :partial => 'layouts/sidemenu' %>
          <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="white-box-2 margin-b-25">
                  <%= form_for @user , html: {:id => "change_password#{@user.id}"} do |form| %>
                    <div class="row margin-b-25">
                      <div class="col-xs-12">
                        <div class="inputstyle inputstyle-span inputarial view-password">
                          <span class="view-password-sp">
                            <label class="checkbox-label"><%= t('users.show_Password')%>
                              <input type="checkbox" onclick="myFunction('user_password')">
                              <span class="checkmarkbox"></span>
                            </label>
                          </span>
                          <span class="text-span"><%= t('users.current_Password')%></span>
                          <%= form.password_field :password , placeholder: '•••••••••••••••••••••••••' , :required => true%>
                        </div>
                        <span id="unacceptedpass" class="steps-p" style="color:red; display:none;"><%= t('users.password_must_contain_uppercase_and_lowercase_letters_and_numbers_not_less_than_8_characters')%></span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <button id="save_password" type="submit" class="button-1"><%= t('users.save_new_password')%></button>
                      </div>
                    </div>
                  <% end %>
                </div>
                <div class="user-setting-box secure-user user-setting-p white-box-2 margin-b-30">
                  <h3><%= t('users.protect_your_account_2_step_verification')%></h3>
                  <p class="margin-b-20"><%= t('users.protect_your_account_2_step_verification')%></p>
                  <ul>
                    <li>
                      <span class="email-auth"></span>
                      <div class="secure-text">
                        <h5><%= t('users.email_contains_secret_code')%></h5>
                        <p><%= t('users.send_code_to_your_mail')%></p>

                        <% if current_user.active_otp == 1 %>
                          <p class="secure-activated-text"><i class="fa fa-envelope-o" aria-hidden="true"></i><%= current_user.email%></p>
                          <span class="secure-activated"><i class="fa fa-check" aria-hidden="true"></i><%= t('users.active')%></span><a href="#"><%= t('users.edit_setting')%></a><a class="cancel-secure" href="#"><%= t('users.cancel_verification')%></a>
                        <% else %>
                          <a id="change_to_mail" href="javascript:void(0)" data-toggle="modal" data-target="#email-active"><%= t('users.activate_SMS_verification')%></a>
                        <% end %>
                      </div>
                    </li>
                    <li>
                      <span class="sms-auth"></span>
                      <div class="secure-text">
                        <h5><%= t('users.code_in_sms')%></h5>
                        <p><%= t('users.send_sms_to_your_phone')%></p>
                        <% if current_user.active_otp == 3%>
                          <p class="secure-activated-text"><i class="fa fa-envelope-o" aria-hidden="true"></i><%= current_user.email%></p>
                          <span class="secure-activated"><i class="fa fa-check" aria-hidden="true"></i><%= t('users.active')%></span><a href="#"><%= t('users.edit_setting')%></a><a class="cancel-secure" href="#"><%= t('users.cancel_verification')%></a>
                        <% else %>
                          <a id="change_to_sms" href="javascript:void(0)" data-toggle="modal" data-target="#sms-active"><%= t('users.activate_SMS_verification')%></a>
                        <% end %>
                      </div>
                    </li>
                    <li>
                      <span class="google-auth"></span>
                      <div class="secure-text">
                        <h5><%= t('users.google_authenticator_code')%></h5>
                        <p><%= t('users.use_the_Google_Authenticator_authentication_app_on_your_mobile_device_to_generate_a_secret_code_every_time_you_sign_in_to_your_account_at_payers')%></p>
                        <% if current_user.active_otp == 2 %>
                          <p class="secure-activated-text"><i class="fa fa-envelope-o" aria-hidden="true"></i><%= current_user.email%></p>
                          <span class="secure-activated"><i class="fa fa-check" aria-hidden="true"></i><%= t('users.active')%></span><a href="#"><%= t('users.edit_setting')%></a><a class="cancel-secure" href="#"><%= t('users.cancel_verification')%></a>
                        <% else %>
                          <a id="change_to_gauth" href="javascript:void(0)" data-toggle="modal" data-target="#google-auth-active"><%= t('users.enable_Google_Authenticator')%></a>
                        <% end %>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="white-box-2 user-setting-p secure-password user-setting-box margin-b-25">
                  <h3><%= t('users.current_Password')%></h3>
                  <p><%= t('users.when_we_send_you_a_message_on_your_email_you_will_have_the_secret_sentence_you_choose_so_that_100_%_is_sure_that_the_message_sent_is_from_payers_and_not_from_any_deceptive')%></p>
                  <%= form_for @user , html: {:id => "secretcode#{@user.id}"}  do |form| %>
                    <div class="row margin-b-25">
                      <div class="col-xs-12">
                        <div class="inputstyle inputstyle-span inputarial view-password">
                          <span class="view-password-sp">
                            <label class="checkbox-label"><%= t('users.show_Password')%>
                              <input type="checkbox" onclick="myFunction('user_secret_code')">
                              <span class="checkmarkbox"></span>
                            </label>
                          </span>
                          <span class="text-span"><%= t('users.current_Password')%></span>
                          <%= form.password_field :secret_code , placeholder: '•••••••••••••••••••••••••', :value => current_user.secret_code , :required => true%>
                        </div>
                        <span id="secret_error" class="steps-p" style="color:red; display:none;"><%= t('users.must_not_exceed_10_characters')%></span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                         <button id="change_secret_code" type="submit" class="button-3"><%= t('users.save_Secret_Sentance')%></button>
                      </div>
                    </div>
                  <% end %>
                </div>
                <div class="white-box-2 user-setting-session user-setting-p user-setting-box margin-b-25">
                  <h3><%= t('users.latest_Activity_on_Account')%></h3>
                  <p><%= t('users.here_you_ll_find_out_whether_you_re_signed_in_to_payers_from_a_evice_browser_or_other_location')%></p>
                  <ul class="user-session">
                  <% @logins = Login.where(:user_id => current_user.id).all.order('created_at desc') %>
                  <% @logins.all.each do |login| %>
                    <li>
                      <% if login.user_agent !~ /\b(Android|iPhone|iPad|Windows Phone|Opera Mobi|Kindle|BackBerry|PlayBook)\b/i %>
                        <img src="/assets/img/pc.svg" alt="pc">
                        <div class="user-session-info">
                          <h4><%= t('users.iMac_Computer')%></h4>
                      <% elsif login.user_agent =~ /\b(Android|iPhone|Windows Phone|Opera Mobi|Kindle|BackBerry|PlayBook)\b/i %>
                        <img src="/assets/img/mobile.svg" alt="mobile">
                        <div class="user-session-info">
                          <h4><%= t('users.this_Device')%></h4>
                      <% else %>
                        <img src="/assets/img/tablet.svg" alt="tablet">
                        <div class="user-session-info">
                          <h4>لوح ذكي </h4>
                      <% end %>
                        <div class="device-ip-info">
                        <% if login.device_id == cookies[:device_id] %>
                          <span class="this-device"><%= t('users.this_Device')%></span>
                          <span class="device-ip"><span>IP:</span><%= login.ip_address %></span>
                        <% else %>
                          <span><%= t('users.last_seen_1_day_ago')%><%= time_ago_in_words(login.created_at) %></span>
                          <span class="device-ip"><span>IP:</span><%= login.ip_address %></span>
                        <% end %>
                        </div>
                      </div>
                    </li><br>
                  <% end %>
                  </ul>
                  <p class="trust-message"><%= t('users.your_account_does_not_appear_to_be_open_concurrently_from_anywhere_else')%></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Dashboard -->

    <!-- Secure By SMS -->
    <div class="modal fade popup-box secure-popup-box" id="sms-active" tabindex="-1" role="dialog" aria-labelledby="sms-activeLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
              <span class="simple-popup-title"><%= t('users.two_Step Verification')%></span>
              <%= t('users.activate_verification')%><span class="arial-text"><%= t('users.sMS')%></span>
            </h4>
            <span id="close_sms" data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
          </div>
          <div class="modal-body">
          <%# form_for @user , html: {:id => "two_fac_sms_#{@user.id}"} do |form| %>
            <%# form.hidden_field :active_otp, value: '3',id: "sms_active_otp" %>
            <div id="before_sms_verify_current">
              <p class="margin-b-25"><%= t('users.enter_the_activation')%></p>
              <div class="row margin-b-30">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                  <div class="inputstyle inputstyle-span inputarial">
                    <span class="text-span"><%= t('users.code')%></span>
                    <input type="text" id="before_sms_current_code" name="" placeholder="71249">
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                  <a id="before_sms_timer" class="text-link" style="display: none;"></a>
                  <a id="before_sms_resend_code" class="text-link" style="display: none;"><%= t('users.resend_the_message')%></a>
                  <a id="before_sms_code_status" class="steps-p"  style="color:red; display: none;"><%= t('users.error_code')%></a>
                </div>
              </div>
              <button type="button" id="check_current_code_before_sms" class="button-1"><%= t('users.check_the_code')%></button>
            </div>
            <div id="verify_sms" style="display: none;" >
              <p class="margin-b-25"><%= t('users.now_this_is_the_mobile')%></p>
              <div class="row">
                <div class="col-xs-12">
                  <div class="inputstyle inputstyle-span-mobile relative-box">
                    <span class="text-span"><%= t('users.phone_number')%></span>
                    <input type="text" name="" id="phone" placeholder="<%= current_user.telephone%>" disabled>
                    <div id="select-c" data-input-name="country2" data-selected-country="<%= current_user.country.short_code%>"></div>
                  </div>
                </div>
              </div>
                <p class="popup-note margin-b-25 margin-t-25"><%= t('users.we_have_sent')%></p>
                <div class="row margin-b-30">
                  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="inputstyle inputstyle-span inputarial">
                      <span class="text-span"><%= t('users.code')%></span>
                      <input type="text" name="" id="code_for_sms" placeholder="71249" >
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <a id="timer_for_sms" class="text-link" style="display: none;"></a>
                    <a id="resend_code_for_sms" class="text-link" style="display: none;" ><%= t('users.resend_the_message')%></a>
                    <a id="code_status_for_sms" class="steps-p"  style="color:red; display: none;"><%= t('users.error_code')%></a>
                  </div>
                </div>
                <button type="button" id="verify_for_sms" class="button-1" ><%= t('users.activate_verification_via')%></button>
            </div>
          <%# end %>
          </div>
        </div>
      </div>
    </div>
    <!-- Secure By SMS -->

    <!-- Secure By E-mail -->
    <div class="modal fade popup-box secure-popup-box" id="email-active" tabindex="-1" role="dialog" aria-labelledby="email-activeLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
              <span class="simple-popup-title"><%= t('users.two_Step_Verification')%></span>
              <%= t('users.activate_email')%>
            </h4>
            <span data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
          </div>
          <div class="modal-body">
          <%# form_for @user , html: {:id => "two_fac_mail_#{@user.id}"} do |form| %>
            <%# form.hidden_field :active_otp, value: '1', id: "mail_active_otp" %>
            <div id="before_mail_verify_current">
              <p class="margin-b-25"><%= t('users.enter_activation_code')%></p>
              <div class="row margin-b-30">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                  <div class="inputstyle inputstyle-span inputarial">
                    <span class="text-span"><%= t('users.code')%></span>
                    <input type="text" id="before_mail_current_code" name="" placeholder="71249">
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                  <a id="before_mail_timer" class="text-link" style="display: none;"></a>
                  <a id="before_mail_resend_code" class="text-link" style="display: none;"  ><%= t('users.resend_the_message')%></a>
                  <a id="before_mail_code_status" class="steps-p"  style="color:red; display: none;"><%= t('users.error_code')%></a>
                </div>
              </div>
              <button type="button" id="check_current_code_before_mail" class="button-1"><%= t('users.check_the_code')%></button>
            </div>
            <div id="verify_mail" style="display: none;">
              <p class="margin-b-25"><%= t('users.this_is_your_mail')%></p>
              <div class="row">
                <div class="col-xs-12">
                  <div class="inputstyle inputstyle-span inputarial">
                    <span class="text-span"><%= t('users.email')%></span>
                    <input type="text" name="" placeholder="<%= current_user.email%>" disabled>
                  </div>
                </div>
              </div>
              <p class="popup-note margin-b-25 margin-t-25"><%= t('users.enter_code_from_email')%></p>
              <div class="row margin-b-30">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                  <div class="inputstyle inputstyle-span inputarial">
                    <span class="text-span"><%= t('users.code')%></span>
                    <input type="text" name="" id="code_for_mail" placeholder="71249" autocomplete="off" >
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                  <a id="timer_for_mail" class="text-link" style="display: none;"></a>
                  <a id="resend_code_for_mail" class="text-link" style="display: none;" ><%= t('users.resend_the_message')%></a>
                  <a id="code_status_for_mail" class="steps-p"  style="color:red; display: none;"><%= t('users.error_code')%></a>
                </div>
              </div>
              <button type="button" id="verify_for_mail" class="button-6"><%= t('users.activate_email')%></button>
            </div>
          <%# end %>
          </div>
        </div>
      </div>
    </div>
    <!-- Secure By E-mail -->

    <!-- Secure By Google Authenticator -->
    <div class="modal fade popup-box secure-popup-box" id="google-auth-active" tabindex="-1" role="dialog" aria-labelledby="google-authLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
              <span class="simple-popup-title"><%= t('users.two_Step_Verification')%></span>
              <%= t('users.activate_Google_Authenticator_verification')%>

            </h4>
            <span data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
          </div>
          <div class="modal-body">
          <%# form_for @user , html: {:id => "two_fac_gauth_#{@user.id}"} do |form| %>
            <%# form.hidden_field :active_otp, value: '2', id: "gauth_active_otp" %>
            <div id="before_gauth_verify_current">
              <p class="margin-b-25"><%= t('users.enter_the_activation')%></p>
              <div class="row margin-b-30">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                  <div class="inputstyle inputstyle-span inputarial">
                    <span class="text-span"><%= t('users.code')%></span>
                    <input type="text" id="before_gauth_current_code" name="" placeholder="71249">
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                  <a id="before_gauth_timer" class="text-link" style="display: none;"></a>
                  <a id="before_gauth_resend_code" class="text-link" style="display: none;"  ><%= t('users.resend_the_message')%></a>
                  <a id="before_gauth_code_status" class="steps-p"  style="color:red; display: none;"><%= t('users.error_code')%></a>
                </div>
              </div>
              <button type="button" id="check_current_code_before_gauth" class="button-1"><%= t('users.check_the_code')%></button>
            </div>
            <div id="verify_gauth" style="display: none;">
              <div class="margin-b-25">
                <span class="step-number">1</span>
                <div class="step-content download-app">
                  <p class="margin-b-10"><%= t('users.install_Google')%></p>
                  <a href="#"><img src="assets/img/apple-app.png" alt="apple-app"></a> <a href="#"><img src="assets/img/android-app.png" alt="android-app"></a>
                </div>
              </div>
              <div class="margin-b-25">
                <span class="step-number">2</span>
                <div class="step-content g-code">
                  <p class="margin-b-10"><%= t('users.open_the_Google')%><span>+</span><%= t('users.use_your_phone')%></p>
                  <div id="qrcode"></div><br>
                  <p class="margin-b-10"><%= t('users.or_enter')%></p>
                  <div class="inputstyle inputstyle-span inputarial">
                    <span class="text-span"><%= t('users.symbol')%></span>
                    <input type="text" name="otp_secret_key" id="otp_secret_key" placeholder="1234564445555" >
                  </div>
                </div>
              </div>
              <div class="margin-b-40">
                <span class="step-number">3</span>
                <div class="step-content download-app">
                  <p class="margin-b-10"><%= t('users.shows_a')%></p>
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                      <div class="inputstyle inputstyle-span inputarial">
                        <span class="text-span"><%= t('users.code')%></span>
                        <input type="text" name="" id="code_for_gauth" placeholder="880256" >
                      </div>
                    <a id="code_status_for_gauth" class="steps-p"  style="color:red; display: none;"><%= t('users.error_code')%></a>
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" id="verify_for_gauth" class="button-1"><%= t('users.activate_Google_Authenticator_verification')%></button>
            </div>
          <%# end %>
          </div>
        </div>
      </div>
    </div>
    <!-- Secure By Google Authenticator -->



<script src="/assets/js/jquery.min.js"></script>
<script language="JavaScript" type="text/javascript" src="/assets/js/qrcode.min.js"></script>

<script>
  function myFunction(id)
    {
      var x = document.getElementById(id);
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
  };

  function send_sms_to_verify_sms(phone)
  {
    $("#before_sms_verify_current").hide();
    $("#verify_sms").show();
    $.ajax({ type:'get',url:'/send2fasms',data:{phone:phone},contentType: "application/json",dataType: "json", success: function(data)
    {
      $('#timer_for_sms').show();
      $('#resend_code_for_sms').hide();
      var timer = 10;
      var interval = setInterval(function() {
      timer--;
      $('#timer_for_sms').text('<%= "رابط إعادة الإرسال بعد " %>'+ ' '+ timer );
      if (timer === 0) {
        clearInterval(interval);
        $('#resend_code_for_sms').show();
        $('#timer_for_sms').hide()}
        }, 1000);
        }});
  }

  function send_mail_before_sms(current)
  {
    var retval = null;
    $.ajax({
      type:'get',url:'/send_confirmation_mail',data:{id:current},contentType: "application/json",dataType: "json",cache:false,success: function(data)
      {
        var timer = 10;
        var interval = setInterval(function() {
          timer--;
          $('#before_sms_timer').show();
          $('#before_sms_resend_code').hide();
          $('#before_sms_timer').text('<%= "رابط إعادة الإرسال بعد " %>'+ ' '+ timer );
          if (timer === 0) {
            clearInterval(interval);
            $('#before_sms_resend_code').show();
            $('#before_sms_timer').hide()}
        }, 1000);
        if (data)
          {
            retval = data.result;
          }
      }
    });
    return retval;
  }

  $(document).ready(function()
    {
      var qrcode = new QRCode("qrcode");
      var current = '<%= current_user.active_otp %>';
      var phone = '<%= current_user.telephone %>';
      var current_token = '';
      $('#user_password').keyup(function()
		    {
          var pass1 = $("#user_password").val();
          if ( pass1.match(/^(((?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])))(?=.{8,})/) )
            {
              $('#unacceptedpass').hide();
              $("#save_password").removeAttr("disabled");
            }
          else
            {
              $('#unacceptedpass').show();
              $('#save_password').attr('disabled',true);
          }
      });
      $('#user_secret_code').keyup(function()
        {
          var secretcode = $("#user_secret_code").val();
          if ( secretcode.length > 10 )
            {
              $('#secret_error').show();
              $('#change_secret_code').attr('disabled',true);
            }
          else
            {
              $('#secret_error').hide();
              $("#change_secret_code").removeAttr("disabled");
            }
      });

      $('#change_to_sms').click(function()
        {
          //$("#before_sms_current_code").prop('required',true);
          //$("#check_current_code_before_sms").attr('disabled',true);
          if (current == 1){
            //var retval = send_mail_before_sms(current);
            //current_token = retval;
            //console.log(current_token);
            $.ajax({
              type:'get',url:'/send_confirmation_mail',data:{id:current},contentType: "application/json",dataType: "json",cache:false,success: function(data)
              {
                var timer = 10;
                var interval = setInterval(function() {
                  timer--;
                  $('#before_sms_timer').show();
                  $('#before_sms_resend_code').hide();
                  $('#before_sms_timer').text('<%= "رابط إعادة الإرسال بعد " %>'+ ' '+ timer );
                  if (timer === 0) {
                    clearInterval(interval);
                    $('#before_sms_resend_code').show();
                    $('#before_sms_timer').hide()}
                }, 1000);
                if (data)
                  {
                    current_token = data.result;
                  }
              }
            });
          }
        });

        $('#before_sms_resend_code').click(function()
        {
          $("#before_sms_code_status").hide();
          $.ajax({
            type:'get',url:'/send_confirmation_mail',data:{id:1},contentType: "application/json",dataType: "json",cache:false,success: function(data)
            {
              var timer = 10;
              var interval = setInterval(function() {
                timer--;
                $('#before_sms_timer').show();
                $('#before_sms_resend_code').hide();
                $('#before_sms_timer').text('<%= "رابط إعادة الإرسال بعد " %>'+ ' '+ timer );
                if (timer === 0) {
                  clearInterval(interval);
                  $('#before_sms_resend_code').show();
                  $('#before_sms_timer').hide()}
              }, 1000);
              if (data)
                {
                  current_token = data.result;
                }
            }
          });
        });


        $('#before_sms_current_code').keyup(function()
        {
          //$("#check_current_code_before_sms").removeAttr("disabled");
        });

        $('#check_current_code_before_sms').click(function()
        {
          var user_code = $("#before_sms_current_code").val();
          type = "sms"
          if (current == 1){
            if (user_code == current_token)
              {
                send_sms_to_verify_sms(phone);
              }
            else
              {
                $("#before_sms_verify_current").show();
                $("#before_sms_code_status").show();
                $("#verify_sms").hide();
              }
          }
          else if(current == 2){
            $.ajax({type:'get',url:'/confirm_google_code',data:{code:user_code},contentType: "application/json",dataType: "json",cache:false,success: function(data)
              {
                if (data.result == true)
                  {
                    send_sms_to_verify_sms(phone);
                  }
                else if (data.result == false)
                  {
                    $("#before_sms_verify_current").show();
                    $("#before_sms_code_status").show();
                    $("#verify_sms").hide();
                  }
                  }});
              }
        });

        $('#resend_code_for_sms').click(function()
        {
          $.ajax({ type:'get',url:'/resendsms',data:{phone:phone},contentType: "application/json",dataType: "json", success: function(data)
            {
              $('#timer_for_sms').show();
              $('#resend_code_for_sms').hide();
              $('#code_status_for_sms').hide();
              var timer = 10;
              var interval = setInterval(function() {
              timer--;
              $('#timer_for_sms').text('<%= "رابط إعادة الإرسال بعد " %>'+ ' '+ timer );
              if (timer === 0) {
                clearInterval(interval);
                $('#resend_code_for_sms').show();
                $('#timer_for_sms').hide()}
                }, 1000);
                }});
          });

        $('#verify_for_sms').click(function()
        {
          var code = $("#code_for_sms").val();
          $.ajax({ type:'get',url:'/verifysms_code',
            data:{code:code,tel:phone},
            contentType: "application/json",
            dataType: "json",
            success: function(data){
              if (data.message == "true"){
                 //$('#two_fac_sms_<%= @user.id %>').submit();
                  $.ajax({ type:'get',url:'/change_two_factor',
                  data:{id:3},
                  contentType: "application/json",
                 dataType: "json",
                 success: function(data){
                  if (data.result == "true"){
                    $('#code_status_for_sms').hide();
                    $('#sms-active').modal('hide');
                    setTimeout(function(){// wait for 5 secs(2)
                    location.reload(); // then reload the page.(3)
                      }, 500);
                    }
                  }
                });

              }
              else {
                $('#code_status_for_sms').text('<%= "رمز خطأ" %>');
                $('#code_status_for_sms').show();
              }
            }
          });
        });

        $('#change_to_mail').click(function()
        {
          //$("#before_mail_current_code").prop('required',true);
          //$("#check_current_code_before_sms").attr('disabled',true);
          if (current == 3){
            $('#before_mail_timer').show();
            $('#before_mail_resend_code').hide();
            $.ajax({
               type:'get',url:'/send2fasms',data:{phone:phone},contentType: "application/json",dataType: "json",cache:false,success: function(data)
                {
                  var timer = 10;
                  var interval = setInterval(function() {
                    timer--;

                    $('#before_mail_timer').text('<%= "رابط إعادة الإرسال بعد " %>'+ ' '+ timer );
                    if (timer === 0) {
                      clearInterval(interval);
                      $('#before_mail_resend_code').show();
                      $('#before_mail_timer').hide()}
                  }, 1000);
                }
             });
          }
        });

        $('#before_mail_resend_code').click(function()
        {
           $('#before_mail_code_status').hide();
          $.ajax({
            type:'get',url:'/resendsms',data:{phone:phone},contentType: "application/json",dataType: "json",cache:false,success: function(data)
            {
              var timer = 10;
              var interval = setInterval(function() {
                timer--;

                $('#before_mail_timer').text('<%= "رابط إعادة الإرسال بعد " %>'+ ' '+ timer );
                if (timer === 0) {
                  clearInterval(interval);
                  $('#before_mail_resend_code').show();
                  $('#before_mail_timer').hide()}
              }, 1000);
            }
          });
        });

        $('#check_current_code_before_mail').click(function()
        {
          var user_code = $("#before_mail_current_code").val();
          type = "mail"
          if (current == 3){
            $.ajax({ type:'get',url:'/verifysms_code',
              data:{code:user_code,tel:phone},
              contentType: "application/json",
              dataType: "json",
              success: function(data){
                if (data.message == "true"){
                  $("#before_mail_verify_current").hide();
                  $("#verify_mail").show();
                  $.ajax({type:'get',url:'/send_confirmation_mail',data:{id:1},contentType: "application/json",dataType: "json",cache:false,success: function(data)                  {
                    $('#timer_for_mail').show();
                    $('#resend_code_for_mail').hide();
                    var timer = 10;
                    var interval = setInterval(function() {
                    timer--;
                    $('#timer_for_mail').text('<%= "رابط إعادة الإرسال بعد " %>'+ ' '+ timer );
                    if (timer === 0) {
                      clearInterval(interval);
                      $('#resend_code_for_mail').show();
                      $('#timer_for_mail').hide();}
                      }, 1000);
                    if (data)
                    {
                      current_token = data.result;
                    }
                  }});
                }
                else {
                  $("#before_mail_verify_current").show();
                  $("#before_mail_code_status").show();
                  $("#verify_mail").hide();

                }
              }
            });
          }
          else if(current == 2){

            $.ajax({type:'get',url:'/confirm_google_code',data:{code:user_code},contentType: "application/json",dataType: "json",cache:false,success: function(data)
              {
                if (data.result == true)
                  {
                    $("#before_mail_verify_current").hide();
                    $("#verify_mail").show();
                    $.ajax({type:'get',url:'/send_confirmation_mail',data:{id:1},contentType: "application/json",dataType: "json",cache:false,success: function(data)
                    {
                      $('#timer_for_mail').show();
                      $('#resend_code_for_mail').hide();
                      var timer = 10;
                      var interval = setInterval(function() {
                      timer--;
                      $('#timer_for_mail').text('<%= "رابط إعادة الإرسال بعد " %>'+ ' '+ timer );
                      if (timer === 0) {
                        clearInterval(interval);
                        $('#resend_code_for_mail').show();
                        $('#timer_for_mail').hide();}
                        }, 1000);
                      if (data)
                        {
                          current_token = data.result;
                        }
                    }});
                  }
                else if (data.result == false)
                  {
                    $("#before_mail_verify_current").show();
                    $("#before_mail_code_status").show();
                    $("#verify_mail").hide();
                  }
              }});
          }
        });

        $('#resend_code_for_mail').click(function()
        {
          $("#before_mail_code_status").hide();
          $.ajax({type:'get',url:'/send_confirmation_mail',data:{id:1},contentType: "application/json",dataType: "json",cache:false,success: function(data)
            {
              $('#timer_for_mail').show();
              $('#resend_code_for_mail').hide();
              var timer = 10;
              var interval = setInterval(function() {
              timer--;
              $('#timer_for_mail').text('<%= "رابط إعادة الإرسال بعد " %>'+ ' '+ timer );
              if (timer === 0) {
                clearInterval(interval);
                $('#resend_code_for_mail').show();
                $('#timer_for_mail').hide();}
                }, 1000);
              if (data)
                {
                  current_token = data.result;
                }
            }});
        });


        $('#verify_for_mail').click(function()
        {
          var code = $("#code_for_mail").val();
          if (code == current_token)
              {
                 //$('#two_fac_mail_<%= @user.id %>').submit();
                  $.ajax({ type:'get',url:'/change_two_factor',
                  data:{id:1},
                  contentType: "application/json",
                  dataType: "json",
                  success: function(data){
                    if (data.result == "true"){
                     $('#code_status_for_mail').hide();
                     $('#email-active').modal('hide');
                     setTimeout(function(){// wait for 5 secs(2)
                     location.reload(); // then reload the page.(3)
                      }, 500);
                    }
                  }
                });

              }
              else {
                $('#code_status_for_mail').text('<%= "رمز خطأ" %>');
                $('#code_status_for_mail').show();
              }
        });

        $('#change_to_gauth').click(function()
        {
          $('#before_gauth_timer').show();
          $('#before_gauth_resend_code').hide();
          if (current == 1){
            $.ajax({
                type:'get',url:'/send_confirmation_mail',data:{id:1},contentType: "application/json",dataType: "json",cache:false,success: function(data)
                {
                  var timer = 10;
                  var interval = setInterval(function() {
                  timer--;
                  $('#before_gauth_timer').text('<%= "رابط إعادة الإرسال بعد " %>'+ ' '+ timer );
                  if (timer === 0) {
                    clearInterval(interval);
                    $('#before_gauth_resend_code').show();
                    $('#before_gauth_timer').hide()}
                  }, 1000);
                  if (data)
                    {
                      current_token = data.result;
                    }
                }
            });
          }
          else if (current == 3)  {
            $.ajax({
                type:'get',url:'/send2fasms',data:{phone:phone},contentType: "application/json",dataType: "json",cache:false,success: function(data)
                {
                  var timer = 10;
                  var interval = setInterval(function() {
                  timer--;
                  $('#before_gauth_timer').text('<%= "رابط إعادة الإرسال بعد " %>'+ ' '+ timer );
                  if (timer === 0) {
                    clearInterval(interval);
                    $('#before_gauth_resend_code').show();
                    $('#before_gauth_timer').hide()}
                  }, 1000);
                }
              });
          }
        });

        $('#before_gauth_resend_code').click(function()
        {
          $('#before_gauth_timer').show();
          $('#before_gauth_resend_code').hide();
          $('#before_gauth_code_status').hide();
          if (current == 1){
            $.ajax({
                type:'get',url:'/send_confirmation_mail',data:{id:1},contentType: "application/json",dataType: "json",cache:false,success: function(data)
                {
                  var timer = 10;
                  var interval = setInterval(function() {
                  timer--;
                  $('#before_gauth_timer').text('<%= "رابط إعادة الإرسال بعد " %>'+ ' '+ timer );
                  if (timer === 0) {
                    clearInterval(interval);
                    $('#before_gauth_resend_code').show();
                    $('#before_gauth_timer').hide()}
                  }, 1000);
                  if (data)
                    {
                      current_token = data.result;
                    }
                }
            });
          }
          else if (current == 3)  {
            $.ajax({
                type:'get',url:'/resendsms',data:{phone:phone},contentType: "application/json",dataType: "json",cache:false,success: function(data)
                {
                  var timer = 10;
                  var interval = setInterval(function() {
                  timer--;
                  $('#before_gauth_timer').text('<%= "رابط إعادة الإرسال بعد " %>'+ ' '+ timer );
                  if (timer === 0) {
                    clearInterval(interval);
                    $('#before_gauth_resend_code').show();
                    $('#before_gauth_timer').hide()}
                  }, 1000);
                }
              });
          }
         });

        $('#check_current_code_before_gauth').click(function()
        {
          var user_code = $("#before_gauth_current_code").val();
          if (current == 3){
            $.ajax({ type:'get',url:'/verifysms_code',
              data:{code:user_code,tel:phone},
              contentType: "application/json",
              dataType: "json",
              success: function(data){
                if (data.message == "true"){
                  $("#before_gauth_verify_current").hide();
                  $("#verify_gauth").show();
                  $.ajax({type:'get',url:'/generate_qr_code',data:{id:"google"},contentType: "application/json",dataType: "json",cache:false,success: function(data)
                    {
                      if (data)
                        {
                          var qr = data.result.data;
                          var otp_secret_key = data.otp_secret_key;
                          $("#qrcode").show();
                          $("#otp_secret_key").val(otp_secret_key);
                          qrcode.makeCode(qr);
                        }
                    }
                  });
                }
                else {
                  $("#before_gauth_verify_current").show();
                  $("#before_gauth_code_status").show();
                  $("#verify_gauth").hide();
                }
              }
            });
          }
          else if(current == 1){
            if (user_code == current_token){
              $("#before_gauth_verify_current").hide();
              $("#verify_gauth").show();
              $.ajax({type:'get',url:'/generate_qr_code',data:{id:"google"},contentType: "application/json",dataType: "json",cache:false,success: function(data)
                {
                  if (data)
                    {
                      var qr = data.result.data;
                      var otp_secret_key = data.otp_secret_key;
                      $("#qrcode").show();
                      $("#otp_secret_key").val(otp_secret_key);
                      qrcode.makeCode(qr);
                    }
                }
              });
            }
            else {
              $("#before_gauth_verify_current").show();
              $("#before_gauth_code_status").show();
              $("#verify_gauth").hide();
            }


          }
        });

        $('#verify_for_gauth').click(function()
        {
          var code = $("#code_for_gauth").val();
          $.ajax({type:'get',url:'/confirm_google_code',data:{code:code},contentType: "application/json",dataType: "json",cache:false,success: function(data)
            {
              if (data.result == true)
                {
                  //$('#two_fac_gauth_<%= @user.id %>').submit();
                  $.ajax({ type:'get',url:'/change_two_factor',
                  data:{id:2},
                   contentType: "application/json",
                  dataType: "json",
                  success: function(data){
                   if (data.result == "true"){
                     $('#code_status_for_gauth').hide();
                     $('#google-auth-active').modal('hide');
                     setTimeout(function(){// wait for 5 secs(2)
                     location.reload(); // then reload the page.(3)
                      }, 500);
                    }
                  }
                  });
                }
              else {
                $('#code_status_for_gauth').text('<%= "رمز خطأ" %>');
                $('#code_status_for_gauth').show();
                }
            }
          });
        });

  });

</script>
