<!-- Title Page -->
<div class="head-page title-page custom-container-2">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1><%= t('users.account_Settings')%></h1>
        <p><%= t('users.brief_summary_of_your_balance_urgent_matters_and_last_transaction')%></p>
      </div>
    </div>
  </div>
</div>
<!-- Title Page -->


<!-- Dashboard -->
<div class="custom-container-2">
  <div class="container">
    <div class="row">
      <%= render :partial => 'layouts/sidemenu' %>
      <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <div class="user-setting-box user-email-box white-box-2 paragraph-1 margin-b-30">
              <h3><%= t('users.the_email_associated_with_my_account')%></h3>
              <h4 style="font-size:20px;" ><%= @user.email %></h4>
              <p><%= t('users.you_can_not_edit_your_email_because_it_is_registered_with_your_account')%></p>
            </div>
            <div class="white-box-2 paragraph-1 margin-b-25">
              <% @nationalid_verification = NationalidVerification.where(user_id: current_user.id).pluck(:status).first %>
              <% @verification = UserInfo.where(user_id: current_user.id.to_i).first %>

              <%= form_for @user, html: {:id => "edit_personal_data"}  do |form| %>
                <div class="row margin-b-25">
                  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-b-25-m">
                    <div class="inputstyle">
                      <span id="fname"></span>
                        <% if @nationalid_verification == "UnVerified" or @nationalid_verification == nil %>
                          <%= form.text_field :firstname, placeholder: t('users.first_name'), :autocomplete => "off", :required => true, 'data-error' => '#fname' %>
                        <% else %>
                          <%= form.text_field :firstname, placeholder: t('users.first_name'), :autocomplete => "off", :required => true, 'data-error' => '#fname', :disabled => true %>
                        <% end %>
                    </div>
                  </div>
                  <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                    <div class="inputstyle">
                      <span id="lname"></span>
                      <% if @nationalid_verification == "UnVerified" or @nationalid_verification == nil %>
                        <%= form.text_field :lastname, placeholder: t('users.last_name'), :autocomplete => "off", :required => true, 'data-error' => '#lname' %>
                      <% else %>
                        <%= form.text_field :lastname, placeholder: t('users.last_name'), :autocomplete => "off", :required => true, 'data-error' => '#lname', :disabled => true %>
                      <% end %>
                      </div>
                  </div>
                </div>
                <div class="row margin-b-25">
                  <div class="col-xs-12">
                    <div class="inputstyle inputstyle-span selectstyle">
                      <span class="text-span"><%= t('users.country')%></span>
                      <%= form.select(:country_id,  options_for_select(Country.all.collect {|p| [ p.Full_Name, p.id ] }, :selected => form.object.country_id ) ,{}, :disabled => true ) %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="inputstyle inputstyle-span selectstyle">
                      <span class="text-span"><%= t('users.default_Currency')%></span>
                      <%= form.select :account_currency, options_for_select( [[t('users.american_Dollar'),false],[t('users.local_currency'),true]], :selected => form.object.account_currency), {} %>
                    </div>
                  </div>
                </div>
                <p class="margin-b-25" style="margin-top:5px;"><%= t('users.payers_financial')%></p>

                <div class="row">
                  <div class="col-xs-12">
                    <div class="inputstyle inputstyle-span selectstyle">
                      <span class="text-span"><%= t('users.language')%></span>
                      <%= form.select :language, options_for_select( [[t('اللغة العربية'),"ar"],[t('English'),"en"]], :selected => form.object.language), {} %>
                    </div>
                  </div>
                </div><br>
                
                <div class="row">
                  <div class="col-xs-12">
                    <div class="inputstyle inputstyle-span-mobile relative-box">
                      <span class="text-span"><%= t('users.mobile_Number')%></span>
                      <span id="phone_name"></span>
                      <% if @verification and @verification.mobile == 1 %>
                        <%= form.text_field :telephone, placeholder: '993344555', :autocomplete => "off", :required => true, 'data-error' => '#phone_name', :disabled => true %>
                      <% else %>
                        <%= form.text_field :telephone, placeholder: '993344555', :autocomplete => "off", :required => true, 'data-error' => '#phone_name' %>
                      <% end %>
                      <div id="select-c" data-input-name="country2" data-selected-country="<%= current_user.country.short_code%>"></div>
                    </div>
                    <span  class="steps-p" >* <%= t('users.phone_number_should_be_in_the_country')%></span>
                    <br><span  class="steps-p" id="repeated_phone" style=" color:red; display:none;" ></span>
                  </div>
                </div><br>
                <div class="row">
                  <div class="col-xs-12">
                    <button id="send_personal_data" type="submit" class="button-1"><%= t('users.save_Edites')%></button>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <div class="user-setting-box user-id-box relative-box white-box-2 paragraph-1 margin-b-30">
              <h3><%= t('users.my_Payers_ID')%></h3>
              <h4><%= @user.account_number %></h4>
              <p><%= t('users.this_number_is_unmatched_and_associated_with_your_account_It_can_not_be_used_This_number_is_used_for_depositing_by_local_agents_or_in_technical_support_operations')%></p>
            </div>
            <div class="user-setting-box user-active-account-box white-box-2 paragraph-1">
              <h3><%= t('users.activate_account')%></h3>
              <p class="active-paragraph"><%= t('users.in_order_to_increase_the_monthly_limit_of_transactions_to_dollar_ 10,000_ and_to_be_able_to_withdraw_your_balance_and_benefit_from_all_Payers_services_you_must_activate_the_account')%></p>
              <div class="active-account-list">
                <label class="radio-label"><%= t('users.activate_Phone_Number')%>
                <% if @user_infos and @user_infos.mobile == 1%>
                  <input type="checkbox" checked="checked" name="radio" disabled>
                <% else %>
                  <input type="checkbox" name="radio" disabled>
                <% end %>
                  <span class="checkmarkradio"></span>
                </label>
                <label class="radio-label"><%= t('users.upload_Nationa_ID')%>
                <% if @current_user_nationalid and (@current_user_nationalid.status == "Pending" or @current_user_nationalid.status == "Verified") %>
                  <input type="checkbox" checked="checked" name="radio" disabled>
                <% else %>
                  <input type="checkbox" name="radio" disabled>
                <% end %>
                  <span class="checkmarkradio"></span>
                </label>
                <label class="radio-label"><%= t('users.upload_your_Selfie_with_Nationa_ID')%>
                <% if @current_user_address and (@current_user_address.status == "Pending" or @current_user_address.status == "Verified") %>
                  <input type="checkbox" checked="checked" name="radio" disabled>
                <% else %>
                  <input type="checkbox" name="radio" disabled>
                <% end %>
                  <span class="checkmarkradio"></span>
                </label>
                <label class="radio-label"><%= t('users.upload_your_Selfie_with-Nationa_ID')%>
                <% if @current_user_selfie and (@current_user_selfie.status == "Pending" or @current_user_selfie.status == "Verified") %>
                  <input type="checkbox" checked="checked" name="radio" disabled>
                <% else %>
                  <input type="checkbox" name="radio" disabled>
                <% end %>
                  <span class="checkmarkradio"></span>
                </label>
              </div>
              <a href="/activate_account" class="button-3"><%= t('users.start_activate_your_account_now')%></a>
              <p><%= t('users.check_the_validity_and_accuracy_of_the_documents_you_are_uploading_until_your_account_is_activated_Someone_will_check_these_documents_manually_to_ensure_that_they_are_safe')%></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Dashboard -->

<script src="/assets/js/jquery.min.js"></script>


<script>
  $(document).ready(function()
    {
      $('#send_personal_data').click(function()
        {
          var form = $( "#edit_personal_data" );
          form.validate({
            rules: {
              accept_terms: {
                required: true
              }
            },
            //ignore: [],
            messages: {
            'user[firstname]': { required: t('users.first_name_can_not_be_left_empty')  },
            'user[lastname]': { required: t('users.last_name_can_not_be_left_empty') },
            'user[telephone]': { required: t('users.phone_number_can_not_be_left_empty')  },
                  },
            errorPlacement: function(error, element) {
              var placement = $(element).data('error');
              if (placement) {
                $(placement).append(error)
                $(element).closest('div[class="inputstyle"]').addClass("inputstyle-span inputimportant");
                $(element).closest('div[class="inputstyle inputstyle-span-mobile relative-box"]').addClass("inputstyle-span inputimportant");

              }
              else {
                error.insertAfter(element);
              }
            }
          });
        });

        

        
        $('#user_telephone').keyup(function()
        {
          var phone = $("#user_telephone").val();
          $.ajax({
            type:'get',
            url:'/check_phone',
            data:{phone:phone},
            contentType: "application/json",
            dataType: "json",
              success: function(data){
                if(data.message != "True"){
                  $('#repeated_phone').text(data.message);
                  $("#repeated_phone").show();
                  $("#send_personal_data").attr("disabled", "disabled");
                  }
                else
                {
                  $("#repeated_phone").hide();
                  $("#send_personal_data").removeAttr("disabled");
                }
              }
            });
          });

        $(window).keydown(function(event){
          if(event.keyCode == 13) {
            event.preventDefault();
            return false;
          }
        });
      });
  </script>
