<!DOCTYPE html>
 
<% if @cards_status.where(key: "cards_status").pluck(:value).first == "on" %>
<br>
<span style="color: red;font-size: x-large;border:1px solid red;margin-left: 450px;"><%= @cards_status.where(key: "cards_msg").pluck(:value).first %></span>
<% else %>

<div class="container">
  <h1>Cards Categories</h1>
  <div class="row">
    <div class="card" style="width:300px">
      <div class="card-body">
        <h4 class="card-title"><%= @categories[0].card_value %></h4> 
        <a href="/payment_method?val=<%= @categories[0].card_value%>" style="float: right;" class="btn btn-primary">Buy Card</a>
      </div>
    </div>
    
    <div class="card" style="width:300px">
      <div class="card-body">
        <h4 class="card-title"><%= @categories[1].card_value %></h4>
        <a href="/payment_method?val=<%= @categories[1].card_value%>" style="float: right;" class="btn btn-primary">Buy Card</a>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="card" style="width:300px">
      <div class="card-body">
        <h4 class="card-title"><%= @categories[2].card_value %></h4> 
        <a href="/payment_method?val=<%= @categories[2].card_value%>" style="float: right;" class="btn btn-primary">Buy Card</a>
      </div>
    </div>
    
    <div class="card" style="width:300px">
      <div class="card-body">
        <h4 class="card-title"><%= @categories[3].card_value %></h4>
        <a href="/payment_method?val=<%= @categories[3].card_value%>" style="float: right;" class="btn btn-primary">Buy Card</a>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="card" style="width:315px">
      <div class="card-body">
        <h4 class="card-title"><input type="text" id='userInput' value="00"></h4>
        <a href="" id="myBtn" style="float: right;" class="btn btn-primary"><%= t('Buy Your Own Card') %></a>
      </div>
    </div>
  </div>
  <div id="invalid_num" style="display:none;">
  <span id="invalid_message" style="color: red;" class="placeholder-span" ></span>
  </div>
</div>
<% end %>
<script src="/js/jquery-3.3.1.min.js"></script>
<script>

var btn = document.getElementById("myBtn");
btn.onclick = function() {
  userInput = document.getElementById('userInput').value;
  var check = $.isNumeric( userInput);

  if (check == true && userInput > 0){
  btn.href = "/payment_method?val=" + userInput;
  }
  else {
    $('#invalid_message').text("<%= "invalid value" %>");                      
    $('#invalid_num').show();   
    return false; 
  }
}

</script>