<!-- Title Page -->
<div class="head-page title-page custom-container-2">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1><%= t('notifications_settings.account_Settings')%></h1>
        <p><%= t('notifications_settings.brief_summary_of_your_balance_urgent_matters_and_last_transaction')%></p>
      </div>
    </div>
  </div>
</div>
<!-- Title Page -->

<!-- Dashboard -->
<div class="custom-container-2">
  <div class="container">
    <div class="row">
      <%= render :partial => 'layouts/sidemenu' %>
      <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <div class="white-box-2 user-setting-alert margin-b-25">
              <p><%= t('notifications_settings.you_will_be_notified_of_all_the_small_and_small_transactions_on_your_account_through_your_email_and_SMS_messages_to_your_registered_phone')%> <a href="/users/<%= current_user.id%>"><%= t('notifications_settings.personal_data')%></a></p>

              <%= form_with(model: @notifications_setting, local: true) do |form| %>
              <div class="user-setting-alert-table margin-b-50">
                <table class="payers-table">
                  <thead>
                    <tr>
                      <th><%= t('notifications_settings.transaction_Notifications')%></th>
                      <th><%= t('notifications_settings.email')%></th>
                      <th><%= t('notifications_settings.sMS')%></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><%= t('notifications_settings.filing_Transmitter_and_New_Drawings')%></td>
                      <td>
                        <label class="checkbox-label">
                          <% if @notifications_setting.money_transactions == 3 %>
                          <%= form.check_box :money_transactions_mail ,checked: true%>
                          <% elsif @notifications_setting.money_transactions == 2 %>
                          <%= form.check_box :money_transactions_mail %>
                          <% elsif @notifications_setting.money_transactions == 1 %>
                          <%= form.check_box :money_transactions_mail  ,checked: true%>
                          <% elsif @notifications_setting.money_transactions == 0 %>
                          <%= form.check_box :money_transactions_mail %>
                          <% end %>
                          <span class="checkmarkbox"></span>
                        </label>
                      </td>
                      <td>
                        <label class="checkbox-label">
                          <% if @notifications_setting.money_transactions == 3 %>
                          <%= form.check_box :money_transactions_sms ,checked: true %>
                          <% elsif @notifications_setting.money_transactions == 2 %>
                          <%= form.check_box :money_transactions_sms ,checked: true %>
                          <% elsif @notifications_setting.money_transactions == 1 %>
                          <%= form.check_box :money_transactions_sms %>
                          <% elsif @notifications_setting.money_transactions == 0 %>
                          <%= form.check_box :money_transactions_sms %>
                          <% end %>
                          <span class="checkmarkbox"></span>
                        </label>
                      </td>
                    </tr>
                    <tr>
                      <td><%= t('notifications_settings.suspesions_transactions')%></td>
                      <td>
                        <label class="checkbox-label">
                          <% if @notifications_setting.pending_transactions == 3 %>
                          <%= form.check_box :pending_transactions_mail ,checked: true%>
                          <% elsif @notifications_setting.pending_transactions == 2 %>
                          <%= form.check_box :pending_transactions_mail %>
                          <% elsif @notifications_setting.pending_transactions == 1 %>
                          <%= form.check_box :pending_transactions_mail  ,checked: true%>
                          <% elsif @notifications_setting.pending_transactions == 0 %>
                          <%= form.check_box :pending_transactions_mail %>
                          <% end %>
                          <span class="checkmarkbox"></span>
                        </label>
                      </td>
                      <td>
                        <label class="checkbox-label">
                          <% if @notifications_setting.pending_transactions == 3 %>
                          <%= form.check_box :pending_transactions_sms ,checked: true %>
                          <% elsif @notifications_setting.pending_transactions == 2 %>
                          <%= form.check_box :pending_transactions_sms ,checked: true %>
                          <% elsif @notifications_setting.pending_transactions == 1 %>
                          <%= form.check_box :pending_transactions_sms %>
                          <% elsif @notifications_setting.pending_transactions == 0 %>
                          <%= form.check_box :pending_transactions_sms %>
                          <% end %>
                          <span class="checkmarkbox"></span>
                        </label>
                      </td>
                    </tr>
                    <tr>
                      <td><%= t('notifications_settings.current_Transaction_Updates')%></td>
                      <td>
                        <label class="checkbox-label">
                          <% if @notifications_setting.transactions_updates == 3 %>
                          <%= form.check_box :transactions_updates_mail ,checked: true%>
                          <% elsif @notifications_setting.transactions_updates == 2 %>
                          <%= form.check_box :transactions_updates_mail %>
                          <% elsif @notifications_setting.transactions_updates == 1 %>
                          <%= form.check_box :transactions_updates_mail  ,checked: true%>
                          <% elsif @notifications_setting.transactions_updates == 0 %>
                          <%= form.check_box :transactions_updates_mail %>
                          <% end %>
                          <span class="checkmarkbox"></span>
                        </label>
                      </td>
                      <td>
                        <label class="checkbox-label">
                          <% if @notifications_setting.transactions_updates == 3 %>
                          <%= form.check_box :transactions_updates_sms ,checked: true %>
                          <% elsif @notifications_setting.transactions_updates == 2 %>
                          <%= form.check_box :transactions_updates_sms ,checked: true %>
                          <% elsif @notifications_setting.transactions_updates == 1 %>
                          <%= form.check_box :transactions_updates_sms %>
                          <% elsif @notifications_setting.transactions_updates == 0 %>
                          <%= form.check_box :transactions_updates_sms %>
                          <% end %>
                          <span class="checkmarkbox"></span>
                        </label>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="user-setting-alert-table margin-b-50">
                <table class="payers-table">
                  <thead>
                    <tr>
                      <th><%= t('notifications_settings.support_Notifications')%></th>
                      <th><%= t('notifications_settings.email')%></th>
                      <th><%= t('notifications_settings.sMS')%></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><%= t('notifications_settings.support_ticket_updates')%></td>
                      <td>
                        <label class="checkbox-label">
                          <% if @notifications_setting.help_tickets_updates == 3 %>
                          <%= form.check_box :help_tickets_updates_mail ,checked: true%>
                          <% elsif @notifications_setting.help_tickets_updates == 2 %>
                          <%= form.check_box :help_tickets_updates_mail %>
                          <% elsif @notifications_setting.help_tickets_updates == 1 %>
                          <%= form.check_box :help_tickets_updates_mail  ,checked: true%>
                          <% elsif @notifications_setting.help_tickets_updates == 0 %>
                          <%= form.check_box :help_tickets_updates_mail %>
                          <% end %>
                          <span class="checkmarkbox"></span>
                        </label>
                      </td>
                      <td>
                        <label class="checkbox-label">
                          <% if @notifications_setting.help_tickets_updates == 3 %>
                          <%= form.check_box :help_tickets_updates_sms ,checked: true %>
                          <% elsif @notifications_setting.help_tickets_updates == 2 %>
                          <%= form.check_box :help_tickets_updates_sms ,checked: true %>
                          <% elsif @notifications_setting.help_tickets_updates == 1 %>
                          <%= form.check_box :help_tickets_updates_sms %>
                          <% elsif @notifications_setting.help_tickets_updates == 0 %>
                          <%= form.check_box :help_tickets_updates_sms %>
                          <% end %>
                          <span class="checkmarkbox"></span>
                        </label>
                      </td>
                    </tr>
                    <tr>
                      <td><%= t('notifications_settings.new_Replies_to_Support_Tickets')%></td>
                      <td>
                        <label class="checkbox-label">
                          <% if @notifications_setting.tickets_replies == 3 %>
                          <%= form.check_box :tickets_replies_mail ,checked: true%>
                          <% elsif @notifications_setting.tickets_replies == 2 %>
                          <%= form.check_box :tickets_replies_mail %>
                          <% elsif @notifications_setting.tickets_replies == 1 %>
                          <%= form.check_box :tickets_replies_mail  ,checked: true%>
                          <% elsif @notifications_setting.tickets_replies == 0 %>
                          <%= form.check_box :tickets_replies_mail %>
                          <% end %>
                          <span class="checkmarkbox"></span>
                        </label>
                      </td>
                      <td>
                        <label class="checkbox-label">
                          <% if @notifications_setting.tickets_replies == 3 %>
                          <%= form.check_box :tickets_replies_sms ,checked: true %>
                          <% elsif @notifications_setting.tickets_replies == 2 %>
                          <%= form.check_box :tickets_replies_sms ,checked: true %>
                          <% elsif @notifications_setting.tickets_replies == 1 %>
                          <%= form.check_box :tickets_replies_sms %>
                          <% elsif @notifications_setting.tickets_replies == 0 %>
                          <%= form.check_box :tickets_replies_sms %>
                          <% end %>
                          <span class="checkmarkbox"></span>
                        </label>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="user-setting-alert-table">
                <table class="payers-table">
                  <thead>
                    <tr>
                      <th><%= t('notifications_settings.secure_Account_Notifications')%></th>
                      <th><%= t('notifications_settings.email')%></th>
                      <th><%= t('notifications_settings.sMS')%></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><%= t('notifications_settings.account_Login')%></td>

                      <td>
                        <label class="checkbox-label">
                          <% if @notifications_setting.account_login == 3 %>
                          <%= form.check_box :account_login_mail ,checked: true%>
                          <% elsif @notifications_setting.account_login == 2 %>
                          <%= form.check_box :account_login_mail %>
                          <% elsif @notifications_setting.account_login == 1 %>
                          <%= form.check_box :account_login_mail  ,checked: true%>
                          <% elsif @notifications_setting.account_login == 0 %>
                          <%= form.check_box :account_login_mail %>
                          <% end %>
                          <span class="checkmarkbox"></span>
                        </label>
                      </td>
                      <td>
                        <label class="checkbox-label">
                          <% if @notifications_setting.account_login == 3 %>
                          <%= form.check_box :account_login_sms ,checked: true %>
                          <% elsif @notifications_setting.account_login == 2 %>
                          <%= form.check_box :account_login_sms ,checked: true %>
                          <% elsif @notifications_setting.account_login == 1 %>
                          <%= form.check_box :account_login_sms %>
                          <% elsif @notifications_setting.account_login == 0 %>
                          <%= form.check_box :account_login_sms %>
                          <% end %>
                          <span class="checkmarkbox"></span>
                        </label>
                      </td>
                    <tr>
                      <td><%= t('notifications_settings.change_password')%></td>
                      <td>
                        <label class="checkbox-label">
                          <% if @notifications_setting.change_password == 3 %>
                          <%= form.check_box :change_password_mail ,checked: true%>
                          <% elsif @notifications_setting.change_password == 2 %>
                          <%= form.check_box :change_password_mail %>
                          <% elsif @notifications_setting.change_password == 1 %>
                          <%= form.check_box :change_password_mail  ,checked: true%>
                          <% elsif @notifications_setting.change_password == 0 %>
                          <%= form.check_box :change_password_mail %>
                          <% end %>
                          <span class="checkmarkbox"></span>
                        </label>
                      </td>
                      <td>
                        <label class="checkbox-label">
                            <% if @notifications_setting.change_password == 3 %>
                            <%= form.check_box :change_password_sms ,checked: true %>
                            <% elsif @notifications_setting.change_password == 2 %>
                            <%= form.check_box :change_password_sms ,checked: true %>
                            <% elsif @notifications_setting.change_password == 1 %>
                            <%= form.check_box :change_password_sms %>
                            <% elsif @notifications_setting.change_password == 0 %>
                            <%= form.check_box :change_password_sms %>
                            <% end %>
                          <span class="checkmarkbox"></span>
                        </label>
                      </td>
                    </tr>
                    <tr>
                      <td><%= t('notifications_settings.when_you_enable_disable_2_step_verification_settings')%></td>
                      <td>
                        <label class="checkbox-label">
                          <% if @notifications_setting.verifications_setting == 3 %>
                          <%= form.check_box :verifications_setting_mail ,checked: true%>
                          <% elsif @notifications_setting.verifications_setting == 2 %>
                          <%= form.check_box :verifications_setting_mail %>
                          <% elsif @notifications_setting.verifications_setting == 1 %>
                          <%= form.check_box :verifications_setting_mail  ,checked: true%>
                          <% elsif @notifications_setting.verifications_setting == 0 %>
                          <%= form.check_box :verifications_setting_mail %>
                          <% end %>
                          <span class="checkmarkbox"></span>
                        </label>
                      </td>
                      <td>
                        <label class="checkbox-label">
                          <% if @notifications_setting.verifications_setting == 3 %>
                          <%= form.check_box :verifications_setting_sms ,checked: true %>
                          <% elsif @notifications_setting.verifications_setting == 2 %>
                          <%= form.check_box :verifications_setting_sms ,checked: true %>
                          <% elsif @notifications_setting.verifications_setting == 1 %>
                          <%= form.check_box :verifications_setting_sms %>
                          <% elsif @notifications_setting.verifications_setting == 0 %>
                          <%= form.check_box :verifications_setting_sms %>
                          <% end %>
                          <span class="checkmarkbox"></span>
                        </label>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <button class="button-1"><%= t('notifications_settings.save_Edites')%></button>
            </div>
            <% end %>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <div class="white-box-2 user-setting-box user-setting-p user-setting-alert-default relative-box margin-b-25">
              <h3><%= t('notifications_settings.default_settings_for_alerts')%></h3>
              <p class="margin-b-25"><%= t('notifications_settings.it_is_important_to_keep_yourself_informed_of_everything_that_is_on_your_account_we_recommend_that_you_keep_alert_settings_as_they_are_by_default')%></p>
              <p class="margin-b-20"><%= t('notifications_settings.apply_Default_Settings')%></p>
              <a class="button-3" onclick="return confirm_click();" href="/add_defualt_notifications?id=<%= @notifications_setting.id %>"><%= t('notifications_settings.apply_Default_Settings')%></a>

            </div>
            <div class="white-box-2 user-setting-box user-setting-p margin-b-25">
              <h3><%= t('notifications_settings.archive_mail_alerts')%></h3>
              <p class="margin-b-25"><%= t('notifications_settings.we_keep_a_copy_of_all_the_alerts_sent_by_Bayers_to_your_registered_mail_in_the_account_settings_which_you_can_refer_to_at_any_time')%></p>
              <p class="margin-b-20"><%= t('notifications_settings.this_archive_includes_all_emails_you_received_from_payers_since_you_created_your_account_on_15_July_2018')%></p>
              <a href="/user_notifications" class="button-3"><%= t('notifications_settings.notification_Archive')%></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Dashboard -->


<script type="text/javascript">
function confirm_click()
{
return confirm("Are you sure ?");
}
</script>
