<h1>Verify Mobile Number</h1>

<%= form_tag  url_for(:controller => 'user_wallets', :action => 'send_sms_post'), :method => 'post' do %>

    <h4><%= t('User Phone') %></h4>
    <%= number_field_tag :tel %>


    <div style="margin-top:20px;">
        <button type="submit" ><%= t('Send Code') %> </button>
    </div>

  <% end %>