<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Title -->
    <title><%= t('user_wallets.new_send_operation')%></title>

    <%= render :partial => 'layouts/head' %>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

    <!-- Deposite Steps -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="simple-head-2">
            <a href="/new_transaction" class="back-to"><i class="back-arrow"></i></a>
            <div class="center-simple-head">
              <h1><%= t('user_wallets.new_send_operation')%></h1>
              <span><%= t('user_wallets.new_send_operation')%></span>
            </div>
            <a href="/dashboard"><button class="button-4"><%= t('user_wallets.back_to_main')%></button></a>
          </div>
        </div>
      </div>
      <%= form_tag  url_for(:controller => 'user_wallets', :action => 'transfer_balancepost'), :method => 'post' do %>

      <div class="row">
        <div class="col-lg-12">
          <div class="steps-block">
            <div wizard="1" class="step-box relative-box">
              <h2><span>1</span><%= t('user_wallets.amount_send_money')%></h2>
              <div class="input-stpe-box">
                <div class="row margin-b-15">
                  <div class="col-xs-12">
                    <div class="inputstyle inputdollar relative-box">
                      <span><span>$</span> <%= t('users.dollar')%></span>
                      <input type="text" id="amount" name="transferamount" >
                    </div>
                  </div>
                </div>
                <p class="steps-p margin-b-20" id="money_error"><%= t('user_wallets.approximately_sar')%></p>
                <button id="first-step" type="button" onclick="payersWizard(1)" class="button-1"><%= t('user_wallets.send_method')%></button>
              </div>
            </div>
            <div wizard="2" class="step-box relative-box">
              <button type="button" onclick="payersWizard(0)" class="prev-step"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
              <h2><span>2</span><%= t('user_wallets.want_to_send_for')%></h2>
              <div class="input-stpe-box">
                <div class="input-radio-group" id="send_m">
                  <label class="radio-label">
                    <h3><%= t('user_wallets.commodity')%></h3>
                    <p class="steps-p"><%= t('user_wallets.payers_commission')%>  0.09% - <%= t('user_wallets.holding_money_for')%></p>
                    <input type="radio"  value="Product" name="transfer_type" class="transfer_type">
                    <span class="checkmarkradio"></span>
                  </label>
                  <label class="radio-label selected-radio">
                    <h3><%= t('user_wallets.service')%></h3>
                    <p class="steps-p"><%= t('user_wallets.payers_commission')%>  %0.10 - <%= t('user_wallets.holding_money_for')%></p>
                    <input type="radio" checked="checked" value="Service" name="transfer_type" class="transfer_type">
                    <span class="checkmarkradio"></span>
                  </label>

                </div>
                <button type="button" onclick="payersWizard(2)" class="button-1 margin-t-30"><%= t('user_wallets.reciever_data')%></button>
              </div>
            </div>
            <div wizard="3" class="step-box relative-box">
              <button type="button" onclick="payersWizard(1)" class="prev-step"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
              <h2><span>3</span> <%= t('user_wallets.reciever_data')%></h2>
              <div class="input-stpe-box">
                <div class="row margin-b-25">
                  <div class="col-lg-12">
                    <div class="inputstyle inputstyle-span inputarial inputstepspan">
                      <span class="text-span"><%= t('user_wallets.reciever_account')%></span>
                      <input type="text" name="userto"  id="userto" placeholder="AhmedGomaa@gmail.com">
                    </div>
                    <p class="steps-p" id="user_error"><%= t('user_wallets.this_field_is_required')%></p>

                  </div>
                </div>
                <div class="row margin-b-25" id="user_addresses" style="display:none;">
                  <div class="col-xs-12">
                    <div class="inputstyle inputstyle-span selectstyle inputstepspan">
                      <span class="text-span"><%= t('users_banks.shipping_Addresses')%></span>
                      <select id="addresses" name="address_id">
                        <option disabled selected value><%= t('user_wallets.commodity_address')%></option>
                        <% @user_addresses.each do |addresses| %>
                            <option value="<%= addresses.id %>"><%= addresses.address%></option>
                        <% end %>
                      </select>
                    </div>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#addaddress"><span>+</span><%= t('user_wallets.add_new_address')%></a>
                  </div>
                </div>
                <div class="row margin-b-25">
                  <div class="col-xs-12">
                    <div class="inputstyle inputstyle-span selectstyle inputstepspan">
                      <span class="text-span"><%= t('user_wallets.holding_days')%></span>
                      <select id="add-hold">
                        <option value="1"><%= t('user_wallets.send_directly')%></option>
                        <option value="2"><%= t('user_wallets.send_with_hold')%></option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row margin-b-25" id="hold-days" style="display:none;" >
                  <div class="col-xs-12">
                    <div class="inputstyle inputstyle-span selectstyle inputstepspan selectcountry">
                      <span class="text-span"><%= t('user_wallets.holding_days')%></span>
                      <input type="text" name="hold_period" id="hold_period" placeholder="<%= t('user_wallets.you_can_leave_empty')%>">
                    </div>
                  </div>
                </div>
                <div class="row margin-b-30">
                  <div class="col-xs-12">
                    <a href="javascript:void(0)" class="link-style" id="add-note"><%= t('user_wallets.add_note')%></a>
                    <div id="op-note" class="inputstyle inputstyle-span selectstyle inputstepspan selectcountry" style="display:none;">
                      <input type="text"  name="note" placeholder="<%= t('user_wallets.transaction_note')%>">
                    </div>
                  </div>
                </div>
                <button id="second-step" type="button" onclick="payersWizard(3)" class="button-1"><%= t('user_wallets.pay_method')%></button>
              </div>
            </div>
            <div wizard="4" class="step-box relative-box">
              <button type="button" onclick="payersWizard(2)" class="prev-step"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
              <h2><span>4</span> <%= t('user_wallets.choose_pay_method')%></h2>
              <div class="input-stpe-box">
                <div class="input-radio-group">
                  <label class="radio-label  selected-radio">
                    <h3><%= t('user_wallets.from_my_wallet')%></h3>
                    <p class="steps-p" id="usermoney"><%= t('user_wallets.your_balance') %> : 2,210 <%= t('users.dollar') %></p>
                    <input type="radio" checked="checked" value="FromWallet" name="transfer_method" class="transfer_method">
                    <span class="checkmarkradio"></span>
                  </label>
                  <label class="radio-label">
                    <h3><%= t('user_wallets.by_credit')%></h3>
                    <p class="steps-p"><%= t('user_wallets.note_after_credit')%></p>
                    <input type="radio" value="FromVisa" name="transfer_method" class="transfer_method">
                    <span class="checkmarkradio"></span>
                    <div class="select-payment-method deposite-payment inputstyle inputstyle-span-2">
                      <span class="text-span"><%= t('user_wallets.choose_credit')%></span>
                      <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle relative-box" href="#">
                        <span id="selected-payment-method">
                          <img src="/assets/img/visa-payment.svg">
                          <span class="payment-card-number"><%= t('user_wallets.end_with')%> <span>9870</span> </span> 
                          <span class="payment-card-date">05/22</span>
                        </span>
                        <span class="select-payment-arrow"></span>
                      </a>
                      <div class="dropdown-menu">
                        <ul>
                          <li><img src="/assets/img/master-card-payment.svg"><span class="payment-card-number"><%= t('user_wallets.end_with')%> 9870 </span> <span class="payment-card-date">05/22</span></li>
                        </ul>
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#addcredit"><span>+</span> <%= t('user_wallets.add_new_credit')%></a>
                      </div>
                    </div>
                  </label>
                </div>
                <button type="button" onclick="payersWizard(4)" class="button-1 margin-t-30" id="data_review"><%= t('user_wallets.review_data')%></button>
              </div>
            </div>
            <div wizard="5" class="step-box relative-box">
              <button type="button" onclick="payersWizard(3)" class="prev-step"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
              <h2><span>5</span> <%= t('user_wallets.make_sure_from_your_data')%></h2>
              <div class="input-stpe-box final-step-information">
                <div class="row margin-b-25">
                  <div class="col-xs-12">
                    <span><%= t('user_wallets.receiver')%></span>
                    <h3 id="user_data"><img src="/assets/img/user-pic.svg" alt="احمد جمعه - AhmedGomaa@gmail.com"> احمد جمعه - AhmedGomaa@gmail.com</h3>
                  </div>
                </div>
                <div class="row margin-b-25">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <span><%= t('user_wallets.final_amount_receive')%></span>
                    <h3 id="net_money">1000 <%= t('users.dollar')%></h3>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <span><%= t('user_wallets.transfer_type')%></span>
                    <h3 id="pay_type">1000 <%= t('users.dollar')%></h3>
                  </div>
                </div>
                <div class="row margin-b-25">
                  <div class="col-xs-12">
                    <span><%= t('user_wallets.holding_days')%></span>
                    <h3 id="holding">7 أيام - يستلمه يوم 19 سبتمبر 2018</h3>
                  </div>
                </div>
                <div class="row margin-b-25">
                  <div class="col-xs-12">
                    <span><%= t('user_wallets.pay_method')%></span>
                    <h3 id="pay_method"><%= t('user_wallets.by_credit')%></h3>
                  </div>
                </div>
                <div class="row margin-b-25">
                  <div class="col-xs-12">
                    <span><img src="/assets/img/logo-icon.svg" alt="Payers"> <%= t('user_wallets.payers_commission')%></span>
                    <h3><b id="expenses">4$</b></h3>
                  </div>
                </div>
                <div class="row margin-b-25">
                  <div class="col-xs-12">
                    <span class="flex-row">
                      <span class="flex-span"><%= t('user_wallets.fianl_deducted_money')%></span>
                      <span class="flex-span" id="total_money">1004$</span>
                    </span>
                  </div>
                </div>
                <button class="button-2 margin-t-30"><%= t('user_wallets.send_now')%></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>

    <!-- Deposite Steps -->
    <!-- Add Address -->
    <div class="modal fade popup-box" id="addaddress" tabindex="-1" role="dialog" aria-labelledby="addaddressLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"><%= t('addresses.add_New_Shipping_Address')%></h4>
            <span data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
          </div>
          <div class="modal-body">

            <%= form_for Address.new , :html => { :id => "new_address" } do |form| %>

              <div class="row margin-b-25">
                <div class="col-xs-12">
                  <div class="inputstyle inputstyle-span selectstyle inputstepspan selectcountry">
                    <span class="text-span"><%= t('addresses.country')%></span>
                    <%= form.select(:country,  options_for_select(Country.all.collect {|p| [ p.Full_Name, p.Full_Name ] })) %>
                  </div>
                </div>
              </div>

              <div class="row margin-b-25">
                <div class="col-xs-12">
                  <div class="inputstyle">
                  <span id="address"></span>
                  <%= form.text_field :address, placeholder: t('addresses.address'), :autocomplete => "off", :required => true, 'data-error' => '#address' %>
                  </div>
                </div>
              </div>

              <div class="row margin-b-25">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-b-25-m">
                  <div class="inputstyle">
                  <span id="governorate"></span>
                    <%= form.text_field :governorate, placeholder:  t('addresses.governorate'), :required => true, 'data-error' => '#governorate' %>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="inputstyle">
                  <span id="city"></span>
                    <%= form.text_field :city, placeholder: t('addresses.city'), :required => true, 'data-error' => '#city' %>
                  </div>
                </div>
              </div>
              <div class="row margin-b-25">
                <div class="col-xs-12 margin-b-25-m">
                  <div class="inputstyle">
                  <span id="street"></span>
                    <%= form.text_field :street, placeholder: t('addresses.street'), :required => true, 'data-error' => '#street' %>
                  </div>
                </div>
              </div>
              <label class="checkbox-label margin-b-30">
                  <%= form.check_box :default_address %><%= t('addresses.make_this_shipping_address_my_Default_one')%>
                <span class="checkmarkbox"></span>
              </label>
              <div class="row">
                <div class="col-xs-6">
                  <button id='submitaddress' class="button-1"><%= t('addresses.add_New_Address')%></button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Address -->

  <%= render :partial => 'layouts/script' %>
  <script src="/assets/js/add_address.js"></script>
  
  </body>
</html>
<script>

    $(document).ready(function() {
          
        var bb = $("#amount").val();
        var bb = parseFloat(bb)
        var aa = "<%= @aa %>"
        var user_email = $("#userto").val();
        $('#usermoney').text("<%= t('user_wallets.your_balance') %> : " + " <%= @str %> " + "<%= t('users.dollar') %> ");
        if($.isNumeric( bb ) === false || bb > aa || bb <= 0 || bb == null){
          $('#first-step').attr("disabled", "disabled");
        }else {
          $('#first-step').removeAttr("disabled");
        }

        if(user_email == null || user_email == ""){
          $('#second-step').attr("disabled", "disabled");
        }else {
          $('#second-step').removeAttr("disabled");
        }

        function numberWithCommas(x) {
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            return parts.join(".");
        }

        $("#amount").on('input',function() {

          var bb = $("#amount").val();
          var bb = parseFloat(bb)
          var ratio = parseFloat("<%= @currency_ratio %>")
          var totalval = bb * ratio
          var aa = "<%= current_user.user_wallet.amount + current_user.user_wallet.transfer_amount %>"
          if($.isNumeric( bb ) === false || bb > aa || bb <= 0 || bb == null){
            $('#first-step').attr("disabled", "disabled");
            $('#money_error').text("<%= t('user_wallets.cannot_transfer_this_balance') %>");
            $('#money_error').css("color","red");
          }else {
            $('#money_error').text("<%= t('user_wallets.amount_approximately_equal') %> "+ numberWithCommas(totalval.toFixed(2)) +" <%= @currency_name%>");
            $('#money_error').css("color","#657399");
            $('#first-step').removeAttr("disabled");
          }
          
        });

        $("#userto").on('input',function() {
          var amount = $("#amount").val();
          var usermail = $("#userto").val();
          $.ajax({ type:'get',url:'/check_receiver',
          data:{usermail:usermail,amount:amount},
          contentType: "application/json",
          dataType: "json",
          success: function(data){
            //console.log(data.result);
            if(data.result == true){
              $('#second-step').removeAttr("disabled");
              $('#user_error').text("<%= t('user_wallets.accept_this_user') %>");
              $('#user_error').css("color","#0fa3b1");
              $('#user_data').text(data.username);
              $('#net_money').text(data.net_balance + ' ' + "<%= t('users.dollar') %>");
              $('#expenses').text('$' + ' ' + data.expenses);
            }else {
              $('#second-step').attr("disabled", "disabled");
              $('#user_error').text(data.result);
              $('#user_error').css("color","red");
            }
          }
          });
        
        });

        $(".transfer_type").change(function() {
            var selectedmethod = $("input[name='transfer_type']:checked").val();
            console.log(selectedmethod);
            if (selectedmethod == "Product"){
                $('#user_addresses').show();
            }else{
                $('#user_addresses').hide();
            }
        });

        $("#add-hold").change(function() {
          var selectedholdmethod = $( "#add-hold option:selected" ).val();
          if (selectedholdmethod == "2"){
              $('#hold-days').show();
          }else{
              $('#hold-days').hide();
          }
        });        

        $("#add-note").click(function() {
          $('#op-note').show();
        });

        $("#data_review").click(function() {

          var transfer_type = $("input[name='transfer_type']:checked").val();
          if (transfer_type == "Product"){
            var transfer_type = "<%= t('user_wallets.commodity')%>";
          }else{
            var transfer_type = "<%= t('user_wallets.service')%>";
          }
          $('#pay_type').text(transfer_type);

          var transfer_method = $("input[name='transfer_method']:checked").val();
          if (transfer_method == "FromWallet"){
            var transfer_method = "<%= t('user_wallets.from_my_wallet') %>";
          }else{
            var transfer_method = "<%= t('user_wallets.by_credit') %>";
          }
          $('#pay_method').text(transfer_method);

          var address = $( "#addresses option:selected" ).val();
          var hold = $("#hold_period").val();
          if (hold == "" || hold == null){
            var hold = "<%= t('user_wallets.send_directly') %>"
            $('#holding').text(hold);
          }else{
            var today = new Date();
            var d = today.getDate();
            var dd = parseInt(hold) + parseInt(d);
            if ("<%= current_user.language%>" == "en"){
              var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
            }else {
              var months = ["يناير","فبراير","مارس","ابريل","مايو","يونيو","يوليو","اغسطس","سبتمبر","اكتوبر","نوفمبر","ديسمبر"];
            }
            var mm = months[today.getMonth()]; //January is 0!
            var yyyy = today.getFullYear();

            if(dd<10) {
                dd = '0'+dd
            } 

            if(mm<10) {
                mm = '0'+mm
            } 

            today =  dd + ' ' + mm + ' ' + yyyy;
            $('#holding').text(hold + " " + "<%= t('user_wallets.days') %>" + " <%= t('user_wallets.receive_it_at') %> - " + today);
          }
          var amount = $("#amount").val();
          $('#total_money').text('$' + ' ' + amount);
          
        });

    });

</script>