<p id="notice"><%= notice %></p>

<p>
  <strong>User Account Number:</strong>
  <%= @user_wallet.user.account_number %>
</p>

<p>
  <strong>Amount:</strong>
  <%= "#{@user_wallet.amount + @user_wallet.transfer_amount}" + " USD" %>
</p>

<p>
  <strong>Frozen Amount:</strong>
  <%= "#{@fozen_balance}" + " USD" %>
</p>

<p>
  <strong>Status:</strong>
  <% if @user_wallet.status == 0 %>
    <%= "Disabled" %>
  <% elsif @user_wallet.status == 1 %>
    <%= "Enabled" %>
  <% end %>
</p>

<p>
  <strong>Uuid:</strong>
  <%= @user_wallet.uuid %>
</p>

<button><%= link_to 'Transfer Balance', transfer_balance_path %></button>
