/*Fonts*/

@font-face {
    font-family: 'ITC Handel Gothic Arabic Bold';
    src: url('../fonts/ITCHandelGothicArabic-Bold.woff2') format('woff2'),
        url('../fonts/ITCHandelGothicArabic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Handel Gothic Arabic Medium';
    src: url('../fonts/ITCHandelGothicArabic-Md.woff2') format('woff2'),
        url('../fonts/ITCHandelGothicArabic-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Handel Gothic Arabic Heavy';
    src: url('../fonts/ITCHandelGothicArabic-Heavy.woff2') format('woff2'),
        url('../fonts/ITCHandelGothicArabic-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Handel Gothic Arabic Light';
    src: url('../fonts/ITCHandelGothicArabic-Light.woff2') format('woff2'),
        url('../fonts/ITCHandelGothicArabic-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Handel Gothic Arabic';
    src: url('../fonts/ITCHandelGothicArabic-Rg.woff2') format('woff2'),
        url('../fonts/ITCHandelGothicArabic-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DIN Next LTW 23 Light';
    src: url('../fonts/DINNextLTW23-Light.woff2') format('woff2'),
         url('../fonts/DINNextLTW23-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LTW 23 Regular';
    src: url('../fonts/DINNextLTW23-Regular.woff2') format('woff2'),
         url('../fonts/DINNextLTW23-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 400;
  src: url('../fonts/Inter-UI.var.woff2') format("woff2-variations"),
       url("../fonts/Inter-UI-Regular.woff2") format("woff2"),
       url("../fonts/Inter-UI-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 400;
  src: url('../fonts/Inter-UI.var.woff2') format("woff2-variations"),
       url("../fonts/Inter-UI-Italic.woff2") format("woff2"),
       url("../fonts/Inter-UI-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 500;
  src: url('../fonts/Inter-UI.var.woff2') format("woff2-variations"),
       url("../fonts/Inter-UI-Medium.woff2") format("woff2"),
       url("../fonts/Inter-UI-Medium.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 500;
  src: url('../fonts/Inter-UI.var.woff2') format("woff2-variations"),
       url("../fonts/Inter-UI-MediumItalic.woff2") format("woff2"),
       url("../fonts/Inter-UI-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 600;
  src: url('../fonts/Inter-UI.var.woff2') format("woff2-variations"),
       url("../fonts/Inter-UI-SemiBold.woff2") format("woff2"),
       url("../fonts/Inter-UI-SemiBold.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 600;
  src: url('../fonts/Inter-UI.var.woff2') format("woff2-variations"),
       url("../fonts/Inter-UI-SemiBoldItalic.woff2") format("woff2"),
       url("../fonts/Inter-UI-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 700;
  src: url('../fonts/Inter-UI.var.woff2') format("woff2-variations"),
       url("../fonts/Inter-UI-Bold.woff2") format("woff2"),
       url("../fonts/Inter-UI-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 700;
  src: url('../fonts/Inter-UI.var.woff2') format("woff2-variations"),
       url("../fonts/Inter-UI-BoldItalic.woff2") format("woff2"),
       url("../fonts/Inter-UI-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 800;
  src: url('../fonts/Inter-UI.var.woff2') format("woff2-variations"),
       url("../fonts/Inter-UI-ExtraBold.woff2") format("woff2"),
       url("../fonts/Inter-UI-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 800;
  src: url('../fonts/Inter-UI.var.woff2') format("woff2-variations"),
       url("../fonts/Inter-UI-ExtraBoldItalic.woff2") format("woff2"),
       url("../fonts/Inter-UI-ExtraBoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 900;
  src: url('../fonts/Inter-UI.var.woff2') format("woff2-variations"),
       url("../fonts/Inter-UI-Black.woff2") format("woff2"),
       url("../fonts/Inter-UI-Black.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 900;
  src: url('../fonts/Inter-UI.var.woff2') format("woff2-variations"),
       url("../fonts/Inter-UI-BlackItalic.woff2") format("woff2"),
       url("../fonts/Inter-UI-BlackItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI var';
  font-weight: 400 900; /* safe weight range */
  src: url('../fonts/Inter-UI.var.woff2') format("woff2-variations"),
       url('../fonts/Inter-UI.var.woff2') format("woff2");
}