<%= form_with(model: ticket, local: true) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
  <select name="ticket[number]">
  <%= @department.each do |department| %>
    <option value="<%= department.code %>"><%= department.name %></option>
  <% end %>
</select>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :attachment %>
    <%= form.text_area :attachment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
