    <!-- Title Page -->
    <div class="head-page title-page support-head custom-container-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <img src="assets/img/support-icon.svg" alt="">
            <div class="support-title">
              <h1><%= t('tickets.support_Center')%></h1>
              <p><%= t('tickets.follow_the')%></p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#new-message" class="button-3"><%= t('tickets.new_Message')%></a>
          </div>
        </div>
      </div>
    </div>
    <!-- Title Page -->

    <!-- Support -->
    <div class="custom-container-2">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="white-box support-page">
              <!-- Filter Table -->
              <div class="row margin-b-20">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 filter-table">
                  <span><%= t('tickets.ticket_Status')%></span>
                  <div class="inputstyle selectstyle">
                    <select>
                      <option value="1"><%= t('tickets.open')%></option>
                      <option value="2"><%= t('tickets.close')%></option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4 text-left">
                  <span class="search-span" href="javascript:void(0)" data-toggle="modal" data-target="#search-box"></span>
                </div>
              </div>
              <!-- Filter Table -->
              <!-- Support Table -->
              <div class="table-payers">
                <div class="tabel-head">
                  <div class="table-head-col flex-30">
                    <%= t('tickets.message_Subject')%>
                  </div>
                  <div class="table-head-col">
                    <%= t('tickets.ticket_Status')%>
                  </div>
                  <div class="table-head-col hidden-sm hidden-xs">
                    <%= t('tickets.last_Response')%>
                  </div>
                  <div class="table-head-col hidden-sm hidden-xs">
                    <%= t('tickets.date_and_Time')%>
                  </div>
                </div>
                <div class="tabel-body">
                  <% @tickets.each do |ticket| %>
                  <div class="table-row">
                    <div class="table-col flex-30">
                      <a href="tickets/<%= ticket.id %>"><%= ticket.title %></a>
                    </div>
                    <div class="table-col">
                        <% if ticket.status != "Closed" %>
                        <span class="valid-state"></span><%= t('tickets.open')%>
                        <% else %>
                        <span class="not-valid-state"></span><%= t('tickets.close')%>
                        <% end %>
                    </div>
                    <div class="table-col hidden-sm hidden-xs">
                      <% if ticket.ticket_replies.where(:sender_type => "0").last %>
                        <img src="/assets/img/profile-picture-2.svg" alt=""><%=  ticket.ticket_replies.where(:sender_type => "0").last.admin.firstname + " " + ticket.ticket_replies.where(:sender_type => "0").last.admin.lastname %>
                      <% else %>
                        <span><%= t('tickets.no_replay')%></span>
                      <% end %>
                    </div>
                    <div class="table-col hidden-sm hidden-xs">
                      <span class="arial-text"><%= l(ticket.created_at, format: "%d ") %></span> <%= l(ticket.created_at, format: "%B ") %> <span class="arial-text"><%= l(ticket.created_at, format: "%Y") %> | <%= l(ticket.created_at, format: "%I:%M ") %></span> <%= l(ticket.created_at, format: "%p") %></span>

                    </div>
                  </div>
                  <% end %>
                </div>
              </div>
              <!-- Support Table -->

              <!-- Pagination -->
              <div class="row">
                <div class="col-xs-12 filter-table pagination-li">
                  <a href="#" class="button-3"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  <a href="#" class="button-3"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                  <span><span class="arial-text">101-200</span> <%= t('tickets.from')%> <span class="arial-text">5,146</span></span>
                </div>
              </div>
              <!-- Pagination -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Support -->

    <!-- Search Popup -->
    <div class="modal fade popup-box" id="search-box" tabindex="-1" role="dialog" aria-labelledby="search-boxLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="search-popup">
              <input type="text" name="" placeholder= t('tickets.search')>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Search Popup -->

    <!-- New Message -->
    <div class="modal fade popup-box popup-box-padding" id="new-message" tabindex="-1" role="dialog" aria-labelledby="new-messageLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"><%= t('tickets.new_Message')%></h4>
            <span data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
          </div>

          <% if @support_status.where(key: "support_status").pluck(:value).first == "on" %>
            <div class="modal-body">
              <div class="row margin-b-25">
                <div class="col-lg-12">
                  <h4 class="modal-title"> <%= @support_status.where(key: "support_msg").pluck(:value).first %></h4>
                </div>
              </div>
            </div>
          <% else %>
            <%= form_for Ticket.new do |form| %>
            <%= form.hidden_field :number , :value => @random_number %>
            <div class="modal-body">
              <div class="row margin-b-25">
                <div class="col-lg-12">
                  <div class="inputstyle">
                  <span id="title"></span>
                    <%= form.text_field :title, placeholder: t('tickets.cause_of_message'), :required => true, 'data-error' => '#title' %>
                  </div>
                </div>
              </div>
              <div class="row margin-b-25">
                <div class="col-lg-12">
                  <div class="textareastyle">

                    <%= form.text_area :content, placeholder: t('tickets.message'), :required => true, 'data-error' => '#content' %>
                    <span id="content" style="color: #cb2026;"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                    <button id='submit' class="button-1"><%= t('tickets.send')%></button>
                </div>
              </div>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <!-- New Message -->



    <script src="/assets/js/jquery.min.js"></script>
    <script>

      $(document).ready(function()
        {

          $('#submit').click(function()
            {
              $( "#new_ticket" ).validate({
                rules: {
                  accept_terms: {
                    required: true
                  }
                },
                //ignore: [],
                messages: {
                'ticket[title]': { required:  t('tickets.it_can_not') },
                'ticket[content]': { required: t('tickets.it_can_not')  }
                      },
                errorPlacement: function(error, element) {
                  var placement = $(element).data('error');
                  if (placement) {
                    $(placement).append(error)
                    $(element).closest('div[class="inputstyle"]').addClass("inputstyle-span inputimportant");
                    $(element).closest('div[class="inputstyle"]').addClass("inputstyle-span inputimportant");
                  }
                  else {
                    error.insertAfter(element);
                  }
                }
              });
            });

        });
    </script>
