
    <!-- User Message Details Head -->
    <div class="message-details-head-container custom-container-2">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="message-details-head message-icon-2 relative-box">
              <a href="/tickets" class="back-to"><i class="back-arrow"></i> مركز الدعم الفني</a>
              <h1><%= @ticket.title %></h1>
              <div class="message-status-date">
                <% if @ticket.status != "Closed" %>
                  <span class="message-status message-open">مفتوحة</span>
                <% else %>
                  <span class="message-status message-close">مغلقة</span>
                <% end %>
                <span class="message-date-head"><span class="arial-text"><%= l(@ticket.created_at, format: "%d ") %></span> <%= l(@ticket.created_at, format: "%B ") %> <span class="arial-text"><%= l(@ticket.created_at, format: "%Y") %> - <%= l(@ticket.created_at, format: "%I:%M ") %></span> <%= l(@ticket.created_at, format: "%p") %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- User Message Details Head -->

    <!-- User Message Details -->
    <div class="message-list message-list-2 custom-container-2">
      <div class="container">
        <div class="row">





          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 margin-b-30">
            <div class="message-list-container">

              <div class="message-box message-box-2 message-box-right relative-box">
                <div class="message-content">
                  <div class="message-username">
                    <img src="/assets/img/profile-pic.svg" alt="Ahmed">
                  </div>
                  <p class="relative-box"><%= @ticket.content %></p>
                </div>
                <span class="message-date"><span class="arial-text"><%= l(@ticket.created_at, format: "%d ") %></span> <%= l(@ticket.created_at, format: "%B ") %> <span class="arial-text"><%= l(@ticket.created_at, format: "%Y") %> - <%= l(@ticket.created_at, format: "%I:%M ") %></span> <%= l(@ticket.created_at, format: "%p") %></span>
              </div>


            <% @ticket_reply.each do |ticket| %>

              <% if ticket.sender_type == "Payers Support" %>
              <div class="message-box message-box-2 message-box-right black-message-box relative-box">
                <div class="message-content">
                  <div class="message-username">
                    <img src="/assets/img/profile-pic.svg" alt="Ahmed">
                    <h3><%= ticket.admin.firstname %></h3>
                    <span>فريق بايرز</span>
                  </div>
                  <p class="relative-box"><%= ticket.content %></p>
                </div>
                <span class="message-date"><span class="arial-text"><%= l(ticket.created_at, format: "%d ") %></span> <%= l(ticket.created_at, format: "%B ") %> <span class="arial-text"><%= l(ticket.created_at, format: "%Y") %> - <%= l(ticket.created_at, format: "%I:%M ") %></span> <%= l(ticket.created_at, format: "%p") %></span>
              </div>

              <% elsif ticket.sender_type == "User" %>
              <div class="message-box message-box-2 message-box-right relative-box">
                <div class="message-content">
                  <div class="message-username">
                    <img src="/assets/img/profile-pic.svg" alt="Ahmed">
                  </div>
                  <p class="relative-box"><%= ticket.content %></p>
                </div>
                <span class="message-date"><span class="arial-text"><%= l(ticket.created_at, format: "%d ") %></span> <%= l(ticket.created_at, format: "%B ") %> <span class="arial-text"><%= l(ticket.created_at, format: "%Y") %> - <%= l(ticket.created_at, format: "%I:%M ") %></span> <%= l(ticket.created_at, format: "%p") %></span>
              </div>
              <% end %>

            <% end %>


              <div class="message-box message-box-right relative-box">
                <div class="message-content">
                  <div class="message-username message-username-bottom">
                    <img src="/assets/img/profile-pic.svg" alt="Ahmed">
                  </div>
                  <div class="message-textarea relative-box message-box-right-bottom">
                    <%= form_for TicketReply.new, url: '/tickets/reply' do |form| %>
                    <%= form.hidden_field :ticket_id, value: @ticket.id %>
                    <%= form.text_area :content, placeholder: "رسالتك …", :required => true%>
                    <label class="payers-fileinput">
                      <span data-default='Choose file'></span>
                      <input type="file">
                    </label>
                    <button class="button-1">ارسل رسالتي</button>
                    <% end %>
                  </div>
                </div>
              </div>

              
            </div>
          </div>





          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="sidebar-box transaction-action">
              <ul>                  
                <% if @ticket.status != "Closed" %>
                <li><span><img src="/assets/img/delete-icon.svg"></span> <a href="/close_ticket?id=<%= @ticket.id %>">الغاء المعاملــة</a></li>
                <% end %>
                <% if @ticket.priority != "Report to management" %>
                <li><span><img src="/assets/img/report-icon.svg"></span> <a href="/report_ticket?id=<%= @ticket.id %>">تقدم بشكوى</a></li>
                <% else %>
                <li><span><img src="/assets/img/report-icon.svg"></span> <a>تم التقدم بشكوى</a></li>
                <% end %>
                <li><span><img src="/assets/img/bill-icon.svg"></span> <a href="#">فاتورة المعاملة</a></li>
                <li>
                  <label class="checkbox-label"> ارسل لي تنبيهات علي البريــــد و SMS لأي تحديثــات تخــص هذه المعاملة في المستقبل.
                    <input type="checkbox">
                    <span class="checkmarkbox"></span>
                  </label>
                </li>
              </ul>
            </div>
            <div class="sidebar-box">
              <h3 class="title-sidebar"><img src="/assets/img/support-icon.svg" alt="ملاحظة">تعليمات الدعم الفني</h3>
              <div class="content-paragraph">
                <p>هذا النص هــــو مثال لنـــص يمكـن أن يستبدل في نفس المساحــة، لقـــد تــم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هــذا النــص أو العديد من النصوص الأخرى إضافـــة إلى زيادة عدد الحروف.</p>
                <p>إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربــى زيــادة عــدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغويــة، مـــولــد النــص العربى مفيد لمصممي المواقـــع علــى وجه الخصوص، حيث يحتاج العميـل فـــى كثير من الأحيان أن يطلـــع علــى صــورة حقيقية لتصميم الموقع.</p>
              </div>
            </div>
          </div>





        </div>
      </div>
    </div>
    <!-- User Message Details -->