<p id="notice"><%= notice %></p>

<h1>Withdraws</h1>

<table>
  <thead>
    <tr>
      <th>Bank</th>
      <th>Operation</th>
      <th>Amount</th>
      <th>Fees</th>
      <th>Status</th>
      <th>Withdraw type</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @withdraws.each do |withdraw| %>
      <tr>
        <td><%= withdraw.bank_account.bank_name %></td>
        <td><%= withdraw.operation_id %></td>
        <td><%= withdraw.amount %></td>
        <td><%= withdraw.fees %></td>
        <% if withdraw.status == 1 %>
        <td><%= "Pending" %></td>
        <% elsif withdraw.status == 2 %>
        <td><%= "Accepted" %></td>
        <% elsif withdraw.status == 3 %>
        <td><%= "cancelled" %></td>
        <% end %>
        <td><%= withdraw.withdraw_type %></td>
        <td><%= withdraw.note %></td>
        <td><%= link_to 'Show', withdraw %></td>
      </tr>
    <% end %>
  </tbody>
</table>