<!-- Title Page -->
<div class="head-page head-page-3 head-page-4 title-page custom-container-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6">
        <h1>تفاصيل معاملة مالية</h1>
        <p>معاملة سحب رقم <%= @withdraw.operation_id %></p>
      </div>
      <div class="col-xs-6 hidden-lg hidden-md hidden-sm text-left">
        <label id="transaction-payers-fileinput" class="payers-fileinput button-1">
          <span data-default='Choose file'>إرفع صورة السحب</span>
          <input type="file">
        </label>
        <a href="javascript:void(0)" data-toggle="modal" data-target="#transaction-details-popup"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- Title Page -->

<!-- Transaction Details -->
<div class="custom-container-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="transaction-details-box relative-box bg-color-5 margin-b-30">
          <% if @withdraw.status == 1 %>
          <span class="bg-color-1 transaction-status-sp"><%= "جاري تنفيذها" %></span>
          <% elsif @withdraw.status == 2 %>
          <span class="bg-color-3 transaction-status-sp"><%= "معاملة ناجحة" %></span>
          <% elsif @withdraw.status == 3 %>
          <span class="bg-color-6 transaction-status-sp"><%= "معاملة معلقة" %></span>
          <% end %>
          <div class="transaction-info">
            <div class="transaction-text-list">
              <div class="transaction-text">
                <h3>رقم المعاملة</h3>
                <p><span><%= @withdraw.operation_id %></span></p>
              </div>
              <div class="transaction-text">
                <h3>مبلغ المعاملة</h3>
                <p><span>$<%= number_with_delimiter(@amount.round(2), :delimiter => ',') %></span></p>
              </div>
              <div class="transaction-text">
                <% if @withdraw.status == 1 %>
                <h3>تاريخ إنشاء المعاملة</h3>
                <% elsif @withdraw.status == 2 %>
                <h3>تاريخ تاكيد المعاملة</h3>
                <% elsif @withdraw.status == 3 %>
                <h3>تاريخ الغاء المعاملة</h3>
                <% end %>
                <p><span><%= @time.strftime("%d") %></span> <%= @month %> <span><%= @time.strftime("%Y") %></span> - <span><%= @time.strftime("%I:%M") %></span> <%= @mor %></p>
              </div>
            </div>
          </div>
          <div class="transaction-type bg-color-4 text-center">
            <h4>نوع المعاملة</h4>
            <h4>سحب | حوالة بنكية</h4>
            <img src="/assets/img/withdrawal-icon.svg" alt="سحب | حوالة بنكية">
          </div>
          <div class="transaction-status">
            <div class="transaction-text-list">
              <div class="transaction-text transaction-user-info transaction-bank relative-box">
                <img src="/assets/img/transaction-bank.svg" alt="profile-picture">
                <div class="username-email-transaction">
                  <h3><%= @withdraw.users_bank.bank.bank_name %></h3>
                  <!-- <p>المملكة العربية السعودية</p> -->
                </div>
              </div>
              <div class="transaction-text">
                <h3>حالة طلب السحب</h3>
                <p class="processing-status"><span>
                <% if @withdraw.status == 1 %>
                <%= "قيد انتظار التأكيد" %>
                <% elsif @withdraw.status == 2 %>
                <%= "مكتمل" %>
                <% elsif @withdraw.status == 3 %>
                <%= "ملغي" %>
                <% end %>
                </span></p>
              </div>
              <div class="transaction-text">
                <h3>نوع السحب</h3>
                <p>
                <% if @withdraw.withdraw_type == "local_bank" %>
                <%= "بنوك محلية" %>
                <% elsif @withdraw.withdraw_type == "electronic_bank" %>
                <%= "بنوك اللكترونية" %>
                <% elsif @withdraw.withdraw_type == "digital_bank" %>
                <%= "عملات رقمية" %>
                <% end %>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="transaction-details-steps white-box margin-b-30">
          <h3>الاجراءات التي تمت على المعاملة</h3>
          <ul>
          <% if @operation_notification %>
          <% @operation_notification.each do |notification| %>
            <li>
            <% @aaa = notification.description.split('/')
            @description = t("mails.#{@aaa[0]}") + "#{@aaa[1]}" + t("mails.#{@aaa[2]}") + t("mails.#{@aaa[3]}") + t("mails.#{@aaa[4]}") + t("mails.#{@aaa[5]}")
           %>
              <h4><%= @description%></h4>
              <span><%= l(notification.created_at, format: "%d ") %> <%= l(notification.created_at, format: "%B ") %> <%= l(notification.created_at, format: "%Y ") %></span>
            </li>
          <% end %>
          <% else %>
          <li>
            <h4>لا توجد اجراءات سابقة لهذه المعاملة</h4>
          </li>
          <% end %>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="sidebar-box transaction-action padding-40-25 hidden-xs">
          <ul>
            <li><span><img src="/assets/img/report-icon.svg"></span> <a href="/tickets">تقدم بشكوى</a></li>
            <li><span><img src="/assets/img/bill-icon.svg"></span> <a href="#">فاتورة المعاملة</a></li>
            <li>
              <label class="checkbox-label"> ارسل لي تنبيهات علي البريــــد و SMS لأي تحديثــات تخــص هذه المعاملة في المستقبل.
                <input type="checkbox">
                <span class="checkmarkbox"></span>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Transaction Details -->
