<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Title -->
    <title>لوحة التحكم</title>

    <!-- Bootstrap -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" >

    <!-- Bootstrap rtl -->
    <link href="/assets/css/bootstrap.min.rtl.css" rel="stylesheet" >

    <!-- Animate -->
    <link rel="stylesheet" href="/assets/css/animate.css" >

    <!-- Fonts -->
    <link rel="stylesheet" href="/assets/css/fonts.css" >
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

    <!-- Flags -->
    <link href="/assets/css/flags.css" rel="stylesheet">

    <!-- Style -->
    <link rel="stylesheet" href="/assets/style.css" >
  </head>
  <body>
    <!-- Active Account -->
    <div class="modal fade popup-box in" id="activeacc" tabindex="-1" role="dialog" aria-labelledby="activeaccLabel" style="display: block; padding-left: 15px;">
      <div class="modal-dialog" role="document">
        <div class="modal-content relative-box">
          <div class="active-account-text">
            <h3>برجاء إعادة تعيين كلمة المرور الآن</h3>
            <p>يتوجب عليك الضغط علي رابط إعادة تعيين كلمة المرور في الرسالة التي ارسلنا علي بريدك</p>
            <button onclick="location.href='/passwords/new';" class="button-3"> أعد استعادة كلمة المرور</button>
            <a href="/tickets">جاهزون في مركز الدعم الفني لمساعدتك</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Active Account -->    

    <!-- Jquery Files -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.flagstrap.min.js"></script>
    <script src="/assets/js/steps.js"></script>
    <script src='/assets/js/jquery-ui.min.js'></script>
    <script src='/assets/js/bootstrap-datepicker.min.js'></script>
    <script src='/assets/js/bootstrap-datepicker.ar.js'></script>
    <script src="/assets/js/main.js"></script>  
  </body>
</html>

       