<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Title -->
    <title>استعاده كلمة المرور</title>

    <!-- Bootstrap -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" >

    <!-- Bootstrap rtl -->
    <link href="/assets/css/bootstrap.min.rtl.css" rel="stylesheet" >

    <!-- Animate -->
    <link rel="stylesheet" href="/assets/css/animate.css" >

    <!-- Fonts -->
    <link rel="stylesheet" href="/assets/css/fonts.css" >
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

    <!-- Flags -->
    <link href="/assets/css/flags.css" rel="stylesheet">

    <!-- Style -->
    <link rel="stylesheet" href="/assets/style.css" >

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

    <!-- Container Style -->
    <div id="container-style-2" >
      <div class="container">
        
        <!-- Simple Head -->
        <div class="row">
          <div class="col-lg-12">
            <div class="simple-head text-left back-text">
              <a href="/homepage"><i class="fa fa-arrow-left" aria-hidden="true"></i> <span>العودة للصفحة الرئيسية</span></a>
            </div>
          </div>
        </div>
        <!-- Simple Head -->
        
        <!-- Login Form -->
        <div class="row">
          <div class="col-lg-12">
            <div class="payers-black-style-inside">
              <div class="forms-block outside-forms login-form">
                <%= form_for :password, :html => {:id => 'reset_password'}, url: passwords_path do |form| %>
                  <div class="text-center">
                    <img src="/assets/img/forms-logo.svg" alt="Payers">
                  </div>
                  <h1 class="text-center forms-title reset-title">استعادة كلمة المرور</h1>
                  <div class="row margin-b-25">
                    <div class="col-lg-12">
                      <div class="inputstyle inputstyle-span inputarial text-l">
                        <span class="text-span">البريد الإلكتروني</span>
                        <div class="row">
                          <span id="v_email" class="col-lg-4"></span>
                            <div class="col-lg-8">                          
                              <%= form.text_field :email , placeholder: 'AhmedGomaa@gmail.com' ,:autocomplete => "off", :required => true, 'data-error' => '#v_email' %>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row margin-t-30">
                    <div class="col-xs-12">
                      <button id='submit' class="pbtn button-1">تعليمات استعادة كلمة المرور</button>
                    </div>
                  </div>
                  <div class="row margin-t-70">
                    <div class="col-xs-12 login-link-error">
                      <a href="/tickets">تواجه مشكلة في الدخول لحسابك ؟ تواصل مع الدعم الفني الآن</a>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Login Form -->

      <!-- Footer -->
      <footer class="main-footer custom-container">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-5">
              <img class="footer-logo" src="/assets/img/footer-logo.svg" alt="Payers">
              <div class="footer-text">
                <p class="hidden-xs">شركة Payers Ltd.‎ هي شركه مرخصة من الهيئة العامة للاستثمار والمناطق الحرة المصريه تعمل بموجب تصريح البنك المركزي المصري. شركة Payers Pte. Ltd.‎ هي المالكة للقيمة المخزنة وهي لا تتطلب اعتماداً من سلطة النقد السنغافورية.</p>
                <ul class="footer-payment hidden-sm hidden-xs">
                  <li><img src="/assets/img/americanexpress.svg" alt="americanexpress"></li>
                  <li><img src="/assets/img/mastercard.svg" alt="mastercard"></li>
                  <li><img src="/assets/img/paypal.svg" alt="paypal"></li>
                  <li><img src="/assets/img/visa-1.svg" alt="visa"></li>
                  <li><img src="/assets/img/ico.svg" alt="ico"></li>
                  <li><img src="/assets/img/pci.svg" alt="PCI"></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-7 hidden-lg hidden-md hidden-sm mobile-language">
              <div class="language hidden-lg hidden-md">
                <a href="#" class="active-language">اللغة العربية</a>
                <a href="#">English</a>
              </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 footer-links text-left hidden-xs">
              <a href="#" class="link-1">سياسة الخصوصية</a>
              <div class="language">
                <a href="#" class="active-language">اللغة العربية</a>
                <a href="#">English</a>
              </div>
            </div>
          </div>
          <div class="row hidden-lg hidden-md">
            <div class="col-xs-12">
              <p class="hidden-lg hidden-md hidden-sm">شركة Payers Ltd.‎ هي شركه مرخصة من الهيئة العامة للاستثمار والمناطق الحرة المصريه تعمل بموجب تصريح البنك المركزي المصري. شركة Payers Pte. Ltd.‎ هي المالكة للقيمة المخزنة وهي لا تتطلب اعتماداً من سلطة النقد السنغافورية.</p>
            </div>
          </div>
          <div class="row hidden-lg hidden-md">
            <div class="col-xs-12">
              <ul class="footer-payment">
                <li><img src="/assets/img/americanexpress.svg" alt="americanexpress"></li>
                <li><img src="/assets/img/mastercard.svg" alt="mastercard"></li>
                <li><img src="/assets/img/paypal.svg" alt="paypal"></li>
                <li><img src="/assets/img/visa-1.svg" alt="visa"></li>
                <li><img src="/assets/img/ico.svg" alt="ico"></li>
                <li><img src="/assets/img/pci.svg" alt="PCI"></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer -->
    </div>
    <!-- Container Style -->


    <%= render :partial => 'layouts/script' %>

    
    <script>
      $(document).ready(function()
        { 
          $('#submit').click(function()
            { 
              var form = $( "#reset_password" );             
              form.validate({
                rules: {
                  accept_terms: {
                    required: true
                  }
                },
                //ignore: [],
                messages: {
                'password[email]': { required: "يرجى إدخال البريد الإلكترونى"  },
                      },            
                errorPlacement: function(error, element) {
                  var placement = $(element).data('error');
                  if (placement) {
                    $(placement).append(error)
                    $(element).closest('div[class="inputstyle inputstyle-span inputarial text-l"]').addClass("inputimportant");
                  }    
                  else {
                    error.insertAfter(element);
                  }
                }            
              });
            });           
            $(window).keydown(function(event){
              if(event.keyCode == 13) {
                event.preventDefault();
                return false;
              }
            });  
          });
    </script>  
  
  </body>
</html>