<h1>Reset User Password </h1>
    <%= form_for @user do |form| %>
        <% if @user.errors.any? %>
           <div id="error_explanation">
               <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
               <ul>
                   <% @user.errors.full_messages.each do |message| %>
                       <li><%= message %></li>
                   <% end %>
               </ul>
           </div>
       <% end %>

       <div class="password-field">
            <%= form.label :current_password %>
            <%= form.password_field :current_password %>
       </div><br>

       <div class="password-field">
            <%= form.label :password %>
            <%= form.password_field :password %>
       </div><br>

       <div class="password-field">
            <%= form.label :confirm_password %>
            <%= form.password_field :confirm_password %>
       </div><br>


       <div class="submit-field">
             <%= form.submit  %>
       </div>
    <% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>


<script language="JavaScript" type="text/javascript" src="/libs/js/jquery-3.2.1.min.js"></script>
<script>
$(document).ready(function() {
  $("#user_confirm_password").change(function() {
    var confirm_password = $("#user_confirm_password").val();
    var password = $("#user_password").val();
    if (password !== confirm_password)
      {
        alert("The passwords do not match");
        $("#user_confirm_password").val('');
      }
  });

})
</script>