<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tag %>
    <%= javascript_include_tag 'application' %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title><%= t('watchdogs.login_record')%></title>

     <%= render :partial => 'layouts/head' %>   

  </head>
  <body class="white-page">

    <!-- Header -->
    <header class="main-header white-header white-logo custom-container-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- Back -->
            <a href="/dashboard" class="back-to-link"><span class="hidden-xs"><%= t('watchdogs.back_to_cpanel')%></span></a>
            <!-- Back -->
            <div class="left-header">
              <%= render :partial => 'layouts/usermenu' %>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header -->

    <!-- Title Page -->
    <div class="head-page head-page-2 title-page custom-container-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h1><%= t('watchdogs.login_records_Archive')%></h1>
            <p><%= t('watchdogs.this_is_the_record')%></p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left margin-t-15-m">
            <a href="/destroy_all_sessions" class="button-3"><%= t('watchdogs.logout_from_all_Sessions')%></a>
          </div>
        </div>
       </div>
    </div>
    <!-- Title Page -->

    <!-- Affilate Records -->
    <div class="custom-container-2">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="table-payers">
              <div class="tabel-head">
                <div class="table-head-col">
                <%= t('watchdogs.login_method')%>
                </div>
                <div class="table-head-col">
                <%= t('watchdogs.iP_Address')%>
                </div>
                <div class="table-head-col hidden-xs">
                  <%= t('watchdogs.date_Time')%>
                </div>
              </div>
              <div class="tabel-body">
              <% @log.each do |watchdog| %>
                <div class="table-row">
                  <div class="table-col">
                    <%= watchdog.user_agent %>
                  </div>
                  <div class="table-col">
                    <%= watchdog.ipaddress %>
                  </div>
                  <div class="table-col hidden-xs">
                  <span class="arial-text"><%= l(watchdog.created_at, format: "%d ") %></span> <%= l(watchdog.created_at, format: "%B ") %> <span class="arial-text"><%= l(watchdog.created_at, format: "%Y") %> | <%= l(watchdog.created_at, format: "%I:%M ") %></span> <%= l(watchdog.created_at, format: "%p") %></span>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Affilate Records -->


    <!-- Jquery Files -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.flagstrap.min.js"></script>
    <script src="/assets/js/steps.js"></script>
    <script src='/assets/js/jquery-ui.min.js'></script>
    <script src='/assets/js/bootstrap-datepicker.min.js'></script>
    <script src='/assets/js/bootstrap-datepicker.ar.js'></script>
    <script src="/assets/js/main.js"></script>

  </body>
</html>
