	<!-- Title Page -->
    <div class="head-page title-page custom-container-2">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1><%= t('addresses.account_Settings')%></h1>
            <p><%= t('addresses.brief_summary_of_your_balance,_urgent_matters_and_last_transaction')%></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Title Page -->

    <!-- Dashboard -->
    <div class="custom-container-2">
      <div class="container">
        <div class="row">
          <%= render :partial => 'layouts/sidemenu' %>
          <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-b-30">
                <div class="add-box add-box-h-2">
                  <a href="javascript:void(0)" data-toggle="modal" data-target="#addaddress">
                    +
                    <h4><%= t('addresses.add_New_Shipping_Address')%></h4>
                  </a>
                </div>
              </div>
              <% @addresses.each do |address| %>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-b-30">
                  <div class="usersetting-box-2 my-adress-box">
                    <div class="my-adress-box-head">
                      <img src="assets/img/map-icon-2.svg" alt= <%= t('addresses.saudi_Arabia')%>>
                      <h2><%= address.country %></h2>
                    </div>
                    <div class="usersetting-box-2-details">
                      <span><%= t('addresses.address')%></span>
                      <h3 class="address-line"><%= address.address %></h3>
                      <div class="usersetting-box-2-blocks">
                        <div class="usersetting-box-2-block">
                          <span><%= t('addresses.governorate')%></span>
                          <h4><%= address.governorate %></h4>
                        </div>
                        <div class="usersetting-box-2-block">
                          <span><%= t('addresses.city')%></span>
                          <h4><%= address.city %></h4>
                        </div>
                        <div class="usersetting-box-2-block">
                          <span><%= t('addresses.street')%></span>
                          <h4><%= address.street %></h4>
                        </div>
                      </div>
                      <div class="usersetting-box-2-action">
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#editaddress<%= address.id %>"><%= t('addresses.edit')%></a>
                        <a href="/addresses/<%= address.id %>" data-method="delete" data-confirm="Are you sure?" class="remove-usersetting-box-2"><i class="fa fa-trash-o" aria-hidden="true"></i> <%= t('addresses.delete')%></a>
                        <% if address.default_address == true %>
                        <a href="#" class="usersetting-box-2-default"><%= t('addresses.default')%></a>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
<!-- Edit Address -->
<div class="modal fade popup-box" id="editaddress<%= address.id %>" tabindex="-1" role="dialog" aria-labelledby="addaddressLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= t('addresses.edit_Shipping_Address')%></h4>
        <span data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
      </div>
      <div class="modal-body">
          <%= form_tag update_address_path, :method => 'post' do  %>
          <%= hidden_field_tag "id", address.id , id: "#{address.id} #{address.id}"%>
          <div class="row margin-b-25">
            <div class="col-xs-12">
              <div class="inputstyle inputstyle-span selectstyle inputstepspan selectcountry">
                <span class="text-span"><%= t('addresses.country')%></span>
                <%= select_tag :country,options_for_select(Country.all.collect {|p| [ p.Full_Name, p.Full_Name ] },selected:address.country), id: "#{address.id} #{address.country}" %>

              </div>
            </div>
          </div>

          <div class="row margin-b-25">
            <div class="col-xs-12">
              <div class="inputstyle">
                <%= text_field_tag :address, address.address, id: "#{address.id} #{address.address}", placeholder: t('addresses.address'), :required => true %>

              </div>
            </div>
          </div>

          <div class="row margin-b-25">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-b-25-m">
              <div class="inputstyle">
                <%= text_field_tag :governorate, address.governorate, id: "#{address.id} #{address.governorate}", placeholder: t('addresses.governorate'), :required => true %>
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="inputstyle">
                <%= text_field_tag :city, address.city, id: "#{address.id} #{address.city}", placeholder: t('addresses.city'), :required => true %>
              </div>
            </div>
          </div>
          <div class="row margin-b-25">
            <div class="col-xs-12 margin-b-25-m">
              <div class="inputstyle">
                <%= text_field_tag :street, address.street, id: "#{address.id} #{address.street}", placeholder: "الشارع", :required => true %>
              </div>
            </div>
          </div>
          <label class="checkbox-label margin-b-30">
            <% if address.default_address == true %>
            <%= hidden_field_tag "default_address", true, id: "#{address.id} #{address.default_address}" %>
               <%= t('addresses.this_shipping_address_my_Default_one')%>
            <% else %>
              <%= check_box_tag :default_address, id: "#{address.id} #{address.default_address}" %><%= t('addresses.make_this_shipping_address_my_Default_one')%>
              <span class="checkmarkbox"></span>
            <% end %>



          </label>
          <div class="row">
            <div class="col-xs-6">
                <button class="button-1"><%= t('addresses.edit')%></button>
            </div>
            <div class="col-xs-6 text-left">
              <a href="/addresses/<%= address.id %>" data-method="delete" data-confirm="Are you sure?" class="remove-usersetting-box-2"><i class="fa fa-trash-o" aria-hidden="true"></i> <%= t('addresses.delete')%></a>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
<!-- Edit Address -->


              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Dashboard -->

    <!-- Add Address -->
    <div class="modal fade popup-box" id="addaddress" tabindex="-1" role="dialog" aria-labelledby="addaddressLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"><%= t('addresses.add_New_Shipping_Address')%></h4>
            <span data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
          </div>
          <div class="modal-body">

            <%= form_for Address.new , :html => { :id => "new_address" } do |form| %>

              <div class="row margin-b-25">
                <div class="col-xs-12">
                  <div class="inputstyle inputstyle-span selectstyle inputstepspan selectcountry">
                    <span class="text-span"><%= t('addresses.country')%></span>
                    <%= form.select(:country,  options_for_select(Country.all.collect {|p| [ p.Full_Name, p.Full_Name ] })) %>
                  </div>
                </div>
              </div>

              <div class="row margin-b-25">
                <div class="col-xs-12">
                  <div class="inputstyle">
                  <span id="address"></span>
                  <%= form.text_field :address, placeholder: t('addresses.address'), :autocomplete => "off", :required => true, 'data-error' => '#address' %>
                  </div>
                </div>
              </div>

              <div class="row margin-b-25">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-b-25-m">
                  <div class="inputstyle">
                  <span id="governorate"></span>
                    <%= form.text_field :governorate, placeholder:  t('addresses.governorate'), :required => true, 'data-error' => '#governorate' %>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="inputstyle">
                  <span id="city"></span>
                    <%= form.text_field :city, placeholder: t('addresses.city'), :required => true, 'data-error' => '#city' %>
                  </div>
                </div>
              </div>
              <div class="row margin-b-25">
                <div class="col-xs-12 margin-b-25-m">
                  <div class="inputstyle">
                  <span id="street"></span>
                    <%= form.text_field :street, placeholder: t('addresses.street'), :required => true, 'data-error' => '#street' %>
                  </div>
                </div>
              </div>
              <label class="checkbox-label margin-b-30">
                  <%= form.check_box :default_address %><%= t('addresses.make_this_shipping_address_my_Default_one')%>
                <span class="checkmarkbox"></span>
              </label>
              <div class="row">
                <div class="col-xs-6">
                  <button id='submit' class="button-1"><%= t('addresses.add_New_Address')%></button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Address -->
    <script src="/assets/js/jquery.min.js"></script>
    <script>

      $(document).ready(function()
        {

          $('#submit').click(function()
            {
              $( "#new_address" ).validate({
                rules: {
                  accept_terms: {
                    required: true,
                  },
                  'address[address]': {
                    minlength: 5
                  }
                },
                //ignore: [],
                messages: {
                'address[address]': { required:" <%= t('addresses.adress_can_not_be_left_empty') %>" ,
                                      minlength:" <%= t('addresses.this_address_is_too_short_must_have_more_than_5_characters') %>"
                 },
                'address[governorate]': { required:" <%= t('addresses.maintain_can_not_be_left_empty')%>" },
                'address[city]': { required: "<%= t('addresses.city_can_not_be_left_empty') %>" },
                'address[street]': { required: "<%= t('addresses.street_can_not_be_left_empty') %>" },
                      },
                errorPlacement: function(error, element) {
                  var placement = $(element).data('error');
                  if (placement) {
                    $(placement).append(error)
                    $(element).closest('div[class="inputstyle"]').addClass("inputstyle-span inputimportant");
                  }
                  else {
                    error.insertAfter(element);
                  }
                }
              });
            });

        });
    </script>
