<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Title -->
    <title>كارت بايرز</title>

    <% if I18n.locale.to_s == "en" %>

      <!-- Bootstrap -->
      <link href="/assets/en/css/bootstrap.min.css" rel="stylesheet" >

      <!-- Animate -->
      <link rel="stylesheet" href="/assets/en/css/animate.css" >

      <!-- Fonts -->
      <link rel="stylesheet" href="/assets/en/css/fonts.css" >
      <link rel="stylesheet" href="/assets/en/css/font-awesome.min.css">

      <!-- Flags -->
      <link href="/assets/en/css/flags.css" rel="stylesheet">

      <!-- Style -->
      <link rel="stylesheet" href="/assets/en/style.css" >

    <% else %>

      <!-- Bootstrap -->
      <link href="/assets/css/bootstrap.min.css" rel="stylesheet" >

      <!-- Bootstrap rtl -->
      <link href="/assets/css/bootstrap.min.rtl.css" rel="stylesheet" >

      <!-- Animate -->
      <link rel="stylesheet" href="/assets/css/animate.css" >

      <!-- Fonts -->
      <link rel="stylesheet" href="/assets/css/fonts.css" >
      <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

      <!-- Flags -->
      <link href="/assets/css/flags.css" rel="stylesheet">

      <!-- Style -->
      <link rel="stylesheet" href="/assets/style.css" >

    <% end %>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

    <!-- Deposite By Payers Card -->
    <div class="container all-height">
      <div class="row">
        <div class="col-lg-12">
          <div class="simple-head-2 simple-head-card">
            <a href="/remittance" class="back-to"><i class="back-arrow"></i></a>
            <div class="center-simple-head">
              <h1><%= t('cards.new_deposit_operation')%></h1>
              <span><%= t('cards.secure_data')%></span>
            </div>
            <a href="/dashboard"><button class="button-4"><%= t('cards.back_to_main')%></button></a>
          </div>
        </div>
        <% flash.each do |key, value| -%>
          <div class="col-lg-12">
                <div id="flash_<%= key %>"><%=h value %></div>
          </div>
        <% end %>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="payers-card">
            <div class="payers-card-row margin-b-30 margin-t-30">
              <img class="payers-card-text" src="/assets/img/payers-card-text.svg"  alt="Payers - بايرز">
              <img class="payers-card-logo" src="/assets/img/payers-card-logo.svg"  alt="Payers - بايرز">
            </div>
            <%= form_for :charging_card ,:url => charging_card_path,:html => { :multipart => true } do |f| %>
            <div class="inputstyle inputarial margin-b-25">
              <input type="text" maxlength="19" id="charging_card" name="charging_card[card_number]" placeholder="XXXX   -   XXXX   -   XXXX   -   XXXX">
            </div>
            <div class="payers-card-row">
              <button type="submit" class="button-2"><%= t('cards.deposit_card')%></button>
              <p><%= t('cards.cannot_refund_card')%> <span>Payers.net</span></p>
            </div>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 text-center margin-t-40">
          <div class="payers-card-foot">
            <a href="#"><%= t('cards.what_is_payers_cards')%></a>
            <a href="#"><%= t('cards.where_to_find_payers_cards')%></a>
          </div>
        </div>
      </div>
    </div>
    <!-- Deposite By Payers Card -->
  
  </body>
</html>

<%= render :partial => 'layouts/script' %>

<script>
$("#charging_card").keyup(function() {
    var foo = $(this).val().replace(/-/g, ""); // remove hyphens
    // You may want to remove all non-digits here
    // var foo = $(this).val().replace(/\D/g, "");
    
    if (foo.length > 0) {
    
        var output = "";
        var idx = 0;
        for (var i = 0; i < [4, 4, 4, 4].length && idx < foo.length; i++) {
                output += foo.substr(idx, [4, 4, 4, 4][i]);
                if (idx + [4, 4, 4, 4][i] < foo.length) output += "-";
                idx += [4, 4, 4, 4][i];
        }     
        output += foo.substr(idx);   
    } 
    $("#charging_card").val(output);
});
</script>