
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Title -->
    <title><%= t('cards.new_deposit_operation')%></title>

    <% if I18n.locale.to_s == "en" %>

      <!-- Bootstrap -->
      <link href="/assets/en/css/bootstrap.min.css" rel="stylesheet" >

      <!-- Animate -->
      <link rel="stylesheet" href="/assets/en/css/animate.css" >

      <!-- Fonts -->
      <link rel="stylesheet" href="/assets/en/css/fonts.css" >
      <link rel="stylesheet" href="/assets/en/css/font-awesome.min.css">

      <!-- Flags -->
      <link href="/assets/en/css/flags.css" rel="stylesheet">

      <!-- Style -->
      <link rel="stylesheet" href="/assets/en/style.css" >

    <% else %>

      <!-- Bootstrap -->
      <link href="/assets/css/bootstrap.min.css" rel="stylesheet" >

      <!-- Bootstrap rtl -->
      <link href="/assets/css/bootstrap.min.rtl.css" rel="stylesheet" >

      <!-- Animate -->
      <link rel="stylesheet" href="/assets/css/animate.css" >

      <!-- Fonts -->
      <link rel="stylesheet" href="/assets/css/fonts.css" >
      <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

      <!-- Flags -->
      <link href="/assets/css/flags.css" rel="stylesheet">

      <!-- Style -->
      <link rel="stylesheet" href="/assets/style.css" >

    <% end %>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

    <!-- Deposite Steps -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="simple-head-2">
            <a href="/remittance" class="back-to"><i class="back-arrow"></i></a>
            <div class="center-simple-head">
              <h1><%= t('cards.new_deposit_operation')%></h1>
              <span><%= t('cards.secure_data')%></span>
            </div>
            <a href="/dashboard"><button class="button-4"><%= t('cards.back_to_main')%></button></a>
          </div>
        </div>
        <% flash.each do |key, value| -%>
          <div class="col-lg-12">
                <div id="flash_<%= key %>"><%=h value %></div>
          </div>
        <% end %>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="steps-block">
          <%= form_tag  url_for(:controller => 'cards', :action => 'pay_operation'), :method => 'post' do %>
            <div wizard="1" class="step-box relative-box">
              <h2><span>1</span> <%= t('cards.amount_deposit_money')%></h2>
              <div class="input-stpe-box">
                <div class="row margin-b-15">
                  <div class="col-xs-12">
                    <div class="inputstyle inputdollar relative-box">
                      <span><span>$</span> <%= t('users.dollar')%></span>
                      <input type="text" name="deposit_value" id="deposit_value">
                    </div>
                  </div>
                </div>
                <p id="moneyflash" class="steps-p margin-b-20"><%= t('user_wallets.approximately_sar')%></p>
                <button id="choose_method" type="button" onclick="payersWizard(1)" class="button-1"><%= t('cards.choose_deposit_method')%></button>
              </div>
            </div>

            <div wizard="2" class="step-box relative-box">
              <button type="button" onclick="payersWizard(0)" class="prev-step"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
              <h2><span>2</span><%= t('cards.choose_deposit_method')%></h2>
              <div class="input-stpe-box">
                <div class="row margin-b-20">
                  <div class="col-xs-12">
                    <div class="inputstyle selectstyle">
                      <select id="pay_method">
                      <option disabled selected value><%= t('cards.deposit_method')%></option>
                      <option value="local_bank"><%= t('cards.local_banks')%></option>
                      <option value="electronic_bank"><%= t('cards.electronic_banks')%></option>
                      <option value="digital_bank"><%= t('cards.digital_coins')%></option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="inputstyle selectstyle margin-b-20">
                    <select id="local" style="display:none;">
                    <option disabled selected value><%= t('cards.choose_bank')%></option>
                    <% @local_banks.each do |local_bank| %>
                        <option value="<%= local_bank.bank_key %>"><%= local_bank.bank_name%></option>
                    <% end %>
                    </select>


                    <select id="digital" style="display:none;">
                    <option disabled selected value><%= t('cards.choose_digital_coins')%></option>
                    <% @digital_banks.each do |digital_bank| %>
                        <option value="<%= digital_bank.bank_key %>"><%= digital_bank.bank_name%></option>
                    <% end %>
                    </select>

                    <select id="electronic"  style="display:none;">
                    <option disabled selected value><%= t('cards.choose_online_bank')%></option>
                    <% @electronic_banks.each do |electronic_bank| %>
                        <option value="<%= electronic_bank.bank_key %>"><%= electronic_bank.bank_name%></option>
                    <% end %>
                    </select>
                    <input id="bank_type" type="text" name="bank_type" style="display:none;">
                    <input id="bank_key" type="text" name="bank_key" style="display:none;">
                    <input id="fees_val" type="text" name="fees_val" style="display:none;">
                    <input id="card_val" name="card_vall" style="display:none;">
                    <input id="net_card_value" name="net_card_value" style="display:none;">
                    <input id="balance_val" type="text" name="balance_val" style="display:none;">
                </div>
                <p id="moneyflash2" class="steps-p margin-b-20"><%= t('user_wallets.this_field_is_required')%></p>
                <button id="deposit_data" type="button" onclick="payersWizard(2)" class="button-1"><%= t('cards.bank_deposit_data')%></button>
              </div>
            </div>

            <div wizard="3" class="step-box relative-box">
              <button type="button" onclick="payersWizard(1)" class="prev-step"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
              <h2><span>3</span> <%= t('cards.bank_deposit_data')%></h2>
              <div id="localpay" style="display:none;" class="input-stpe-box final-step-information">
                <p  id= "balance_note" class="margin-b-40">قم بايداع مبلغ 3700 ريال سعودي الى حسابنا في البنك الأهلى السعودي بحسب البيانات التالية :</p>

                <div class="print-pdf-info relative-box">
                  <div class="row margin-b-20">
                    <div class="col-xs-12">
                      <span><%= t('cards.bank_name')%></span>
                      <h3 id="bankname"><img src="/assets/img/ahli-acc.svg" alt="البنك الأهلي السعودي"> البنك الأهلي السعودي</h3>
                    </div>
                  </div>
                  <div class="row margin-b-20">
                    <div class="col-xs-12">
                      <span><%= t('cards.account_number')%></span>
                      <h4 id="account_number">2214795386</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <span id="swift" style="display:none;">><%= t('cards.swift_num')%></span>
                      <span id="iban" style="display:none;">><%= t('cards.iban_num')%></span>
                      <h4 id="swiftcode">BJHISARI</h4>
                    </div>
                  </div>
                  <a href="#" class="print-pdf"><img src="/assets/img/pdf.svg" alt="طباعه بيانات  الإيداع" title="طباعه بيانات  الإيداع"></a>
                </div>
                
                <button class="button-2 margin-t-30 margin-b-30"><%= t('cards.confirm_deposit')%></button>
                <p class="final-step-alert"><%= t('cards.operation_confirmation_note')%></p>
              </div>
              <% end %>

              <div id="perfectmoney_form" class="input-stpe-box final-step-information" style="display:none;">
                <form action="https://perfectmoney.is/api/step1.asp" method="post">
                                  
                  <input type="hidden" name="PAYEE_ACCOUNT" value="<%= @perfectcompany.account_name %>">
                  <input type="hidden" name="PAYMENT_ID" id="perfect_val" value="" >                                                           
                  <input type="hidden" name="PAYEE_NAME" value="payers">
                  <input type="hidden" name="STATUS_URL" value="<%= @domain %>/perfectmoney">
                  <input type="hidden" name="PAYMENT_URL" value="<%= @domain %>/perfectmoney">
                  <input type="hidden" name="NOPAYMENT_URL" value="<%= @domain %>/perfectmoneyerror">
                  <input id='pm_amount' type="hidden" name="PAYMENT_AMOUNT" >
                  <input type="hidden" name="SUGGESTED_MEMO" value="" >                                                       
                  <input type="hidden" name="user_id" value=<%= current_user.id %>>
                  <input type="hidden" name="PAYMENT_UNITS" value="USD" >
                  <p  id= "balance_not" class="margin-b-40">قم بايداع مبلغ 3700 ريال سعودي الى حسابنا في البنك الأهلى السعودي بحسب البيانات التالية :</p>

                  <div class="print-pdf-info relative-box">
                    <div class="row margin-b-20">
                      <div class="col-xs-12">
                        <span><%= t('cards.bank_name')%></span>
                        <h3 id="banknam"><img src="/assets/img/ahli-acc.svg" alt="البنك الأهلي السعودي"> البنك الأهلي السعودي</h3>
                      </div>
                    </div>
                    <div class="row margin-b-20">
                      <div class="col-xs-12">
                        <span><%= t('cards.email')%></span>
                        <h4 id="account_email">2214795386</h4>
                      </div>
                    </div>
                    
                    <a href="#" class="print-pdf"><img src="/assets/img/pdf.svg" alt="طباعه بيانات  الإيداع" title="طباعه بيانات  الإيداع"></a>
                  </div>
              
                  <button type="submit" class="button-2 margin-t-30 margin-b-30"><%= t('cards.confirm_deposit')%></button>
                  <p class="final-step-alert"><%= t('cards.operation_confirmation_note')%></p>               
                </form>
              </div>

              <div id="coins_form" class="input-stpe-box final-step-information" style="display:none;">
              <%= form_for :coinmoney , :url => coinmoney_path do |f| %>
                <%= f.hidden_field :currency,:id => 'cryptocurrency' %>
                <%= f.hidden_field :total_money,:id => 'total_money' %>
                <%= f.hidden_field 'value' ,:id => 'cryptoval' %>
                <p  id= "balancenote" class="margin-b-40">قم بايداع مبلغ 3700 ريال سعودي الى حسابنا في البنك الأهلى السعودي بحسب البيانات التالية :</p>

                  <div class="print-pdf-info relative-box">
                    <div class="row margin-b-20">
                      <div class="col-xs-12">
                        <span><%= t('cards.bank_name')%></span>
                        <h3 id="namebank"><img src="/assets/img/ahli-acc.svg" alt="البنك الأهلي السعودي"> البنك الأهلي السعودي</h3>
                      </div>
                    </div>
                    <div class="row margin-b-20">
                      <div class="col-xs-12">
                        <span><%= t('cards.account_name')%></span>
                        <h4 id="account_name">2214795386</h4>
                      </div>
                    </div>
                    
                    <a href="#" class="print-pdf"><img src="/assets/img/pdf.svg" alt="طباعه بيانات  الإيداع" title="طباعه بيانات  الإيداع"></a>
                  </div>
                <button type="submit" class="button-2 margin-t-30 margin-b-30"><%= t('cards.confirm_deposit')%></button>
                <p class="final-step-alert"><%= t('cards.operation_confirmation_note')%></p>               

                <% end %>
              </div>

            </div>



          </div>
        </div>
      </div>
    </div>
    <!-- Deposite Steps -->


    <!-- Jquery Files -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.flagstrap.min.js"></script>
    <script  src="/assets/js/steps.js"></script>
    <script src='/assets/js/jquery-ui.min.js'></script>
    <script src='/assets/js/bootstrap-datepicker.min.js'></script>
    <script src='/assets/js/bootstrap-datepicker.ar.js'></script>
    <script src="/assets/js/main.js"></script>
    <script>

    $(document).ready(function() {

        
        $('#choose_method').attr("disabled", "disabled");
        $('#deposit_data').attr("disabled", "disabled");

        function num_Commas(x) {
          var parts = x.toString().split(".");
          parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
          return parts.join(".");
        }

        var ratio = parseFloat("<%= @currency_ratio %>")
 
        $("#deposit_value").keyup(function() {
          var value = $("#deposit_value").val();
          var value = parseFloat(value)
          var totalval = value * ratio
          $('#deposit_data').attr("disabled", "disabled");
          $('#moneyflash2').text("<%= t('user_wallets.this_field_is_required')%>");
          $('#moneyflash2').css("color","rgb(101, 115, 153)");
          $("#pay_method").val($("#pay_method option:first").val());
          $("#local").val($("#local option:first").val());
          $("#electronic").val($("#electronic option:first").val());
          $("#digital").val($("#digital option:first").val());
          if($.isNumeric( value ) === false || value <= 0 || value == null){
            $('#choose_method').attr("disabled", "disabled");
            $('#moneyflash').text("<%= t('cards.cannot_deposit_this_balance')%>");
            $('#moneyflash').css("color","red");
          }else {
            $('#moneyflash').text("<%= t('user_wallets.amount_approximately_equal')%> "+ num_Commas(totalval.toFixed(2)) +" <%= @currency_name%>");
            $('#moneyflash').css("color","#657399");
            $('#choose_method').removeAttr("disabled");
          }
          
        });

        $("#pay_method").change(function() {
            var selectedmethod = $( "#pay_method option:selected" ).val();
            $('#deposit_data').attr("disabled", "disabled");
            $('#moneyflash2').text("<%= t('user_wallets.this_field_is_required')%>");
            // alert(selectedmethod);
            $('#confirm_pay').hide();
            $('#perfectmoney_form').hide();
            $('#coins_form').hide();
            $('#bank_type').val(selectedmethod);
            if (selectedmethod == "local_bank"){
                $('#local').show();
                $('#digital').hide();
                $('#electronic').hide();}
            else if (selectedmethod == "digital_bank"){
                $('#digital').show();
                $('#local').hide();
                $('#electronic').hide();}
            else if (selectedmethod == "electronic_bank"){
                $('#electronic').show();
                $('#digital').hide();
                $('#local').hide();
            }

        });

        $("#local").change(function() {
            var selectedbank = $( "#local option:selected" ).val();
            var value = $("#deposit_value").val();
             // alert(selectedbank);
             // alert(value);

            $.ajax({ type:'get',url:'/payment_data',
                     data:{selectedbank:selectedbank,value:value,bank_type:"local_bank"},
                     contentType: "application/json",
                     dataType: "json",
                     success: function(data){
                        //console.log(data.value);
                        //console.log(data.bankdata)
                        $('#expenses').text(data.value);
                        var expenses = parseFloat(data.value);
                        var valuef = parseFloat(value);
                        var total_val = (valuef + expenses);
                        var totalval = total_val * ratio
                        var net_card_value = parseFloat(data.net_card_value);
                        $('#total').text(total_val + ' ' + "<%= t('users.USD')%>");
                        $('#balance_val').val(total_val);
                        $('#balance_note').text("<%= t('cards.add_money_with')%> "+ num_Commas(totalval.toFixed(2)) +"  <%= @currency_name %> <%= t('cards.in_our_account')%> "+ data.bankdata.bank_name +" <%= t('cards.with_this_details')%> :");
                        $('#card_val').val(value);
                        $('#net_card_value').val(net_card_value);
                        $('#card_value').text(net_card_value + ' ' + "<%= t('users.USD')%>");
                        $('#fees_val').val(expenses);
                        $('#bankname').text(data.bankdata.bank_name);
                        $('#bank_key').val(data.bankdata.bank_key);
                        $('#account_name').text(data.bankdata.account_name);
                        $('#account_number').text(data.bankdata.account_number);
                        $('#branch').text('<%= "branch" %>'+' : '+ data.bankdata.branch);
                        if (data.bankdata.ibancode == null || data.bankdata.ibancode == ""){
                            $('#swift').show();
                            $('#iban').hide();
                            $('#swiftcode').text(data.bankdata.swiftcode);
                        } else if (data.bankdata.swiftcode == null || data.bankdata.swiftcode == "") {
                            $('#iban').show();
                            $('#swift').hide();
                            $('#swiftcode').text(data.bankdata.ibancode);
                        }
                        $('#branch').show();
                        $('#account_number').show();
                        $('#paydetails').show();
                        $('#localpay').show();
                        $('#perfectmoney_form').hide();
                        $('#coins_form').hide();

                        if(data.result == "true"){
                          $('#deposit_data').removeAttr("disabled");
                          $('#moneyflash2').text("<%= t('cards.accept_this_operation')%>");
                          $('#moneyflash2').css("color","#0fa3b1");
                        }else {
                          $('#deposit_data').attr("disabled", "disabled");
                          $('#moneyflash2').text(data.result);
                          $('#moneyflash2').css("color","red");
                        }

                    }
                });


                  

        });

        $("#electronic").change(function() {
            var selectedbank = $( "#electronic option:selected" ).val();
            var value = $("#deposit_value").val();

            $.ajax({ type:'get',url:'/payment_data',
                     data:{selectedbank:selectedbank,value:value,bank_type:"electronic_bank"},
                     contentType: "application/json",
                     dataType: "json",
                     success: function(data){
                        //console.log(data.value);
                        //console.log(data.bankdata)
                        $('#expenses').text(data.value);
                        var expenses = parseFloat(data.value);
                        var valuef = parseFloat(value);
                        var total_val = (valuef + expenses);
                        var totalval = total_val * ratio
                        var net_card_value = parseFloat(data.net_card_value);
                        $('#total').text(total_val.toFixed(2) + ' ' + "<%= t('users.USD')%>");
                        $('#balance_val').val(total_val.toFixed(2));
                        $('#balance_note').text("<%= t('cards.add_money_with')%> "+ num_Commas(totalval.toFixed(2)) +" <%= t('cards.american_dollar_at')%> "+ data.bankdata.bank_name +" <%= t('cards.with_this_details')%> :");
                        //$('#pm_amount').val(total_val);
                        $('#card_val').val(valuef);
                        $('#net_card_value').val(net_card_value);
                        $('#card_value').text(net_card_value + ' ' + "<%= t('users.USD')%>");
                        $('#bankname').text(data.bankdata.bank_name);
                        $('#bank_key').val(data.bankdata.bank_key);
                        $('#account_number').text(data.bankdata.account_name);
                        $('#branch').hide();
                        $('#ibancode').hide();
                        $('#swiftcode').hide();

                        if (data.bankdata.bank_key == "perfectmoney"){
                            $('#balance_not').text("<%= t('cards.add_money_with')%> "+ num_Commas(totalval.toFixed(2)) +" <%= t('cards.american_dollar_at')%> "+ data.bankdata.bank_name +" <%= t('cards.with_this_details')%> :");
                            $('#banknam').text(data.bankdata.bank_name);
                            $('#perfect_val').val(value.toString() + "p"+ "<%=current_user.id.to_s %>");
                            $('#account_email').text(data.bankdata.account_email);
                            $('#pm_amount').val(total_val.toFixed(2));
                            $('#perfectmoney_form').show();
                            $('#localpay').hide();
                            $('#coins_form').hide(); }
                        else {
                            $('#localpay').show();
                            $('#perfectmoney_form').hide();
                            $('#coins_form').hide();
                        }

                        if(data.result == "true"){
                          $('#deposit_data').removeAttr("disabled");
                          $('#moneyflash2').text("<%= t('cards.accept_this_operation')%>");
                          $('#moneyflash2').css("color","#0fa3b1");
                        }else {
                          $('#deposit_data').attr("disabled", "disabled");
                          $('#moneyflash2').text(data.result);
                          $('#moneyflash2').css("color","red");
                        }

                    }
                });

        });


        $("#digital").change(function() {
            var selectedbank = $( "#digital option:selected" ).val();
            var value = $("#deposit_value").val();

            $.ajax({ type:'get',url:'/payment_data',
                     data:{selectedbank:selectedbank,value:value,bank_type:"digital_bank"},
                     contentType: "application/json",
                     dataType: "json",
                     success: function(data){
                        $('#expenses').text(data.value);
                        var expenses = parseFloat(data.value);
                        var valuef = parseFloat(value);
                        var total_val = (valuef + expenses);
                        var totalval = total_val * ratio
                        var net_card_value = parseFloat(data.net_card_value);
                        $('#total').text(total_val);
                        $('#balance_val').val(total_val.toFixed(2));
                        $('#balancenote').text("<%= t('cards.add_money_with')%> "+ num_Commas(totalval.toFixed(2)) +" <%= t('cards.american_dollar_at')%> "+ data.bankdata.bank_name +" <%= t('cards.with_this_details')%> :");
                        $('#card_val').val(valuef);
                        $('#net_card_value').val(net_card_value);
                        $('#card_value').text(net_card_value);
                        $('#total_money').val(total_val.toFixed(2));
                        $('#namebank').text(data.bankdata.bank_name);
                        $('#bank_key').val(data.bankdata.bank_key);
                        $('#cryptocurrency').val(data.bankdata.bank_key);
                        $('#cryptoval').val(value);                  
                        $('#account_name').text(data.bankdata.account_name);
                        $('#coins_form').show();
                        $('#perfectmoney_form').hide();
                        $('#localpay').hide();
                        
                    if(data.result == "true"){
                      $('#deposit_data').removeAttr("disabled");
                      $('#moneyflash2').text("<%= t('cards.accept_this_operation')%>");
                      $('#moneyflash2').css("color","#0fa3b1");
                    }else {
                      $('#deposit_data').attr("disabled", "disabled");
                      $('#moneyflash2').text(data.result);
                      $('#moneyflash2').css("color","red");
                    }
                  }
            });

        });

    });

</script>
  </body>
</html>
