
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Title -->
    <title>معاملة إيداع جديدة</title>

    <% if I18n.locale.to_s == "en" %>

      <!-- Bootstrap -->
      <link href="/assets/en/css/bootstrap.min.css" rel="stylesheet" >

      <!-- Animate -->
      <link rel="stylesheet" href="/assets/en/css/animate.css" >

      <!-- Fonts -->
      <link rel="stylesheet" href="/assets/en/css/fonts.css" >
      <link rel="stylesheet" href="/assets/en/css/font-awesome.min.css">

      <!-- Flags -->
      <link href="/assets/en/css/flags.css" rel="stylesheet">

      <!-- Style -->
      <link rel="stylesheet" href="/assets/en/style.css" >

    <% else %>

      <!-- Bootstrap -->
      <link href="/assets/css/bootstrap.min.css" rel="stylesheet" >

      <!-- Bootstrap rtl -->
      <link href="/assets/css/bootstrap.min.rtl.css" rel="stylesheet" >

      <!-- Animate -->
      <link rel="stylesheet" href="/assets/css/animate.css" >

      <!-- Fonts -->
      <link rel="stylesheet" href="/assets/css/fonts.css" >
      <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

      <!-- Flags -->
      <link href="/assets/css/flags.css" rel="stylesheet">

      <!-- Style -->
      <link rel="stylesheet" href="/assets/style.css" >

    <% end %>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

<% if @deposit_status.where(key: "deposit_status").pluck(:value).first == "on" %>
<br>
<span style="color: red;font-size: x-large;border:1px solid red;margin-left: 450px;"><%= @deposit_status.where(key: "deposit_msg").pluck(:value).first %></span>
<% else %>

    <div class="white-page all-height">
      <!-- Deposite Steps -->
      <div class="container">
        <!-- Header -->
        <div class="row">
          <div class="col-lg-12">
            <div class="simple-head-3 simple-head-4 relative-box">
              <a href="/new_transaction" class="back-to"><i class="back-arrow"></i></a>
              <div class="center-simple-head">
                <h1><%= t('cards.what_deposit_method')%></h1>
              </div>
              <a href="/dashboard" class="close-button"><i class="fa fa-times" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        <!-- Header -->

        <!-- Deposite Transaction -->
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
              <div class="deposite-transaction-card">
                <div class="deposite-transaction-img">
                  <img src="/assets/img/payers-card.svg" alt="payers-card">
                </div>
                <h2><%= t('cards.payers_cards')%></h2>
                <p class="paragraph-2"><%= t('cards.payers_cards_artical')%></p>
                <a href="/charging_card" class="button-3"><%= t('cards.payers_prepaid_cards')%></a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
              <div class="deposite-transaction-card">
                <div class="deposite-transaction-img">
                  <img src="/assets/img/credit-card.svg" alt="credit-card">
                </div>
                <h2><%= t('cards.credit_card_or_banks')%></h2>
                <p><%= t('cards.credit_card_or_banks_artical')%></p>
                <a href="/payment_method" class="button-3"><%= t('cards.credits_or_banks')%></a>
              </div>
            </div>
          </div>
        </div>
        <!-- Deposite Transaction -->
      </div>
    </div>
<% end %>
  </body>
</html>
<!-- Jquery Files -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.flagstrap.min.js"></script>
<script  src="/assets/js/steps.js"></script>
<script src='/assets/js/jquery-ui.min.js'></script>
<script src='/assets/js/bootstrap-datepicker.min.js'></script>
<script src='/assets/js/bootstrap-datepicker.ar.js'></script>
<script src="/assets/js/main.js"></script>