<div class="container">
<table class="table table-bordered table-condensed" align="center">
    <thead>
        <tr>
        <th colspan=2><h4>Payment Information<h4></th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td align="right">Status:</td>
        <td>Waiting for your funds...</td>
        </tr>

        <tr>
        <td align="right">Total Amount To Send:</td>
        <td><%= @transaction.amount %> <%= @currency %> (total confirms needed: <%= @transaction.confirms_needed %>)</td>
        </tr>

        <tr>
        <td align="right">Received So Far:</td>
        <td>0.00000000 <%= @currency %> (unconfirmed)</td>
        </tr>

        <tr>
        <td align="right">Balance Remaining:</td>
        <td><%= @transaction.amount %> <%= @currency %><br /><img src="<%= @transaction.qrcode_url %>" border=0></td>
        </tr>
        
        <tr>
        <td align="right">Send To Address:</td>
        <td><%= @transaction.address %></td>
        </tr>
        
        <tr>
        <td align="right">Time Left For Us to Confirm Funds:</td>
        <td><b><span class="status-countdown"></span></b></td>
        </tr>
        
        <tr>
        <td align="right">Seller:</td>
        <td><a href="https://payers2019.herokuapp.com" style="color:blue;" target="_blank">Payers</a></td>
        </tr>

        <tr>
        <td align="right">Seller Email:</td>
        <td><span class="__cf_email__" style="color:blue;">Support@Payers.Net</span></td>
        </tr>
        <tr>
        <td align="right">Leave Feedback:</td>
        <td>You will be able to leave feedback once this transaction is completed.</td>
        </tr>

        <tr>
        <td align="right">Payment ID:</td>
        <td><%= @transaction.txn_id %><br />(have this handy if you need any support related to this transaction)</td>
        </tr>

        <td align="right">For More Info:</td>
        <td><a href="<%= @transaction.status_url %>" target="_blank"><span class="__cf_email__" style="color:blue;">Operation URL</span></a></td>
        </tr>
    </tbody>
</table>
<%= link_to 'Back', root_path %>
</div>
</div>
        
        <script type="text/javascript">
			var left = <%= @transaction.timeout %>;
			function duration2(secs) {
				if (secs <= 0) {
					return 'Too Late';
				}
				var vDay = Math.floor(secs / 86400);
				secs -= (vDay * 86400);
				var vHour = Math.floor(secs / 3600);
				secs -= (vHour * 3600);
				var vMin = Math.floor(secs / 60);
				secs -= (vMin * 60);
			
				var sout = '';
				if (vDay > 0) { sout = sout+vDay+'d '; }
				if (vHour > 0) { sout = sout+vHour+'h '; }
				if (vMin > 0) { sout = sout+vMin+'m '; }
				if (secs > 0) { sout = sout+secs+'s'; }
				return sout.trim();
			}
			
			function updCountdown() {
				var el = document.getElementsByClassName('status-countdown');
				var i = 0;
				for (i=0; i < el.length; i++) {
					el[i].innerHTML = duration2(left);
				}
				left--;
			}
			setInterval(updCountdown, 1000);
        </script>