<!-- Title Page -->
<div class="head-page title-page support-head custom-container-2">
  <div class="container">
    <div class="row margin-b-30">
      <div class="col-xs-12">
        <h1><%= t('money_ops.transaction_Record')%></h1>
        <p><%= t('money_ops.all_the_transactions_you_have_made_to_your_account')%></p>
      </div>
    </div>
    <div class="row">
      <%
        if I18n.locale.to_s == "en"
          @pull1 = "pull-left"
          @pull2 = "pull-right"
        else
          @pull1 = "pull-right"
          @pull2 = "pull-left"
        end
      %>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="<%= @pull1 %>">
          <ul class="nav-style">
            <li class="active"><a data-toggle="tab" href="#pending-transactions"><%= t('money_ops.in_progress')%><span><%= @pending_ops.count %></span></a></li>
            <li><a data-toggle="tab" href="#transactions-in-progress"><b><%= t('money_ops.completed_transactions')%></b></a></li>
            <li><a data-toggle="tab" href="#previous-transactions"><b><%= t('money_ops.cancellled_transactions')%></b></a></li>
          </ul>
        </div>
        <div class="filter-table filter-table-2 <%= @pull2 %>">
          <span class="search-span" href="javascript:void(0)" data-toggle="modal" data-target="#search-box"></span>
          <span><%= t('money_ops.sort_By')%></span>
          <div class="inputstyle selectstyle">
            <select>
              <option value="1"><%= t('money_ops.date_latest_to_oldest')%></option>
              <option value="2"><%= t('money_ops.date_latest_to_oldest')%></option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Title Page -->

<!-- Support -->
<div class="custom-container-2">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="white-box">
          <div class="tab-content">
            <div id="pending-transactions" class="tab-pane fade in active">
              <!-- Filter Table -->
              <div class="row margin-b-20">
                <div class="col-xs-12 filter-table filter-table-2">
                  <span><%= t('money_ops.transaction_Type')%></span>
                  <div class="inputstyle selectstyle">
                    <select>
                      <option value="1"><%= t('money_ops.deposite')%></option>
                      <option value="2"><%= t('money_ops.withdraw')%></option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- Filter Table -->
              <!-- Pending Transactions Table -->
              <div class="table-payers">
                <div class="tabel-head">
                  <div class="table-head-col">
                    <%= t('money_ops.transaction_Type')%>
                  </div>
                  <div class="table-head-col hidden-xs">
                    <%= t('money_ops.transaction_Number')%>
                  </div>
                  <div class="table-head-col hidden-xs">
                    <%= t('money_ops.balance_Before')%>
                  </div>
                  <div class="table-head-col">
                    <%= t('money_ops.suspension_Reason')%>
                  </div>
                  <div class="table-head-col hidden-xs">
                    <%= t('money_ops.date_and_Time of_Transaction')%>
                  </div>
                </div>
                <div class="tabel-body">

                <% @pending_ops.each do |money_op| %>
                  <div class="table-row">
                    <div class="table-col">
                      <% if money_op.optype == 1 %>
                      <% @opurl = UsersWalletsTransfer.where(operation_id: money_op.opid).first
                      if @opurl
                        @id = @opurl.id
                        if @opurl.transfer_type == "Product"
                          @trans_type = t('money_ops.transfer') +" | "+ t('user_wallets.commodity')
                        else
                          @trans_type = t('money_ops.transfer') +" | "+ t('user_wallets.service')
                        end
                      else
                        @id = "#"
                      end
                     %>
                      <a href="/users_wallets_transfers/<%= @id %>"><img src="assets/img/transfer-icon.svg" alt="تحويل | مقابل سلعة"><%= @trans_type %></a>
                      <% elsif money_op.optype == 2 %>
                      <a href="#"><img src="assets/img/reception-icon.svg" alt="استقبال | مقابل سلعة"><%= t('user_wallets.receive')%> | <%= t('user_wallets.service')%><</a>
                      <% elsif money_op.optype == 3 %>
                      <% @opurl = Withdraw.where(operation_id: money_op.opid).first
                      if @opurl
                        @id = @opurl.id
                      else
                        @id = "#"
                      end
                     %>
                      <a href="/withdraws/<%= @id %>"><img src="assets/img/withdrawal-icon.svg" alt="سحب | حوالة بنكية"><%= t('money_ops.withdraw')%> | <%= t('money_ops.bank_transfer')%></a>
                      <% elsif money_op.optype == 4 %>
                      <a href="/money_ops/<%= money_op.id %>"><img src="assets/img/deposit-icon.svg" alt="إيداع | حوالة بنكية"> <%= t('money_ops.deposite')%> | <%= t('money_ops.bank_transfer')%></a>
                      <% end %>
                    </div>
                    <div class="table-col hidden-xs">
                      <p><span class="arial-text uppercase-text"><%= money_op.opid%></span></p>
                    </div>
                    <div class="table-col hidden-xs">
                    $ <%= money_op.amount.round(2) %>
                    </div>
                    <div class="table-col">
                    <% if money_op.admin_note == nil || money_op.admin_note == "" %>
                      <%= "لا يوجد" %>
                    <% else %>
                      <%= money_op.admin_note %>
                    <% end %>
                    </div>
                    <div class="table-col hidden-xs">
                      <span class="arial-text"><%= l(money_op.created_at, format: "%d") %></span> <%= l(money_op.created_at, format: "%B") %> <span class="arial-text"><%= l(money_op.created_at, format: "%Y") %></span> | <span class="arial-text"><%= l(money_op.created_at, format: "%I:%M %p") %></span>
                      </div>
                  </div>
                <% end %>
                </div>
                <% if @pending_ops.count > 5 %>
                <div class="apple_pagination">
                  <%= will_paginate @pending_ops, :container => false %>
                </div>
                <% end %>
              </div>
              <!-- Pending Transactions Table -->
            </div>
            <div id="transactions-in-progress" class="tab-pane fade">
              <!-- Filter Table -->
              <div class="row margin-b-20">
                <div class="col-xs-12 filter-table filter-table-2">
                  <span><%= t('money_ops.transaction_Type')%></span>
                  <div class="inputstyle selectstyle">
                    <select>
                      <option value="1"><%= t('money_ops.deposite')%></option>
                      <option value="2"><%= t('money_ops.withdraw')%></option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- Filter Table -->
              <!-- In Progress Transactions Table -->
              <div class="table-payers">
                <div class="tabel-head">
                  <div class="table-head-col">
                    <%= t('money_ops.transaction_Type')%>
                  </div>
                  <div class="table-head-col hidden-xs">
                    <%= t('money_ops.transaction_Number')%>
                  </div>
                  <div class="table-head-col hidden-xs">
                      <%= t('money_ops.balance_Before')%>
                  </div>
                  <div class="table-head-col">
                    <%= t('money_ops.suspension_Reason')%>
                  </div>
                  <div class="table-head-col hidden-xs">
                      <%= t('money_ops.date_and_Time of_Transaction')%>
                  </div>
                </div>
                <div class="tabel-body">


                <% @compeleted_ops.each do |money_op| %>
                  <div class="table-row">
                    <div class="table-col">
                      <% if money_op.optype == 1 %>
                      <% @opurl = UsersWalletsTransfer.where(operation_id: money_op.opid).first
                        if @opurl
                          @id = @opurl.id
                          if @opurl.transfer_type == "Product"
                            @trans_type = t('money_ops.transfer') +" | "+ t('user_wallets.commodity')
                          else
                            @trans_type = t('money_ops.transfer') +" | "+ t('user_wallets.service')
                          end
                        else
                          @id = "#"
                        end
                       %>
                      <a href="/users_wallets_transfers/<%= @id %>"><img src="assets/img/transfer-icon.svg" alt="تحويل | مقابل سلعة"><%= @trans_type %></a>
                      <% elsif money_op.optype == 2 %>
                      <a href="#"><img src="assets/img/reception-icon.svg" alt="استقبال | مقابل سلعة"><%= t('user_wallets.receive')%> | <%= t('user_wallets.service')%></a>
                      <% elsif money_op.optype == 3 %>
                      <% @opurl = Withdraw.where(operation_id: money_op.opid).first
                      if @opurl
                        @id = @opurl.id
                      else
                        @id = "#"
                      end
                      %>
                      <a href="/withdraws/<%= @id %>"><"><img src="assets/img/withdrawal-icon.svg" alt="سحب | حوالة بنكية"><%= t('money_ops.withdraw')%> | <%= t('money_ops.bank_transfer')%></a>
                      <% elsif money_op.optype == 4 %>
                      <a href="/money_ops/<%= money_op.id %>"><img src="assets/img/deposit-icon.svg" alt="إيداع | حوالة بنكية">
                      <% if money_op.payment_gateway == "Payers" %>
                      <%= t('money_ops.deposite')%> | <%= t('money_ops.payers_card')%>
                      <% else %>
                      <%= t('money_ops.deposite')%> | <%= t('money_ops.bank_transfer')%></h4>
                      <% end %></a>
                      <% end %>
                    </div>
                    <div class="table-col hidden-xs">
                      <p><span class="arial-text uppercase-text"><%= money_op.opid%></span></p>
                    </div>
                    <div class="table-col hidden-xs">
                    $ <%= money_op.amount.round(2) %>
                    </div>
                    <div class="table-col">
                    <% if money_op.admin_note == nil || money_op.admin_note == "" %>
                      <%= "لا يوجد" %>
                    <% else %>
                      <%= money_op.admin_note %>
                    <% end %>
                    </div>
                    <div class="table-col hidden-xs">
                      <span class="arial-text"><%= l(money_op.created_at, format: "%d") %></span> <%= l(money_op.created_at, format: "%B") %> <span class="arial-text"><%= l(money_op.created_at, format: "%Y") %></span> | <span class="arial-text"><%= l(money_op.created_at, format: "%I:%M %p") %></span>                      </div>
                  </div>
                <% end %>
                </div>
                <% if @compeleted_ops.count > 5 %>
                <div class="apple_pagination">
                  <%= will_paginate @compeleted_ops, :container => false %>
                </div>
                <% end %>
              </div>
              <!-- In Progress Transactions Table -->
            </div>
            <div id="previous-transactions" class="tab-pane fade">
              <!-- Filter Table -->
              <div class="row margin-b-20">
                <div class="col-xs-12 filter-table filter-table-2">
                  <span><%= t('money_ops.transaction_Type')%></span>
                  <div class="inputstyle selectstyle">
                    <select>
                      <option value="1"><%= t('money_ops.deposite')%></option>
                      <option value="2"><%= t('money_ops.withdrawal')%></option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- Filter Table -->
              <!-- Previous Transactions Table -->
              <div class="table-payers">
                <div class="tabel-head">
                  <div class="table-head-col">
                    <%= t('money_ops.transaction_Type')%>
                  </div>
                  <div class="table-head-col hidden-xs">
                    <%= t('money_ops.transaction_Number')%>
                  </div>
                  <div class="table-head-col hidden-xs">
                     <%= t('money_ops.balance_Before')%>
                  </div>
                  <div class="table-head-col">
                     <%= t('money_ops.suspension_Reason')%>
                  </div>
                  <div class="table-head-col hidden-xs">
                    <%= t('money_ops.date_and_Time of_Transaction')%>
                  </div>
                </div>
                <div class="tabel-body">

                <% @cancelled_ops.each do |money_op| %>
                  <div class="table-row">
                    <div class="table-col">
                      <% if money_op.optype == 1 %>
                      <% @opurl = UsersWalletsTransfer.where(operation_id: money_op.opid).first
                      if @opurl
                        @id = @opurl.id
                        if @opurl.transfer_type == "Product"
                          @trans_type = t('money_ops.transfer') +" | "+ t('user_wallets.commodity')
                        else
                          @trans_type = t('money_ops.transfer') +" | "+ t('user_wallets.service')
                        end
                      else
                        @id = "#"
                      end
                     %>
                      <a href="/users_wallets_transfers/<%= @id %>"><img src="assets/img/transfer-icon.svg" alt="تحويل | مقابل سلعة"><%= @trans_type%></a>
                      <% elsif money_op.optype == 2 %>
                      <a href="#"><img src="assets/img/reception-icon.svg" alt="استقبال | مقابل سلعة"><%= t('money_ops.receive')%> | <%= t('user_wallets.service')%></a>
                      <% elsif money_op.optype == 3 %>
                      <% @opurl = Withdraw.where(operation_id: money_op.opid).first
                      if @opurl
                        @id = @opurl.id
                      else
                        @id = "#"
                      end
                     %>
                      <a href="/withdraws/<%= @id %>"><img src="assets/img/withdrawal-icon.svg" alt="سحب | حوالة بنكية"><%= t('money_ops.withdraw')%> | <%= t('money_ops.bank_transfer')%></a>
                      <% elsif money_op.optype == 4 %>
                      <a href="/money_ops/<%= money_op.id %>"><img src="assets/img/deposit-icon.svg" alt="إيداع | حوالة بنكية"> <%= t('money_ops.deposite')%> | <%= t('money_ops.bank_transfer')%></a>
                      <% end %>
                    </div>
                    <div class="table-col hidden-xs">
                      <p><span class="arial-text uppercase-text"><%= money_op.opid%></span></p>
                    </div>
                    <div class="table-col hidden-xs">
                    $ <%= money_op.amount.round(2) %>
                    </div>
                    <div class="table-col">
                    <% if money_op.admin_note == nil || money_op.admin_note == "" %>
                      <%= "لا يوجد" %>
                    <% else %>
                      <%= money_op.admin_note %>
                    <% end %>
                    </div>
                    <div class="table-col hidden-xs">
                      <span class="arial-text"><%= l(money_op.created_at, format: "%d") %></span> <%= l(money_op.created_at, format: "%B") %> <span class="arial-text"><%= l(money_op.created_at, format: "%Y") %></span> | <span class="arial-text"><%= l(money_op.created_at, format: "%I:%M %p") %></span>                      </div>
                  </div>
                <% end %>
                </div>
                <% if @cancelled_ops.count > 5 %>
                <div class="apple_pagination">
                  <%= will_paginate @cancelled_ops, :container => false %>
                </div>
                <% end %>
              </div>
              <!-- Previous Transactions Table -->
              <!-- Pagination -->
              <!-- <div class="row">
                <div class="col-xs-12 filter-table pagination-li">
                  <a href="#" class="button-3"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  <a href="#" class="button-3"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                  <span><span class="arial-text">101-200</span> من <span class="arial-text">5,146</span></span>
                </div>
              </div> -->
              <!-- Pagination -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Support -->
