<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Title -->
    <title>معاملة سحب مجدولة</title>


    <% if I18n.locale.to_s == "en" %>

      <!-- Bootstrap -->
      <link href="/assets/en/css/bootstrap.min.css" rel="stylesheet" >

      <!-- Animate -->
      <link rel="stylesheet" href="/assets/en/css/animate.css" >

      <!-- Fonts -->
      <link rel="stylesheet" href="/assets/en/css/fonts.css" >
      <link rel="stylesheet" href="/assets/en/css/font-awesome.min.css">

      <!-- Flags -->
      <link href="/assets/en/css/flags.css" rel="stylesheet">

      <!-- Style -->
      <link rel="stylesheet" href="/assets/en/style.css" >

    <% else %>

      <!-- Bootstrap -->
      <link href="/assets/css/bootstrap.min.css" rel="stylesheet" >

      <!-- Bootstrap rtl -->
      <link href="/assets/css/bootstrap.min.rtl.css" rel="stylesheet" >

      <!-- Animate -->
      <link rel="stylesheet" href="/assets/css/animate.css" >

      <!-- Fonts -->
      <link rel="stylesheet" href="/assets/css/fonts.css" >
      <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

      <!-- Flags -->
      <link href="/assets/css/flags.css" rel="stylesheet">

      <!-- Style -->
      <link rel="stylesheet" href="/assets/style.css" >

    <% end %>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

    <div class="white-page all-height transaction-page">
      <!-- Deposite Steps -->
      <div class="container">
        <!-- Header -->
        <div class="row">
          <div class="col-lg-12">
            <div class="simple-head-3 simple-head-4 relative-box">
              <div class="center-simple-head">
                <h1><%= t('money_ops.start_new_transaction')%></h1>
              </div>
              <a href="/dashboard" class="close-button"><i class="fa fa-times" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        <!-- Header -->

        <!-- Automation Transaction -->
        <div class="row automation-transaction">
          <div class="text-center">
            <ul class="nav-style">
              <li><a href="#"><%= t("money_ops.Regular")%></a></li>
              <li class="active"><a href="#">Payers Automation</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
            <div class="deposite-transaction-card">
              <div class="automation-transaction-img">
                <img src="/assets/img/payers-automation-deposit.svg" alt="payers-card">
              </div>
              <h2><%= t('money_ops.deposit')%></h2>
              <p><%= t('money_ops.deposite_artical')%></p>
              <a href="/remittance" class="button-3"><%= t('money_ops.deposite_now')%></a>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
            <div class="deposite-transaction-card">
              <div class="automation-transaction-img">
                <img src="/assets/img/payers-card-send.svg" alt="credit-card">
              </div>
              <h2><%= t('money_ops.send')%></h2>
              <p class="paragraph-2"><%= t('money_ops.send_artical')%></p>
              <a href="/transfer_balance" class="button-3"><%= t('money_ops.send_money')%></a>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
            <div class="deposite-transaction-card">
              <div class="automation-transaction-img">
                <img src="/assets/img/payers-card-withdrawal.svg" alt="credit-card">
              </div>
              <h2><%= t('money_ops.withdrawal')%></h2>
              <p><%= t('money_ops.withdraw_artical')%></p>
              <a href="/withdraw_op" class="button-3"><%= t('money_ops.withdraw_amount')%></a>
            </div>
          </div>
        </div>
        <!-- Automation Transaction -->
      </div>
    </div>
    <!-- Jquery Files -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.flagstrap.min.js"></script>
    <script  src="/assets/js/steps.js"></script>
    <script src='/assets/js/jquery-ui.min.js'></script>
    <script src='/assets/js/bootstrap-datepicker.min.js'></script>
    <script src='/assets/js/bootstrap-datepicker.ar.js'></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>