<!-- Title Page -->
    <div class="head-page head-page-3 head-page-4 title-page custom-container-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6">
            <h1>تفاصيل معاملة مالية</h1>
            <p>معاملة إيداع رقم <%= @money_op.opid %></p>
          </div>
          <div class="col-xs-6 hidden-lg hidden-md hidden-sm text-left">
            <label id="transaction-payers-fileinput" class="payers-fileinput button-1">
              <span data-default='Choose file'>إرفع صورة الإيداع</span>
              <input type="file">
            </label>
            <a href="javascript:void(0)" data-toggle="modal" data-target="#transaction-details-popup"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- Title Page -->

    <!-- Transaction Details -->
    <div class="custom-container-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
          <% if @remittance_data %>
          <% if @remittance_data.user_account_number == nil || @remittance_data.user_account_number == "" %>

            <%= form_for :upload_payment_data ,:url => upload_payment_data_path,:html => { :multipart => true } do |f| %>

              <%=  f.hidden_field :operation_id, :value => @money_op.opid %>
              <%=  f.hidden_field :notification_id, :value => @money_op.id %>

            <div class="white-box transaction-form margin-b-50">
            <h3>تأكيد الدفع</h3>
            <p class="margin-b-30">هذه المعاملة <span class="bg-color-6 transaction-status-spp static-box">معلقة</span> بسبب انك لم تقم برفع بيانات وصورة الإيداع</p>
            <div class="row">
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="row margin-b-25">
                  <div class="col-xs-12">
                    <div class="inputstyle inputstyle-span selectstyle">
                      <span class="text-span">الدولة</span>
                      <select>
                        <% Country.all.each do |country| %>
                          <option value="<%= country.id %>"><%= country.Full_Name %></option>
                        <% end %>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row margin-b-25">
                  <div class="col-xs-12">
                    <div class="inputstyle">

                      <input type="text" name="upload_payment_data[user_account_number]" placeholder="رقم الحساب" required= true >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="row margin-b-25">
                  <div class="col-xs-12">
                    <div class="inputstyle">
                      <input type="text" name="upload_payment_data[branch_name]" required= true placeholder="إسم الفرع">
                    </div>
                  </div>
                </div>

                <div class="row margin-b-25">
                  <div class="col-xs-12 text-center">
                    <label class="payers-fileinput button-3">
                      <span data-default='Choose file'></span>
                      <input type="file" name="upload_payment_data[payment_receipt]" required= true>
                    </label>
                    <span class="upload-sp">ارفع صورة الإيداع</span>
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" class="button-1" >تأكيد الإيداع</button>
          </div>
          <% end %>
        <% end %>
        <% end %>

            <div class="transaction-details-box relative-box bg-color-8 margin-b-30">
            <% if @money_op.status == 0 %>
            <span class="bg-color-1 transaction-status-sp"><%= "جاري تنفيذها" %></span>
            <% elsif @money_op.status == 1 %>
            <span class="bg-color-3 transaction-status-sp"><%= "معاملة ناجحة" %></span>
            <% elsif @money_op.status == 2 %>
            <span class="bg-color-6 transaction-status-sp"><%= "معاملة معلقة" %></span>
            <% end %>
    					<div class="transaction-info">
    						<div class="transaction-text-list">
    							<div class="transaction-text">
    								<h3>رقم المعاملة</h3>
    								<p><span><%= @money_op.opid %></span></p>
    							</div>
    							<div class="transaction-text">
    								<h3>مبلغ المعاملة</h3>
    								<p><span>$ <%= number_with_delimiter(@money_op.amount.round(2), :delimiter => ',') %></span></p>
    							</div>
                  <div class="transaction-text">
                    <% if @money_op.status == 0 %>
                    <h3>تاريخ إنشاء المعاملة</h3>
                    <% elsif @money_op.status == 1 %>
                    <h3>تاريخ تاكيد المعاملة</h3>
                    <% elsif @money_op.status == 2 %>
                    <h3>تاريخ الغاء المعاملة</h3>
                    <% end %>
    								
    								<p><span><%= @time.strftime("%d") %></span> <%= @month %> <span><%= @time.strftime("%Y") %></span> - <span><%= @time.strftime("%I:%M") %></span> <%= @mor %></p>
    							</div>
    						</div>
    					</div>
    					<div class="transaction-type bg-color-7 text-center">
    						<h4>نوع المعاملة</h4>
    						<% if @money_op.optype == 1 %>
                <h4><%= "ارسال" %> - حوالة بنكية</h4>
                <% elsif @money_op.optype == 2 %>
                <h4><%= "استقبال" %> - حوالة بنكية</h4>
                <% elsif @money_op.optype == 3 %>
                <h4><%= "سحب" %> - حوالة بنكية</h4>
                <img src="/assets/img/withdrawal-icon.svg" alt="ارسال - مقابل سلعة">
                <% elsif @money_op.optype == 4 %>
                  <% if @money_op.payment_gateway == "Payers" %>
                  <h4> إيداع - بطاقة بايرز</h4>
                  <% else %>
                  <h4> إيداع - حوالة بنكية</h4>
                  <% end %>
                <img src="/assets/img/transaction-details-deposie.svg" alt="ارسال - مقابل سلعة">
                <% end %>
    					</div>
    					<div class="transaction-status">
    						<div class="transaction-text-list">
    							<div class="transaction-text transaction-user-info transaction-bank relative-box">
    								<img src="/assets/img/transaction-bank.svg" alt="profile-picture">
                    <div class="username-email-transaction">
                    <% @bank = CompanyBank.where(bank_key: @money_op.payment_gateway).first %>
                    <% if @bank %>
    									<h3><%= @bank.bank_name %></h3>
                      <p><%= @bank.country %></p>
                    <% else %>
                    <h3>بطاقة بايرز</h3>
                      <p>بطاقة مالية مسبقة الدفع</p>
                    <% end %>
    								</div>
    							</div>
    							<div class="transaction-text">
    								<h3>حالة الطلب</h3>
                    <p class="processing-status"><span>
                    <% if @money_op.status == 0 %>
                    <%= "جاري تنفيذها" %>
                    <% elsif @money_op.status == 1 %>
                    <%= "مكتملة" %>
                    <% elsif @money_op.status == 2 %>
                    <%= "ملغية" %>
                    <% end %>
                    </span></p>
    							</div>
                  <div class="transaction-text">
                  <% if @bank && (@bank.ibancode == "" || @bank.ibancode == nil) && @bank.swiftcode != "" %>
    								<h3>رقم السويفت Swift</h3>
                    <p><%= @bank.swiftcode%></p>
                  <% elsif @bank && (@bank.swiftcode == "" || @bank.swiftcode == nil) && @bank.ibancode != ""  %>
                    <h3>رقم الايبان Iban</h3>
                    <p><%= @bank.ibancode%></p>
                  <% end %>
    							</div>
    						</div>
    					</div>
    				</div>
    				<div class="transaction-details-steps white-box margin-b-30">
    					<h3>الاجراءات التي تمت على المعاملة</h3>
    					<ul>
              <% if @operation_notification %>
                <% @operation_notification.each do |notification| %>
                  <li>
                  <% @aaa = notification.description.split('/')
                    @description = t("mails.#{@aaa[0]}") + "#{@aaa[1]}" + t("mails.#{@aaa[2]}") + t("mails.#{@aaa[3]}") + t("mails.#{@aaa[4]}") + t("mails.#{@aaa[5]}")
                   %>
                    <h4><%= @description%></h4>
                    <span><%= l(notification.created_at, format: "%d ") %> <%= l(notification.created_at, format: "%B ") %> <%= l(notification.created_at, format: "%Y ") %></span>
                  </li>
                <% end %>
              <% else %>
              <li>
                <h4>لا توجد اجراءات سابقة لهذه المعاملة</h4>
              </li>
            <% end %>
    					</ul>
    				</div>
    			</div>
    			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    				<div class="sidebar-box transaction-action padding-40-25 hidden-xs">

    					<ul>
    						<li><span><img src="/assets/img/report-icon.svg"></span> <a href="/tickets">تقدم بشكوى</a></li>
    						<li><span><img src="/assets/img/bill-icon.svg"></span> <a href="#">فاتورة المعاملة</a></li>
                <li>
                  <label class="checkbox-label"> ارسل لي تنبيهات علي البريــــد و SMS لأي تحديثــات تخــص هذه المعاملة في المستقبل.
                    <input type="checkbox">
                    <span class="checkmarkbox"></span>
                  </label>
                </li>
    					</ul>
    				</div>
    			</div>
        </div>
      </div>
    </div>
    <!-- Transaction Details -->