<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Title -->
    <title><%= t('withdraws.new_withdraw_operation')%></title>

    <% if I18n.locale.to_s == "en" %>

      <!-- Bootstrap -->
      <link href="/assets/en/css/bootstrap.min.css" rel="stylesheet" >

      <!-- Animate -->
      <link rel="stylesheet" href="/assets/en/css/animate.css" >

      <!-- Fonts -->
      <link rel="stylesheet" href="/assets/en/css/fonts.css" >
      <link rel="stylesheet" href="/assets/en/css/font-awesome.min.css">

      <!-- Flags -->
      <link href="/assets/en/css/flags.css" rel="stylesheet">

      <!-- Style -->
      <link rel="stylesheet" href="/assets/en/style.css" >

    <% else %>

      <!-- Bootstrap -->
      <link href="/assets/css/bootstrap.min.css" rel="stylesheet" >

      <!-- Bootstrap rtl -->
      <link href="/assets/css/bootstrap.min.rtl.css" rel="stylesheet" >

      <!-- Animate -->
      <link rel="stylesheet" href="/assets/css/animate.css" >

      <!-- Fonts -->
      <link rel="stylesheet" href="/assets/css/fonts.css" >
      <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

      <!-- Flags -->
      <link href="/assets/css/flags.css" rel="stylesheet">

      <!-- Style -->
      <link rel="stylesheet" href="/assets/style.css" >

    <% end %>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

    <!-- Deposite Steps -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="simple-head-2">
            <a href="/new_transaction" class="back-to"><i class="back-arrow"></i></a>
            <div class="center-simple-head">
              <h1><%= t('withdraws.new_withdraw_operation')%></h1>
              <span><%= t('withdraws.secure_data')%></span>
            </div>
            <a href="/dashboard"><button class="button-4"><%= t('withdraws.back_to_main')%></button></a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
        <%= form_tag  url_for(:controller => 'money_ops', :action => 'withdrawpost'), :method => 'post' do %>
          <div class="steps-block">
            <div wizard="1" class="step-box relative-box">
              <h2><span>1</span> <%= t('withdraws.amount_withdraw_money')%></h2>
              <div class="input-stpe-box">
                <div class="row margin-b-15">
                  <div class="col-xs-12">
                    <div class="inputstyle inputdollar relative-box">
                      <span><span>$</span> <%= t('users.dollar')%></span>
                      <input type="text" id="with_val" name="withdrawamount" >
                    </div>
                  </div>
                </div>
                <p id="flash1" class="steps-p margin-b-20"><%= t('user_wallets.approximately_sar')%></p>
                <button id="choose_bank" type="button" onclick="payersWizard(1)" class="button-1"><%= t('withdraws.choose_withdraw_method')%></button>
              </div>
            </div>
            <div wizard="2" class="step-box relative-box">
              <button type="button" onclick="payersWizard(0)" class="prev-step"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
              <h2><span>2</span><%= t('withdraws.choose_withdraw_method')%></h2>
              <div class="input-stpe-box">
                <div class="row margin-b-20">
                  <div class="col-xs-12">
                    <div class="inputstyle selectstyle">
                    <select id="send_m" name="withdraw_method">
                    <option value="local_bank"><%= t('withdraws.local_banks')%></option>
                     </select>
                    </div>
                  </div>
                </div>
                <div class="inputstyle selectstyle margin-b-20">
                    <select id="user_banks" name="bank_id" >
                        <option disabled selected value><%= t('withdraws.choose_bank')%></option>
                        <% @user_banks.each do |user_bank| %>
                            <option value="<%= user_bank.id %>"><%= current_user.firstname + current_user.lastname + " - " %><%= user_bank.branch_name %></option>
                        <% end %>
                    </select>
                    
                </div>
                
                <a href="javascript:void(0)" data-toggle="modal" data-target="#addbank"><span>+</span> <%= t('withdraws.add_new_bank')%></a>

                <p id="flash2" class="steps-p margin-b-20"></p>
                <input type="hidden" id="payment_gate" name="payment_gateway">
                <input type="hidden" id="fees" name="fees">
                <button id="withdraw_data" type="button" onclick="payersWizard(2)" class="button-1"><%= t('withdraws.bank_withdraw_data')%></button>
              </div>
            </div>
            <div wizard="3" class="step-box relative-box">
              <button type="button" onclick="payersWizard(1)" class="prev-step"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
              <h2><span>3</span> <%= t('withdraws.bank_withdraw_data')%></h2>
              <div class="input-stpe-box final-step-information">
                <p id="with_amount" class="margin-b-40"><%= t('withdraws.withdraw_note2_before_save')%></p>

                <div class="print-pdf-info relative-box">
                  <div class="row margin-b-20">
                    <div class="col-xs-12">
                      <span><%= t('withdraws.bank_name')%></span>
                      <h3 id="bank_name"><img src="/assets/img/ahli-acc.svg" alt="البنك الأهلي السعودي"> <%= t('withdraws.national_saudi_bank')%></h3>
                    </div>
                  </div>
                  <div class="row margin-b-20">
                    <div class="col-xs-12">
                      <span><%= t('withdraws.branch_name')%></span>
                      <h4 id="branch_name" ></h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <span><%= t('withdraws.account_number')%></span>
                      <h4 id="account_number">2214795386</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <span><%= t('withdraws.account_name')%></span>
                      <h4 id="account_name"><%= current_user.firstname + " " + current_user.lastname %></h4>
                    </div>
                  </div>
                  <a href="#" class="print-pdf"><img src="/assets/img/pdf.svg" alt="طباعه بيانات  الإيداع" title="طباعه بيانات  الإيداع"></a>
                </div>
                <button class="button-2 margin-t-30 margin-b-30"><%= t('withdraws.confirm_withdraw')%></button>
                <p class="final-step-alert"><%= t('withdraws.withdraw_note_before_save')%></p>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <!-- Deposite Steps -->

    <!-- Add Bank -->
    <div class="modal fade popup-box" id="addbank" tabindex="-1" role="dialog" aria-labelledby="addbankLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"><%= t('users_banks.add_New_Bank_Account')%></h4>
            <span data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
          </div>
          <div class="modal-body">
            <%= form_for UsersBank.new, :html => {:id => 'add_new_bank'}, local: true do |form| %>
              <div class="row margin-b-25">
                <div class="col-xs-12">
                  <div class="inputstyle inputstyle-span selectstyle">
                    <span class="text-span"><%= t('users_banks.bank')%></span>
                    <span id="req_bank"></span>
                    <%= form.select(:bank_id,  options_for_select(Bank.where(country_id: current_user.country_id).all.includes(:country).collect {|p| [ "#{p.bank_name}- #{p.country.Full_Name}", p.id ] } + ['create a new bank'] ) ,{ :selected => form.object.bank_id, :include_blank => '-- Select bank --'}, 'data-error' => '#req_bank'  )%>                
                  </div>
                </div>
              </div>
              <div id="new_bank" style="display:none;" class="row margin-b-25">
                <div class="col-xs-12">
                  <div class="inputstyle">
                    <span id="req_bank_name"></span>
                    <%= form.text_field :bank_name, :placeholder => t('users_banks.bank_name'), :autocomplete => "off", 'data-error' => '#req_bank_name' %> 
                  </div>
                </div>
              </div>
              <div class="row margin-b-25">
                <div class="col-xs-12">
                  <div class="inputstyle inputstyle-span selectstyle">
                    <span class="text-span">اسم الحساب</span>
                    <input type="text" name="" placeholder="<%= current_user.firstname + ' ' + current_user.lastname %>" disabled>                    
                  </div>
                </div>
              </div>
              <div class="row margin-b-25">
                <div class="col-xs-12">
                  <div class="inputstyle">
                    <span id="req_num"></span>
                    <%= form.text_field :account_number, :required => true, :placeholder => t('users_banks.account_Number'), :autocomplete => "off", 'data-error' => '#req_num' %>
                  </div>
                </div>
              </div>
              <div class="row margin-b-25">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-b-25-m">
                  <div class="inputstyle">
                    <span id="req_branch"></span>
                    <%= form.text_field :branch_name ,:required => true, :placeholder => t('users_banks.branch_Name') , :autocomplete => "off" , 'data-error' => '#req_branch'%>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="inputstyle">
                   <%= form.text_field :swift_code, :placeholder => t('users_banks.swift_code'), :autocomplete => "off" %>
                  </div>
                </div>
              </div>
              <label class="checkbox-label margin-b-30">
                <%= form.check_box :is_default %><%= t('users_banks.make_it_the_default_bank_account_for_my_transactions')%>
                <span class="checkmarkbox"></span>
              </label>
              <div class="row">
                <div class="col-xs-6">
                  <button id="add_acc" type="submit" class="button-1"><%= t('users_banks.add_a_new_account')%></button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Bank -->
    

<%= render :partial => 'layouts/script' %>

    
  
  </body>
</html>
<script>

    $(document).ready(function() {

        $('#choose_bank').attr("disabled", "disabled");
        $('#withdraw_data').attr("disabled", "disabled");

        function numberCommas(x) {
          var parts = x.toString().split(".");
          parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
          return parts.join(".");
        }
        var ratio = parseFloat("<%= @currency_ratio %>")
        $("#with_val").keyup(function() {
          var value = $("#with_val").val();
          var value = parseFloat(value)
          var totalval = value * ratio
          $('#deposit_data').attr("disabled", "disabled");
          $('#flash2').text("<%= t('user_wallets.this_field_is_required')%>");
          $('#flash2').css("color","rgb(101, 115, 153)");
          $("#user_banks").val($("#user_banks option:first").val());
          if($.isNumeric( value ) === false || value <= 0 || value == null){
            $('#choose_bank').attr("disabled", "disabled");
            $('#flash1').text("<%= t('withdraws.cannot_withdraw_this_balance')%>");
            $('#flash1').css("color","red");
          }else {
            $('#flash1').text("<%= t('user_wallets.amount_approximately_equal')%> "+ numberCommas(totalval.toFixed(2)) +" <%= @currency_name%>");
            $('#flash1').css("color","#657399");
            $('#choose_bank').removeAttr("disabled");
          }
          
        });

        $("#user_banks").change(function() {
            var selectedbank = $( "#user_banks option:selected" ).val();
            var withdraw_method = $( "#send_m option:selected" ).val();
            var amount = $("#with_val").val();
            var totalval = parseFloat(amount) * ratio    
            $.ajax({ type:'get',url:'/bank_data',
            data:{selectedbank:selectedbank,amount:amount,withdraw_method:withdraw_method},
            contentType: "application/json",
            dataType: "json",
            success: function(data){
                //console.log(data.bankdata)
                $('#with_amount').text("<%= t('withdraws.we_will_review_your_request')%> "+ numberCommas(totalval.toFixed(2)) +"  <%= @currency_name %>  <%= t('withdraws.from_ou_account_in')%> "+ data.bankdata.bank_name +" <%= t('cards.with_this_details')%> :");
                //$('#fees_amount').text('<%= "Fees Amount"%>'+' : '+ data.fees +" <%= t('users.USD')%>");
                //var net_val = (amount - data.fees);
                //$('#net_amount').text('<%= "Net Amount"%>'+' : '+ net_val +" <%= t('users.USD')%>");
                $('#fees').val(data.fees);
                $('#bank_name').text(data.bankdata.bank_name);
                $('#payment_gate').val(data.bankdata.bank_name);
                $('#branch_name').text(data.userbank.branch_name);
                //$('#account_name').text(data.userbank.account_name);
                $('#account_number').text(data.userbank.account_number);

                if(data.message == "true"){
                    $('#withdraw_data').removeAttr("disabled");
                    $('#flash2').text("<%= t('withdraws.accept_this_operation')%>");
                    $('#flash2').css("color","#0fa3b1");
                }else {
                    $('#withdraw_data').attr("disabled", "disabled");
                    $('#flash2').text(data.message);
                    $('#flash2').css("color","red");
                }
            }
            });
        });

    });

</script>