<div class="padding">
    <div class="box">
        <div class="box-header">
             <h2>Editing Payers Blog</h2>
        </div>
        <div class="box-divider m-0"></div>
            <div class="box-body">
                <%= form_with(model: @payers_blog, local: true) do |form| %>
                    <% if @payers_blog.errors.any? %>
                         <div id="error_explanation">
                             <ul>
                                <% @payers_blog.errors.full_messages.each do |message| %>
                                   <li><%= message %></li>
                                <% end %>
                             </ul>
                         </div>
                    <% end %>

                      <div class="form-group row">
                          <label class="col-sm-2 form-control-label">Title</label>
                                <div class="col-sm-10">
                                    <%= form.text_field :title, class: 'form-control', :required => true %>
                                </div>
                      </div>

                      <div class="form-group row">
                      <label class="col-sm-2 form-control-label">Content</label>
                          <div class="col-sm-10">
                              <%= form.text_area :content , class: 'form-control', :required => true %>
                              </div>
                      </div>

                      <div class="form-group row">
                      <label class="col-sm-2 form-control-label">Slug</label>
                          <div class="col-sm-10">
                              <%= form.text_field :slug , class: 'form-control', :required => true %>
                          </div>
                      </div>

                      <div class="form-group row">
                      <label class="col-sm-2 form-control-label">Keyword</label>
                          <div class="col-sm-10">
                              <%= form.text_field :keywords , class: 'form-control', :required => true %>
                          </div>
                      </div>

                      <div class="form-group row">
                      <label class="col-sm-2 form-control-label">Category</label>
                         <div class="col-sm-10">
                         <%= form.select(:category_id,  options_for_select(BlogsCategory.all.collect {|p| [ p.name, p.id ] }, :selected => @payers_blog.category_id ) ,{},  :class => 'form-control c-select' , :required => true) %>
                      </div>
                      </div>

                      <div class="form-group row">
                      <label class="col-sm-2 form-control-label">Blog Status</label>
                        <div class="col-sm-10">
                        <%= form.select :active,options_for_select([['Disabled',0],['Enabled',1]], :selected => @payers_blog.active),  {:include_blank => 'Select blog status'},{:class => 'form-control c-select' , :required => true} %>
                        </div>
                      </div>
                      

                       <div class="form-group row m-t-md">
                           <div class="col-sm-offset-2 col-sm-10">
                               <button type="submit" class="btn btn-fw primary" id="submit" >Submit</button>
                           </div>
                       </div>
                <% end %>
            </div>
    </div>
    <%= link_to 'Show', @payers_blog %> | <%= link_to 'Back', payers_blogs_path %>
</div>
</div>

