<div class="box-header">
<h2>User Blogs</h2>
<small>List of all quick user Blogs</small>
</div>
<div class="box-body">
<% if current_user and current_user.roleid == 1 %>
     <%= link_to 'New Payers Blog', new_payers_blog_path, {:class => 'btn btn-fw accent'}%>
<% end %>
</div>

<div class="box box-size"> <!--class box-size for this style-->
    <div class="table-responsive table2"> <!-- class table2 for this style-->
      <table class="table table-striped b-t" class="table m-b-none" ui-jp="footable" data-filter="#filter" >
        <thead>
          <tr id="td">
          <th>Title</th>
          <th>Slug</th>
          <th>Content</th>
          <th>Keywords</th>
          <th>Category</th>
          <th>Status</th>
          <th></th>
          <th></th>
          </tr>
        </thead>
        <tbody>
        <% @payers_blogs.each do |payers_blog| %>
            <tr>
            <td><%= payers_blog.title %></td>
            <td><%= payers_blog.slug %></td>
            <td><%= payers_blog.content %></td>
            <td><%= payers_blog.keywords %></td>
            <td><%= payers_blog.blogs_category.name %></td>
            <td><% if payers_blog.active == 1 %>
            <%= "Active" %>
            <% elsif payers_blog.active == 0 %>
            <%= "Disabled" %>
            <% end %></td>         
            <td><%= link_to 'Show', payers_blog,:class => "md-btn md-flat m-b-sm w-xs text-success" %></td>
            <td><%= link_to 'Edit', edit_payers_blog_path(payers_blog),:class => "md-btn md-flat m-b-sm w-xs text-primary" %></td>
            </tr>
          <% end %>
        </tbody>          
      </table>
    </div>
    <footer class="dker p-a">
      <div class="row">
        <div class="col-sm-4 text-center">
          <small class="text-muted inline m-t-sm m-b-sm">total number is <%= @payers_blogs.count %></small>
        </div>
        <div class="col-sm-4 text-right text-center-xs">
          <ul class="pagination pagination-sm m-0">
            <li><a href><i class="fa fa-chevron-left"></i></a></li>
            <li class="active"><a href>1</a></li>
            <li><a href>2</a></li>
            <li><a href>3</a></li>
            <li><a href>4</a></li>
            <li><a href>5</a></li>
            <li><a href><i class="fa fa-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>  
