


<!DOCTYPE html>
<html lang="en">
<style>
.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }
</style>
<head>
  <meta charset="utf-8" />
  <title>Payers - Payment Facilator</title>
  <meta name="description" content="Admin, Dashboard, Bootstrap, Bootstrap 4, Angular, AngularJS" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- for ios 7 style, multi-resolution icon of 152x152 -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
  <link rel="apple-touch-icon" href="/assets/images/logo.png">
  <meta name="apple-mobile-web-app-title" content="Flatkit">
  <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" sizes="196x196" href="/assets/images/logo.png">
  
  <!-- style -->
  <link rel="stylesheet" href="/assets/animate.css/animate.min.css" type="text/css" />
  <link rel="stylesheet" href="/assets/glyphicons/glyphicons.css" type="text/css" />
  <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="/assets/material-design-icons/material-design-icons.css" type="text/css" />

  <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
  <!-- build:css ../assets/styles/app.min.css -->
  <link rel="stylesheet" href="/assets/styles/app.css" type="text/css" />
  <!-- endbuild -->
  <link rel="stylesheet" href="/assets/styles/font.css" type="text/css" />
</head>
<body>
<div class="padding">
<div class="box">
<div class="box-header">
<h2>Payers Blogs</h2>
<small>List of all quick Payers Blogs</small>
</div>
      <div class="box-body">
        <%= form_tag  url_for(:controller => 'payers_blogs', :action => 'search_blog'), :method => 'get' do %>
          <div class="form-group row group2"> <!-- class group2 for this style-->
            <label  class="col-sm-2 form-control-label subject">Search Key</label><!-- class subject for style of form-group from folder css2 -->
            <div class="col-sm-10">
              <input type="text" class="form-control subject" id="inputEmail3" placeholder="start typing to search in payers blogs" name="search" value="<%= @search %>">
            </div>
          </div>

          <div class="form-group row group2">
            <label  class="col-sm-2 form-control-label subject">Filter By</label>
            <div class="col-sm-10">
              <%= select_tag :search_filter,options_for_select([['All',1],['Keywords',2],['title',3],['content',4]], :selected => @search_filter), {class:"form-control c-select subject"} %>
            </div>          
          </div>

          <div class="form-group row m-t-md">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-fw blue" id="submit" >Search</button>
          </div>
      <% end %>
    </div>
    </div>
 

  

<div class="box-body">
  <% if @payers_blogs != [] %>
    <% @payers_blogs.each do |payers_blog| %>
        <div class="box">
            <div class="box-header light-blue-200">
                <h3><%= payers_blog.title %></h3>
                <small>Published by : <a href="/catblogs?user_id=<%= payers_blog.author_id%>" rel="tag"><span style="color:blue;"><%= payers_blog.user.firstname + " " + payers_blog.user.lastname%></a></span>
                <%= payers_blog.created_at.strftime("%B %d, %Y")%></small>
            </div>
            <br>
            <% @categories.each do |category| %>
            <a href="/catblogs?cat_id=<%= category.id%>" class="btn btn-primary btn-sm" style="margin-left: 15px;" role="button"><%= category.name.upcase %></a>
            <% end %>
            <div class="box-body">
                <p class="m-0"><%= payers_blog.content.first(20) %>
                <a href="/display_blog?id=<%= payers_blog.id%>" rel="tag"><span style="color:blue;"><%= "... عرض المزيد" %></a></span></p>
            </div>
        </div>
    <% end %>
    <% if @payers_blogs.count > 3 %>
    <div class="apple_pagination">
      <%= will_paginate @payers_blogs, :container => false %>
    </div>
    <% end %>
  <% else %>
  <div><span  style=" color: blue; margin-left: 650px;font-size: large;">*عذرا لا توجد نتائج لهذا البحث*</span></div>
  <% end %>
    <%= link_to 'Back', users_blogs_path %>
</div>
</div>

<!-- build:js scripts/app.html.js -->
<!-- jQuery -->
  <script src="/libs/jquery/jquery/dist/jquery.js"></script>
<!-- Bootstrap -->
  <script src="/libs/jquery/tether/dist/js/tether.min.js"></script>
  <script src="/libs/jquery/bootstrap/dist/js/bootstrap.js"></script>
<!-- core -->
  <script src="/libs/jquery/underscore/underscore-min.js"></script>
  <script src="/libs/jquery/jQuery-Storage-API/jquery.storageapi.min.js"></script>
  <script src="/libs/jquery/PACE/pace.min.js"></script>

  <script src="scripts/config.lazyload.js"></script>

  <script src="/scripts/palette.js"></script>
  <script src="/scripts/ui-load.js"></script>
  <script src="/scripts/ui-jp.js"></script>
  <script src="/scripts/ui-include.js"></script>
  <script src="/scripts/ui-device.js"></script>
  <script src="/scripts/ui-form.js"></script>
  <script src="/scripts/ui-nav.js"></script>
  <script src="/scripts/ui-screenfull.js"></script>
  <script src="/scripts/ui-scroll-to.js"></script>
  <script src="/scripts/ui-toggle-class.js"></script>

  <script src="/scripts/app.js"></script>

  <!-- ajax -->
  <script src="/libs/jquery/jquery-pjax/jquery.pjax.js"></script>
  <script src="/scripts/ajax.js"></script>
<!-- endbuild -->

</body>
</html>
  
