


  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-fw accent" data-toggle="modal" data-target="#myModal">Payers Announcements</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button> 
        </div>
        <% @user_announcements.each do |user_announcement| %>
        <div class="modal-header">
          <div class="modal-body">
          <p class="modal-title" style="color: darkred;"><%= user_announcement.created_at.strftime("%d/%m/%Y") %> جديد</p>
          <h4 class="modal-title"><%= user_announcement.title %></h4>
            <p style="color: dimgrey;"><%= user_announcement.description %></p>
          </div>
        </div>
        <% end %>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  

