<h2>Announcement Details</h2>
<p>
  <strong>Title:</strong>
  <%= @user_announcement.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user_announcement.description %>
</p>

<%= link_to 'Back', user_announcements_path %>
