<% @locale = I18n.locale.to_s %>
    <% if @locale == "en" %>

      <!-- Bootstrap -->
      <link href="/assets/en/css/bootstrap.min.css" rel="stylesheet" >

      <!-- Animate -->
      <link rel="stylesheet" href="/assets/en/css/animate.css" >

      <!-- Fonts -->
      <link rel="stylesheet" href="/assets/en/css/fonts.css" >
      <link rel="stylesheet" href="/assets/en/css/font-awesome.min.css">

      <!-- Flags -->
      <link href="/assets/en/css/flags.css" rel="stylesheet">

      <!-- Style -->
      <link rel="stylesheet" href="/assets/en/style.css" >

    <% else %>

      <!-- Bootstrap -->
      <link href="/assets/css/bootstrap.min.css" rel="stylesheet" >

      <!-- Bootstrap rtl -->
      <link href="/assets/css/bootstrap.min.rtl.css" rel="stylesheet" >

      <!-- Animate -->
      <link rel="stylesheet" href="/assets/css/animate.css" >

      <!-- Fonts -->
      <link rel="stylesheet" href="/assets/css/fonts.css" >
      <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

      <!-- Flags -->
      <link href="/assets/css/flags.css" rel="stylesheet">

      <!-- Style -->
      <link rel="stylesheet" href="/assets/style.css" >

    <% end %>