    <!-- Jquery Files -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.flagstrap.min.js"></script>
    <script src="/assets/js/steps.js"></script>
    <script src='/assets/js/jquery-ui.min.js'></script>
    <script src='/assets/js/bootstrap-datepicker.min.js'></script>
    <script src='/assets/js/bootstrap-datepicker.ar.js'></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/notification.js"></script>


    <!-- form validation script > -->
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>
    <script>
    function parseArabic(str) {
          return Number( str.replace(/[٠١٢٣٤٥٦٧٨٩]/g, function(d) {
              return d.charCodeAt(0) - 1632; // Convert Arabic numbers
          }) );
      }
        $(document).ready(function()
          {
            $('input').on('input', function() {
              var arnum = ["٠","١","٢","٣","٤","٥","٦","٧","٨","٩"]; 
              var value = jQuery(this).val();
              for (var i = 0; i < value.length; i++) {
                if (jQuery.inArray(value.charAt(i), arnum) !== -1)
                {
                  value = value.replace(value.charAt(i), parseArabic(value.charAt(i)));
                }
                $(this).val(value);              
              }             
            });
        });
    </script>