<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 margin-b-25">

  <button class="open-user-setting-sidebar"><i class="fa fa-bars" aria-hidden="true"></i><%= t('users.my_Account_List')%></button>
  <div class="sidebar-box user-setting-sidebar relative-box">
    <ul>
      <% if controller.controller_name == 'users' and controller.action_name == 'show'%>
        <li class="active-user-setting user-personal-details"><a href="users/<%= current_user.id%>"><span><%= t('users.personal_data')%></span></a></li>
      <% else %>
        <li class="user-personal-details"><a href="users/<%= current_user.id%>"><span><%= t('users.personal_data')%></span></a></li>
      <% end %>
      <li class="user-credit-cards"><a href="#"><span><%= t('users.credit_Cards')%></span></a></li>
      <% if controller.controller_name == 'users_banks' and controller.action_name == 'index'%>
      <li class="active-user-setting user-account-banks"><a href="/users_banks"><span><%= t('users.bank_Accounts')%></span></a></li>
      <% else %>
      <li class="user-account-banks"><a href="/users_banks"><span><%= t('users.bank_Accounts')%></span></a></li>
      <% end %>
      <% if controller.controller_name == 'addresses' and controller.action_name == 'user_addresses'%>
      <li class="active-user-setting user-shipping-addresses"><a href="/user_addresses"><span><%= t('users.shipping_Addresses')%></span></a></li>
      <% else %>
      <li class="user-shipping-addresses"><a href="/user_addresses"><span><%= t('users.shipping_Addresses')%></span></a></li>
      <% end %>
      <% if controller.controller_name == 'notifications_settings' and controller.action_name == 'user_notifications_setting'%>
      <li class="active-user-setting user-mail-sms-alerts"><a href="/user_notifications_setting"><span><%= t('users.manage_mail_and_SMS_alerts')%></span></a></li>
      <% else %>
      <li class="user-mail-sms-alerts"><a href="/user_notifications_setting"><span><%= t('users.manage_mail_and_SMS_alerts')%></span></a></li>
      <% end %>
      <% if controller.controller_name == 'users' and (controller.action_name == 'secure_my_account' or controller.action_name == 'pass_to_security_settings')%>
        <li class="active-user-setting user-secure-account"><a href="/secure_my_account"><span><%= t('users.secure_my_account')%></span></a></li>
      <% else %>
        <li class="user-setting user-secure-account"><a href="/secure_my_account"><span><%= t('users.secure_my_account')%></span></a></li>
      <% end %>
      <% if controller.controller_name == 'affilate_programs' and controller.action_name == 'affiliate_program' %>
      <li class="active-user-setting user-commission-marketing"><a href="/affiliate_program"><span><%= t('users.commission_Marketing_Program')%></span></a></li>
      <% else %>
      <li class="user-commission-marketing"><a href="/affiliate_program"><span><%= t('users.commission_Marketing_Program')%></span></a></li>
      <% end %>
    </ul>
  </div>
</div>
