<!-- User Menu -->
<% @verification = UserInfo.where(user_id: current_user.id.to_i).first %>
<% @notifications = Notification.where(user_id: current_user.id.to_i,read: nil).all
    @user_notifications = @notifications.where(admin_id: nil)
    @admin_notifications = @notifications.where.not(admin_id: nil)
  %>
<div class="user-menu">
  <div class="dropdown">
    <button class="user-menu-dropdown dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <img src="/assets/img/profile-picture-2.svg" alt="">
      <div class="username">
        <%  @username = current_user.firstname + " " + current_user.lastname %>
        <h4><%=truncate(@username, :length => 11) %></h4>
        <% if @verification && @verification.status.to_i == 1%>
          <span><%= t('users.active')%></span>
        <% else %>
          <span><%= t('users.non_active')%></span>
        <% end %>
      </div>
      <span class="user-arrow"></span>
    </button>
    <div class="user-overlay"></div>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <div class="active-account-menu">
        <a href="/activate_account" class="button-3"><%= t('users.activate_account')%></a>
      </div>
      <ul class="account-menu">
        <li><a href="/users/<%= current_user.id%>"><%= t('users.account_setting')%></a></li>
        <li><a href="/affiliate_program"><%= t('users.commission_Marketing_Program')%></a></li>
        <li><a href="/tickets"><%= t('users.help_center')%></a></li>
        <li><a href="javascript:void(0)" data-toggle="modal" data-target="#payersnews" ><span><%= t('users.new')%> </span> <%= t('users.payers_news')%></a></li>
        <li class="logout-link"><%= link_to t('users.log_out'), sign_out_path, method: :delete %></li>
      </ul>
    </div>
  </div>
</div>
<!-- User Menu -->
<!-- User Menu -->
<div class="user-menu-mobile">
  <div class="dropdown">
    <button class="user-menu-dropdown" type="button">
      <img src="/assets/img/profile-picture-2.svg" alt="فيصل جاسم">
      <div class="username">
        <span class="list-mobile-icon"></span>
        <span class="notification-number-mobile"><%= @user_notifications.count %></span>
      </div>
    </button>
  </div>
</div>
<!-- User Menu -->




<!-- News Payers -->
    <% @user_announcement = UserAnnouncement.where(active: 1).all
    @user_announcements = @user_announcement.where("user_group_id = ? OR user_id = ? OR availability = ?", current_user.users_group_id,current_user.id,1).all.order('created_at DESC')
    %>
    <div class="modal fade popup-box" id="payersnews" tabindex="-1" role="dialog" aria-labelledby="payersnewsLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"><%= t('users.payers_news')%></h4>
            <span data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
          </div>
          <div class="modal-body">
            <ul class="payers-news">
              <% if @user_announcements == nil || @user_announcements == [] %> 
                <li>         
                <div style="text-align: center;">
                <p><%= "عفوا لا توجد اخبار جديد حاليا" %></p>
                </div>
                </li>
              <% else %>
                <% @user_announcements.each do |user_announcement| %>
                <li>
                  <span><span><%= t('users.new')%></span><%= l(user_announcement.created_at, format: " %d %B %Y")%></span>
                  <a href="#"><%= user_announcement.title %></a>
                  <p><%= user_announcement.description %></p>
                </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- News Payers -->