<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tag %>
    <%= javascript_include_tag 'application' %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>لوحة التحكم</title>

    <%= render :partial => 'layouts/head' %>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

    <!-- Header -->
    <header class="main-header white-header white-logo custom-container-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- Logo -->
            <a href="/dashboard"><h1 class="logo" title="Payers - بايرز"></h1></a>
            <!-- Logo -->
            <div class="left-header">
              <!-- Main Menu -->
              <div class="main-menu">
                <ul>
                  <li class="active-menu-link"><a href="/homepage"><%= t('users.homepage')%></a></li>
                  <li><a href="/money_ops"><%= t('users.transaction_history')%></a></li>
                  <li><a href="#">Payers Automation™</a></li>
                </ul>
              </div>
              <!-- Main Menu -->
              <!-- New Action Button -->
              <div class="new-action-button">
                <a href="/new_transaction" class="button-2"><%= t('users.start_anew_transaction')%></a>
              </div>
              <!-- New Action Button -->
              <!-- Notification Button -->
              <% @notifications = Notification.where(user_id: current_user.id.to_i,read: nil).all
                 @user_notifications = @notifications.where(admin_id: nil)
                 @admin_notifications = @notifications.where.not(admin_id: nil)
               %>
              <% @verification = UserInfo.where(user_id: current_user.id.to_i).first %>
              <div class="notification-button">
                <a href="#"><span id="notification_count"><%= @notifications.count %> <span class="notification-alert"></span></span></a>
              </div>
              <!-- Notification Button -->
              <!-- User Menu -->
              <div class="user-menu">
                <div class="dropdown">
                  <button class="user-menu-dropdown dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <img src="/assets/img/profile-picture-2.svg" alt="">
                    <div class="username">
                      <% @username = current_user.firstname + " " + current_user.lastname %>
                      <h4><%=truncate(@username, :length => 11) %></h4>
                      <% if @verification && @verification.status == "Verified" %>
                      <span><%= t('users.active')%></span>
                      <% else %>
                      <span><%= t('users.non_active')%></span>
                      <% end %>
                    </div>
                    <span class="user-arrow"></span>
                  </button>
                  <div class="user-overlay"></div>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <div class="active-account-menu">
                      <% if @verification && @verification.status == "Verified" %>
                      <a href="#" class="button-3"><%= t('users.active_account')%></a>
                      <% else %>
                      <a href="/activate_account" class="button-3"><%= t('users.activate_account')%></a>
                      <% end %>
                    </div>
                    <ul class="account-menu">
                      <li><a href="/users/<%= current_user.id%>"><%= t('users.account_setting')%></a></li>
                      <li><a href="/affiliate_program"><%= t('users.commission_Marketing_Program')%></a></li>
                      <li><a href="/tickets"><%= t('users.help_center')%></a></li>
                      <li><a href="javascript:void(0)" data-toggle="modal" data-target="#payersnews" ><span><%= t('users.new')%> </span> <%= t('users.payers_news')%></a></li>
                      <li class="logout-link"><%= link_to t('users.log_out'), sign_out_path, method: :delete %></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- User Menu -->
              <!-- User Menu -->
              <div class="user-menu-mobile">
                <div class="dropdown">
                  <button class="user-menu-dropdown" type="button">
                    <img src="/assets/img/profile-picture-2.svg" alt="فيصل جاسم">
                    <div class="username">
                      <span class="list-mobile-icon"></span>
                      <span class="notification-number-mobile"><%= @user_notifications.count %></span>
                    </div>
                  </button>
                </div>
              </div>
              <!-- User Menu -->
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header -->

    <% flash.each do |key, value| -%>
            <div class="class="custom-container-2"">
              <div id="flash_<%= key %>"><%=h value %></div>
            </div>
    <% end %>
    <%= yield %>
   <% @user_country = Country.where(id:current_user.country_id).pluck(:short_code).first
    if @user_country == "EG"
      @currency_name = t('users.EGP')
    else
      @currency_name = t('users.SAR')
    end
    @currency_ratio = Setting.check_currency_ratio(@user_country) %>
    <!-- Footer -->
    <footer class="seconde-footer custom-container-2">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 footer-span">
            <span class="currency-converter"><i class="icon-1">$</i><span><span class="hidden-sm hidden-xs"><%= t('users.exchange_Rate')%></span><span class="arial-text">1 </span><span class="hidden-sm hidden-xs"><%= t('users.USD')%></span><span class="hidden-lg hidden-md">$</span> = </span><span><span class="arial-text"><%= @currency_ratio%></span> <%= @currency_name %></span></span>
            <span class="user-ip"><i class="icon-1">ip</i><span class="hidden-sm hidden-xs"><%= t('users.iP_Address')%></span> <%= Login.where(user_id:current_user.id,device_id: cookies[:device_id]).pluck(:ip_address).last %></span>
            <div class="links-language">
              <div class="footer-links-list">
                <a href="#" class="link-1"><%= t('users.privacy_policy')%></a>
                <a href="/user_log?id=<%= current_user.id%>" class="link-1"><%= t('users.latest_Account_Login_Records')%></a>
                <a href="javascript:void(0)" data-toggle="modal" data-target="#accsession" class="link-1"><%= t('users.active_sessions')%></a>
              </div>
              <div class="language hidden-sm hidden-xs">
                <a href="#" class="active-language" id="ar" onClick="window.location.reload()">اللغة العربية</a>
                <a href="#" id="en" onClick="window.location.reload()">English</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <img src="/assets/img/footer-logo.svg" class="footer-logo"  title="Payers - بايرز">
            <p><%= t('users.payers_Ltd_is_a_licensed_company_of_the_Egyptian_General_Authority_for_Investment')%></p>
            <div class="language hidden-lg hidden-md">
              <a href="#" class="active-language" id="arabic" onClick="window.location.reload()">اللغة العربية</a>
              <a href="#" id="english" onClick="window.location.reload()">English</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p class="about-mobile"><%= t('users.payers_Ltd_is_a_licensed_company_of_the_Egyptian_General_Authority_for_Investment')%></p>
            <ul class="footer-payment">
              <li><img src="/assets/img/americanexpress.svg" alt="americanexpress"></li>
              <li><img src="/assets/img/mastercard.svg" alt="mastercard"></li>
              <li><img src="/assets/img/paypal.svg" alt="paypal"></li>
              <li><img src="/assets/img/visa-1.svg" alt="visa"></li>
              <li><img src="/assets/img/ico.svg" alt="ico"></li>
              <li><img src="/assets/img/pci.svg" alt="PCI"></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer -->

    <!-- Mobile User Menu -->
    <div class="mobile-user-menu">
      <div class="mobile-user-menu-account">
        <div class="head-mobile-user-menu">
          <div class="mobile-notification-button">
            <div class="notification-button">
              <a href="#"><span><%=@user_notifications.count%> <span class="notification-alert"></span></span></a>
            </div>
          </div>
          <div class="username-mobile">
            <img src="/assets/img/mobile-picture.svg" alt="فيصل جاسم">
            <h4><%= current_user.firstname + current_user.lastname %></h4>
            <% if @verification && @verification.status == "Verified" %>
            <span><%= t('users.active')%></span>
            <% else %>
            <span><%= t('users.non_active')%></span>
            <% end %>
          </div>
          <div class="close-mobile-user-menu">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
          </div>
        </div>
        <div class="body-mobile-user-menu">
          <ul class="mobile-menu">
            <li><a href="/homepage"><%= t('users.homepage')%></a></li>
            <li><a href="/money_ops"><%= t('users.transaction_history')%></a></li>
            <li><a href="#">Payers Automation™</a></li>
          </ul>
          <div class="mobile-active-user">
            <a href="/activate_account" class="button-3"><%= t('users.activate_account')%></a>
          </div>
          <ul class="account-menu">
            <li><a href="/users/<%= current_user.id%>"><%= t('users.account_setting')%></a></li>
            <li><a href="#"><%= t('users.commission_Marketing_Program')%></a></li>
            <li><a href="/tickets"><%= t('users.help_center')%></a></li>
            <li><a href="javascript:void(0)" data-toggle="modal" data-target="#payersnews" ><span><%= t('users.new')%></span> <%= t('users.payers_news')%></a></li>
            <li class="logout-link"><%= link_to t('users.log_out'), sign_out_path, method: :delete %></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Mobile User Menu -->

    <!-- Notification List -->
    <div class="notification-overlay notification-overlay-2">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <button class="close-notification-toggled"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>

      <div class="notification-list">
        <h4><%= t('users.notifications')%>
          <div class="notification-button">
            <a href="#"><span id="notificationcount"> <%=@user_notifications.count%> <span class="notification-alert"></span></span></a>
          </div>
        </h4>
        <div class="notification-content">
          <ul class="nav-style">
            <li class="active"><a data-toggle="tab" href="#notification-account"><%= t('users.your_account')%></a></li>
            <li><a data-toggle="tab" href="#notification-payers"><%= t('users.payers_admin')%> <span id="admin_notification"><%=@admin_notifications.count%></span></a></li>
          </ul>
          <div class="tab-content">
            <div id="notification-account" class="tab-pane fade in active">
              <a href="#" class="delete-notification" id="delete_all_notifications" ><%= t('users.delete_all_notifications')%></a>
              <% @notifications = @user_notifications.order(created_at: :desc) %>
              <ul id="notificationlist">
              <% @notifications.each do |notification| %>
                <% if notification.controller && notification.opid
                  @control = notification.controller
                  @opid = notification.opid
                else
                  @control = "notifications"
                  @opid = notification.id
                end
                %>
                <% if notification.controller == "users_wallets_transfers"
                    @aaa = notification.description.split('/')
                    if @aaa[5]
                      @description = t("mails.#{@aaa[0]}") + "#{@aaa[1]}" + t("mails.#{@aaa[2]}") + "#{@aaa[3]}" + t("mails.#{@aaa[4]}") + t("mails.#{@aaa[5]}")
                    else
                      @description = t("mails.#{@aaa[0]}") + "#{@aaa[1]}" + t("mails.#{@aaa[2]}") + "#{@aaa[3]}" + t("mails.#{@aaa[4]}")
                    end
                  elsif notification.controller == "money_ops" || notification.controller == "withdraws"
                    @aaa = notification.description.split('/')
                    @description = t("mails.#{@aaa[0]}") + "#{@aaa[1]}" + t("mails.#{@aaa[2]}") + t("mails.#{@aaa[3]}") + t("mails.#{@aaa[4]}") + t("mails.#{@aaa[5]}")
                  else
                    @description = notification.description
                  end
                %>
                <li>
                  <a href="/<%=@control%>/<%= @opid %>" ><%= @description %></a>
                  <span><%= l(notification.created_at, format: "%d %B %Y") %></span>
                </li>
              <% end %>
              </ul>
              <div class="archive-notification-button">
                <a href="/user_notifications" class="button-3"><%= t('users.notifications_archive')%></a>
                <a href="/user_notifications_setting"><%= t('users.manage_mail_and_SMS_alerts')%></a>
              </div>
            </div>
            <div id="notification-payers" class="tab-pane fade">
              <a href="#" class="delete-notification" id="delete_admin_notifications"><%= t('users.delete_all_notifications')%></a>
              <ul id="admin_notificationlist">
              <% @admin_notifications.order(created_at: :desc).each do |admin_notification| %>
                <% if admin_notification.controller && admin_notification.opid
                  @control = admin_notification.controller
                  @opid = admin_notification.opid
                else
                  @control = "notifications"
                  @opid = admin_notification.id
                end
                %>
                <% if admin_notification.controller == "users_wallets_transfers"
                      @aaa = admin_notification.description.split('/')
                      if @aaa[5]
                        @description = t("mails.#{@aaa[0]}") + "#{@aaa[1]}" + t("mails.#{@aaa[2]}") + "#{@aaa[3]}" + t("mails.#{@aaa[4]}") + t("mails.#{@aaa[5]}")
                      else
                        @description = t("mails.#{@aaa[0]}") + "#{@aaa[1]}" + t("mails.#{@aaa[2]}") + "#{@aaa[3]}" + t("mails.#{@aaa[4]}")
                      end
                    elsif admin_notification.controller == "money_ops" || admin_notification.controller == "withdraws"
                      @aaa = admin_notification.description.split('/')
                      @description = t("mails.#{@aaa[0]}") + "#{@aaa[1]}" + t("mails.#{@aaa[2]}") + t("mails.#{@aaa[3]}") + t("mails.#{@aaa[4]}") + t("mails.#{@aaa[5]}")
                    else
                      @description = admin_notification.description
                    end
                  %>
                <li>
                <a href="/<%=@control%>/<%= @opid %>" ><%= @description %></a>
                <span><%=l(admin_notification.created_at, format: "%d %B %Y") %></span>
                </li>
              <% end %>
              </ul>
              <div class="archive-notification-button">
                <a href="/user_notifications" class="button-3"><%= t('users.notifications_archive')%></a>
                <a href="/user_notifications_setting"><%= t('users.manage_mail_and_SMS_alerts')%></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Notification List -->

    <!-- Add Credit -->
    <div class="modal fade popup-box" id="addcredit" tabindex="-1" role="dialog" aria-labelledby="addcreditLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"><%= t('users.new_credit_card')%></h4>
            <span data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
          </div>
          <div class="modal-body">
            <form>
              <div class="row margin-b-25">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-b-25-m">
                  <div class="inputstyle inputstyle-span inputarial input-card-number">
                    <span class="text-span"><%= t('users.card_number')%>  <span><%= t('users.digits_s')%></span></span>
                    <input type="text" name="" placeholder="••••     ••••     ••••     8501">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="inputstyle inputstyle-span input-card-date">
                    <span class="text-span"><%= t('users.expired_date')%></span>
                    <input type="text" name="" placeholder= t('users.month')>
                    <span class="slach-text">/</span>
                    <input type="text" name="" placeholder= t('users.year')>
                  </div>
                </div>
              </div>
              <div class="row margin-b-25">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-b-25-m">
                  <div class="inputstyle">
                    <input type="text" name="" placeholder= t('users.name_on_the_card')>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="inputstyle inputstyle-span inputarial">
                    <span class="text-span"><%= t('users.current_Password')%><span><%= t('users.degitss')%></span></span>
                    <input type="password" name="" placeholder="•••">
                  </div>
                </div>
              </div>
              <label class="checkbox-label margin-b-30">
                <input type="checkbox"><%= t('users.make_it')%>
                <span class="checkmarkbox"></span>
              </label>
              <div class="row">
                <div class="col-xs-6">
                  <button class="button-1"><%= t('users.add_cards')%></button>
                </div>
                <div class="col-xs-6 text-left">
                  <a href="#" class="remove-usersetting-box-2"><i class="fa fa-trash-o" aria-hidden="true"></i><%= t('users.delete')%></a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Credit -->

    <!-- Active Session -->
    <div class="modal fade popup-box" id="accsession" tabindex="-1" role="dialog" aria-labelledby="aaccsessionLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"><%= t('users.active_sessions')%></h4>
            <span data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
          </div>
          <div class="modal-body">
            <p><%= t('users.here')%></p>
            <ul class="user-session">
            <% @logins = Login.where(:user_id => current_user.id).all.order('created_at desc') %>
              <% @logins.all.each do |login| %>
                <% if login.device_id == cookies[:device_id] %>
                  <li class="current-device">
                <% else %>
                  <li>
                <% end %>
                    <% if login.user_agent !~ /\b(Android|iPhone|iPad|Windows Phone|Opera Mobi|Kindle|BackBerry|PlayBook)\b/i %>
                      <span><img src="/assets/img/this-device.svg" alt="pc"></span>
                      <div class="user-session-info">
                        <h4><%= t('users.iMac_Computer')%></h4>
                    <% elsif login.user_agent =~ /\b(Android|iPhone|Windows Phone|Opera Mobi|Kindle|BackBerry|PlayBook)\b/i %>
                      <span><img src="/assets/img/mobile.svg" alt="mobile"></span>
                      <div class="user-session-info">
                        <h4><%= t('users.phonee')%></h4>
                    <% else %>
                      <span><img src="/assets/img/tablet.svg" alt="tablet"></span>
                      <div class="user-session-info">
                        <h4><%= t('users.smart_panel')%></h4>
                    <% end %>
                        <div class="device-ip-info">
                        <% if login.device_id == cookies[:device_id] %>
                          <span class="this-device"><%= t('users.this_Device')%></span>
                          <span class="device-ip"><span>IP:</span><%= login.ip_address %></span>
                        <% else %>
                          <span><%= t('users.last_seen')%><%= time_ago_in_words(login.created_at) %></span>
                          <span class="device-ip"><span>IP:</span><%= login.ip_address %></span>
                          <%= link_to t('users.log_out'), destroy_one_session_path(:remember_token => login.remember_token)%>
                        <% end %>

                        </div>
                      </div>
                  </li>
              <% end %>
            </ul>
            <a class="button-3" href="/destroy_all_sessions"><%= t('users.sign_out')%></a>
          </div>
        </div>
      </div>
    </div>
    <!-- Active Session -->

    <!-- News Payers -->
    <% @user_announcement = UserAnnouncement.where(active: 1).all
    @user_announcements = @user_announcement.where("user_group_id = ? OR user_id = ? OR availability = ?", current_user.users_group_id,current_user.id,1).all.order('created_at DESC')
    %>
    <div class="modal fade popup-box" id="payersnews" tabindex="-1" role="dialog" aria-labelledby="payersnewsLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"><%= t('users.payers_news')%></h4>
            <span data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
          </div>
          <div class="modal-body">
            <ul class="payers-news">
              <% if @user_announcements == nil || @user_announcements == [] %>
                <li>
                <div style="text-align: center;">
                <p><%= t('users.sorry')%></p>
                </div>
                </li>
              <% else %>
                <% @user_announcements.each do |user_announcement| %>
                <li>
                  <span><span><%= t('users.new')%></span><%= l(user_announcement.created_at, format: " %d %B %Y")%></span>
                  <a href="#"><%= user_announcement.title %></a>
                  <p><%= user_announcement.description %></p>
                </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- News Payers -->

    <%= render :partial => 'layouts/script' %>
    <script>

        $(document).ready(function()
          {
            var lang = "<%= current_user.language %>"
          if (lang == "ar"){
            $('#ar').addClass("active-language");
            $('#en').removeClass('active-language');
          }else{
            $('#en').addClass("active-language");
            $('#ar').removeClass('active-language');
          }

          $('#ar,#arabic').click(function()
          {
            $.ajax({ type:'get',url:'/change_locale',
              data:{locale:"ar"},
              contentType: "application/json",
              dataType: "json",
              success: function(data){
              $('#ar').addClass("active-language");
              $('#en').removeClass('active-language');
              }
            });
          });

          $('#en,#english').click(function()
          {
            $.ajax({ type:'get',url:'/change_locale',
              data:{locale:"en"},
              contentType: "application/json",
              dataType: "json",
              success: function(data){
              $('#en').addClass("active-language");
              $('#ar').removeClass('active-language');
              }
            });
          });

        });
    </script>



  </body>
</html>
