<!DOCTYPE html>
<html>
  <head>
    <%# javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="header">
      <%# if signed_in? -%>
        <%# button_to t(".sign_out"), sign_out_path, method: :delete %>
      <%# else %>
        <%# link_to t(".sign_in"), sign_in_path %>
      <%# end -%>
    </div>
    <%# flash.each do |key, value| -%>
      <!-- <div class="class="custom-container-2">
        <div id="flash_<%# key %>"><%#h value %></div>
      </div> -->
    <%# end %>
    <%= yield %>  
  </body>
</html>
